/*마이페이지 > 구매 내역/취소*/
[data-page-id='my__refund']{
  overflow: hidden;
  width: 100%;
  @include flight-info;
  [class*='bundle-type'] {
    padding: rem($grid) 0;
    .bundle-price + dd .digits,
    .status + dd { font-size: rem(13); }
  }
  .notification-wrap .table-wrap:first-of-type { border-top: 0; }
  input[type='checkbox'] { @include form($size: 2, $role: normal, $type: checkbox); }
  input[type='checkbox'][disabled] { @include form($size: 2, $role: disabled, $type: checkbox); }
  .refund-wrap {
    position: relative;
    padding: rem(50) 0 0 rem($grid * 2)
  }
  .inner-wrap {
    header { position: relative; }
    &:not([style*='display']) + .inner-wrap { padding-top: rem($grid * 10) }
  }
  .title {
    @include font($size: 14, $color: $mono1, $weight: 800, $spacing: -0.03);
    display: inline-block;
  }
  .flight-num {
    display: inline-block;
    margin: 0 0 rem(12) rem(4);
    dt { @include sr-only }
    dd { @include tagging-route; width: auto; padding: 0 rem(4); }
  }
  .check-all-wrap {
    position: absolute; right: rem($grid * 2); top: 0;
    label { font-weight: 600 !important; }
  }
  .table-wrap, .total-calc-wrap {
    position: relative;
    padding-bottom: rem($grid * 2);
    &:first-of-type { border-top: 1px solid $mono1; }
    & + .table-wrap { border-top: 1px solid $mono8; }
  }
  .total-calc-wrap {
    .ico_flag { @include tagging-route(); padding: 0 rem($grid / 2); width: rem(76);  }
    .charge-sheet {
      border-top: 1px solid $mono1;
      th, td { height: rem(53); border-bottom: 1px solid $mono8 }
      tfoot th, tfoot td { border-top: 1px solid $mono1 }
      tfoot th {
        text-align: left;
        .ico_flag { background-color: $mono1; color: $mono10; text-transform: uppercase }
      }
      tfoot td {
        @include font($family: en, $size: 13, $color: $text-primary, $weight: 500); text-align: right;
        .digits:before { font-size: inherit; font-weight: 600; color: inherit; }
      }
    }
  }
  .charge-sheet {
    @include table($style: type1, $mg-size: small);
    th, td { padding: rem($grid) rem($grid * 2) rem($grid) 0 !important; vertical-align: middle; }
    thead th, tbody th, tbody td, tfoot th, tfoot td { border-bottom: 0; }
    tbody td:last-of-type { text-align: right; }
    tbody th, tbody td { height: rem(32); }
    tbody th:last-child, tbody td:last-child { @include font($family: en, $size: 13, $color: $mono1, $weight: 400, $spacing: -0.03); padding-right: rem($grid * 2) }
    tbody th[scope='row'] {
      @include font($size: 13, $color: $mono1, $weight: 800, $spacing: -0.03);
      width: rem(70);
      text-align: left;
      label { font-weight: inherit; }
      .btn_help { @include ico_help; margin: 1px 0 0 2px; }
      &.input[disabled] + label .ico { background-color: $mono8;}
    }
    tbody td:nth-of-type(2) { @include font($family: en, $size: 13, $color: $mono1, $weight: 400, $spacing: -0.03); text-align: right; }
    .digits:before { content: "￦"; font-size: rem(12); color: $mono1; font-weight: 500; }
  }
  .passenger-name {
    @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
    @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
    @include text-uppercase;
    margin: rem($grid * 2) 0 rem($grid); padding-left: rem(20);
  }
  .total-wrap {
    height: rem(44);
    border-top: 1px solid $mono1; border-bottom: 1px solid $mono8;
    & > dl { display: table; table-layout: fixed; width: 100%; height: 100%; }
    & > dl > dt, & > dl > dd { display: table-cell; vertical-align: middle; }
    & > dl > dt { @include font($size: 12, $color: $mono1, $weight: 600, $spacing: -0.03); width: rem(120) }
    & > dl > dd {
      @include font($family: en, $size: 13, $color: $text-primary, $weight: 500, $spacing: -0.03);
      padding-right: rem($grid * 2);
      text-align: right;
      .digits:before { content: "￦"; font-size: rem(12); color: $text-primary; font-weight: 600; }
    }
  }
  .agreement-wrap {
    @include agreement-wrap;
    tbody th,
    tbody td { text-align: center; }
  }
  .process-btn-wrap {
    padding-bottom: 0;
  }
}