@charset "UTF-8";
/* Lato WebFont */
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Nanum Barun Gothic WebFont */
@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothicLight.eot');
    src: url('../fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothicLight.woff2') format('woff2'),
    url('../fonts/NanumBarunGothicLight.woff') format('woff'),
    url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothic.eot');
    src: url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothic.woff2') format('woff2'),
    url('../fonts/NanumBarunGothic.woff') format('woff'),
    url('../fonts/NanumBarunGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothicBold.eot');
    src: url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothicBold.woff2') format('woff2'),
    url('../fonts/NanumBarunGothicBold.woff') format('woff'),
    url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, address,
del, em, img, strong, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas,
details, embed, figure, figcaption,
footer, header, hgroup, main, menu,
nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    min-width: 1100px;
}

main, article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    font-size: 0;
    list-style: none;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 0;
}

input, textarea, select, td, th {
    vertical-align: middle;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: #000;
}

em, address {
    font-style: normal;
}

fieldset {
    border: 0;
    vertical-align: top;
}

button {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

select::-ms-expand {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

select {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    outline: none;
}

input[type=checkbox], input[type=radio], input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

input[type=text]::-ms-clear {
    display: none;
}

legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body, input, select, textarea, button, label, a, li, th, td, h1, h2, h3, h4, h5, h6, p {
    font-size: 12px;
    font-family: 'Nanum Barun Gothic', Nanum Barun Gothic, sans-serif;
    font-weight: 400;
}

::-webkit-input-placeholder {
    font-size: 14px !important;
    color: #999 !important;
}

::-moz-placeholder {
    font-size: 14px !important;
    color: #999 !important;
}

:-ms-input-placeholder {
    font-size: 14px !important;
    color: #999 !important;
}

:-moz-placeholder {
    font-size: 14px !important;
    color: #999 !important;
}

:lang(ko) {
    font-family: 'Nanum Barun Gothic', Nanum Barun Gothic, sans-serif;
    font-weight: 400;
}

:lang(en) {
}

:lang(zh) {
}

:lang(ja) {
}

/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.cropper-container {
    direction: ltr;
    font-size: 0;
    line-height: 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cropper-container img {
    display: block;
    height: 100%;
    image-orientation: 0deg;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
    overflow: hidden;
}

.cropper-drag-box {
    background-color: #fff;
    opacity: 0;
}

.cropper-modal {
    background-color: #000;
    opacity: .5;
}

.cropper-view-box {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.cropper-dashed {
    display: none;
}

.cropper-center {
    display: none;
}

.cropper-face,
.cropper-line,
.cropper-point {
    display: block;
    height: 100%;
    opacity: .1;
    position: absolute;
    width: 100%;
}

.cropper-face {
    background-color: #fff;
    left: 0;
    top: 0;
}

.cropper-line {
    display: none;
}

.cropper-point {
    display: none;
}

.cropper-invisible {
    opacity: 0;
}

.cropper-bg {
}

.cropper-hide {
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

/* button */
.bt-red {
    position: relative;
    display: block;
    width: 122px;
    height: 19px;
    margin: 0 auto;
    background: #d60035;
    text-indent: -9999px;
}

.bt-red:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 75px;
    width: 33px;
    height: 8px;
    background: url('../../asset/images/icons.png') no-repeat;
}

.bt-red.white:after {
    background-position: -54px 0;
}

.bt-red.black:after {
    background-position: -54px -16px;
}

.bt-red:hover:after {
    animation-name: arrow;
    animation-duration: .3s;
    animation-iteration-count: 1;
    -ms-animation-name: arrow;
    -ms-animation-duration: .3s;
    -ms-animation-iteration-count: 1;
    -webkit-animation-name: arrow;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 1;
}

@keyframes arrow {
    from {
        left: 0px;
        opacity: .5;
    }
    100% {
        left: 75px;
        opacity: 1;
    }
}

@-webkit-keyframes arrow {
    from {
        left: 0px;
        opacity: .5;
    }
    100% {
        left: 75px;
        opacity: 1;
    }
}

@-ms-keyframes arrow {
    from {
        left: 0px;
        opacity: .5;
    }
    100% {
        left: 75px;
        opacity: 1;
    }
}

.bt-full {
    position: relative;
    font-size: 16px;
    display: block;
    width: 185px;
    height: 43px;
    line-height: 43px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.bt-full:after {
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0px;
    border-style: solid;
    transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
}

.bt-full.black {
    background: #000;
}

.bt-full.black:after {
    border-color: #c50233;
}

.bt-full.red {
    background: #c50233;
}

.bt-full.red:after {
    border-color: #000;
}

.bt-full:hover:after {
    border-width: 8px;
}

.bt-full.gray {
    background: #666;
}

.bt-full.gray:after {
    border-color: #c50233;
}

.bt-full-ico {
    position: relative;
    font-size: 16px;
    display: block;
    width: 185px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}

.bt-full-ico:after {
    content: '';
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0px;
    border-style: solid;
    transition: .3s;
    -ms-transition: .3s;
    -webkit-transition: .3s;
}

.bt-full-ico.black {
    background: #000;
}

.bt-full-ico.black:after {
    border-color: #c50233;
}

.bt-full-ico.red {
    background: #c50233;
}

.bt-full-ico.red:after {
    border-color: #000;
}

.bt-full-ico:hover:after {
    border-width: 8px;
}

.bt-full-ico.gray {
    background: #666;
}

.bt-full-ico.gray:after {
    border-color: #c50233;
}

.bt-line {
    font-size: 16px;
    display: block;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.bt-more {
    position: relative;
    padding-right: 70px;
    font-size: 15px;
    font-family: 'Lato-Regular';
    color: #000;
}

.bt-more:after {
    content: '';
    background: url('../../asset/images/icons.png') no-repeat;
    width: 61px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
    background-position: 0 -41px;
}

.bt-more:hover {
    color: #c50233;
}

.bt-more:hover:after {
    background-position: 0 -51px;
}

.bt-more2 {
    position: relative;
    font-size: 13px;
    font-family: 'Lato-Regular';
    width: 122px;
    height: 29px;
    line-height: 29px;
    background: #d60035;
    color: #fff;
    text-align: left;
    text-indent: 33px;
}

.bt-more2:after {
    content: '';
    position: absolute;
    top: 11px;
    right: 22px;
    width: 29px;
    height: 6px;
    background: url(../../asset/images/icons.png) no-repeat;
    background-position: -208px -13px;
}

.bt-more2:hover:after {
    animation-name: more-arrow;
    animation-duration: .2s;
    animation-iteration-count: 1;
    -ms-animation-name: more-arrow;
    -ms-animation-duration: .2s;
    -ms-animation-iteration-count: 1;
    -webkit-animation-name: more-arrow;
    -webkit-animation-duration: .2s;
    -webkit-animation-iteration-count: 1;
}

@keyframes more-arrow {
    from {
        right: 122px;
        opacity: .5;
    }
    100% {
        right: 22px;
        opacity: 1;
    }
}

@-webkit-keyframes more-arrow {
    from {
        right: 122px;
        opacity: .5;
    }
    100% {
        right: 22px;
        opacity: 1;
    }
}

@-ms-keyframes more-arrow {
    from {
        right: 122px;
        opacity: .5;
    }
    100% {
        right: 22px;
        opacity: 1;
    }
}

.read-more {
    margin-top: 30px;
}

.read-more button {
    position: relative;
    width: 100%;
    height: 50px;
    font-family: 'Lato-Bold';
    font-size: 15px;
}

.read-more button:after {
    content: '';
    margin-left: 8px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -293px -225px
}

.bt-all {
    position: relative;
    padding-right: 70px;
}

.bt-all:after {
    content: '';
    background: url(../../asset/images/icons.png) no-repeat;
    position: absolute;
    width: 62px;
    height: 10px;
    top: 50%;
    right: 0;
    margin-top: -7px;
    background-position: 0 -41px;
}

.bt-all:hover {
    color: #c50233;
}

.bt-all:hover:after {
    background-position: 0 -51px;
}

.bt-tip {
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Lato-Bold';
    border: 1px solid #9b9b9b;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    text-align: center;
    color: #171718;
}

/* select */
.select {
    position: relative;
    display: block;
    border-bottom: 1px solid #bbb;
}

.select.inline {
    display: inline-block;
}

.select:after {
    content: '';
    width: 15px;
    height: 7px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -4px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -220px 0;
}

.select select {
    width: 100%;
    height: 39px;
    padding-left: 5px;
    font-size: 14px;
    background: transparent;
}

.select.error {
    border-color: #c50233;
}

.select.error select {
    color: #c50233;
    font-weight: bold;
}

.select.error:after {
    background-position: -220px -27px;
}

.select.active {
    border-color: #000;
}

.select.active select {
    color: #000;
    font-weight: bold;
}

/* input */
.error-msg {
    font-size: 14px;
    line-height: 150%;
    display: block;
    color: #c50233;
    margin-top: 10px !important;
}

.pass-msg {
    display: block;
    margin-top: 10px !important;
}

.input {
    position: relative;
    display: block;
    border-bottom: 1px solid #bbb;
}

.input.inline {
    display: inline-block;
}

.input input {
    width: 100%;
    height: 39px;
    text-indent: 10px;
    font-size: 14px;
}

.input.error {
    border-color: #c50233;
    font-weight: bold;
}

.input.error input {
    text-indent: 0;
    font-weight: bold;
    color: #c50233;
}

.input.pass {
    border-bottom: 3px solid #00b050;
    text-indent: 0;
}

.input.pass input {
    color: #000;
}

.input.active {
    border-color: #000;
    font-weight: bold;
}

.input.active input {
    font-weight: bold;
    color: #000;
}

.input-file {
    position: relative;
}

.input-file .input {
    margin-right: 60px;
}

.input-file button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 48px;
}

.input-tips {
    font-weight: 300;
    font-size: 14px;
    margin-top: 15px;
    line-height: 150%;
}

/* select */
.textarea {
    position: relative;
    display: block;
    border: 1px solid #bbb;
    padding: 10px;
}

.textarea textarea {
    width: 100%;
    height: 140px;
    font-size: 14px;
}

/* checkbox */
.check {
    display: inline-block;
    margin: 15px 0;
}

.check input {
    opacity: 0;
    position: absolute;
}

.check input[type=checkbox] + label {
    position: relative;
    padding-left: 26px;
    color: #8a9093;
    font-size: 14px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.check input[type=checkbox] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #8a9093;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.check input[type=checkbox]:checked + label {
    color: #000;
}

.check input[type=checkbox]:checked + label:before {
    border: 5px solid #c70e38;
}

/* radio */
.radio {
    display: inline-block;
    margin: 15px 0;
}

.radio input {
    opacity: 0;
    position: absolute;
}

.radio input[type=radio] + label {
    position: relative;
    padding-left: 26px;
    color: #222;
    font-size: 15px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.radio input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bebebe;
    background: #fff;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.radio input[type=radio]:checked + label:before {
    border: 1px solid #c70e38;
    background: #c70e38;
}

.radio2 {
    display: inline-block;
    margin: 15px 0;
}

.radio2 input {
    opacity: 0;
    position: absolute;
}

.radio2 input[type=radio] + label {
    position: relative;
    padding-left: 26px;
    color: #8a9093;
    font-size: 14px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.radio2 input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #555;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.radio2 input[type=radio]:checked + label {
    color: #fff;
}

.radio2 input[type=radio]:checked + label:before {
    border: 5px solid #c70e38;
}

/* layer */
.sy-layer {
    display: none;
    position: absolute;
    z-index: 1001;
    background: #fff;
}

.sy-layer .layer-close {
    text-indent: -9999px;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 28px;
    height: 28px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -134px -513px;
}

/* tab */
.tabs {
    margin: 0 auto;
}

.tabs li {
    display: inline-block;
    vertical-align: top;
}

.tabs.t2 li {
    width: 50%;
}

.tabs.t3 li {
    width: 33.33%;
}

.tabs.t4 li {
    width: 25%;
}

.tabs.t5 li {
    width: 20%;
}

.tabs span {
    position: relative;
    z-index: 1;
}

.tabs a {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #e8e9eb;
    font-size: 16px;
    font-family: 'Lato-Light';
    letter-spacing: -1px;
}

.tabs a:before {
    content: '';
    width: 1px;
    height: 18px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
}

.tabs a.selected {
    color: #fff;
}

.tabs a.selected span {
    padding-right: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c50233;
}

.tabs a.selected span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 20px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -192px 0;
}

.tabs li:first-child a:before {
    display: none;
}

.tabs2 {
    border: 1px solid #dadada;
    width: 1100px;
    margin: 70px auto 0 auto;
}

.tabs2 .tab li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.tabs2 .tab.t2 li {
    width: 50%;
}

.tabs2 .tab.t3 li {
    width: 33.33%;
}

.tabs2 .tab.t4 li {
    width: 25%;
}

.tabs2 .tab.t5 li {
    width: 20%;
}

.tabs2 .tab a {
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #e8e9eb;
    font-size: 18px;
    font-family: 'Lato-Light';
    letter-spacing: -1px;
}

.tabs2 .tab a.selected {
    color: #c50233;
    background: #fff;
}

.tabs2 .tab-conts {
    padding: 80px 90px 40px 90px;
}

.tab-subs {
    margin: 30px 0 0 20px;
}

.tab-subs .first li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #bbb;
}

.tab-subs .first a {
    font-size: 14px;
    font-family: 'Lato-Light';
    display: block;
    border: 1px solid #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    text-align: center;
}

.tab-subs .first li.active {
    border: 1px solid #c50233;
}

.tab-subs .first li.active a {
    color: #c50233;
    border: 1px solid #c50233;
    font-family: 'Lato-Regular';
}

.tab-subs .second {
    margin-top: 20px;
}

.tab-subs .second li {
    display: inline-block;
    margin-right: 30px;
}

.tab-subs .second a {
    font-size: 14px;
    font-family: 'Lato-Light';
}

.tab-subs .second li.active {
}

.tab-subs .second li.active a {
    font-family: 'Lato-Bold';
    text-decoration: underline;
}

/* table */
.board-util {
    text-align: right;
    min-width: 1080px;
    max-width: 1140px;
    margin: 60px auto 50px auto;
    font-size: 0;
}

.board-util .select {
    margin-right: 5px;
}

.board-util .select, .board-util .input {
    border-bottom: 1px solid #000;
}

.board-util button {
    position: relative;
    width: 45px;
    height: 40px;
    text-indent: -9999px;
}

.board-util button:before {
    content: '';
    width: 18px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -9px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -244px 0;
}

.tb-list {
    margin: 0 auto;
}

.tb-list table {
    width: 100%;
    border-top: 4px solid #404040;
    border-bottom: 4px solid #404040;
}

.tb-list thead th {
    height: 70px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.tb-list tbody td {
    text-align: center;
    height: 70px;
    border-top: 1px solid #191919;
    font-weight: 300;
    font-size: 14px;
}

.tb-list tbody td.subject {
    text-align: left;
    padding-left: 30px;
}

.tb-list tbody td.subject a {
    width: 700px;
    padding: 10px 0;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.tb-list tbody td.subject a:hover {
    text-decoration: underline;
}

.tb-list .addr {
    line-height: 170%;
    text-align: left;
}

.tb-view {
    margin: 0 auto;
}

.tb-view table {
    width: 100%;
    border-top: 4px solid #404040;
    border-bottom: 4px solid #404040;
}

.tb-view thead th {
    text-align: left;
    padding: 30px 0;
}

.tb-view tbody td {
    text-align: left;
    border-top: 1px solid #191919;
    padding: 40px 0 60px 0;
    font-size: 14px;
    line-height: 170%;
}

.tb-view .cate {
    font-size: 14px;
    font-family: 'Lato-Light';
}

.tb-view .tit {
    font-size: 18px;
    margin: 5px 0 10px 0;
}

.tb-view .date {
    font-size: 12px;
    font-family: 'Lato-Regular';
}

.tb-view .file {
    margin-bottom: 50px;
}

.tb-view .file a {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-family: 'Lato-Regular';
    padding-left: 20px;
}

.tb-view .file a:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 15px;
    height: 16px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-position: -407px 0;
}

.tb-view .txts {
    font-size: 14px;
}

.board-ico {
    display: inline-block;
    background: url('../../asset/images/icons.png') no-repeat;
    vertical-align: top;
    margin-left: 5px;
    position: relative;
    top: -2px;
}

.board-ico.new {
    width: 21px;
    height: 20px;
    background-position: -278px 0;
}

/* search form */
.list-srch-form {
    background: #f3f4f6;
    font-size: 0;
    width: 1140px;
    padding: 20px 0;
    margin: 0 auto;
}

.list-srch-form .select {
    display: inline-block;
    margin-top: 25px;
}

.list-srch-form .select select { /* background: transparent; */
}

.list-srch-form .col {
    display: inline-block;
    height: 95px;
    text-align: center;
    overflow: hidden;
}

.list-srch-form .col1 {
    width: 225px;
}

.list-srch-form .col1 .select {
    width: 164px;
}

.list-srch-form .col2 {
    width: 529px;
    border-left: 1px solid #e4e7ec;
    border-right: 1px solid #e4e7ec;
}

.list-srch-form .col2 .select {
    width: 225px;
    display: inline-block;
    margin: 25px 10px 0 10px
}

.list-srch-form .col3 {
    width: 380px;
}

.list-srch-form .col3 .select {
    width: 164px;
}

.list-srch-form .bt-full {
    width: 140px;
    margin-left: 30px;
    display: inline-block;
}

/* paging */
.paging {
    margin: 50px auto 0 auto;
    font-size: 0;
    text-align: center;
}

.paging a {
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: 16px;
    font-family: 'Lato-Bold';
    min-width: 32px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.paging a:hover {
    color: #c50233;
    text-decoration: underline;
}

.paging .paging-control:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -4px 0 0 -5px;
    width: 9px;
    height: 8px;
    background: url('../../asset/images/icons.png') no-repeat;
}

.paging .paging-control.first {
    font-size: 13px;
    padding-left: 20px;
    min-width: auto;
    margin-right: 5px;
}

.paging .paging-control.first:before {
    background-position: -314px 0;
    margin-left: -17px
}

.paging .paging-control.prev {
    text-indent: -9999px;
}

.paging .paging-control.prev:before {
    background-position: -338px 0;
}

.paging .paging-control.last {
    font-size: 13px;
    padding-right: 20px;
    min-width: auto;
    margin-left: 5px;
}

.paging .paging-control.last:before {
    background-position: -388px 0;
    left: auto;
    right: 50%;
    margin-left: 0;
    margin-right: -17px
}

.paging .paging-control.next {
    text-indent: -9999px;
}

.paging .paging-control.next:before {
    background-position: -363px 0;
}

.paging .paging-num {
    background: none;
}

.paging .paging-num.selected {
    color: #c50233;
    text-decoration: underline;
}

.paging .paging-num:hover {
    color: #c50233;
    text-decoration: underline;
}

.paging2 {
    position: relative;
    max-width: 1140px;
    margin: 50px auto 0 auto;
    font-size: 0;
    text-align: center;
}

.paging2 a {
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato-Bold';
}

.paging2 a:after, .paging2 a:before {
    content: '';
    background: url('../../asset/images/icons.png') no-repeat;
    position: absolute;
}

.paging2 .list {
    padding-right: 70px;
}

.paging2 .list:after {
    content: '';
    width: 61px;
    height: 10px;
    top: 50%;
    right: 0;
    margin-top: -7px;
    background-position: 0 -41px;
}

.paging2 .list:hover {
    color: #c50233;
}

.paging2 .list:hover:after {
    background-position: 0 -51px;
}

.paging2 .control {
    position: absolute;
    top: 0;
    right: 0;
}

.paging2 .control a {
    margin-left: 40px;
}

.paging2 .prev {
    padding-left: 20px;
}

.paging2 .prev:before {
    top: 50%;
    left: 0;
    margin: -4px 0 0 0;
    width: 9px;
    height: 8px;
    background-position: -314px 0;
}

.paging2 .prev:hover {
    color: #c71b2c;
}

.paging2 .prev:hover:before {
    background-position: -326px 0;
}

.paging2 .next {
    padding-right: 20px;
}

.paging2 .next:before {
    top: 50%;
    right: 0;
    margin: -4px 0 0 0;
    width: 9px;
    height: 7px;
    background-position: -388px 0;
}

.paging2 .next:hover {
    color: #c71b2c;
}

.paging2 .next:hover:before {
    background-position: -375px 0;
}

.paging2.type2 .control {
    position: static;
    top: auto;
    right: auto;
    display: inline-block;
}

.paging2.type2 .list {
    padding-right: 0;
    padding-left: 70px;
    margin-right: 100px;
}

.paging2.type2 .list:before {
    content: '';
    width: 61px;
    height: 10px;
    top: 50%;
    left: 0;
    margin-top: -7px;
    background-position: -100px -240px;
}

.paging2.type2 .list:after {
    display: none;
}

.sns li {
    display: inline-block;
    margin-left: 20px;
}

.sns a {
    font-size: 0;
    position: relative;
    display: block;
    width: 27px;
    height: 27px;
}

.sns a:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: url('../../asset/images/icons.png') no-repeat;
}

.sns a.instagram:before {
    width: 27px;
    height: 27px;
    background-position: -473px 0;
    margin: -13px 0 0 -13px;
}

.sns a.facebook:before {
    width: 23px;
    height: 24px;
    background-position: -409px -225px;
    margin: -12px 0 0 -7px;
}

.sns a.twitter:before {
    width: 23px;
    height: 18px;
    background-position: -435px 0;
    margin: -9px 0 0 -11px;
}

