@import "base/ags_pc_reset";
@import "base/ags_pc_variation";
@import "base/ags_pc_mixin";
@import "base/ags_pc_common";
@import "base/ags_pc_form";
@import "base/ags_pc_tabs";
@import "base/ags_pc_popup";
@import "page/ags_pc_layout";
@import "page/anc_common";
@import "page/anc_popup";
@import "page/anc_main";
@import "page/anc_main_seat";
@import "page/anc_main_seat_7c";
@import "page/anc_main_baggage";
@import "page/anc_main_meal";
@import "page/anc_main_lounge";
@import "page/anc_pay";
@import "page/dfs_popup";
@import "page/dfs_list";
@import "page/dfs_resv";
@import "page/pay_payment";
@import "page/pay_complete";
@import "page/my_history";
@import "page/my_refund";
@import "page/my_popup";
@import "page/cs_common";

[data-page-id='path'] {
  .lnb-wrap {
    position: absolute; left: 0; top: 0; right: 0;
    width: 100%; height: rem($anc_lnb-height);
    border-bottom: 1px solid $mono8;
    background-color: $mono9;
    .content-wrap { @include clearfix; @include content-wrap; height: 100%; }
    .page-name { float: left; padding-top: rem(23); font-weight: 800; }
    .lnb { @include clearfix; float: right; margin: 0 rem(-20); height: 100%; }
    li {
      height: 100%;
      float: left;
      padding: rem(15) rem($grid * 2) 0;
      a {
        @include font($size: $font-root-size, $color: $mono1, $weight: 600);
        display: block; width: 100%; height: 100%;
        padding: rem($grid) rem($grid / 2);
        text-decoration: none;
      }
      &.active a { color: $mono1; }
    }
    &.ui-fixed, &.ui-fixed---bottom {
      position: fixed;
      li a { color: $mono4; }
      li.active a { color: $mono1; }
    }
  }
  .ags_content {
    padding-top: rem(100)
  }
  .ags_content-title {
    $font-size: 18;
    @include font($size: $font-size, $color: $mono1, $weight: 800);
    margin-bottom: em(32, $font-size)
  }
  .page-map {
    $font-size: 13; @include font($size: $font-size, $color: $mono1, $weight: 400);
    table-layout: fixed; width: 100%;
    border-top: 1px solid $mono1;
    thead th { padding: em(16, $font-size); min-height: em(50, $font-size); line-height: em(18, $font-size); font-weight: 800; text-align: left; border-bottom: 1px solid $mono1; }
    tbody td { padding: em(16, $font-size); min-height: em(47, $font-size); line-height: em(15, $font-size); border-bottom: 1px solid $mono8; }
    a { color: inherit; }
  }
}