@charset "utf-8";

/*나눔스퀘어웹폰트로드(폰트 사용할곳에font-family:'NanumSquare';추가)*/
@import url("../font/Nanumsquare.css");

/*나눔바른고딕웹폰트로드(폰트 사용할곳에font-family:'Nanum Barun Gothic';추가)*/
@import url("../font/nanumbarungothic.css");

/* 노토 산스 (폰트 사용할곳에font-family: 'Noto Sans KR', sans-serif;추가)*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 스포카 산스 (폰트 사용할곳에font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';추가)*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

/*나눔명조웹폰트로드(폰트 사용할곳에font-family: 'Nanum Myeongjo', serif;추가)*/
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

/*코펍바탕체 font-family: 'KoPub Batang', 'Nanum Gothic', '나눔고딕', '굴림', 'Gulim', 'sans-serif', 'Tahoma';*/ 
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);

/* CSS Document */
* {font: 16px 'NanumSquare', '돋움', 'dotum', 'tahoma', 'MalgunGothic', 'Verdana', 'Arial', 'Helvetica', 'sans-serif'; padding: 0; margin: 0; color: #222222; font-weight: 400; letter-spacing: -0.4px; }
html,body {width: 100%; height: 100%;}
html {overflow-y: scroll; -webkit-text-size-adjust: none;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button {margin: 0; padding: 0;}
ul,ol,li,dl,dt,dd {list-style: none;}
i,em,address {font-style: normal;}
label,button {cursor: pointer;}
button {position: relative; border: none;}
hr,legend {display: none;}
img,fieldset,iframe {border: none;}
img {vertical-align: top; max-width: 100%;}
textarea {font-family: "Nanum Gothic", '돋움', 'dotum', tahoma, 'MalgunGothic', 'Verdana', 'Arial', 'Helvetica', 'sans-serif';}
caption {display: none;}
input,select,button {vertical-align: middle;}
table {border: none; border-collapse: collapse; padding: 0; border-spacing: 0;}
a {text-decoration: none; color: #222222;}
a:link, a:visited, a:active, a:focus {text-decoration: none;}
a:hover {text-decoration: none;}
.blind, legend, caption {display: block; overflow: hidden; position: absolute; top: -1000em; left: 0}
.blind2 {display: none;}

/* float */
.clearfix {*zoom: 1;}
.clearfix:after {content: ''; display: block; clear: both;}
.left {float: left;}
.right {float: right;}

/* form */
.label em img {vertical-align: 0;}
.label em img {vertical-align: middle;}
.inpField {background-color: #fefefe; border: 1px solid #ddd; padding: 3px 5px;}
.btn {background-color: #fff; border: 1px solid #ccc; padding: 3px 5px; border-right-color: #aaa; border-bottom-color: #aaa;}
.lh65 {line-height: 65px !important;}
.lh_1 {line-height: 1em !important;}
.padd_5_0 {padding: 5px 0;}

/* common */
:root legend {margin-top: -1px; font-size: 0; line-height: 0}
.skip a {display: block; position: absolute; left: 0; top: -9999em; width: 100%; background-color: #222222; color: #aaa; font: bold 12px/3.4 arial, sans-serif; text-align: center; z-index: 99999;}
.skip a:hover,.skip a:active,.skip a:focus {top: 0}

/*loader*/
#loader {background: #f5f5f5; position: fixed; width: 100%; height: 100%; top: 0; z-index: 9999;}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);} to {-webkit-transform: rotate(360deg);}}
img.loading {-webkit-animation-name: rotate; -webkit-animation-duration: 1s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; position: absolute; top: 50%; left: 50%; width: 140px; height: 140px; margin-left: -70px; margin-top: -70px;}

/*default*/
#wrap {width: 100%; /*min-width: 1024px;*/ /*height:100%;*/}
#header {position: relative;}
#container {position: relative; *zoom: 1;}
#container:after {display:block; clear: both; content: '';}
#footer {position: relative;}

/*selcetion*/
::selection {background: #ECF5FF; color: #66B1FF;}
::-moz-selection {background: #ECF5FF; color:#66B1FF;}

/*text-align*/
.t_center {text-align: center !important;}
.t_left {text-align: left !important;}
.t_right {text-align: right !important;}

/*hide-text*/
.hide_text {text-indent: 100%; white-space: nowrap; overflow: hidden;}﻿

/*width*/
.w20 {width: 20px;}
.w40 {width: 40px;}
.w60 {width: 60px;}
.w80 {width: 80px;}
.w100 {width: 100px;}
.w120 {width: 120px;}
.w140 {width: 140px;}
.w160 {width: 160px;}
.w180 {width: 180px;}
.w200 {width: 200px;}
.w280 {width: 280px;}
.w400 {width: 400px;}
.w600 {width: 600px;}
.w800 {width: 800px;}

.w288 {width: 288px;}
.w292 {width: 292px;}
.w590 {width: 590px;}

/*margin & padding*/
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb21 {margin-bottom: 21px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}
.mb42 {margin-bottom: 42px;}
.mb50 {margin-bottom: 50px;}
.mb60 {margin-bottom: 60px;}
.mb63 {margin-bottom: 63px;}

.mt8 {margin-top: 8px;}