/*	인터파크 초기화 코드 삽입 - 임시	*/

* {
  -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.2;
  font-size: 12px;
  color: #646464;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  word-break: break-all;
}

a,
a:link {
  text-decoration: none;
  color: #646464;
}

a:hover,
a.active,
a.focus {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li,
dl,
dt,
dd,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  display: none;
}

table,
th,
td {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

caption {
  visibility: hidden;
  overflow: hidden;
  position: static;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

fieldset,
form,
iframe {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
option,
button {
  font-size: 12px;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
}

address,
caption,
cite,
code,
dfn,
em,
var,
i {
  font-style: normal;
  font-weight: normal;
}

textarea {
  resize: none;
  background: #fff;
  border: 1px solid #e1e1e1;
  font-size: 12px;
  color: #646464;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 0;
  background: none;
}


/*	초기화 스타일 수정	*/
body {
  line-height: 1.38;
  font-size: 13px;
  color: #111111;
  font-family: "Nanum Gothic";
  letter-spacing: -0.16px;
}

a,
a:link {
  color: #111111;
}

a:hover,
a.active,
a.focus {
  color: #111111;
  text-decoration:none;
}

input,
textarea,
select,
option,
button {
  font-size: 13px;
  font-family: "Nanum Gothic";
  letter-spacing: -0.16px;
}


textarea {
  font-size: 13px;
  color: #111111;
  letter-spacing: -0.16px;
}

button {
  font-family: "Nanum Gothic";
  font-size: 13px;
  letter-spacing: -0.16px;
}


/*	인터파크 스타일 - 임시	*/
#dHead	{height:226px;}

/*	기본 속성 추가	*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button,
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video
{ margin:0;padding:0;border:0;      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }

/*	기본 레이아웃	*/
.allwinContents	{width:980px; margin:0 auto; text-align:left;overflow:hidden;}
.allwinContents h1	{font-size: 24px;
  font-weight: bold; letter-spacing: -0.3px; margin:42px 0 30px;}
.allwinContents .summaryWrap	{position:relative; width:100%; height:180px;background:url("../images/bg_summary.png") no-repeat 50% 50%; color:#fff;}
.allwinContents .summaryWrap:before	{position:absolute; width:980px; height:180px; background:rgba(0,0,0,0.66); top:0; left:0; content:""; display:block;}
.allwinContents .summaryWrap > *	{position:absolute;}
.allwinContents .summaryWrap > a	{border:1px solid #fff; right:40px; top:70px; color:#fff;font-size: 16px;
  font-weight: bold;letter-spacing: -0.2px; width:197px; height:40px; line-height:38px; text-align:center;}
.allwinContents .summaryWrap .welcome	{top:32px; left:30px;font-size: 14px;
  font-weight: bold;letter-spacing: -0.18px;}
.allwinContents .summaryWrap .fromtoWrap	{top:72px; left:30px; font-size: 30px;letter-spacing: -0.38px;}
.allwinContents .summaryWrap .fromtoWrap span	{font-weight: bold;}
.allwinContents .summaryWrap .fromtoWrap p	{display:inline-block;}
.allwinContents .summaryWrap .date	{top:137px; left:30px;}
.allwinContents .contentsContainer	{float:left; width:736px; }
.allwinContents .contentsContainer h2	{font-size: 20px;
  font-weight: bold;letter-spacing: -0.25px; margin:54px 0 16px;}
.allwinContents .priceContainer	{width:218px; float:right;}


.allwinContents .contentsContainer .tabSelect	{width:100%; overflow:hidden;}
.allwinContents .contentsContainer .tabSelect li	{float:left; text-align:center; cursor:pointer; border:1px solid #e4e4e4; border-bottom-color:#e25147; background:#f7f7f7;font-size: 16px;
  font-weight: bold; color:#aaa;letter-spacing: -0.2px; padding:14px 0;}
.allwinContents .contentsContainer .tabSelect li.on	{border-color:#e25147 #e25147 #fff #e25147; background:#fff; color:#e25147;}
.allwinContents .contentsContainer .tabSelect li span	{display:inline-block; width:16px; height:12px; margin:0 12px; background:url("../images/ico_airplane_off.png") no-repeat 50% 50%;}
.allwinContents .contentsContainer .tabSelect li.on span	{background-image:url("../images/ico_airplane_on.png") }
.allwinContents .contentsContainer .tabSelect.item02 li	{width:50%;}

.allwinContents .contentsContainer .contentsWrap	{clear:both;}
.allwinContents .contentsContainer .contentsWrap .contents	{clear:both; margin-top:50px;}
.allwinContents .contentsContainer .contentsWrap .contents:first-child	{margin-top:40px;}
.allwinContents .contentsContainer .contentsWrap .contents h3	{font-size: 18px;  font-weight: bold;letter-spacing: -0.23px; border-bottom:1px solid #000; padding-bottom:16px; margin-bottom:20px;}
.allwinContents .contentsContainer .contentsWrap .contents h3 + .info	{/*margin:20px 0 32px;*/}

.allwinContents .contentsContainer .contentsWrap .contents p.title	{background:#426fbe;font-size: 14px;
  font-weight: bold;letter-spacing: -0.18px; color:#fff; line-height:46px; padding-left:16px;}
 .allwinContents .contentsContainer .contentsWrap .contents > div	{margin-top:32px; clear:both;}



 .allwinContents .contentsContainer .contentsWrap .contents .priceInfo	{overflow:hidden;}
 .allwinContents .contentsContainer .contentsWrap .contents .priceInfo ul li	{float:left; width:25%; text-align:center; border-bottom:1px solid #e4e4e4;border-right:1px solid #e4e4e4; padding:47px 0;
 }
 .allwinContents .contentsContainer .contentsWrap .contents .priceInfo ul li p	{font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.15px;color: #000000;}
 .allwinContents .contentsContainer .contentsWrap .contents .priceInfo ul li span	{display:block; margin-top:12px;font-size: 13px;  font-weight: bold;
letter-spacing: -0.16px;color: #ef544d;}
.allwinContents .contentsContainer .contentsWrap .contents .priceInfo ul li:first-child	{border-left:1px solid #e4e4e4;}

.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap	{}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap	{float:left; width:220px;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap p.title {border-right:1px solid #fff;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul	{height:513px;border:1px solid #e4e4e4; border-top:0 none;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li	{border-bottom:1px solid #e4e4e4; clear:both; font-size: 12px;letter-spacing: -0.15px; padding:12px 13px; cursor:pointer; height:40px;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li.selected	{background: #f7f7f7;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .name	{float:left;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .selectSeat	{float:right; text-align:right; color:#3cbaf5; position:relative;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .selectSeat span	{font-weight: bold;color: #ef544d;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .selectSeat span.none	{font-weight:normal; color:#aaa;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .selectSeat a	{width:14px; height:14px;  display:inline-block; vertical-align:middle; margin-top:-2px;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .selectSeat a.delete	{background:url("../images/btn_del.png") no-repeat 50% 50%;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .selectSeat a.qa	{background:url("../images/btn_qa.png") no-repeat 50% 50%;}

.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .selectSeat a.qa	 + .tip	{position:absolute; width:154px;border-radius: 5px;
  background-color: #333333; line-height:30px;font-size: 12px;
  font-weight: bold;letter-spacing: -0.15px;
  text-align: center;
  color: #fefb00; top:-34px; right:-68px; z-index:1; display:none;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .passengerWrap ul li .selectSeat a.qa	 + .tip:after	{	
content: "";
    position: absolute;
    bottom: -7px;
    left: 75px;
    border-color: #000 transparent transparent transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px;
}

.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .seatWrap	{float:right; width:516px;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .seatContainer	{height:513px;border:1px solid #e4e4e4; border-top:0 none; border-left:0 none; overflow-y:auto;}

.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap	{clear:both;padding:13px 16px; overflow:hidden; background:#000; color:#fff;  }
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .selectedSeat	{float:left; line-height:34px;}

.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .selectedSeat li	{display:inline-block;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .selectedSeat li:before	{content:","; display:inline-block;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .selectedSeat li:first-child:before	{display:none;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .selectedSeat li span{display:inline-block; color:#e25147; font-weight:bold; vertical-align:top;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .selectedSeat li span:before	{width:6px; height:8px; content:""; display:inline-block;background:url("../images/ico_ea.png") no-repeat 50% 50%; margin:0 4px;}

.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .totalPrice	{float:right; text-align:right;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .totalPrice span	{color:#e25147;font-weight: bold;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .totalWrap .totalPrice a	{display:inline-block; line-height:32px; width:80px; border:1px solid #fff; border-radius:17px; color:#fff; text-align:center;}

.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .discountInfo	{text-align:center; background:#f7f7f7; line-height:40px;font-size: 11px;letter-spacing: -0.14px; position:relative;}
.allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .discountInfo	 span	{font-weight: bold;
  color: #e25147;}
  .allwinContents .contentsContainer .contentsWrap .contents .seatSelectWrap .discountInfo:after	{content:""; position:absolute; top:-12px; right:138px; border-color:transparent transparent #f7f7f7 transparent;width:0; height:0; border-style:solid; border-width:6px;}

 /*		SEAT		*/
.seatContainer .sts-main	{width:514px; height:1430px; position:relative;}
.seatContainer .sts-view	{position:absolute; top:20px; left:20px;}
.seatContainer .sts-plane-model	{width:70px; height:196px; border:1px solid #e4e4e4; background:url("../images/seatmini_bg.png") no-repeat 50% 50%; background-size:contain}

.seatContainer .sts-legend	{position:absolute; top:20px; right:20px;}
.seatContainer .sts-legend ul li	{font-size: 11px;letter-spacing: -0.14px;text-align: right; margin:5px 0;}
.seatContainer .sts-legend ul li:before	{vertical-align:middle; content:""; width:8px; height:8px; display:inline-block; border-radius:50%; background:#aaa; margin-top:-2px; margin-right:4px;}
.seatContainer .sts-legend ul li.newclass:before	{background:#81229f}
.seatContainer .sts-legend ul li.frontexit:before	{background:#fdd32a}
.seatContainer .sts-legend ul li.regionA:before	{background:#4b89fa}
.seatContainer .sts-legend ul li.regionB:before	{background:#97c7ff}
.seatContainer .sts-legend ul li.regionC:before	{background:#77d262}

.seatContainer .sts-main.b737 .sts-legend ul li:first-child	{display:none;}

.seatContainer .seatWrap	{text-align:center; padding-top:220px;}
.seatContainer .seatWrap ul	{margin-bottom:10px;}
.seatContainer .seatWrap ul li	{position:relative; width: 22px;  height: 22px;  border-radius: 2px; margin-left:2px; display:inline-block; text-align:center; color:#fff; cursor:pointer; line-height:22px; line-height:22px;font-size: 11px;
  font-weight: bold;letter-spacing: -0.14px;}
.seatContainer .seatWrap ul li:first-child	{margin-left:0;}
.seatContainer .seatWrap ul li:nth-child(4)	{margin-left:32px;}

.seatContainer .seatWrap  li.newclass	{background:#81229f; color:#81229f; width:28px; height:34px; line-height:34px;}
.seatContainer .seatWrap  li.newclass:after	{position:absolute; bottom:0; content:""; display:block; width:28px; height:10px; background:#4b155c; border-radius:0 0 2px 2px;}

.seatContainer .seatWrap  li.frontexit		{background:#fdd32a; color:#fdd32a;  height:34px; line-height:34px;}
.seatContainer .seatWrap  li.frontexit:after	{position:absolute; bottom:0; content:""; display:block; width:22px; height:10px; background:#e7af03; border-radius:0 0 2px 2px;}

.seatContainer .seatWrap  li.regionA	{background:#4b89fa; color:#4b89fa}
.seatContainer .seatWrap  li.regionB	{background:#6abef9; color:#6abef9}
.seatContainer .seatWrap  li.regionC	{background:#77d262; color:#77d262}

.seatContainer .seatWrap ul li.selected	{background:#ef544d !important; color:#fff !important;}
.seatContainer .seatWrap ul li.selected:after	{background:#ef544d !important; color:#fff !important;}
.seatContainer .seatWrap ul li.done	{cursor:default; background:#ddd !important; color:#ddd !important;}
.seatContainer .seatWrap ul li.done:after		{background:#ddd !important; color:#ddd !important;}


.seatContainer .seatNumWrap	{position:absolute; top:220px; left:calc(50% - 10px);}
.seatContainer .seatNumWrap ul li	{line-height:22px; font-size: 12px; width:20px; font-weight: bold; letter-spacing: -0.15px; text-align:center; margin-bottom:10px;}
.seatContainer .seatNumWrap ul li.newclass	{line-height:34px;}
.seatContainer .seatNumWrap ul li.frontexit	{line-height:34px;}
.seatContainer .sts-seat-area	{width:514px; height:1430px; background:url("../images/seat_bg.png") no-repeat 50% 50%;}

.seatContainer .sts-main.b737 .seatWrap ul:first-child	{text-align:left; margin-left:161px;}
.seatContainer .sts-main.b737 .seatWrap ul:nth-child(2) {margin-top:-12px;}
.seatContainer .sts-main.b737 .seatWrap ul:nth-child(2) li	{vertical-align:bottom;}
.seatContainer .sts-main.b737 .seatWrap ul:nth-child(2) li.frontexit	{background:#fdd32a; color:#fdd32a;  height:34px; line-height:34px; }
.seatContainer .sts-main.b737 .seatWrap ul:nth-child(2) li.frontexit:after	{position:absolute; bottom:0; content:""; display:block; width:22px; height:10px; background:#e7af03; border-radius:0 0 2px 2px;}
.seatContainer .sts-main.b738 .seatWrap ul li.newclass	{margin-left:3px}
.seatContainer .sts-main.b738 .seatWrap ul li.newclass:nth-child(1)	{margin-left:0;}
.seatContainer .sts-main.b738 .seatWrap ul li.newclass:nth-child(3)	{margin-left:48px;}
.seatContainer .sts-main.b738 .seatWrap ul li.newclass:nth-child(4)	{margin-left:3px;}