@charset "UTF-8";
@import url(https://cdn.allwin.bid/static/css/awa_wfont.css);

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, address, del, em, img, strong,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
    font-weight:400;
}

body, html {
    width:100%;height:100%;
    min-height:768px;
    letter-spacing: -0.5px;
    -webkit-font-smoothing: antialiased;
    font-size:14px;
}

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

input, select, textarea, button {
    font-family: 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
    letter-spacing: -.5px;
    font-weight:400;
    font-size:16px;
}

ol, ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 0;
}

input, textarea, select, td, th {
    vertical-align: middle;
}

hr {
    display: none;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: #000;
}

em, address {
    font-style: normal;
}

fieldset {
    border: 0;
    vertical-align: top;
}

button {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

select::-ms-expand {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

select {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
}

input[type=checkbox], input[type=radio], input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=text]::-ms-clear {
    display: none;
}

legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

::-webkit-input-placeholder {
    font-size:14px;
    color: #a4a4a4 !important;
}

::-moz-placeholder {
    font-size:14px;
    color: #a4a4a4 !important;
}

:-ms-input-placeholder {
    font-size:14px;
    color: #a4a4a4 !important;
}

:-moz-placeholder {
    font-size:14px;
    color: #a4a4a4 !important;
}

.clear {
    clear: both;
}

.dim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 800;
    background: rgba(0, 0, 0, .6);
}

.kill {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.slot{height:100%;}

/* 버튼 */
.bt-full{display:inline-block;height:56px;line-height:56px;text-align:center;font-size:16px;color:#fff;vertical-align:top;}
.bt-full.w130{width:130px;}
.bt-full.w200{width:200px;}
.bt-full.w220{width:220px;}
.bt-full.w240{width:240px;}
.bt-full.navy{background:#292a4d;}
.bt-question{width:14px;height:14px;background:url('../../resource/img/ico_question.svg') center center no-repeat;}
.bt-link{display:inline-block;font-size:14px;color:#808080;border-bottom:1px solid #808080;}

.bt-small{display:inline-block;width:80px;height:30px;line-height:30px;text-align:center;font-size:12px;color:#fff;}
.bt-small.navy{background:#292a4d;}

/* 인풋 */
.custom-input{position:relative;display:block;overflow:hidden;height:56px;border:1px solid #c7c7c7;box-sizing: border-box;background:#fff;vertical-align:top;}
.custom-input:after{content:'';position:absolute;right:20px;top:50%;-ms-transform: translate(0, -50%);-webkit-transform: translate(0, -50%);transform: translate(0, -50%);}
.custom-input input{width:100%;height:56px;text-indent:20px;background:transparent;}
.custom-input.pos:after{width:18px;height:26px;background:url('../../resource/img/ico_pos.svg') center center no-repeat;background-size:18px 26px;}
.custom-input.cal:after{width:20px;height:20px;background:url('../../resource/img/ico_cal.svg') center center no-repeat;background-size:20px 20px;}
.custom-input.arrow:after{width:15px;height:9px;background:url('../../resource/img/ico_arrow-down.svg') center center no-repeat;background-size:15px 9px;}
.addr-inputs{position:relative;margin-bottom:8px;}
.addr-inputs .bar{position:relative;display:inline-block;vertical-align:top;width:20px;height:56px;}
.addr-inputs .bar:before{content:'';width:12px;height:1px;background:#161820;position:absolute;top:29px;left:4px;}
.addr-inputs .bt-full{position:absolute;top:0;right:0;}
.addr-inputs .custom-input{width:120px;display:inline-block !important;}
.file-inputs{position:relative;}
.file-inputs .bt-full{position:absolute;top:0;right:0;}
.file-inputs .custom-input{margin-right:140px;}

/* 인풋 라벨 */
.label{position:relative;display:block;font-weight:500;font-size:16px;margin-bottom:5px;}
.label.required:after{content:'*';font-size:14px;color:#fc5625;font-weight:500;margin-left:3px;}

/* 인풋 팁 */
.input-tip{font-size:14px;margin-top:5px;}
.input-tip.type1{color:#b2b2b2;}
.input-tip.type2{color:#fc5625;}

/* 체크박스 */
.custom-check {
    display: inline-block;
    margin-right:20px;
}

.custom-check input {
    opacity: 0;
    position: absolute;
}

.custom-check input[type=checkbox] + label {
    position: relative;
    padding-left: 20px;
    color: #a4a4a4;
    font-size: 14px;
    cursor: pointer;
    display: block;
    height: 14px;
    line-height: 14px;
}

.custom-check input[type=checkbox] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #9a9ea6;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border:1px solid #c7c7cd;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.custom-check input[type=checkbox]:checked + label {
    color: #000;
}

.custom-check input[type=checkbox]:checked + label:before {

}

/* 셀렉트박스 */
.custom-select{position:relative;display:block;vertical-align:top;}
.custom-select__target{position:relative;font-size:16px;text-align:left;text-indent:20px;width:100%;height:56px;border:1px solid #c7c7c7;box-sizing: border-box;}
.custom-select__target:after{content:'';position:absolute;right:20px;top:50%;-ms-transform: translate(0, -50%);-webkit-transform: translate(0, -50%);transform: translate(0, -50%);width:15px;height:9px;background:url('../../resource/img/ico_arrow-down.svg') center center no-repeat;background-size:15px 9px;}
.custom-select__target.active{border:1px solid #ebaa2c;color:#ebaa2c;}
.custom-select__target.active:after{background:url('../../resource/img/ico_arrow-up.svg') center center no-repeat;background-size:15px 9px;}
.custom-select__list{display:none;position:absolute;top:56px;left:0;z-index:5;width:100%;padding:10px 0;background:#fff;border:1px solid #c7c7c7;border-top:0;box-sizing: border-box;}
.custom-select__list a{display:block;font-size:16px;text-indent:20px;width:100%;padding:10px 0;}
.custom-select__list a:hover{background:#ebaa2c;color:#fff;}

/* 텍스트박스 */
.custom-textarea{position:relative;padding:20px;display:block;overflow:hidden;border:1px solid #c7c7c7;box-sizing: border-box;background:#fff;vertical-align:top;}
.custom-textarea textarea{width:100%;min-height:80px;background:transparent;}

/* 레이아웃 */
.awc-wrap{height:100%;}
.awc-container{position:relative;z-index:10;background:#fff;height:100%;margin-left:80px;}
.awc-container-inner{position:relative;height:100%;}
.awc-lnb{position:absolute;top:0;left:0;width:230px;height:100%;overflow:hidden;}
.awc-content{background:#fff;padding:90px 0 0 270px;overflow:hidden;}
.awc-content__inner{max-width:1110px;padding-bottom:30px;}

/* 좌측메뉴 */
.lnb__inner{position:relative;height:100%;overflow:hidden;padding:0 40px;}
.lnb__logo{display:block;width:88px;height:38px;margin-top:60px;background:url('../../resource/img/img_logo.png') center center no-repeat;}
.lnb__nav{margin-top:30px;}
.lnb__nav a{font-weight:500;line-height:100%;display:block;padding:10px 0;color:#292a4d;font-size:18px;}
.lnb__nav .lnb__nav--selectd{color:#ebaa2c;font-weight:700;}
.lnb__ranking{position:absolute;top:50%;left:40px;-ms-transform: translate(0, -50%);-webkit-transform: translate(0, -50%);transform: translate(0, -50%);}
.lnb__ranking-tit{position:relative;display:inline-block;font-size:18px;color:#292a4d;font-family: 'Geogrotesque-SemiBold';line-height:100%;padding-right:18px;}
.lnb__ranking-tit .bt-question{content:'';position:absolute;top:50%;right:0;-ms-transform: translate(0, -50%);-webkit-transform: translate(0, -50%);transform: translate(0, -50%);}
.lnb__ranking-week{font-size:12px;color:#8b8b8d;display:block;}
.lnb__ranking-list{margin-top:10px;}
.lnb__ranking-list li{padding:5px 0;}
.lnb__ranking-list dt{width:100px;font-size:12px;color:#292a4d;font-weight:500;display:inline-block;}
.lnb__ranking-list dt em{font-size:16px;font-family: 'Geogrotesque-Medium';margin-right:5px;}
.lnb__ranking-list dd{color:#666;font-family: 'Geogrotesque-Medium';display:inline-block;}
.lnb__util{position:absolute;bottom:60px;left:40px;}
.lnb__util a{font-weight:500;display:block;font-size:14px;color:#a4a4a4;line-height:100%;padding:8px 0;}
.lnb__rewards-evt{position:relative;display:block;margin-top:35px;font-size:16px;line-height:18px;color:#fe4e0c;font-family: 'Geogrotesque-SemiBold';padding-right:26px;}
.lnb__rewards-evt:after{content:'';position:absolute;top:50%;right:0;-ms-transform: translate(0, -50%);-webkit-transform: translate(0, -50%);transform: translate(0, -50%);width:18px;height:18px;background:url('../../resource/img/ico_link.svg') center center no-repeat;}

/* 꼬리 로고 */
.airline-code__wing{font-size:14px;display:inline-block;height:28px;line-height:40px;}
.airline-code__wing .code{width:27px;height:28px;display:inline-block;vertical-align:top;margin-right:5px;}
.airline-code__wing .code img{width:27px;height:28px;}

/* 직항,경유 */
.trip-label{display:inline-block;vertical-align:top;width:34px;height:16px;line-height:16px;font-size:10px;text-align:center;color:#fff;}
.trip-label__type1{background:#ff4378;}


/* 웰컴 텍스트 */
.welcome-txt{font-weight:300;font-size:40px;line-height:120%;margin-bottom:80px;}
.welcome-txt strong{font-weight:700;}
.welcome-txt .type1{color:#ebaa2c;}
.welcome-txt .type2{color:#161820;}

/* 탭 */
.tabs.start{margin-bottom:25px;}
.tabs.type{margin-bottom:15px;}
.tabs li{display:inline-block;margin-right:20px;}
.tabs a{font-size:24px;color:#a4a4a4;display:block;line-height:100%;}
.tabs .tabs--selectd{color:#292a4d;font-weight:700;}

/* 리스트 */
.latest-rsv{margin-top:45px;}
.list-tit{display:block;font-size:24px;color:#292a4d;font-weight:700;line-height:100%;padding-bottom:20px;}
.list-type1{border-top:2px solid #000;font-size:0;}
.list-type1 > ul > li{border-bottom:1px solid #e6e6e6;display:table;padding:30px 0;}
.list-type1 .col{display:table-cell;vertical-align:middle;text-align:center;}
.list-type1 .rsv__gds{width:190px;font-family: 'Geogrotesque-Medium';font-size:14px;line-height:150%;text-align:left;}
.list-type1 .rsv__trip{width:390px;text-align:left;}
.list-type1 .rsv__trip-city{font-size:0;}
.list-type1 .rsv__trip-city strong{font-weight:700;font-size:20px;display:inline-block;vertical-align:top;}
.list-type1 .rsv__trip-city em{font-family: 'Geogrotesque-SemiBold'}
.list-type1 .rsv__trip-city .bar{font-size:20px;display:inline-block;vertical-align:top;margin:0 5px;}
.list-type1 .rsv__at span{font-size:14px;display:inline-block;vertical-align:top;}
.list-type1 .rsv__at em{font-family: 'Geogrotesque-Medium';}
.list-type1 .rsv__at b{font-size:14px;display:inline-block;margin:0 5px;}
.list-type1 .rsv__air-code{width:170px;text-align:left;}
.list-type1 .rsv__seat{width:80px;font-size:14px;}
.list-type1 .rsv__seat em{font-family: 'Geogrotesque-Medium';}
.list-type1 .rsv__reserved-at{width:180px;font-size:14px;}
.list-type1 .rsv__reserved-at em{font-family: 'Geogrotesque-Medium';}
.list-type1 .rsv__status{width:100px;text-align:right;}
.list-type1 .rsv__status .bst-num{font-size:14px;display:block;}
.list-type1 .rsv__status .bst-num em{font-family: 'Geogrotesque-Medium';}
.list-type1 .rsv__status .payment-status{font-size:14px;color:#ebaa2c;}

/* 퀵서치 */
.quick-srch{font-size:0;}
.quick-srch .custom-input{display:inline-block;margin:0 8px 8px 0;width:330px;}
.quick-srch .custom-input.airline{width:277px;}
.quick-srch .custom-select{display:inline-block;width:156px;}
.quick-srch .bt-full{display:inline-block;margin-left:8px;}

/* 검색 결과 */
.result-condition{}
.result-condition .trip-city{position:relative;font-size:0;}
.result-condition .trip-city strong{color:#292a4d;font-weight:700;font-size:38px;display:inline-block;vertical-align:top;}
.result-condition .trip-city em{font-family: 'Geogrotesque-SemiBold'}
.result-condition .trip-city .plane{display:inline-block;vertical-align:top;margin:23px 10px 0 10px;width:20px;height:16px;background:url('../../resource/img/ico_black-plane.svg') center center no-repeat;background-size:20px 16px;}
.result-condition .trip-city .bt-link{position:relative;top:25px;margin-left:20px;}
.result-condition .trip-infos{font-size:0;margin-top:10px;}
.result-condition .trip-infos li{position:relative;display:inline-block;padding:0 10px;vertical-align:top;font-size:14px;}
.result-condition .trip-infos li:before{content:'';position:absolute;top:50%;left:0;margin-top:-5px;width:1px;height:12px;background:#ccc;}
.result-condition .trip-infos li:first-child{padding-left:0;}
.result-condition .trip-infos li:first-child:before{display:none;}
.result-condition .trip-infos em{font-family: 'Geogrotesque-Medium';}
.result-condition .trip-infos .trip-label{position:relative;top:2px;}


.result-lists{margin-top:15px;}
.result-list__util{text-align:right;margin-bottom:10px;}
.result-list__tits{font-size:0;border-top:1px solid #ccc;}
.result-list__tits .col{display:inline-block;height:54px;line-height:54px;font-size:14px;font-weight:500;text-align:center;}
.result-list__tits .col1{width:120px;}
.result-list__tits .col2{width:214px;}
.result-list__tits .col3{width:85px;}
.result-list__tits .col4{width:153px;}
.result-list__tits .col5{width:237px;padding-left:25px;text-align:left;}
.result-list__tits .col6{width:92px;}
.result-list__tits .col7{width:184px;}

.result-list__items{position:relative;overflow:hidden;}
.result-list__items .row{overflow:hidden;}
.result-list__items .col1{position:absolute;top:0;left:0;width:419px;height:100%;}
.result-list__items .col2{margin-left:419px;width:691px;}
.result-list__items .result-schedules{position:relative;margin-top:65px;}
.result-list__items .result-schedules .airline{width:120px;position:absolute;top:50%;left:0;-ms-transform: translate(0, -50%);-webkit-transform: translate(0, -50%);transform: translate(0, -50%);}
.result-list__items .result-schedules .airline-code__wing{line-height:130%;margin:0 0 0 30px;}
.result-list__items .result-schedules .airline-code__wing .code{display:block;}
.result-list__items .result-schedules .trips{margin:0 0 0 120px;}
.result-list__items .result-schedules .trip-item{font-size:0;margin:15px 0;}
.result-list__items .result-schedules .trip-item dl{display:inline-block;}
.result-list__items .result-schedules .trip-item dt{color:#b2b2b2;font-family: 'Geogrotesque-Medium';font-size:14px;}
.result-list__items .result-schedules .trip-item dd{font-size:20px;font-family: 'Geogrotesque-Medium';}
.result-list__items .result-schedules .total-at{position:relative;display:inline-block;color:#b2b2b2;font-size:12px;margin:0 20px;}
.result-list__items .result-schedules .total-at:before{content:'';display:block;width:14px;height:11px;margin:0 auto 3px auto;background:url('../../resource/img/ico_gray-plane.svg') center center no-repeat;background-size:14px 11px;}
.result-list__items .result-schedules .total-at em{font-family: 'Geogrotesque-Regular';}
.result-list__items .result-schedules .plus{color:#ebaa2c;font-size:14px;}
.result-list__items .result-schedules .types{font-size:0;position:absolute;top:50%;right:30px;-ms-transform: translate(0, -50%);-webkit-transform: translate(0, -50%);transform: translate(0, -50%);}
.result-list__items .compare__item{height:76px;font-size:0;border-bottom:1px solid #e6e6e6;}
.result-list__items .compare__item:last-child{border-bottom:0;}
.result-list__items .compare__item ul{font-size:0;text-align:center;width:100%;display:table;}
.result-list__items .compare__item li{height:76px;display:table-cell;vertical-align:middle;font-size:14px;}
.result-list__items .compare__item .seller{width:153px;}
.result-list__items .compare__item .benefit{width:237px;padding-left:25px;text-align:left;font-size:0;}
.result-list__items .compare__item .benefit .b1{font-size:14px;display:inline-block;width:130px;color:#ebaa2c;}
.result-list__items .compare__item .benefit .b2{font-size:14px;display:inline-block;color:#666;}
.result-list__items .compare__item .seat{width:92px;}
.result-list__items .compare__item .seat em{font-family: 'Geogrotesque-Medium'}
.result-list__items .compare__item .price{width:184px;font-size:16px;font-weight:700;}
.result-list__items .compare__item .price em{font-size:16px;font-family: 'Geogrotesque-SemiBold';}
.result-list__items .col1 .result-list__bts{width:100%;position:absolute;bottom:0;left:0;}
.result-list__items .result-list__bts button{background:#f7f7f7;display:block;font-size:14px;width:100%;height:39px;line-height:39px;font-text-align:center;}
.result-list__items .result-list__bts em{font-family: 'Geogrotesque-Medium'}

.schedule-detail{}
.schedule-detail__item{height:110px;border:1px solid red;}


/* 로그인, 회원가입 */
.awc-login{width:650px;font-size:0;}
.awc-join{width:880px;font-size:0;}
.awc-form{margin-bottom:110px;}
.awc-form .custom-input{display:block;}
.awc-form .row{margin-top:40px;overflow:hidden;}
.awc-form .row:first-child{margin-top:0;}
.awc-form .row2{margin-top:15px;}
.awc-form .col{display:inline-block;width:400px;}
.awc-form .col:first-child{float:left;}
.awc-form .col:last-child{float:right;}
.awc-form .tit{display:block;font-size:24px;color:#292a4d;font-weight:500;line-height:100%;}


/* 이벤트 */
.awc-event{position:fixed;top:0;left:0;right:0;height:100%;}
.awc-event section{width:100%;height:100%;}
.awc-event ul{width:100%;height:100%;}
.awc-event li{width:100%;height:100%;}

