@charset "utf-8";

/* default layout 1280px 
-------------------------------------------------------------------------------------------------------------------*/

/*///////////////////// font & board & arr /////////////////////*/

.arr_sm { display: inline-block; width: 6px; height: 4px; background: url(../img/common/arr_select@2x.png) center center no-repeat; background-size: 6px 4px; }

/* button */
.mypage-forms .bts { text-align: center; margin-top: 35px; }
.bt-full.navy { background: #2A2167; }
.bt-full { display: inline-block; height: 52px; line-height: 52px; text-align: center; font-size: 14px; color: #fff; vertical-align: top; -webkit-box-sizing: border-box; box-sizing: border-box; font-weight: 700; border-radius: 3px; letter-spacing: 1px; z-index: 10; }
.bt-small { display: inline-block; height: 32px; line-height: 32px; text-align: center; font-size: 12px; color: #111; border: 1px solid #DDD; vertical-align: top; -webkit-box-sizing: border-box; box-sizing: border-box; font-weight: 700; border-radius: 3px; letter-spacing: 0; padding: 0 12px; z-index: 10; }
.bt-small:hover { border: 1px solid #111; }

/*///////////////////// font & board End /////////////////////*/
/*
d
e
m
a
r
c
a
t
i
o
n
*/
/*///////////////////// header /////////////////////*/

body { background-color: #fff; }
#wrap { position: relative; width: 100%; /* height: 100%; */ background-color: #fff; }

/* 레이어팝업 */
.dim_50 { position: absolute; width: 100%; /* height: 100%; top: 0; bottom: 0; left: 0; right: 0; */ background-color: rgba(0, 0, 0, 0.66); z-index: 9999; }
.l-popup {  position: absolute; width: 640px; background-color: #fff;}
.lp-margin { margin: 0 !important; border: none !important; padding: 0 !important; }
.title_lp { width: 100%; height: 56px; background-color: #111; }
.h_lp { line-height: 56px; font-size: 16px; font-weight: 700; color: #fff; margin-left: 20px; }
.close_lp { width: 14px; height: 14px; margin: 21px 20px 0 0; background: url(../img/common/ic_close_lp@2x.png) center center no-repeat; background-size: 14px 14px; }
.content_lp { padding: 32px 24px 50px; }
.arr_last { margin-right: 0 !important; }

/* Header */
#header { /* width: 100%; */ padding: 0 24px; height: 80px; border-bottom: 1px solid #e5e5e5; }
.header-logo { margin: 30px 0 0 0; }
.header-logo .logo_main { display: block; width: 128px; height: 20px; background: url(../img/common/Logo@2x.png) center center no-repeat; background-size: 128px 20px; }
.area_user { margin: 30px 0 0 0; position: relative; }
.area_user > a { display: block; }
.area_user > a > img { display: inline-block; width: 20px; height: 20px; background: url(../img/common/ic_account_circle@2x.png) center center no-repeat; background-size: 20px 20px; }
.area_user > a > strong { display: inline-block; font-size: 14px; font-weight: 400; margin: 0 2px 0 4px; vertical-align: 4px; }
.area_user > a > .arr_sm { vertical-align: 7px; }

.top-dropdown-menu { 
  position: absolute;
  top: 40px;
  right: 0px;
  transform-origin: center top;
  z-index: 2001;
  width: 136px;
  padding: 12px 0;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.top-dropdown-menu-item > a { display: block; padding: 0 14px; font-size: 13px; height: 30px; line-height: 30px; }
.top-dropdown-menu-item > a:hover { background-color: #ECF5FF; color: #66B1FF; }
.popper_arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -12px;
  right: 20px;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #e5e5e5;
  border-width: 6px;
}

.arrow_af {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: -5px;
  right: -6px;
  border-top-width: 0;
  border-bottom-color:#FFf;
  border-width: 6px;
}

/*///////////////////// header End /////////////////////*/
/*
d
e
m
a
r
c
a
t
i
o
n
*/
/*///////////////////// container /////////////////////*/

.wrap_container { width: 100%; position: relative; }

/* Side Menu */
#gnb { position: absolute; top: 0; left: 0; /* margin-top: 100px; */ width: 240px; height: 100%; padding-bottom: 100px; border-right: 1px solid #e5e5e5; overflow: scroll; background-color: #fff; }
.gnb_menu { margin: 0 12px; }
.gnb_menu > li { border-bottom: 1px solid #e5e5e5; }

.gnb_menu > li > a { position: relative; display: inline-block; width: 216px; line-height: 56px; font-size: 14px; font-weight: 700; }
.gnb_menu ul.dep_02 { border-top: 1px solid #e5e5e5; padding: 8px 0; /* display: none; */ }
.gnb_menu ul.dep_02 > li > a { position: relative; display: inline-block; display: inline-block; width: 100%; height: 48px; line-height: 48px; font-size: 14px; font-weight: 400; padding-left: 12px; box-sizing: border-box; }
.gnb_menu ul.dep_03 > li > a { display: inline-block; width: 100%; height: 40px; line-height: 40px; font-size: 13px; font-weight: 300; padding-left: 18px; box-sizing: border-box; }

.gnb_menu a.active, .gnb_menu a:hover { color: #FF4F24; }

.arr_dep01 { position: absolute; top: 21px; right: 0; display: inline-block; width: 12px; height: 12px; background: url(../img/common/arr_select_medium@2x.png) 100% center no-repeat; background-size: 12px 8px;  }
.gnb_menu > li > a.open .arr_dep01 { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.arr_dep02 { position: absolute; top: 18px; right: 3px; display: inline-block; width: 6px; height: 6px; background: url(../img/common/arr_select@2x.png) center center no-repeat; background-size: 6px 4px;  }
.gnb_menu ul.dep_02 > li > a.open .arr_dep02 { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

#container { /* width: 100%; max-width: 1200px; */ position: relative; width: 1200px; left: 280px; /* margin: 0 auto; */ background-color: #fff; }
.title { width: 100%; border-bottom: 1px solid #111; padding: 40px 0 10px 0; }
.title > .title_h2 { font-size: 24px; font-weight: 700; }
.title > .location { margin-top: 8px; }
.title > .location span { font-size: 12px; font-weight: 400; color: #aaa; }
.title > .location a { font-size: 12px; font-weight: 400; color: #111; }

/* form */
.admin-forms { margin: 32px 0 70px 0; background-color: #fff; padding-bottom: 40px; border-bottom: 1px solid #e5e5e5; }
.admin-forms .form-group { width: 100%; }
.admin-forms .form-group li { display: inline-block; vertical-align: top; margin: 0 10px 24px 0; }
.admin-forms .form-group li .label_cus .form-label { font-size: 13px; font-weight: 700; margin-bottom: 10px; }
.admin-forms .form-group li .label_cus .form_noti { font-size: 11px; color: #FF4F24; font-weight: 400; margin-top: 3px; }
.custom-input { position: relative; border: 1px solid #ddd; border-radius: 3px; height: 42px; display: block; box-sizing: border-box; overflow: hidden; }
.asdf { margin-left : -15px !important; }
.custom-input input { position: relative; height: 40px; text-indent: 12px; font-size: 14px; z-index: 1; }

.custom-select { display: inline-block; position: relative; }
.custom-select select { display: none; }
.select-selected { background-color: #fff; border-radius: 3px; border: 1px solid #ddd; }

.select-selected:after { position: absolute; content: ""; display: inline-block; top: 18px; right: 16px; width: 6px; height: 4px; background: url(../img/common/arr_select@2x.png) center center no-repeat; background-size: 6px 4px; }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after { border-color: transparent transparent #111 transparent; top: 18px; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  
/* style the items (options), including the selected item: */
.select-selected { width: inherit; color: #111; font-size: 14px; line-height: 40px; padding: 0 12px; cursor: pointer; border: 1px solid #ddd; box-sizing: border-box; }
  
/* Style items (options): */
.select-items { position: absolute; z-index: 100; width: inherit; }
.select-items > div { background-color: #fff; width: inherit; color: #111; font-size: 14px; line-height: 40px; padding: 0 12px; cursor: pointer; border: 1px solid #ddd; border-top: none; box-sizing: border-box; left: 0; right: 0; z-index: 99; }
  
/* Hide the items when the select box is closed: */
.select-hide { display: none; }  
.select-items div:hover, .same-as-selected { background: #ECF5FF; color: #66B1FF; }

.prio_s { color: #FF4F24; }
.prio { border: 1px solid #FF4F24 !important; }

/* 인풋 내의 아이콘 요소 */
.input_date { background: #fff url(../img/ico/ic_date_range@2x.png) right 12px center no-repeat; background-size: 16px 16px; }


/* table */
.admin-tbs .admin-tb__util {
position: relative;
margin-bottom: 16px;
min-height: 32px;
}
.admin-tbs .admin-tb__util .num {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 13px;
  color: #aaa;
}
.admin-tbs .admin-tb__util .num strong { color: #FF4F24; }

.admin-tbs .admin-tb__util .bt {
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.admin-tbs .admin-tb__util .bt button, .admin-tbs .admin-tb__util .bt a {
  margin-left: 8px;
}

.admin-tbs table {
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.admin-tbs table thead th {
  text-align: center;
  height: 50px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  font-size: 13px;
  font-weight: 700;
  font-family: "Noto Sans";
  line-height: 50px;
}
.admin-tbs table tbody td {
  font-size: 13px;
  text-align: center;
  min-height: 10px;
  padding: 25px 0;
  border-bottom: 1px solid #e7e7e7;
}

/* paging */
.paginationjs {
margin: 40px auto 0 auto;
text-align: center;
font-size: 0;
}
.paginationjs li {
display: inline-block;
margin: 0 2px;
}
.paginationjs li.active a {
border: 1px solid #111 !important;
color: #292a4d !important;
}
.paginationjs li a:hover { border: 1px solid #111; }
.paginationjs li a {
display: block;
cursor: pointer;
width: 34px;
height: 34px;
line-height: 34px;
font-size: 14px;
color: #aaa;
border: 1px solid #cecece;
text-align: center;
}
.pageIcon_left { background: #fff url(../img/common/ic_paging_left@2x.png) center center no-repeat; background-size: 8px 12px; }
.pageIcon_right { background: #fff url(../img/common/ic_paging_right@2x.png) center center no-repeat; background-size: 8px 12px; }
.pageIcon_more { background: #fff url(../img/common/ic_paging_more@2x.png) center center no-repeat; background-size: 16px 4px; }