html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video, svg,
input, button, form, select, textarea, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul, li {
  list-style: none;
}

hr {
  display: none;
}

a, button, input[type='button'] {
  cursor: pointer;
}

i {
  font-style: normal;
}

html.hidden {
  display: block !important;
}

*:focus {
  outline: none;
}

/* COLOR VARIATION */
/* STYLE VARIATION */
/* MIXIN */
/* mixin */
.anm_r-to-l {
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: anm_r-to-l;
  -webkit-animation-fill-mode: fowards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: anm_r-to-l;
  -moz-animation-fill-mode: fowards;
  -moz-animation-direction: forward;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-name: anm_r-to-l;
  animation-fill-mode: fowards;
  animation-direction: forward;
  transition: all 0.5s;
  transition-delay: 0.5s;
}

@-webkit-keyframes anm_r-to-l {
  0% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-moz-keyframes anm_r-to-l {
  0% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-o-keyframes anm_r-to-l {
  0% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes anm_r-to-l {
  0% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.anm_l-to-r {
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: anm_l-to-r;
  -webkit-animation-fill-mode: fowards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: anm_l-to-r;
  -moz-animation-fill-mode: fowards;
  -moz-animation-direction: forward;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-name: anm_l-to-r;
  animation-fill-mode: fowards;
  animation-direction: forward;
}

/* paragraph style variation */
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-ellipsis {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.text-emphasis {
  color: #FEE700;
  font-style: normal;
}

.text-uppercase,
.customer-name {
  text-transform: uppercase;
}

/* element style variation */
.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.align-center {
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

/* POPUP */
.page-dim {
  transition: all 0.75s;
  transition-delay: 0.25s;
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  background: rgba(0, 0, 0, 0);
}

.page-dim.active {
  top: 0;
  height: 100vh;
  background: black;
}

.pop-area {
  overflow: auto;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.pop-area.active {
  display: block;
}

.pop-wrap {
  position: absolute;
  left: 50%;
  top: 200px;
  padding-bottom: 200px;
  transform: translate(-50%, 0);
}

.pop-wrap:after {
  content: '';
  display: table;
  clear: both;
}

.pop_subpage .pop-wrap {
  margin: 0 auto;
  padding-left: 354px;
  width: 1442px;
}

.pop_subpage .pop-header {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 354px;
}

.pop_subpage .side-nav a {
  transition: color 0.2s;
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 3.42857rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 24px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.pop_subpage .side-nav a:hover {
  color: white;
}

.pop_subpage .side-nav a.active {
  color: #FEE700;
}

.pop_subpage .btn_pop-close {
  background-image: url("../img/common/ico_pop-close.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  border: 2px solid #ffffff;
  background-position: 50% 50%;
  text-indent: -999em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  .pop_subpage .btn_pop-close {
    background-image: url("../img/common/ico_pop-close@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .pop_subpage .btn_pop-close {
    background-image: url("../img/common/ico_pop-close@3x.png");
  }
}

.pop_subpage .organization,
.pop_subpage .global-ip,
.pop_subpage .careers,
.pop_subpage .investors {
  display: none;
}

.pop_subpage .organization.active,
.pop_subpage .global-ip.active,
.pop_subpage .careers.active,
.pop_subpage .investors.active {
  display: block;
}

.pop_subpage .ico_count-bubble {
  right: -36px;
  width: 48px;
  height: 36px;
  border-radius: 18px;
  font-size: 24px;
}

.pop_subpage .organization .img-wrap {
  padding-right: 122px;
  text-align: right;
}

.pop_subpage .global-ip {
  padding: 0 40px;
}

.pop_subpage .global-ip .cert-list-wrap {
  text-align: center;
}

.pop_subpage .global-ip .cert-list-wrap ul {
  padding: 100px 40px 0 0;
}

.pop_subpage .global-ip .cert-list-wrap li {
  display: inline-block;
  padding: 0 4px;
}

.pop_subpage .careers .table-wrap {
  padding-right: 122px;
}

.pop_subpage .careers .careers-info {
  padding-bottom: 12px;
  text-align: right;
  font-size: 13px;
}

.pop_subpage .careers .careers-info dt, .pop_subpage .careers .careers-info dd {
  display: inline-block;
  color: #fff;
}

.pop_subpage .careers .careers-info dt:after {
  content: ":";
}

.pop_subpage .careers table {
  margin-left: auto;
}

.pop_subpage .careers table td, .pop_subpage .careers table th {
  border: 1px solid #000;
  vertical-align: middle;
}

.pop_subpage .careers table thead th {
  font-size: 1rem;
  font-weight: 800;
  color: #000;
  letter-spacing: 0em;
  height: 46px;
  background-color: #fff;
}

.pop_subpage .careers table tbody th,
.pop_subpage .careers table tbody td {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0em;
  background-color: rgba(255, 255, 255, 0.08);
  line-height: 20px;
}

.pop_subpage .careers table tbody th {
  padding: 24px 16px;
}

.pop_subpage .careers table tbody td {
  padding: 24px;
}

.pop_subpage .careers table tbody th,
.pop_subpage .careers table tbody th + td,
.pop_subpage .careers table tbody th + td + td,
.pop_subpage .careers table tbody td:first-child {
  text-align: center;
  font-weight: 800;
}

.pop_subpage .careers table tbody td:last-child {
  font-size: 13px;
}

.pop_subpage .careers table dt {
  padding-top: 30px;
}

.pop_subpage .careers table dd:before {
  content: "-";
  padding-right: 0.3em;
}

.pop_subpage .investors .investors-wrap {
  margin-left: auto;
  padding-right: 142px;
  width: 982px;
}

.pop_subpage .investors .investors-wrap:after {
  content: '';
  display: table;
  clear: both;
}

.pop_subpage .investors .investors-wrap li {
  float: left;
  margin: 0 0 40px 40px;
}

/* LAYOUT */
html {
  font-size: 14px;
}

body {
  font-family: NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  letter-spacing: 0em;
}

.air-wrap {
  position: relative;
  min-width: 1280px;
  width: 100%;
  min-height: 768px;
  height: 100vh;
  background-color: #000;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  padding: 80px 80px 0;
  height: 200px;
}

.header:after {
  content: '';
  display: table;
  clear: both;
}

.header .site-symbol {
  background-image: url("../img/common/symbol_allwin-air.png");
  background-repeat: no-repeat;
  background-size: 163px 25px;
  overflow: hidden;
  display: inline-block;
  width: 163px;
  height: 25px;
  text-indent: -999em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  .header .site-symbol {
    background-image: url("../img/common/symbol_allwin-air@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .header .site-symbol {
    background-image: url("../img/common/symbol_allwin-air@3x.png");
  }
}

.header .nav-wrap {
  float: right;
}

.header .site-nav {
  height: 36px;
  vertical-align: bottom;
}

.header .site-nav a {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 1.28571rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0em;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin: 12px 25px 0;
  line-height: 22px;
  text-decoration: none;
}

.header .site-nav a:after {
  transition: all 0.1s cubic-bezier(0.18, 0.68, 0.68, 1.21);
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
}

.header .site-nav a:hover:after {
  width: 100%;
  background-color: #fff;
}

.ico_count-bubble {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 1.07143rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0em;
  display: inline-block;
  position: absolute;
  right: -22px;
  top: -14px;
  padding: 2px 9px 0;
  min-width: 29px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  background-color: rgba(219, 16, 16, 0.8);
  border-color: #FF0000;
}

.ico_count-bubble:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

.container {
  padding: 200px 80px 291px;
  height: 100%;
}

.container .content {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 1.28571rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0em;
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.footer {
  font-size: 0.78571rem;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0em;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 80px 0;
  height: 291px;
  line-height: 1.81818em;
  color: #ffffff;
}

.footer:after {
  content: '';
  display: table;
  clear: both;
}

.footer .copyright-wrap {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: inherit/14rem;
  font-weight: inherit;
  color: inherit;
  letter-spacing: 0em;
  text-transform: uppercase;
  float: left;
  padding-top: 161px;
}

.footer .contact-wrap {
  float: right;
  width: 350px;
}

.footer .contact-wrap h3 {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 1.42857rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0em;
  margin-bottom: 0.6em;
}

.footer .contact-wrap dl:after {
  content: '';
  display: table;
  clear: both;
}

.footer .contact-wrap dl dt, .footer .contact-wrap dl dd {
  float: left;
}

.footer .contact-wrap dl dt:after {
  content: ":";
  padding: 0.3em;
}

.footer .contact-wrap dl:nth-of-type(1) ~ dl dd + dt:before {
  content: "/";
  padding: 0 0.3em;
}

.footer .contact-wrap dl:nth-of-type(2) {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(216, 216, 216, 0.33);
}

.footer .contact-wrap dl:nth-of-type(4) .sr-only + dd:before {
  content: "/";
  padding: 0 0.3em;
}

/*z-index*/
.pop-area {
  z-index: 150;
}

.page-dim {
  z-index: 100;
}

.air-wrap {
  z-index: 0;
}

/* PAGE : INDEX */
video {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  height: 100%;
  width: 177.77777778vh;
  /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw;
  /* 100 * 9 / 16 */
}

.page__index {
  background-image: url("../img/index/bg_index.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  .page__index {
    background-image: url("../img/index/bg_index@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .page__index {
    background-image: url("../img/index/bg_index@3x.png");
  }
}

[data-page-id='index'] {
  position: absolute;
  left: 0;
  top: calc(50% - 60px);
  transform: translate(0, -50%);
}

[data-page-id='index'] .head-title {
  background-image: url("../img/index/img_head-title.png");
  background-repeat: no-repeat;
  background-size: 23.35714rem 1rem;
  font-size: 1.28571rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 0em;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.88889em;
  padding: 0.16667em 1.94444em 0 0;
  width: 364px;
  height: 1.38889em;
  line-height: 1.22222em;
  text-indent: -999em;
  background-position: 0 bottom;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  [data-page-id='index'] .head-title {
    background-image: url("../img/index/img_head-title@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  [data-page-id='index'] .head-title {
    background-image: url("../img/index/img_head-title@3x.png");
  }
}

[data-page-id='index'] .head-title .ico {
  background-image: url("../img/index/ico_head-title-flag.png");
  background-repeat: no-repeat;
  background-size: 1.92857rem 1.42857rem;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  width: 27px;
  height: 20px;
  background-position: right top;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  [data-page-id='index'] .head-title .ico {
    background-image: url("../img/index/ico_head-title-flag@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  [data-page-id='index'] .head-title .ico {
    background-image: url("../img/index/ico_head-title-flag@3x.png");
  }
}

[data-page-id='index'] .head-text {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  color: transparent;
  letter-spacing: 0em;
  background-image: url("../img/index/img_head-text.png");
  background-repeat: no-repeat;
  background-size: 77.92857rem 13.85714rem;
  overflow: hidden;
  display: block;
  height: 194px;
  text-indent: -999em;
  /*text-shadow: 0 0 0 rgba(255,255,255,1);
    svg { width: 100%; }
    svg text {
      stroke: $mono10;
      fill-opacity: 0;
      text-anchor: start;
      font-size: 56px;
      font-weight: 600;
      font-family: Geogrotesque, sans-serif;
      line-height: 64px;
    }*/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  [data-page-id='index'] .head-text {
    background-image: url("../img/index/img_head-text@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  [data-page-id='index'] .head-text {
    background-image: url("../img/index/img_head-text@3x.png");
  }
}
