/*사이트 이름*/
html, body{
	max-width:100%;
}
.site-name {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ags-wrap{
	overflow: hidden;
}
.ags-wrap header {
	position: relative ;	
	z-index: 890;
	height: 500px;
	background-color: #000;
}
.ags-wrap img{	
	position: absolute;
}

.header_center{
	position: relative;
	width: 1080px;
	margin: 0 auto;
}
.header_center button{
	font-size: 24px;
	color: #fff;
    font-family: 'PretendardM';	
	letter-spacing: -0.4px;
}

/*고객센터 마이페이지*/
.cs_btn1{
	position: absolute;
	top: 50px;
	right: 180px;	
}
.cs_btn2{	
	position: absolute;
	top: 50px;
	right: 0px;
}

/*상단 텍스트*/
.page-name {
	position: absolute;	
    top: 170px;
	left: 20px;
    color: #fff;
	font-size: 22px;
    font-family: 'PretendardR';
	letter-spacing: -0.4px;
} 

.text-slider{
	position: relative;
	color: #fff;
	font-family: 'PretendardSB';
	font-size: 54px;
	top: 215px;
	left: 20px;
	overflow: hidden;
	height: 120px;
}
.text-slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	line-height: 64px;
}
.text-slide.active {
	opacity: 1;
  }
.text_blue{
	color: #47D3FF;
}	

.text-alram{
	position: relative;
	color: #fff;
	font-family: 'PretendardM';
	font-size: 24px;
	top: 255px;
	left: 20px;
	background: url("../img/common/alram_bell.png") no-repeat left / 27px 30px;
	padding-left: 40px;
	height: 32px;
	display: flex;
	align-items: center;
}



/*중간 컨텐츠*/

.center_contents{
	width: 1080px;
	margin: 0 auto;
}

.center_align{
	display: flex;
}

.center_box1{
	width: 520px;
	margin: 15px;
	border: solid 1px #eee;
	border-radius: 15px;
	padding: 25px;
	background-color: #fff;
	height: 250px;
	display: flex;
	justify-content: space-between;

	-webkit-box-shadow: 0px 2px 4px 0px #bbb;
	-moz-box-shadow: 0px 2px 4px 0px #bbb;
	box-shadow: 0px 2px 4px 0px #bbb;
}
.center_box1_left{
	position: relative;
	top: 25px;
}

.center_box1_txt1{
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.center_box1_txt1 span:nth-child(1){
	font-size: 28px;
	font-family: 'PretendardSB';
	color: #222;
}
.center_box1_txt1 span:nth-child(2){
	display: inline-block;
	background: url("../img/common/ico_header-ai.png") no-repeat center / 30px 26px;
	width: 30px;
	height: 26px;
	text-indent: -9999px;
	margin-left: 5px;
	letter-spacing: -0.4px;
}
.center_box1_txt2{
	font-family: 'PretendardM';
	color: #222;
	font-size: 18px;
	margin-top: 55px;
	line-height: 28px;
}

.center_box1_right{
	position: relative;
	background: url("../img/common/img01.jpg") no-repeat center / 200px 227px;
	width: 200px;
	height: 227px;
	top: -10px;
}
.center_box1_right_icon1{
	position: absolute;
	display: block;
	background: url("../img/common/radar.gif") no-repeat center / 20px 20px;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	top: 123px;
	left: 95px;
}
.center_box1_right_icon2{
	position: absolute;
	display: block;
	background: url("../img/common/radar.gif") no-repeat center / 20px 20px;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	top: 162px;
	left: 95px;
}
.center_box1_right_icon3{
	position: absolute;
	display: block;
	background: url("../img/common/radar.gif") no-repeat center / 20px 20px;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	top: 162px;
	left: 142px;
}
.center_box1_right_icon4{
	position: absolute;
	display: block;
	background: url("../img/common/touch.gif") no-repeat center / 150px 150px;
	width: 150px;
	height: 150px;
	text-indent: -9999px;
	top: 125px;
	left: 110px;
}

.center_box2_right{
	position: relative;
	background: url("../img/common/img02.png") no-repeat center / 212px 211px;
	width: 212px;
	height: 211px;
	top: 13px;
}
.center_box2_right_icon1{
	position: absolute;
	display: block;
	top: 110px;
	left: 80px;
	color: #fff;
	font-family: 'PretendardSB';
	font-size: 16px;
}
.center_box2_right_icon2{
	position: absolute;
	display: block;
	background: url("../img/common/40_txt.gif") no-repeat center / 108px 42px;
	width: 108px;
	height: 42px;
	text-indent: -9999px;
	top: 127px;
	left: 68px;
}

.center_box3_right{
	position: relative;
	background: url("../img/common/img03.png") no-repeat center center/ 213px 192px;
	width: 213px;
	height: 192px;
	top: 10px;
}
.center_box3_right_icon1{
	position: absolute;
	display: block;
	background: url("../img/common/food_txt.gif") no-repeat center / 140px 46px;
	width: 140px;
	height: 46px;
	text-indent: -9999px;
	top: 74px;
    left: 36px;
}
.center_box3_right_icon2{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 60px;
	bottom: 106px;
	border-radius: 30px;
	padding: 10px 15px;
	background-color: #384054;
	-webkit-box-shadow: 0px 2px 4px 0px #bbb;
	-moz-box-shadow: 0px 2px 4px 0px #bbb;
	box-shadow: 0px 2px 4px 0px #bbb;
}
.center_box3_right_icon2 button{
	color: #fff;
	font-family: 'PretendardSB';
	font-size: 22px;
	width: 100%;
    height: 100%;

	
}


.center_box4{
	margin: 15px;
	border: solid 1px #eee;
	border-radius: 15px;
	padding: 25px;
	background-color: #fff;
	width: 520px;
	height: 250px;
	display: flex;
	justify-content: space-between;
	
	-webkit-box-shadow: 0px 2px 4px 0px #bbb;
	-moz-box-shadow: 0px 2px 4px 0px #bbb;
	box-shadow: 0px 2px 4px 0px #bbb;
}

.center_box4_left{
	position: relative;
	top: 25px;
}
.center_box4_right{
	position: relative;
	top: 39px;
}

.center_box4_right_icon1{
	width: 145px;
	height: 31px;
	border-radius: 3px;
	background-color: #11366F;
	font-family: 'PretendardM';
	color: #fff;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 12px;
}

.center_box5{
	background-color: #fff;
	padding: 25px 20px;
	margin-top: 20px;
}
.center_box5_txt1{
	background: url("../img/common/icon_smile.png") no-repeat center left -3px / 40px 26px;
	color: #222;
	font-family: 'PretendardSB';
	font-size: 28px;
	padding-left: 37px;
	height: 25px;
	display: flex;
    align-items: center;
}

.center_box5_txt2{
	margin-top: 35px;
	color: #222;
	font-family: 'PretendardSB';
	font-size: 22px;
}
.center_box5_img1{
	margin-top: 20px;
	background: url("../img/common/trip_pcbg1.png") no-repeat center / 1040px 165px;
	width: 1040px;
	height: 165px
}
.center_box5_txt3{
	margin-top: 35px;
	color: #222;
	font-family: 'PretendardSB';
	font-size: 22px;
}
.center_box5_img2{
	margin-top: 20px;
	background: url("../img/common/trip_pcbg2.png") no-repeat center / 1040px 83px;
	width: 1040px;
	height: 83px
}

.center_box6{	
	padding: 25px 20px;
	background-color: #fff;
}
.center_box6_txt1{
	color: #222;
	font-family: 'PretendardSB';
	font-size: 28px;
	padding-bottom: 30px;
	border-bottom: 1px solid #999;
}
.center_box6_txt2{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 15px;
	
	border-bottom: 1px solid #eee;	

}
.center_box6_txt2 div:nth-child(1){
	font-family: 'PretendardM';
	font-size: 18px;
	letter-spacing: -0.4px;
	line-height: 17px;
	color: #222;
	width: 30%;
}
.center_box6_txt2 div:nth-child(2){
	font-family: 'PretendardR';
	font-size: 15px;
	letter-spacing: -0.4px;
	padding-bottom: 10px;
	line-height: 17px;
	text-align: left;
    width: 70%;
}
.center_box6_txt3{
	margin-top: 15px;
}
.center_box6_txt3 div:nth-child(1){	
	font-family: 'PretendardR';
	font-size: 13px;
	letter-spacing: -0.4px;
	line-height: 17px;
}
.center_box6_txt3 div:nth-child(2){
	margin-top: 5px;
	font-family: 'PretendardR';
	font-size: 13px;
	letter-spacing: -0.4px;
	padding-bottom: 10px;	
	line-height: 17px;
}



.center_box7{
	
	width: 100%;
	background-color: #F3F4F5;
	height: 80px;
	display: flex;
	align-items: center;
}
.center_box7_txt{
	padding: 0 25px;
	width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.center_box7_txt1{
	color: #222;
	font-family: 'PretendardSB';
	letter-spacing: -0.4px;
	font-size: 22px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.center_box7_txt2{
	color: #666;
	font-family: 'PretendardR';
	letter-spacing: -0.4px;
	font-size: 16px;
	margin-top: 10px;
}

@media (max-width: 321px) {
	.center_box1{
		padding: 10px;
		margin: 10px;
	}
	.center_box1_txt2{
		width: 140px;
		letter-spacing: -0.5px;
	}
	
	.center_box1_right_icon1{
		top: 78px;
	}
	.center_box1_right_icon2{
		top: 100px;
	}
	.center_box1_right_icon3{
		top: 100px;
	}
	.center_box2_right{
		background: url("../img/common/img02.png") no-repeat center 13px / 134px 133px;
	}

	.center_box3_right_icon2{
		top: 118px;
		left: 37px;
	}
	.center_box4{
		margin: 10px;
	}
	.center_box5{
		padding: 20px 15px;
	}
	.center_box6{
		padding: 20px 15px;
	}
	.center_box6_txt2{
		font-size: 11px;
	}
	.center_box5_img1{
		background: url("../img/common/trip_bg1.png") no-repeat center / 270px 96px;
		width: 270px;
		height: 96px;
	}
	.center_box5_img2{
		background: url("../img/common/trip_bg2.png") no-repeat center / 270px 79px;
		width: 270px;
		height: 79px;
	}
	.center_box7{
		padding: 20px 15px;
	}
	.center_box7_txt1{
		letter-spacing: -0.3px;
	}
	.center_box7_txt2{
		letter-spacing: -0.3px;
	}
}

@media (max-width: 281px) {
	.text-slider{
		font-size: 17.5px;
	}
	.center_box1_right_icon1{
		left: 53px;
	}
	.center_box1_right_icon2{
		left: 53px;
	}
	.center_box1_right_icon3{
		left: 84px;
	}
	.center_box1_right_icon4{
		top: 81px;
    	left: 71px;
	}
	.center_box1_txt2{
		width: 125px;
		letter-spacing: 0;
	}
	.center_box2_right{
		background: url(../img/common/img02.png) no-repeat center 27px /121px 120px;
		width: 121px;
	}
	.center_box2_right_icon1{
		top: 87px;
		left: 30px;
	}
	.center_box2_right_icon2{
		top: 101px;
    	left: 33px;
	}
	.center_box3_right {
		position: relative;
		background: url(../img/common/img03.png) no-repeat center left / 118px 104px;
		width: 118px;
		height: 104px;
		top: 20px;
	}
	.center_box3_right_icon1{
		top: 38px;
   	 	left: 13px;
	}
	.center_box3_right_icon2{
		top: 93px;
    	left: 25px;
		width: 100px;
    	height: 40px;
	}
	.center_box4{
		padding: 10px;
	}
	.center_box4_right_icon1{
		margin-right: 0px;
	}
	.center_box5_img1 {
		background: url(../img/common/trip_bg1.png) no-repeat center / 250px 89px;
		width: 250px;
		height: 89px;
	}
	.center_box5_img2 {
		background: url(../img/common/trip_bg2.png) no-repeat center / 250px 59px;
		width: 250px;
		height: 59px;
	}
	.center_box5{
		padding: 10px;
	}
	.center_box6{
		padding: 10px;
	}
	.center_box7{
		padding: 10px;
	}
	.center_box7_txt1 span{
		font-size: 11px;
	}
	.center_box7_txt1{
	}
	.center_box7_txt2{
		font-size: 12px;
	}
	
}