@charset "UTF-8";
@import "https://allwinair.com/resource/css/air.ui.min.css";
/*
.bid {
  position: relative;
  background: #aaaaaa;
  width: 2px;
  height: 100%;
  margin: 0 auto;

  &:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #aaaaaa;
  }
}

.bid .bid__handle {
  position: absolute;
  left: -4px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #f3b614;
  -ms-touch-action: none;
  touch-action: none;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.bid .bid__handle-ment {
  font-size: 14px;
  color: #f3b614;
  position: absolute;
  bottom: -5px;
  right: 20px;

  &:before {
    content: '';
    position: absolute;
    bottom: 10px;
    right: -40px;
    width: 21px;
    height: 17px;
    background: url('../../resource/img/bm/ico_flag.png') center center no-repeat;
  }
}

.bid .bid__range {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  display: block;
  border: 0;
  background-position: 0 0;
  background: #ebaa2c;

  &:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ebaa2c;
  }
}
.bid .bid__range--min {
  bottom: 0;
}

.bid .bid__range--max {
  top: 0;
}

.bid .bid__value {
  position: absolute;
  right: 16px;
  color: #000;
}

.bid .bid__value em {
  font-size: 14px;
  color: #000;
}

.bid .bid__value.bid__value-max {
  top: -15px;
}

.bid .bid__value.bid__value-min {
  bottom: -5px;
}
*/
.bid {
  position: relative;
  background: #3e3e3e;
  width: 4px;
  height: 100%;
  margin: 0 auto;
}

.bid .bid__handle {
  position: absolute;
  left: -6px;
  z-index: 2;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: #fff;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  text-align: center;
  cursor: pointer;
  outline: 0;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.bid .bid__handle-ment {
  position: absolute;
  bottom: 7px;
  left: 8px;
  display: block;
  font-size: 18px;
  width: 131px;
  height: 50px;
  text-align: center;
  background: url("../../resource/img/bm/ico_flag2.png") center center no-repeat;
  background-size: 131px 50px;
  font-weight: 500;
  line-height: 33px;
  text-indent: 0;
  font-family: 'Geogrotesque-SemiBold';
}

.bid .bid__handle-ment:before {
  content: '￦';
  font-size: 16px;
  margin-right: 3px;
  display: inline-block;
  font-weight: bold;
  line-height: 35px;
  vertical-align: top;
}

.bid .bid__range {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  display: block;
  border: 0;
  background-position: 0 0;
  background: #ebaa2c;
}

.bid .bid__range--min {
  bottom: 0;
}

.bid .bid__range--max {
  top: 0;
}

.bid .bid__value {
  position: absolute;
  right: 20px;
  color: #000;
  font-family: 'Geogrotesque-SemiBold';
  font-size: 14px;
  width: 230px;
  text-align: right;
}

.bid .bid__value em {
  color: #000;
  font-family: 'Geogrotesque-SemiBold';
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  top: 1px;
}

.bid .bid__value em:before {
  content: '￦';
  font-size: 14px;
  margin-right: 3px;
  position: relative;
  top: -1px;
}

.bid .bid__value.bid__value-max {
  top: -8px;
}

.bid .bid__value.bid__value-min {
  bottom: -3px;
  color: #000;
}

.main .bm-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0;
}

.bm-header {
  z-index: 20;
  height: 100px;
  border-bottom: 1px solid #ebebeb;
}

.bm-header .inner {
  position: relative;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

.bm-header .inner .logo {
  position: absolute;
  top: 42px;
  left: 0;
  width: 208px;
  height: 20px;
  background: url("../../resource/img/bm/logo.png") center center no-repeat;
  font-size: 0;
}

.bm-header .inner .lang {
  position: absolute;
  top: 45px;
  left: 233px;
  font-size: 0;
}

.bm-header .inner .lang li {
  display: inline-block;
  margin-right: 7px;
}

.bm-header .inner .menus {
  position: absolute;
  top: 34px;
  right: 0;
  height: 36px;
  line-height: 36px;
}

.bm-header .inner .menus .menu {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-right: 18px;
}

.bm-header .inner .menus .menu li {
  display: inline-block;
  vertical-align: top;
  padding: 0 18px;
}

.bm-header .inner .menus .menu li.m1 a {
  width: 29px;
  background: url("../../resource/img/bm/img_menu1.png") center center no-repeat;
}

.bm-header .inner .menus .menu li.m2 a {
  width: 29px;
  background: url("../../resource/img/bm/img_menu2.png") center center no-repeat;
}

.bm-header .inner .menus .menu li.m3 a {
  width: 73px;
  background: url("../../resource/img/bm/img_menu3.png") center center no-repeat;
}

.bm-header .inner .menus .menu a {
  display: block;
  height: 36px;
}

.bm-header .inner .menus .b2b {
  width: 138px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: #aaa;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  vertical-align: top;
  font-family: 'Geogrotesque-SemiBold';
}

.bm-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  border-bottom: 1px solid #ebebeb;
}

.bm-srching {
  height: 680px;
  overflow: hidden;
}

.bm-srching .inner {
  position: relative;
  width: 1200px;
  margin: 140px auto 0 auto;
}

.bm-srching .type-tabs {
  position: absolute;
  top: 0;
  left: 0;
}

.bm-srching .type-tabs li {
  margin-bottom: 5px;
}

.bm-srching .type-tabs li.ticker a {
  background: url("../../resource/img/bm/tab1_off.png") center center no-repeat;
}

.bm-srching .type-tabs li.ticker a.is-actived {
  background: url("../../resource/img/bm/tab1_on.png") center center no-repeat;
}

.bm-srching .type-tabs li.hotel a {
  background: url("../../resource/img/bm/tab2_off.png") center center no-repeat;
}

.bm-srching .type-tabs li.hotel a.is-actived {
  background: url("../../resource/img/bm/tab2_on.png") center center no-repeat;
}

.bm-srching .type-tabs a {
  display: block;
  width: 60px;
  height: 75px;
  font-size: 0;
}

.bm-srching .bm-srch-form {
  margin: 0 0 0 110px;
}

.bm-srching .srch-tabs {
  position: relative;
  font-size: 0;
}

.bm-srching .srch-tabs:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
}

.bm-srching .srch-tabs li {
  display: inline-block;
}

.bm-srching .srch-tabs a {
  font-size: 17px;
  color: #000;
  background: rgba(255, 255, 255, 0.45);
  display: block;
  width: 176px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.bm-srching .srch-tabs a.is-actived {
  position: relative;
  z-index: 2;
  background: #f1b30e;
  color: #fff;
  border-bottom: 1px solid #f1b30e;
}

.bm-srching .trip-types {
  margin: 30px 0;
}

.bm-srching .trip-types li {
  display: inline-block;
  height: 20px;
  margin-right: 30px;
}

.bm-srching .trip-types .radio {
  display: inline-block;
}

.bm-srching .trip-types .radio input {
  opacity: 0;
  position: absolute;
}

.bm-srching .trip-types .radio input + label {
  position: relative;
  padding-left: 26px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  display: block;
  height: 20px;
  line-height: 20px;
  font-weight: 400;
}

.bm-srching .trip-types .radio input + label:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: #dcd5d5;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  line-height: 20px;
  box-sizing: border-box;
}

.bm-srching .trip-types .radio input:checked + label:before {
  background: #f1b30e;
}

.bm-srching .form-box {
  position: relative;
  font-size: 0;
}

.bm-srching .form-box .tip {
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 13px;
}

.bm-srching .form-box .bm-inputs {
  position: relative;
  display: inline-block;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #e7e7e7;
  padding: 15px 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
}

.bm-srching .form-box .bm-inputs.type1 {
  width: 490px;
  height: 83px;
}

.bm-srching .form-box .bm-inputs.type2 {
  margin-left: 3px;
  width: 303px;
  height: 83px;
}

.bm-srching .form-box .bm-inputs.type3 {
  margin-left: 3px;
  width: 290px;
  height: 83px;
}

.bm-srching .form-box .bm-inputs.type4 {
  width: 550px;
  height: 83px;
}

.bm-srching .form-box .bm-inputs.type5 {
  position: absolute;
  top: 0;
  right: 0;
  width: 530px;
  height: 268px;
}

.bm-srching .form-box .bm-inputs.type5 .input-item {
  padding: 0 40px;
}

.bm-srching .form-box .bm-inputs.type5 .input-item .tit {
  margin-top: 15px;
}

.bm-srching .form-box .bm-inputs .plane {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 33px;
  height: 37px;
  margin-top: -19px;
  margin-left: -37px;
  background: url("../../resource/img/bm/ico_plane1.png") center center no-repeat;
}

.bm-srching .form-box .bm-inputs .input-item {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
  box-sizing: border-box;
}

.bm-srching .form-box .bm-inputs .input-item.city {
  width: 50%;
}

.bm-srching .form-box .bm-inputs .input-item.city .text .t2 {
  margin-left: 5px;
}

.bm-srching .form-box .bm-inputs .input-item.city2 {
  width: 50%;
}

.bm-srching .form-box .bm-inputs .input-item.city2 .text .t2 {
  margin-right: 5px;
}

.bm-srching .form-box .bm-inputs .input-item .tit {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.bm-srching .form-box .bm-inputs .input-item .text .t1 {
  font-family: 'Geogrotesque-Bold';
  font-size: 24px;
  line-height: 100%;
  display: inline-block;
  vertical-align: top;
  letter-spacing: -1.5px;
}

.bm-srching .form-box .bm-inputs .input-item .text .t2 {
  font-size: 20px;
  line-height: 120%;
  display: inline-block;
  vertical-align: top;
}

.bm-srching .form-box .bm-inputs .input-item .text .t3 {
  font-size: 22px;
  line-height: 120%;
  display: inline-block;
  vertical-align: top;
}

.bm-srching .form-box .bm-inputs .input-item .text .ico {
  font-size: 22px;
  line-height: 100%;
  display: inline-block;
  vertical-align: top;
}

.bm-srching .form-box .total-price {
  position: absolute;
  bottom: 20px;
  left: 40px;
  font-size: 38px;
  font-family: 'Geogrotesque-Bold';
}

.bm-srching .form-box .total-price:after {
  content: '원';
  font-size: 20px;
  position: relative;
  top: -2px;
}

.bm-srching .form-box .bidding_outer {
  position: absolute;
  top: 20px;
  right: 150px;
  height: 225px;
}

.bm-srching .bts {
  text-align: right;
}

.bm-srching .bt-srch {
  width: 214px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  background: #f3b614;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 3px;
}

.bm-tits {
  text-align: center;
  padding-top: 40px;
}

.bm-tits .t1 {
  font-size: 30px;
  font-family: 'Geogrotesque-Bold';
  display: block;
  margin: 0 auto 20px auto;
  width: 48px;
  padding-bottom: 5px;
}

.bm-tits .t1.yellow {
  color: #f3b614;
  border-bottom: 4px solid #f3b614;
}

.bm-tits .t1.blue {
  color: #1373e9;
  border-bottom: 4px solid #1373e9;
}

.bm-tits .t1.red {
  color: #e80732;
  border-bottom: 4px solid #e80732;
}

.bm-tits .t3 {
  margin-top: 5px;
  font-size: 15px;
}

.additional-service {
  padding-bottom: 65px;
  margin-top: 55px;
  overflow: hidden;
}

.additional-service .service-list {
  text-align: center;
  font-size: 0;
  margin-top: 55px;
}

.additional-service .service-list .air-service {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.additional-service .service-list .air-service .awa-slide__prev {
  position: absolute;
  top: 50%;
  left: -61px;
  width: 43px;
  height: 70px;
  margin-top: -35px;
  z-index: 10;
  background: url("../img/bm/arrow-prev.png") center center no-repeat;
}

.additional-service .service-list .air-service .awa-slide__next {
  position: absolute;
  top: 50%;
  right: -61px;
  width: 43px;
  height: 70px;
  margin-top: -35px;
  z-index: 10;
  background: url("../img/bm/arrow-next.png") center center no-repeat;
}

.additional-service .service-list .air-service .awa-slide__pager {
  display: none;
}

.additional-service .service-list li {
  height: 370px;
  display: inline-block;
  vertical-align: top;
}

.additional-service .service-list li a {
  display: block;
  margin-top: 20px;
  -webkit-box-shadow: 0px 15px 30px -8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 15px 30px -8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 15px 30px -8px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.additional-service .service-list li a:hover {
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.bm-prds {
  position: relative;
  background: #f1f5f5;
  height: 714px;
}

.bm-prds:before {
  content: '';
  width: 1px;
  height: 100%;
  background: #dce0e0;
  position: absolute;
  top: 0;
  left: 50%;
}

.bm-prds .inner {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.bm-prds .go {
  width: 600px;
  display: inline-block;
  vertical-align: top;
}

.bm-prds .go .fav span {
  color: #1373e9;
}

.bm-prds .go .fav span:before {
  background: url("../../resource/img/bm/ico_heart-blue.png") center center no-repeat;
}

.bm-prds .go .ea em {
  background: #1373e9;
}

.bm-prds .hot {
  width: 600px;
  display: inline-block;
  vertical-align: top;
}

.bm-prds .hot .prd-slider {
  margin-left: 30px;
}

.bm-prds .hot .fav span {
  color: #e80732;
}

.bm-prds .hot .fav span:before {
  background: url("../../resource/img/bm/ico_heart-red.png") center center no-repeat;
}

.bm-prds .hot .ea em {
  background: #e80732;
}

.bm-prds .prd-slider {
  position: relative;
  width: 570px;
  font-size: 0;
  margin-top: 24px;
}

.bm-prds .prd-slider:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -1px;
  width: 1px;
  height: 393px;
  background: #dfe5e9;
  z-index: 1;
}

.bm-prds .prd-slider .item {
  position: relative;
  display: inline-block;
  width: 285px;
  height: 408px;
  box-sizing: border-box;
}

.bm-prds .prd-slider .item .item-inner {
  margin-top: 15px;
  height: 393px;
  background: #fff;
  border: 1px solid #dfe5e9;
  border-left: 0;
  box-sizing: border-box;
}

.bm-prds .prd-slider .item .airline {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 63px;
}

.bm-prds .prd-slider .item .airline .tail {
  display: inline-block;
  width: 50px;
  height: 63px;
  margin-left: 25px;
}

.bm-prds .prd-slider .item .airline .name {
  position: absolute;
  right: 15px;
  bottom: 0;
  font-size: 18px;
  line-height: 100%;
}

.bm-prds .prd-slider .item .fav {
  font-size: 16px;
  line-height: 100%;
  margin: 74px 0 0 17px;
}

.bm-prds .prd-slider .item .fav span {
  position: relative;
  padding-left: 18px;
  line-height: 100%;
}

.bm-prds .prd-slider .item .fav span:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 12px;
  margin-top: -5px;
}

.bm-prds .prd-slider .item .info {
  margin: 20px 0 0 18px;
}

.bm-prds .prd-slider .item .info .code {
  font-size: 28px;
  font-family: 'Geogrotesque-Bold';
}

.bm-prds .prd-slider .item .info .city {
  margin-left: 8px;
  font-size: 20px;
}

.bm-prds .prd-slider .item .info li {
  line-height: 130%;
  font-size: 16px;
}

.bm-prds .prd-slider .item .ea {
  position: absolute;
  bottom: 75px;
  left: 20px;
  font-size: 18px;
  line-height: 100%;
}

.bm-prds .prd-slider .item .ea em {
  padding: 0 5px;
  color: #fff;
  margin-left: 3px;
}

.bm-prds .prd-slider .item .times {
  position: absolute;
  bottom: 5px;
  left: 23px;
  font-size: 13px;
  color: #fff;
  z-index: 1;
}

.bm-prds .prd-slider .item .times strong {
  display: block;
  font-size: 20px;
  color: #e80732;
  font-family: 'Geogrotesque-SemiBold';
}

.bm-prds .prd-slider .item .bt1 {
  width: 284px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 58px;
  line-height: 58px;
  background: #1373e9;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.bm-prds .prd-slider .item .bt2 {
  width: 284px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 58px;
  line-height: 58px;
  background: #000000;
  font-size: 18px;
  color: #fff;
  text-align: right;
  padding-right: 23px;
}

.bm-prds .prd-slider .awa-slide__controls-direction {
  display: none;
}

.bm-prds .prd-slider .awa-slide__pager {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.bm-prds .prd-slider .awa-slide__pager .awa-slide__pager-item {
  display: inline-block;
  margin-left: 1px;
}

.bm-prds .prd-slider .awa-slide__pager .awa-slide__pager-item .awa-slide__pager-link {
  display: block;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-family: 'Geogrotesque-Medium';
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.bm-prds .prd-slider .awa-slide__pager .awa-slide__pager-item .awa-slide_pager-link--active {
  border: 1px solid black;
  color: black;
}

.bm-prds .bm-prd-layer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1201px;
  height: 714px;
  margin-left: -601px;
  background: #f1f5f5;
  overflow: hidden;
  z-index: 9;
}

.bm-prds .bm-prd-layer .airline {
  height: 63px;
  margin: 70px 0 45px 25px;
}

.bm-prds .bm-prd-layer .airline .tail {
  display: inline-block;
  width: 50px;
  height: 63px;
}

.bm-prds .bm-prd-layer .airline .name {
  position: relative;
  top: -2px;
  font-size: 18px;
  margin-left: 15px;
  line-height: 100%;
}

.bm-prds .bm-prd-layer .trip-city {
  margin: 0 375px 0 17px;
}

.bm-prds .bm-prd-layer .trip-city strong {
  font-size: 34px;
  font-weight: 700;
}

.bm-prds .bm-prd-layer .trip-city strong em {
  font-family: 'Geogrotesque-SemiBold';
  font-size: 34px;
  font-weight: normal;
}

.bm-prds .bm-prd-layer .trip-city .plane {
  display: inline-block;
  width: 23px;
  height: 26px;
  background: url("../../resource/img/bm/ico_plane2.png") center center no-repeat;
  margin: 0 15px;
}

.bm-prds .bm-prd-layer .trip-date {
  margin: 0 375px 0 17px;
}

.bm-prds .bm-prd-layer .trip-date strong {
  font-weight: normal;
  font-size: 16px;
}

.bm-prds .bm-prd-layer .trip-date strong span {
  font-family: 'Geogrotesque-Medium';
}

.bm-prds .bm-prd-layer .trip-date .bar {
  font-size: 16px;
  display: inline-block;
  margin: 0 6px;
}

.bm-prds .bm-prd-layer .infos {
  position: absolute;
  top: 155px;
  right: 12px;
  font-size: 0;
}

.bm-prds .bm-prd-layer .infos dl {
  width: 107px;
  height: 103px;
  margin: 0 5px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  text-align: center;
  background: #fff;
  display: inline-block;
}

.bm-prds .bm-prd-layer .infos dl dt {
  display: block;
  font-size: 16px;
  margin: 28px 0 0 0;
}

.bm-prds .bm-prd-layer .infos dl dd {
  position: relative;
}

.bm-prds .bm-prd-layer .infos dl dd.ea {
  font-size: 22px;
  font-family: 'Geogrotesque-Bold';
}

.bm-prds .bm-prd-layer .infos dl dd.ea.red {
  color: #e80732;
}

.bm-prds .bm-prd-layer .infos dl dd.ea.blue {
  color: #1373e9;
}

.bm-prds .bm-prd-layer .infos dl dd.people {
  font-size: 22px;
  font-family: 'Geogrotesque-Bold';
  color: #1373e9;
}

.bm-prds .bm-prd-layer .infos dl dd.people:after {
  content: '명';
  font-size: 16px;
  color: #000;
  position: relative;
  top: -2px;
}

.bm-prds .bm-prd-layer .infos dl dd.time {
  font-size: 22px;
  font-family: 'Geogrotesque-Bold';
  color: #e80732;
}

.bm-prds .bm-prd-layer .infos .tip {
  font-size: 13px;
  color: #000;
  text-align: right;
  margin-top: 5px;
}

.bm-prds .bm-prd-layer .info2 {
  position: relative;
  background: #fff;
  margin: 70px 0 0 15px;
}

.bm-prds .bm-prd-layer .info2 .bids {
  position: absolute;
  top: 0;
  right: 0;
  width: 583px;
  height: 258px;
}

.bm-prds .bm-prd-layer .info2 .bids .tit {
  display: block;
  font-size: 14px;
  position: absolute;
  top: 50px;
  left: 30px;
}

.bm-prds .bm-prd-layer .info2 .bids .default-price {
  position: absolute;
  top: 45px;
  left: 30px;
  color: #888;
  font-size: 14px;
}

.bm-prds .bm-prd-layer .info2 .bids .default-price strong {
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Geogrotesque-SemiBold';
}

.bm-prds .bm-prd-layer .info2 .bids .bt-real {
  background: #1373e9;
  width: 280px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 37px;
  left: 30px;
}

.bm-prds .bm-prd-layer .info2 .bids .total-price {
  position: absolute;
  bottom: 45px;
  left: 30px;
}

.bm-prds .bm-prd-layer .info2 .bids .total-price strong {
  font-size: 38px;
  font-family: 'Geogrotesque-Bold';
}

.bm-prds .bm-prd-layer .info2 .bids .total-price strong:after {
  content: '원';
  font-size: 20px;
  position: relative;
  top: -2px;
}

.bm-prds .bm-prd-layer .info2 .bids .total-price-tit {
  display: block;
  font-size: 20px;
  font-family: 'Geogrotesque-Bold';
  color: #1373e9;
}

.bm-prds .bm-prd-layer .info2 .bids .norm {
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
  position: relative;
  top: -2px;
}

.bm-prds .bm-prd-layer .info2 .bids .bidding_outer {
  position: absolute;
  top: 20px;
  right: 150px;
  height: 220px;
}

.bm-prds .bm-prd-layer .bts {
  text-align: right;
  margin-top: 10px;
}

.bm-prds .bm-prd-layer .bts .tip {
  line-height: 58px;
  margin-right: 20px;
  font-size: 13px;
  display: inline-block;
  vertical-align: top;
}

.bm-prds .bm-prd-layer .bts .bt-tender {
  background: #f3b614;
  width: 174px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.bm-prds .bm-prd-layer .bts .bt-reservation {
  background: #1373e9;
  width: 174px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.bm-prds .bm-prd-layer .close {
  position: absolute;
  top: 62px;
  right: 20px;
  width: 42px;
  height: 42px;
  background: url("../../resource/img/bm/ico_close.png") center center no-repeat;
}

.bm-loading-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(236, 173, 51, 0.97);
  z-index: 30;
  overflow: hidden;
}

.bm-loading-layer .inner {
  width: 970px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bm-loading-layer .srch-loading {
  width: 100%;
  max-width: 1200px;
  top: 100px;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bm-loading-layer .srch-loading .tits {
  font-weight: 300;
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 80px;
  color: #fff;
  letter-spacing: -2px;
}

.bm-loading-layer .srch-loading .tits strong {
  font-weight: 700;
}

.bm-loading-layer .srch-loading .trips {
  display: inline-block;
  font-size: 0;
}

.bm-loading-layer .srch-loading .trips dl {
  display: inline-block;
  vertical-align: top;
}

.bm-loading-layer .srch-loading .trips dl:last-child {
  margin-right: 0;
}

.bm-loading-layer .srch-loading .trips dt {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -2px;
}

.bm-loading-layer .srch-loading .trips dt strong {
  font-weight: normal;
  font-family: "Geogrotesque-SemiBold";
}

.bm-loading-layer .srch-loading .trips dd {
  color: #fff;
  font-size: 16px;
}

.bm-loading-layer .srch-loading .trips .trip-plane {
  display: inline-block;
  width: 23px;
  height: 26px;
  background: url("../../resource/img/bm/ico_plane2.png") center center no-repeat;
  margin: 0 15px;
  position: relative;
  top: 16px;
}

.bm-loading-layer .srch-loading .price {
  margin: 25px 0 0 0;
}

.bm-loading-layer .srch-loading .price strong {
  position: relative;
  font-size: 38px;
  font-family: 'Geogrotesque-Bold';
}

.bm-loading-layer .srch-loading .price strong:after {
  content: '원';
  font-size: 20px;
  position: relative;
  top: -2px;
}

.bm-loading-layer .srch-loading .tips {
  font-size: 16px;
  line-height: 130%;
  margin-top: 20px;
}

.bm-loading-layer .srch-loading .gage {
  position: relative;
  display: block;
  height: 16px;
  margin-top: 20px;
}

.bm-loading-layer .srch-loading .gage .bar {
  width: 0;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  animation-name: bar-moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.bm-loading-layer .srch-loading .gage .plane {
  width: 20px;
  height: 16px;
  background: url("https://cdn.allwin.bid/air/resource/img/ico_white-plane.svg") center center no-repeat;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  animation-name: plane-moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes bar-moving {
  0% {
    width: 0;
  }
  100% {
    width: 676px;
  }
}
@keyframes plane-moving {
  0% {
    left: 0;
  }
  100% {
    left: 676px;
  }
}
.bm-results {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
  padding-bottom: 50px;
}

.bm-results .bm-result-inner {
  position: relative;
  overflow: hidden;
}

.bm-results .bm-result-inner .filters {
  width: 230px;
  float: left;
}

.bm-results .bm-result-inner .results {
  width: 970px;
  float: right;
  padding-top: 10px;
}

.bm-results .bm-result-inner .results .result-cal {
  border-radius: 3px;
  border: 1px solid #e7e7e7;
}

.bm-results .bm-result-inner .results .result-cal .row1 {
  position: relative;
  background: #f7f7f7;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
}

.bm-results .bm-result-inner .results .result-cal .row1 strong {
  color: #e80732;
  font-weight: normal;
}

.bm-results .bm-result-inner .results .result-cal .row1 strong em {
  font-family: Geogrotesque-Bold;
}

.bm-results .bm-result-inner .results .result-cal .row1 button {
  position: absolute;
  top: 0;
  right: 0;
  width: 66px;
  height: 50px;
  background: url("../../resource/img/bm/ico_cal.png") center center no-repeat;
}

.bm-results .bm-result-inner .results .result-cal .row2 {
  padding-bottom: 5px;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll {
  font-size: 0;
  overflow-x: auto;
  white-space: nowrap;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll .mCustomScrollBox {
  height: 110px;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll .mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-bottom: 0;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  margin-top: 0;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll li:last-child {
  border-right: 0;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll li.firsts {
  background: #000;
  font-size: 18px;
  color: #fff;
  font-family: 'Geogrotesque-Bold';
  width: 50px;
  height: 88px;
  line-height: 88px;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll span {
  display: block;
  font-size: 14px;
  background: #f7f7f7;
  width: 50px;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  border-bottom: 1px solid #e7e7e7;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll span.firsts {
  background: #000000;
  font-size: 18px;
  font-family: 'Geogrotesque-Bold';
  color: #fff;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll a {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-family: 'Geogrotesque-Medium';
  box-sizing: border-box;
}

.bm-results .bm-result-inner .results .result-cal .row2 .cal-scroll a.is-actived {
  color: #e80732;
  text-decoration: underline;
}

.bm-results .bm-result-inner .results .start-layer {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 40;
  width: 560px;
  height: 846px;
  background: url("../../resource/img/bm/img_start-layer1.png") center top no-repeat;
}

.bm-results .bm-result-inner .results .start-layer .start-lists-scroll {
  width: 499px;
  height: 712px;
  margin: 100px auto 0 auto;
  overflow: hidden;
  overflow-y: auto;
}

.bm-results .bm-result-inner .results .start-layer .close {
  font-size: 0;
  position: absolute;
  top: 35px;
  right: 24px;
  width: 31px;
  height: 31px;
}

.bm-results .bm-result-inner .results li {
  position: relative;
  margin-top: 20px;
}

.bm-results .bm-result-inner .results li.ad {
  background: #f1b30e;
  text-align: center;
  padding: 27px 0 27px 0;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  overflow: hidden;
}

.bm-results .bm-result-inner .results li.ad .ad-tit {
  text-align: left;
  display: block;
  padding-left: 25px;
}

.bm-results .bm-result-inner .results li.ad .vs-list {
  width: 915px;
  margin: 0 auto;
  background: url("../../resource/img/bm/vs.png") center center no-repeat;
}

.bm-results .bm-result-inner .results li.ad li {
  margin-top: 0;
  position: relative;
  display: inline-block;
}

.bm-results .bm-result-inner .results li.ad .infos {
  position: absolute;
  top: 27px;
  right: 23px;
}

.bm-results .bm-result-inner .results li.ad .infos .reward {
  position: Relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
}

.bm-results .bm-result-inner .results li.ad .infos .reward:after {
  content: '';
  width: 1px;
  height: 12px;
  background: #fff;
  position: absolute;
  top: 2px;
  right: -2px;
}

.bm-results .bm-result-inner .results li.ad .infos .reward dt {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  color: #e80732;
  font-size: 15px;
  line-height: 100%;
  margin-right: 5px;
}

.bm-results .bm-result-inner .results li.ad .infos .reward dd {
  position: Relative;
  top: -2px;
  display: inline-block;
  vertical-align: top;
  font-family: 'Geogrotesque-Bold';
  color: #e80732;
  font-size: 17px;
  line-height: 100%;
}

.bm-results .bm-result-inner .results li.ad .infos .reward dd em {
  font-family: 'Geogrotesque-Bold';
  font-size: 17px;
  color: #fff;
}

.bm-results .bm-result-inner .results li.ad .infos .times {
  display: inline-block;
  vertical-align: top;
  padding: 0 8px;
}

.bm-results .bm-result-inner .results li.ad .infos .times dt {
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  line-height: 100%;
  margin-right: 5px;
}

.bm-results .bm-result-inner .results li.ad .infos .times dd {
  position: Relative;
  top: -2px;
  display: inline-block;
  vertical-align: top;
  font-family: 'Geogrotesque-Bold';
  font-size: 17px;
  color: #fff;
  line-height: 100%;
}

.bm-results .bm-result-inner .results li .link {
  position: absolute;
  bottom: 95px;
  right: 84px;
  width: 80px;
  height: 30px;
  font-size: 0;
}

.bm-results .bm-result-inner .results li .link2 {
  position: absolute;
  bottom: 95px;
  left: 84px;
  width: 80px;
  height: 30px;
  font-size: 0;
}

.bm-results .bm-result-inner .results li .link3 {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 246px;
  height: 40px;
  font-size: 0;
}

.bm-results .bm-result-inner .results li .time {
  width: 248px;
  position: absolute;
  bottom: 53px;
  right: 0;
  font-size: 14px;
  text-align: center;
}

.bm-results .bm-result-inner .results li .time em {
  font-size: 16px;
  color: #e80732;
  font-family: 'Geogrotesque-Medium';
}

.bm-start-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  overflow: hidden;
}

.bm-start-layer .inner {
  position: absolute;
  top: 360px;
  right: 50%;
  margin-right: -350px;
  width: 560px;
  height: 840px;
  background: url("../../resource/img/bm/img_start-layer1.png") center top no-repeat;
}

.bm-direct-success {
  text-align: center;
}

.bm-direct-success .additional-service {
  padding-top: 45px;
  background: #f1f5f6;
}

.service-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 20;
  overflow: hidden;
}

.service-layer .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
}

.service-layer .outer {
  position: relative;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
}

.service-layer .service-step1 .outer {
  width: 760px;
  text-align: center;
}

.service-layer .service-step1 .seat-upgrade {
  padding: 0 0 50px 0;
}

.service-layer .service-step1 .reservation-check {
  padding-bottom: 60px;
}

.service-layer .service-step1 .reservation-list {
  width: 608px;
  margin: 20px auto 40px auto;
  position: relative;
}

.service-layer .service-step1 .bt-upgrade {
  margin: 0 auto;
  width: 320px;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: #f3b614;
}

.service-layer .service-step1 .awa-slide__prev, .service-layer .service-step1 .awa-slide__next {
  position: absolute;
  top: 5px;
  width: 36px;
  height: 36px;
}

.service-layer .service-step1 .awa-slide__prev {
  left: -36px;
  background: url("../../resource/img/bm/img_service-prev.png") center center no-repeat;
}

.service-layer .service-step1 .awa-slide__next {
  right: -36px;
  background: url("../../resource/img/bm/img_service-next.png") center center no-repeat;
}

.service-layer .service-step1 .awa-slide__pager {
  display: none;
}

.service-layer .service-step2 .outer {
  width: 500px;
  text-align: left;
}

.service-layer .service-step2 .seat-upgrade2 {
  width: 419px;
  margin: 0 auto;
  padding-bottom: 115px;
}

.service-layer .service-step2 .mov {
  width: 419px;
  height: 235px;
}

.service-layer .service-step2 .info {
  position: relative;
  height: 50px;
  line-height: 50px;
  background: #000;
  font-size: 0;
}

.service-layer .service-step2 .info:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 26px;
  margin-top: -13px;
  background: rgba(255, 255, 255, 0.2);
}

.service-layer .service-step2 .info .time {
  width: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

.service-layer .service-step2 .info .time em {
  font-weight: 700;
  color: #f95021;
}

.service-layer .service-step2 .info .seat {
  width: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

.service-layer .service-step2 .info .seat em {
  font-weight: 700;
  color: #f95021;
}

.service-layer .service-step2 .price {
  position: relative;
  border-top: 1px solid #111;
  border-bottom: 1px solid #e7e7e7;
  height: 55px;
  line-height: 55px;
}

.service-layer .service-step2 .price span {
  font-family: 'Geogrotesque-SemiBold';
  font-size: 14px;
  line-height: 55px;
  float: left;
}

.service-layer .service-step2 .price strong {
  line-height: 55px;
  font-size: 18px;
  color: #f95021;
  float: right;
  font-weight: 700;
}

.service-layer .service-step2 .bt-upgrade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: #f3b614;
}

.service-layer .service-step3 .outer {
  width: 540px;
  text-align: left;
}

.service-layer .service-step3 .seat-upgrade3 {
  width: 460px;
  margin: 0 auto;
  padding-bottom: 115px;
}

.service-layer .service-step3 .bt-upgrade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: #f3b614;
}

.service-layer .service-step3 .together-list li {
  position: relative;
  border-bottom: 1px solid #e7e7e7;
}

.service-layer .service-step3 .together-list li .name {
  padding: 19px 0;
  color: #000;
  font-size: 14px;
}

.service-layer .service-step3 .together-list li .name.me {
  padding-left: 24px;
}

.service-layer .service-step3 .together-list li .type {
  font-size: 13px;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 59px;
}

.service-layer .service-step4 .outer {
  width: 540px;
  text-align: left;
}

.service-layer .service-step4 .seat-upgrade4 {
  padding-bottom: 115px;
}

.service-layer .service-step4 .bt-upgrade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  line-height: 54px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: #f3b614;
}

.service-layer .tit {
  display: block;
  line-height: 100%;
  font-size: 26px;
  font-weight: 700;
  padding: 55px 40px 30px 40px;
}

.service-layer .close {
  position: absolute;
  top: 0;
  right: -40px;
  width: 23px;
  height: 24px;
  background: url("../../resource/img/bm/ico_close2.png") center center no-repeat;
}

.cal-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 20;
  overflow: hidden;
}

.cal-layer .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
}

.cal-layer .outer {
  position: relative;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  width: 970px;
  height: 595px;
}

.cal-layer .tit {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #111;
  line-height: 140%;
  padding: 30px 24px 18px 24px;
}

.cal-layer .tit strong {
  font-weight: 700;
  color: #e80732;
}

.cal-layer .tit strong em {
  font-weight: normal;
  font-family: Geogrotesque-Bold;
}

.cal-layer .datapicker-outer .awa-datepicker {
  position: static;
  z-index: 1;
  border: 0;
  margin-left: 0;
}

.cal-layer .datapicker-outer .awa-datepicker.single-date .month-wrapper .month-item.second {
  float: right !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper {
  width: 921px !important;
  position: relative;
  overflow: hidden;
  font-size: 0;
  margin: 0 auto !important;
  padding: 0;
  border: 0 !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper .month-item {
  position: relative;
  width: 450px !important;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  clear: initial !important;
  margin-bottom: 0;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table {
  width: 442px;
  margin: 0 auto;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .select-wrapper {
  font-size: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead th {
  min-width: 30px;
  height: 40px;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .month-name {
  width: 320px;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .prev, .cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .next {
  min-width: 30px;
  height: 40px;
  position: absolute;
  top: 0;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .prev {
  background: url("https://cdn.allwin.bid/air/resource/img/ico_prev-arrow3.png") center center no-repeat;
  left: 130px;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .next {
  background: url("https://cdn.allwin.bid/air/resource/img/ico_next-arrow3.png") center center no-repeat;
  right: 130px;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .dot {
  position: relative;
  top: 7px;
  margin: 0 2px;
  display: inline-block;
  background: #000;
  width: 3px;
  height: 3px;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .week-name th {
  font-weight: normal;
  font-size: 16px;
  color: #999;
  height: 50px;
  text-align: center;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .week-name th:first-child {
  color: #fd9a7c !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table thead .month-element {
  font-size: 20px;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody {
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td {
  height: 62px;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td:first-child .day {
  color: #fd9a7c;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .day {
  width: 63px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-family: "Geogrotesque-Regular";
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .day.invalid {
  color: #999;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .day.valid {
  color: #999 !important;
  cursor: default;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .day.choice {
  color: #000 !important;
  background: #f9ecd3;
  cursor: pointer;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .day.choice a {
  font-size: 15px;
  font-family: "Geogrotesque-Regular";
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .day.real-today:after {
  content: 'TODAY';
  line-height: 100% !important;
  font-size: 13px;
  width: 100%;
  color: #000;
  text-align: center;
  position: absolute;
  bottom: 12px;
  left: 0;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .day.holiday {
  color: #fd9a7c;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .lastMonth {
  color: #999 !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .lastMonth.checked {
  background: none !important;
  color: #999 !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .nextMonth {
  color: #999 !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .nextMonth.checked {
  background: none !important;
  color: #999 !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .first-date-selected {
  background: #f9c028 !important;
  color: #fff;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .last-date-selected {
  background: #f9c028 !important;
  color: #fff;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .checked {
  background: #f9ecd3;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .hovering {
  background: #f9ecd3 !important;
  color: #000;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .first-date-selected {
  position: relative;
  color: #fff !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .first-date-selected:after {
  content: '가는날';
  line-height: 100% !important;
  font-size: 12px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 0;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .last-date-selected {
  position: relative;
  color: #fff !important;
}

.cal-layer .datapicker-outer .awa-datepicker .month-wrapper table tbody td .last-date-selected:after {
  content: '오는날';
  line-height: 100% !important;
  font-size: 12px;
  width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 8px;
  left: 0;
}

.cal-layer .datapicker-outer .datapicker-bt {
  display: block;
  width: 300px;
  height: 60px;
  line-height: 60px;
  margin: 0 auto 0 auto;
  background: #ebaa2c;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.cal-layer .datapicker-outer .datepicker-tooltip {
  position: absolute;
  padding: 0;
  display: none;
  vertical-align: middle;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
}

.cal-layer .datapicker-outer .datepicker-tooltip:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  width: 6px;
  height: 4px;
  background: url("https://cdn.allwin.bid/air/resource/img/ico_tooltip-arrow-btm.png") center center no-repeat;
}

.cal-layer .datapicker-outer .datepicker-tooltip-inner {
  border: 1px solid #7d7d7d;
  font-size: 12px;
  color: #000;
  padding: 5px 10px;
  display: table-cell;
  vertical-align: middle;
  background: #fff;
  font-family: 'Geogrotesque-SemiBold', 'Noto Sans';
  text-align: center;
}

.cal-layer .close {
  position: absolute;
  top: 0;
  right: -40px;
  width: 23px;
  height: 24px;
  background: url("../../resource/img/bm/ico_close2.png") center center no-repeat;
}

.hotel-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 20;
  overflow: hidden;
}

.hotel-layer .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0;
  width: 900px;
}

.hotel-layer .outer {
  position: relative;
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
}

.hotel-layer .close {
  position: absolute;
  top: 0;
  right: -40px;
  width: 23px;
  height: 24px;
  background: url("../../resource/img/bm/ico_close2.png") center center no-repeat;
}

.bm-footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #efefef;
  box-sizing: border-box;
}

.bm-footer .logo {
  display: block;
  width: 88px;
  height: 19px;
  font-size: 0;
  margin: 0 auto 15px auto;
  background: url("../../resource/img/bm/logo2.png") center center no-repeat;
}

.bm-footer .txt {
  font-size: 0;
}

.bm-footer .txt span {
  position: relative;
  color: #666;
  font-size: 12px;
  display: inline-block;
  padding: 0 8px;
}

.bm-footer .txt span:first-child:before {
  display: none;
}

.bm-footer .txt span:last-child:before {
  content: '';
  width: 1px;
  height: 10px;
  background: #bababa;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -5px;
}

.bm-footer .copyright {
  margin-top: 15px;
  color: #666;
  font-size: 12px;
  font-family: 'Geogrotesque-Medium';
}

/*# sourceMappingURL=bm.ui.css.map */
