@charset "UTF-8";
input, textarea, button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.blink {
  -webkit-animation: blink 1s infinite alternate;
  -moz-animation: blink 1s infinite alternate;
  -o-animation: blink 1s infinite alternate;
  animation: blink 1s infinite alternate;
}

.blink_block {
  -webkit-animation: blink 1.5s infinite alternate;
  -moz-animation: blink 1.5s infinite alternate;
  -o-animation: blink 1.5s infinite alternate;
  animation: blink 1.5s infinite alternate;
}

.blink-custom {
  -webkit-animation: blink-custom 3s infinite alternate;
  -moz-animation: blink-custom 3s infinite alternate;
  -o-animation: blink-custom 3s infinite alternate;
  animation: blink-custom 3s infinite alternate;
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes blink-custom {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
.layer_popup .seat_num .box_blink{position: relative;}
.layer_popup .seat_num .box_blink::before {
  -webkit-animation: blink 1s infinite alternate;
  -moz-animation: blink 1s infinite alternate;
  -o-animation: blink 1s infinite alternate;
  position: absolute;
  top: -4px;
  left: -4px;
  content: "";
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #FF6600;
  animation: blink 1s infinite alternate;
}
.layer_popup .seat_num.tw_A333 .box_blink::before {
  -webkit-animation: blink 1s infinite alternate;
  -moz-animation: blink 1s infinite alternate;
  -o-animation: blink 1s infinite alternate;
  position: absolute;
  top: -3px;
  left: -3px;
  content: "";
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid #FF6600;
  animation: blink 1s infinite alternate;
}

.layer_popup .seat_num.tw_A332 .box_blink::before {
  -webkit-animation: blink 1s infinite alternate;
  -moz-animation: blink 1s infinite alternate;
  -o-animation: blink 1s infinite alternate;
  position: absolute;
  top: -4px;
  left: -3px;
  content: "";
  width: 29px;
  height: 31px;
  background: transparent;
  border: 2px solid #FF6600;
  animation: blink 1s infinite alternate;
}

.layer_popup .seat_num.yp_HL838 .box_blink::before {
  -webkit-animation: blink 1s infinite alternate;
  -moz-animation: blink 1s infinite alternate;
  -o-animation: blink 1s infinite alternate;
  position: absolute;
  top: -3px;
  left: -3px;
  content: "";
  width: 26px;
  height: 26px;
  background: transparent;
  border: 2px solid #FF6600;
  animation: blink 1s infinite alternate;
}

.layer_popup .seat_num.sc_343 .box_blink::before {
  -webkit-animation: blink 1s infinite alternate;
  -moz-animation: blink 1s infinite alternate;
  -o-animation: blink 1s infinite alternate;
  position: absolute;
  top: -3px;
  left: -3px;
  content: "";
  width: 24px;
  height: 24px;
  background: transparent;
  border: 2px solid #FF6600;
  animation: blink 1s infinite alternate;
}

.layer_popup .seat_num li.jipjub .box_blink{
  position: relative;
  display: inline-block;
}

.layer_popup .seat_num li.jipjub .box_blink::before {
  -webkit-animation: blink 1s infinite alternate;
  -moz-animation: blink 1s infinite alternate;
  -o-animation: blink 1s infinite alternate;
  position: absolute;
  top: 6px;
  left: -4px;
  content: "";
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #FF6600;
}