/* layout */
html { font-size: #{$font-root-size}px; }
body {
  font-family: $font-common-family;
  @include font($size: $font-root-size, $color: $mono1, $weight: 400);
}
.ags-wrap {
  overflow: hidden;
  position: relative;
  min-width: rem($content-width + $grid * 4); width: 100%;
  .fit-layout & { min-height: inherit; }
}
.content-wrap { @include content-wrap }
.site-name { @include sr-only }
.ags-header {
  overflow: hidden;
  position: relative;
  height: rem($gnb-height);
  border-bottom: 1px solid $mono8;
  .symbol-wrap {
    float: left;
    height: 100%;
    dl { float: left; }
    dt { @include sr-only }
    dd { display: inline-block; }
    .symbol_agency + dd {
      height: rem($gnb-height);
    }
    .symbol_airline ~ .symbol_agency + dd {
      padding-left: rem(58);
      @include background($file: 'common/header-logo_by', $type: jpg, $width: rem(18), $height: rem($gnb-height));
      background-position: rem(20);
    }
    .ico_tag {
      $font-size: 12;
      @include font($size: $font-size, $color: $mono1, $weight: 600);
      float: left;
      margin: rem(28) 0 0 rem($grid * 2); padding: 0 em(12, $font-size); height: em(24, $font-size);
      line-height: em(24, $font-size);
      background-color: $bg_submit;
    }
  }
  .gnb-wrap {
    @include clearfix;
    float: right;
    height: 100%;
  }
  .gnb {
    margin: 0 rem(-12);
    li {
      float: left;
      padding: rem(25) rem($grid) 0;
      &:last-of-type { float: right; }
      a {
        @include font($size: $font-root-size, $color: $mono1, $weight: 600);
        overflow: hidden;
        display: inline-block;
        padding: rem($grid) rem($grid / 2);
        vertical-align: middle; text-decoration: none;
      }
      &.active a { color: $text-primary }
    }
  }
}
.ags-container {
  $pd-top: 80;
  $pd-bottom: 140;
  position: relative;
  padding: rem($pd-top) 0 rem($pd-bottom);
  .fit-layout & {
    margin: rem(-$gnb-height) 0 rem(-$footer-height);
    padding: rem($gnb-height + $pd-top) 0 rem($footer-height + $pd-bottom); min-height: inherit;
  }
}
.notification-title {
  @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
  position: relative;
  padding: rem(3) 0 rem(4) rem(22);
  .ico {
    @include background($file: 'common/ico_notice', $type: png, $width: rem(16), $height: rem(16));
    position: absolute; left: 0; top: 0;
    display: inline-block;
    width: rem(16); height: rem(16);
  }
}
.notification-list {
  $font-size: 12;
  $line-height: 16;
  @include font($size: $font-size, $color: $mono1, $weight: 300, $spacing: -0.03);
  position: relative;
  padding-bottom: rem(20);
  li {
    position: relative;
    margin-top: rem(6);
    line-height: rem($line-height);
  }
  & > li {
    padding-left: rem(9);
    &:before {
      $blt-size: 2;
      content: "";
      display: inline-block;
      position: absolute; left: 0; top: rem(($line-height / 2) - $blt-size);
      width: rem($blt-size); height: rem($blt-size);
      background-color: $mono1; border-radius: 50%;
    }
  }
  & > li > ul > li {
    position: relative;
    padding-left: rem($grid);
    &:before { content: "-"; position: absolute; top: 0; left: 0; }
  }
}
.content-wrap + .content-wrap {
  border-top: 1px solid $mono8
}
/*Process Button Style*/
.process-btn-wrap {
  margin: 0 rem(-$grid); padding-top: rem(40);
  text-align: center;
  & > a,
  & > button {
    display: inline-block;
    &:not(:last-child) {
      @include form($size: 5, $role: normal, $type: button);
    }
    &:last-child {
      @include form($size: 5, $role: submit, $type: button);
    }
    &[disabled='disabled'] {
      @include form($size: 5, $role: disabled, $type: button);
    }
    &:not(:last-child), &:last-child { margin: 0 rem(4); min-width: rem(240); width: auto; }
  }
}
/*약관동의*/
[data-page-id^='anc_'] .agreement-wrap,
[data-page-id^='my'] .agreement-wrap {
  @include agreement-wrap;
  .agreement-title { @include font($size: 18, $color: $mono1, $weight: 800); }
  input[type='checkbox'] { @include form($size: 3, $role: normal, $type: checkbox); }
  input[type='radio'] { @include form($size: 3, $role: normal, $type: radio); }
  input[type='checkbox'] + label {
    @include font($size: 13, $color: $mono1, $weight: 600);
  }
  tbody th,
  tbody td {
    text-align: center;
    .notification-list,
    .notification-text { text-align: left; }
    .notification-list li { margin-top: rem(2) }
  }
}
/*페이지네이션*/
.pagination {
  $font-size: 14;
  $btn-size: 36;
  padding-top: rem(50);
  text-align: center;
  a {
    @include font($family: en, $size: $font-size, $color: $mono4, $weight: 300);
    display: inline-block;
    padding: em($grid, $font-size); min-width: em($btn-size, $font-size); height: em($btn-size, $font-size);
    border: 1px solid #cecece; line-height: em(20, $font-size);
    text-decoration: none; text-align: center; vertical-align: top;
    &.active { border-color: #111; color: #111; font-weight: 500; }
    &[class^='btn_'] {
      overflow: hidden;
      width: em($btn-size, $font-size);
      text-indent: -999em;
      background-position: center center;
    }
    &.btn_first { @include background($file: 'common/ico_pag-first', $type: 'png', $width: rem($btn-size), $height: rem($btn-size)); }
    &.btn_prev { @include background($file: 'common/ico_pag-prev', $type: 'png', $width: rem($btn-size), $height: rem($btn-size)); }
    &.btn_next { @include background($file: 'common/ico_pag-next', $type: 'png', $width: rem($btn-size), $height: rem($btn-size)); }
    &.btn_last { @include background($file: 'common/ico_pag-last', $type: 'png', $width: rem($btn-size), $height: rem($btn-size)); }
  }
}
/*여권번호 등록 & 이메일 SMS 주문서 받기*/
.passport-wrap, .dfs-email-wrap {
  .passport-list, .dfs-info-list {
    @include clearfix;
    border-top: 1px solid $mono1;
    dt, dd { float: left; padding: rem($grid) 0; height: rem(53); line-height: rem(36); border-bottom: 1px solid $mono8 }
    dt { padding-right: rem(30); width: rem(100); font-weight: 600; }
    dd { padding-right: rem($grid * 2); width: calc(100% - 100px) }
    .passport-num { @include font($family: en, $size: 14, $color: $mono1, $weight: 500); text-transform: uppercase; }
    label { display: inline-block; padding: rem(11) 0; line-height: rem(14); }
    dd input[type='text'] {
      @include form($size: 2, $role: normal, $type: text);
      @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
      width: 100%; height: 100%;
    }
    dd select {
      @include form($size: 2, $role: normal, $type: select);
      @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
      width: calc(100% - 10px); height: 100%;
      border: 0;
    }
  }
  .passport-list dt { width: rem(140); }
  .passport-list dd { width: calc(100% - 140px) }
  .notification-wrap { padding: rem(6) 0 0 0; }
  .notification-list {
    $font-size: 11; font-size: rem($font-size); line-height: em(14, $font-size); word-break: keep-all;
  }
}

.ags-footer {
  @include font($size: 11, $color: $mono10, $weight: 400);
  padding-top: rem(31); height: rem($footer-height);
  background-color: $mono1;
  .content-wrap { position: relative; }
  .symbol_allwin {
    @include background($file: 'common/footer-logo_allwinair', $type: 'png', $width: rem(136), $height: rem(20));
    overflow: hidden;
    margin-bottom: rem(25); width: rem(136); height: rem(20);
    text-indent: -999em;
  }
  .fnb {
    position: absolute; top: 0; right: rem($grid * 2);
    ul { @include clearfix; }
    li {
      float: left;
      & + li {
        @include divide-line($direction: left, $el: before, $color: rgba(204,204,204,0.2), $size: 12, $mg: 10);
        position: relative;
      }
    }
    a { color: inherit; text-decoration: none; }
  }
  .service-info {
    margin-bottom: rem(9);
  }
  .company-info {
    @include clearfix;
    margin-bottom: rem($grid * 2);
    & > * { float: left; }
    .address, .company-name { @include sr-only }
    dd:not(:last-of-type) { @include divide-line($direction: right, $el: after, $color: rgba(204,204,204,0.2), $size: 12, $mg: 10); }
    dt:not(.address):not(.company-name) + dd:before { content: ":"; padding: 0 rem(3) }
  }
  .copyright { text-transform: uppercase }
  @media only screen and (min-width: 1440px) {
    & { margin: 0 rem($grid * 2); }
  }
}

/* z-index */
.ags-header { z-index: 500 }
.ags-footer { z-index: 100 }
.ags-wrap {
  z-index: 0;
  &.gnb-active {
    .ags-header { z-index: 1500 }
    .ags-summary,
    .ags-footer { z-index: 500 }
  }
}
[data-grid-type='board']{
  .tr-anchor { cursor: pointer }
  .result-empty:hover td { }
}
[data-accordion="true"]{
  .ico_more {
    position: relative;
    display: inline-block;
    width: rem(25); height: rem(25);
    &:after {
      content: "";
      transition: all 0.3s;
      position: absolute; left: 50%; top: 50%;
      display: inline-block;
      width: rem(9); height: rem(9);
      border: solid $mono1; border-width: 0 2px 2px 0;
      transform-origin: left top;
      transform: rotate(-135deg) translate(-6.5px, -6.5px)
    }
  }
  tbody th, tbody td { padding-top: rem($grid * 4); padding-bottom: rem($grid * 4); }
  tbody tr.accordion-content th,
  tbody tr.accordion-content td {
    padding: 0 !important; height: 0 !important;
    font-size: 0; line-height: 0;
    border-bottom-width: 0 !important;
    background-color: #f9f9f9;
    font-weight: 300 !important; text-align: left !important;
  }
  tbody tr.active {
    .ico_more:after {
      transform: rotate(45deg) translate(-50%, -50%)
    }
    & + tr.accordion-content th,
    & + tr.accordion-content td { padding: rem($grid * 4) !important; height: auto !important; border-bottom-width: 1px !important; font-size: inherit; line-height: 1.6em }
    a { font-weight: 800; text-decoration: underline }
  }
}