/* 부가서비스 신청 > 팝업 */

/* 부가서비스 영역 컨텐츠 로딩 팝업 */
.anc-service .pop-area { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.anc-service .pop-area.active { z-index: 1; }
.anc-service .pop-area[data-dim-clear='true'] .page-dim { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
.anc-service .page-loading {
  @include align-center;
  top: calc(50% - 34px);
  text-align: center;
  background-color: $mono10;
  border: 1px solid $mono8;
}
.anc-service .page-loading .loading-message {
  @include box-shadow(0 8px 16px rgba(0,0,0,0.5));
  margin-top: rem(82); padding: rem($grid * 2); min-width: rem(280);
  border: 1px solid $mono1;
  background-color: rgba(255,255,255,0.9); font-weight: 600; color: $mono1;
}

/* 라운지 위치 안내 팝업 */
[data-pop-id='pop_lounge-location_7c'] {
  padding: rem($grid * 3) rem($grid * 4) rem($grid * 5); width: rem(680);
  text-align: center;
  img { max-width: 100%; height: auto !important; }
}

[data-pop-id='pop_bundle-summary'] {
  .summary-approach {
    $font-size: 20;
    @include font($size: 20, $color: $mono1, $weight: 400);
    margin-bottom: rem(10); padding-left: rem($grid); padding-right: rem($grid);
    line-height: em(28, $font-size);
  }
  .summary-description {
    $font-size: 11;
    @include font($size: $font-size, $color: $text-primary, $weight: 400);
    margin-bottom: rem($grid * 5); padding-left: rem($grid); padding-right: rem($grid);
    line-height: em(16, $font-size);
  }
  .tabs_route {
    @include tab(style1 nowrap);
    margin-bottom: rem($grid * 2); padding-left: rem($grid); padding-right: rem($grid);
    [role='tab'] {
      transition: background-color,border,color $trs-duration;
    }
  }
  .tab-panel { margin: 0 rem(-$grid * 2); padding: 0 rem($grid * 2); width: auto; }
  .bundle-wrap { margin: 0 rem(-$grid) }
  .bundle-info {
    display: table;
    border-collapse: separate; border-spacing: rem($grid * 2);
    white-space: nowrap;
  }
  [class^='bundle-type'] {
    overflow: hidden;
    display: table-cell;
    min-width: rem(250); max-width: rem(250);
    border-radius: $border-common-radius;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    .inner-wrap { overflow-y: auto; overflow-x: hidden; }
    .bundle-name + dd { $font-size: 14; display: inline-block; padding: em(5, $font-size) 0; line-height: em(11, $font-size); color: $mono10 }
    .bundle-sale + dd {
      $font-size: 11;
      @include font($size: $font-size, $color: $mono10, $weight: 600, $spacing: -0.03);
      float: left;
      margin-right: rem($grid); padding: em(5, $font-size) em(5, $font-size); line-height: em(11, $font-size);
      border-radius: rem(1);
      &:after { content: " SALE" }
    }
    .bundle-price + dd {
      $font-size: 11;
      @include font($size: $font-size, $color: $mono10, $weight: 800, $spacing: -0.03);
      @include price-unit(krw);
      float: right;
      padding: em(5, $font-size) 0; line-height: em(11, $font-size);
    }
    @at-root [data-pop-id='pop_bundle-summary'] .bundle-inter1 .bundle-type1 {
      .info-title { background-color: $bg_bundle-type1 }
      .bundle-sale + dd { background-color: #524940 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root [data-pop-id='pop_bundle-summary'] .bundle-inter1 .bundle-type2 {
      .info-title { background-color: $bg_bundle-type2 }
      .bundle-sale + dd { background-color: #587729 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root [data-pop-id='pop_bundle-summary'] .bundle-inter1 .bundle-type3 {
      .info-title { background-color: $bg_bundle-type3 }
      .bundle-sale + dd { background-color: #9D1713 }
      .info-detail dt { color: $mono1 }
      .info-detail dd { color: $text-primary; font-weight: 600; }
    }
    @at-root [data-pop-id='pop_bundle-summary'] .bundle-inter2 .bundle-type1 {
      .info-title { background-color: $bg_bundle-type1 }
      .bundle-sale + dd { background-color: #524940 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root [data-pop-id='pop_bundle-summary'] .bundle-inter2 .bundle-type2 {
      .info-title { background-color: $bg_bundle-type2 }
      .bundle-sale + dd { background-color: #587729 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3),
      .info-detail dt:nth-of-type(4) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd,
      .info-detail dt:nth-of-type(4) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root [data-pop-id='pop_bundle-summary'] .bundle-dom1 .bundle-type1 {
      .info-title { background-color: $bg_bundle-type1 }
      .bundle-sale + dd { background-color: #524940 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root [data-pop-id='pop_bundle-summary'] .bundle-dom1 .bundle-type2 {
      .info-title { background-color: $bg_bundle-type2 }
      .bundle-sale + dd { background-color: #587729 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3),
      .info-detail dt:nth-of-type(4) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd,
      .info-detail dt:nth-of-type(4) + dd { color: $text-primary; font-weight: 600; }
    }
  }
  .info-title {
    @include clearfix;
    overflow: hidden;
    position: relative;
    padding: rem(13) rem($grid * 2); height: rem(46);
    dt { @include sr-only }
    dd { font-weight: 600; }
  }
  .info-detail {
    @include clearfix;
    $font-size: 12;
    @include font($size: $font-size, $color: $mono4, $weight: 600, $spacing: -0.03);
    padding: rem($grid * 2) 0;
    background-color: $mono10;
    dt, dd {
      float: left; padding: 0 rem($grid * 2);
      line-height: em(22, $font-size);
    }
    dt { padding: 0 0 0 rem($grid * 2); width: rem(94); }
    dd { padding: 0 rem($grid * 2) 0 rem($grid); width: calc(100% - 94px); text-align: right; font-weight: 400; }
    &:after { padding: 0 !important; height: 0 !important; border-spacing: 0; }
  }
  .passenger-wrap {
    padding: rem($grid * 4) rem($grid * 2) rem(27);
    .bundle-select-title {
      @include font($size: 16, $color: $mono1, $weight: 800);
      margin: 0 rem(-$grid) rem($grid * 4); padding-bottom: rem(12);
      border-bottom: 1px solid $mono1
    }
    dl { position: relative; }
    dt { @include sr-only }
    .passenger-name + dd {
      @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
      @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
      @include text-uppercase;
      margin: 0 0 rem(12); padding-left: rem(20);
    }
    .bundle-price + dd {
      @include font($size: 13, $color: $text-primary, $weight: 600, $spacing: 0);
      @include price-unit(krw);
      position: absolute; right: 0; top: 0;
    }
    .bundle-way { @include font($size: 13, $color: $mono1, $weight: 800); float: left; margin: rem(5) rem($grid / 2); padding-right: rem(12); height: rem(42); @include valign-middle; }
    .selected-bundle + dd,
    .selected-bundle + dd + dd {
      @include clearfix;
      margin: 0 rem(-$grid / 2);
      input[type='radio'] { @include sr-only }
      input[type='radio'] + .btn_select-bundle {
        @include form($size: 3, $role: normal, $type: button);
        float: left;
        margin: rem(5) rem($grid / 2); width: rem(100);
        color: $mono4; border-color: #ddd;
        transition: all $trs-duration;
      }
      input[type='radio']:checked + .btn_select-bundle.bundle-type0 {
        border-color: $mono1; background-color: $mono10; color: $mono1;
      }
      input[type='radio']:checked + .btn_select-bundle.bundle-type1 {
        border-color: $bg_bundle-type1; background-color: $bg_bundle-type1; color: $mono10;
      }
      input[type='radio']:checked + .btn_select-bundle.bundle-type2 {
        border-color: $bg_bundle-type2; background-color: $bg_bundle-type2; color: $mono10;
      }
      input[type='radio']:checked + .btn_select-bundle.bundle-type3 {
        border-color: $bg_bundle-type3; background-color: $bg_bundle-type3; color: $mono10;
      }
    }
    .selected-bundle + dd { margin-top: rem(-5) }
    .passenger-list {
      margin: 0 rem(-$grid)
    }
    .passenger-list > li + li { padding-top: rem($grid * 4 - 5) }
  }
  .process-btn-wrap {
    @include flex(flex-start stretch flex-start nowrap);
    margin: 0 rem(-3); padding: rem($grid * 2) rem($grid * 2) 0;
    background-color: $mono10;
    [class^='btn_'] { margin: 0 rem(3) !important; }
    .btn_select {
      @include form($type: button, $size: 4, $role: submit);
      flex: 1 auto;
    }
  }
}

.anc_car-dpicker {
  .awa-datepicker {
    margin-left: rem(-33);
    &:before {
      @include transform(rotate(-45deg) translate(20px, 20px));
      content: "";
      position: absolute; left: rem(167); top: -1px;
      display: block;
      width: rem(12); height: rem(12);
      border: solid $mono1; border-width: 1px 1px 0 0;
      transform-origin: left top;
      background-color: $mono10;
    }
  }
  .awa-datepicker.two-months .month-wrapper {
    table tbody td .first-date-selected:after { content: '대여' }
    table tbody td .last-date-selected:after { content: '반납' }
    .time-wrapper { @include sr-only }
  }
  .inner-wrap {
    @include clearfix;
    padding: 0 rem(12);
    .timepicker-wrap, .notification-wrap { float: left; padding: 0 rem(12); width: rem(466); }
    .fake-timepicker {
      @include clearfix;
      margin: 0 rem(-$grid); padding-bottom: rem($grid * 4); width: 100%;
      .timepicker { float: left; padding: 0 rem($grid); }
      .date-check { @include font($size: 10, $color: $mono1, $weight: 800, $spacing: -0.03); padding-bottom: rem($grid); }
      .date { color: $text-primary; }
      @include selectric-select-wrap($selectric-size: 3);
      .selectric { width: rem(164); }
      .selectric .label,
      .selectric-items li { letter-spacing: 0; }
      .selectric-items li { font-size: rem(13); }
    }
    .btn-wrap {
      .apply-btn { @include form($size: 4, $role: submit, $type: button); width: rem(343); }
    }
  }
}
/*부가서비스 신청 > 렌터카*/
[data-pop-id='pop_rentacar-info']{
  @include pop_scroll-full;
  width: rem(460);
  @include selectric-select-wrap($selectric-size: 3);
  .select_company {
    padding-bottom: rem($grid * 3);
  }
  .select_company label {
    $font-size: 10;
    @include font($size: $font-size, $color: $mono1, $weight: 600);
    display: block;
    padding-bottom: em($grid, $font-size)
  }
  .car-info-wrap { position: relative; }
  .car-info {
    $thumbnail-width: 140;
    position: relative;
    margin-bottom: rem($grid * 2); padding: rem($grid * 3) 0 0 rem($thumbnail-width + $grid * 3);
    dt { @include sr-only; }
    .car-name + dd {
      $font-size: 14;
      @include font($size: $font-size, $color: $mono1, $weight: 600);
      padding-bottom: rem($grid * 2);
      line-height: em(19, $font-size)
    }
    .car-price + dd {
      @include font($size: 13, $color: $text-primary, $weight: 400);
      @include price-unit(krw);
      padding-bottom: rem(4);
      letter-spacing: 0;
    }
    .car-description + dd {
      $font-size: 12;
      @include font($size: $font-size, $color: $mono3, $weight: 400);
      padding-bottom: rem(28); width: rem(134);
      line-height: em(16, $font-size)
    }
    .car-tag + dd {
      position: absolute; left: rem($thumbnail-width + $grid * 3); top: 0;
      .ico_tag { float: left; margin-right: 1px; min-width: rem($grid * 4); background-color: $bg-secondary; }
    }
    .car-thumbnail + dd {
      position: absolute; left: 0; top: rem(28);
      width: rem($thumbnail-width); min-height: rem(78);
      img { @include valign-center; max-width: 100%; }
    }
  }
  .btn_car-resv {
    @include form($size: 3, $role: submit, $type: button);
    position: absolute; right: 0; bottom: 0;
    width: rem(90);
  }
  .car-info-detail { padding-bottom: rem($grid * 5); border-top: 1px solid $mono8 }
  .car-info-title { @include font($size: 12, $color: $text-primary, $weight: 800); padding: rem($grid * 5) 0 rem(10); }
  .table-wrap { border-top: 1px solid $mono1 }
  table { width: 100%; }
  table th, td { padding: rem(13) 0; height: rem(42); font-size: rem(11); letter-spacing: -0.03em; line-height: rem(16); border-bottom: 1px solid $mono8; }
  table th { padding-right: rem($grid * 2); font-weight: 800; text-align: left; }
}

/*부가서비스 신청 > 신용카드 결제 정보*/
[data-pop-id="pop_payment_credit-card"]{
  @include pop_scroll-full;
  width: rem(580);
  .selectric-select-wrap {
    @include selectric-select-wrap($selectric-size: 3);
    .selectric-wrapper { height: rem(42); }
    .selectric { font-weight: 400; }
  }
  .inner-wrap { @include clearfix; margin: 0 rem(-10) }
  .input-group, .input-wrap, .select-wrap, .selectric-select-wrap, .btn-wrap {
    position: relative;
    float: left;
    padding: 0 rem(10) rem($grid * 4);
    .notification-text {
      $font-size: 11;
      @include font($size: $font-size, $color: $mono3, $weight: 600);
      position: absolute; right: rem(10); top: 0;
      text-align: right; line-height: em(16, $font-size);
    }
  }
  .input-group .select-wrap,
  .input-group .input-wrap,
  .input-group .btn-wrap,
  .input-group .selectric-select-wrap {
    padding: 0;
    &:not(:last-child) { padding: 0 rem($grid) 0 0 }
  }
  .select_owner-type1, .select_owner-type2,
  .select_card-company, .select_pay-plan, .pay-plan-group,
  .input_owner-name, .owner-info-group, .card-pw-group { width: 50% }
  .btn-wrap, .card-num-group,  { width: 100%; }
  .input-wrap input[type='text'],
  .input-wrap input[type='password'] {
    @include form($size: 3, $role: normal, $type: textbox);
    font-size: rem(14); font-weight: 400;
  }
  .input-wrap input[type='password'] {
    padding: 0;
    letter-spacing: em(1.6, 18);
    &::-webkit-input-placeholder {
      font-size: rem(14); line-height:normal;
    }
    &::-moz-placeholder {
      font-size: rem(14); line-height:normal;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      font-size: rem(14); line-height:normal;
    }
  }
  .form-title {
    $font-size: 13;
    @include font($size: $font-size, $color: $mono1, $weight: 800);
    display: block;
    padding-bottom: em(12, $font-size);
    line-height: em(16, $font-size);
  }
  .select_pay-plan + .btn-wrap { margin-top: rem(-20) }
  .btn_payment-plan { @include font($size: 11, $color: $text-primary, $weight: 400); }
  .input_card-num input {
    width: rem(80) !important;
    text-align: center; letter-spacing: em(1.6,  18) !important;
  }
  .pay-plan-group .select_pay-plan { width: 50%; }
  .input_card-pw input[type='password'] {
    width: rem(80) !important;
    text-align: center;
    &[disabled] {
      padding: 0;
      text-align: left; border-color: transparent;
    }
  }
  .input_owner-birthday input { letter-spacing: em(-0.18,  14) !important; }
  .owner-info-group input { width: rem(150) !important }
  .select_owner-gender .selectric { width: rem(98) !important }
  .owner-info-group:before { content: ""; display: table; clear: both; }
  .select_pay-plan .selectric-items { height: 170px }
  .select_owner-gender .selectric-items { top: auto; bottom: 100%; }
}