/* 부가서비스 신청 */
[data-page-id='anc_main'] {
  &.ags-container { padding-top: rem($anc_lnb-height + 80); }
  .anc-lnb-wrap {
    position: absolute; left: 0; top: 0; right: 0;
    width: 100%; height: rem($anc_lnb-height);
    border-bottom: 1px solid $mono8;
    background-color: $mono9;
    .content-wrap { @include clearfix; @include content-wrap; height: 100%; }
    .page-name { float: left; padding-top: rem(23); font-weight: 800; }
    .lnb { @include clearfix; float: right; margin: 0 rem(-20); height: 100%; }
    li {
      height: 100%;
      float: left;
      padding: rem(15) rem($grid * 2) 0;
      a {
        @include font($size: $font-root-size, $color: $mono1, $weight: 600);
        display: block; width: 100%; height: 100%;
        padding: rem($grid) rem($grid / 2);
        text-decoration: none;
      }
      &.active a { color: $mono1; }
    }
    &.ui-fixed, &.ui-fixed---bottom {
      position: fixed;
      li a { color: $mono4; }
      li.active a { color: $mono1; }
    }
  }
  & > .content-wrap {
    $anc-select-area-width: 300;
    position: relative; padding-right: rem($anc-select-area-width + ($grid * 4));
    &:before { content: ""; position: absolute; right: rem($anc-select-area-width); top: 0; bottom: 0; width: 1px; background-color: $mono8; }
  }
  .ticket-info {
    @include ticket-info;
    margin: 0 0 rem(-20);
  }
  .anc-service-wrap {
    padding-top: rem(100);
    .anc-header {
      $ico-size: 52;
      position: relative;
      padding: rem(4) 0 rem(24) rem(64); min-height: rem(52);
      .service-symbol {
        position: absolute; left: 0; top: 0;
        display: inline-block;
        width: rem($ico-size); height: rem($ico-size);
        background-color: $mono9; border: 1px solid $mono8; border-radius: 50%;
        &:before { content: ""; display: block; background-position: center center; }
      }
      @at-root .anc_seat .service-symbol:before { @include background($file: 'anc/service-symbol_seat', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
      @at-root .anc_baggage .service-symbol:before { @include background($file: 'anc/service-symbol_baggage', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
      @at-root .anc_meal .service-symbol:before { @include background($file: 'anc/service-symbol_meal', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
      @at-root .anc_lounge .service-symbol:before { @include background($file: 'anc/service-symbol_lounge', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
    }
    .service-title { $font-size: 18; @include font($size: $font-size, $color: $mono1, $weight: 800); margin-bottom: em(10, $font-size) }
    .service-description {
      @include font($size: 12, $color: $mono1, $weight: 300);
    }

    /* 좌측 승객선택 / 우측 부가서비스 선택 유형 */
    $right-tp-size: 424;
    .anc-service {
      @include tab(style1);
      overflow: hidden;
      position: relative;
      padding: 0; max-height: 60vh; border: 1px solid $mono8;
      @at-root .no-flexbox & { height: 60vh; }
      .tabs {
        margin-bottom: rem(-4); padding: rem($grid * 4);
        [role='tab'] {
          transition: background-color,border,color $trs-duration;
        }
      }
    }
    &.anc_seat .anc-service,
    &.anc_meal .anc-service,
    &.anc_lounge .anc-service {
      padding-right: rem($right-tp-size);
      .tab-panels { height: 100%; }
      .passenger-list {
        padding: 0;
        &, .scroll-wrap { height: inherit; }
        .mCSB_container { padding: 0 rem($grid * 4) rem($grid * 4); }
      }
      .seat-plan,
      .meal-plan,
      .lounge-plan {
        position: absolute; top: 0; right: 0; bottom: 0;
        width: rem($right-tp-size);
        border-left: 1px solid $mono8;
        .scroll-wrap { height: 100%; }
      }
      @at-root .no-flexbox & {
        .seat-plan,
        .meal-plan,
        .lounge-plan {
          @include clearfix;
          & > * { float: left; width: 100%; };
        }
      }


      [class*='bundle-type'] + dd {
        @include bundle-flag($ico-class: '.ico');
        margin-top: rem(-10);
        .ico { margin-bottom: rem(10); }
      }
      @include bundle-flag-type($airline: tw, $type: 0, $ico-class: '.bundle-type0 + dd .ico');
      @include bundle-flag-type($airline: tw, $type: 1, $ico-class: '.bundle-type1 + dd .ico');
      @include bundle-flag-type($airline: tw, $type: 2, $ico-class: '.bundle-type2 + dd .ico');
      @include bundle-flag-type($airline: tw, $type: 3, $ico-class: '.bundle-type3 + dd .ico');
      .bundle-inter1 .bundle-type1 {
        & + dd {
          .ico {  }
        }
      }
      .bundle-inter1 .bundle-type2 {
        & + dd {
          .ico {  }
        }
        & ~ .selected-seat + dd {
          &:empty:before {
            content: "(프리미엄 제외 좌석) 선택하세요";
          }
        }
      }
      .bundle-inter1 .bundle-type3 {
        & + dd {
          .ico {  }
        }
        & ~ .selected-seat + dd {
          &:empty:before {
            content: "(전좌석) 선택하세요";
          }
        }
      }
      .bundle-inter2 .bundle-type1 {
        & + dd {
          .ico {  }
        }
        & ~ .selected-seat + dd {
          &:empty:before {
            content: "(프리미엄 제외 좌석) 선택하세요";
          }
        }
      }
      .bundle-inter2 .bundle-type2 {
        & + dd {
          .ico {  }
        }
        & ~ .selected-seat + dd {
          &:empty:before {
            content: "(전좌석) 선택하세요";
          }
        }
      }
      .bundle-dom1 .bundle-type1 {
        & + dd {
          .ico {  }
        }
        & ~ .selected-seat + dd {
          &:empty:before {
            content: "(프리미엄 제외 좌석) 선택하세요";
          }
        }
      }
      .bundle-dom1 .bundle-type2 {
        & + dd {
          .ico {  }
        }
        & ~ .selected-seat + dd {
          &:empty:before {
            content: "(전좌석) 선택하세요";
          }
        }
      }
    }
    & + .anc-service-wrap { margin-top: rem(100); border-top: 1px solid $mono1; }
  }
  [role='tabpanel'].active {
    height: calc(60vh - 93px);
    @at-root .no-flexbox & { height: 100%; }
  }
  .anc-service + .notification-wrap {
    padding-top: rem($grid * 4);
    .notification-text { @include font($size: 11, $color: $mono3, $weight: 400); }
    .notification-list {
      @include font($size: 11, $color: $mono3, $weight: 400);
      & > li:before { background-color: $mono3 }
    }
  }
  .passenger-list {
    li {
      $font-size: 16;
      position: relative;
      @include font($size: $font-size, $color: $mono4, $weight: 500, $spacing: -0.03);
      padding: em(20, $font-size) 0;
      text-align: center;
    }
    input[type='radio'],
    input[type='checkbox'] { @include sr-only; }
    dt { @include sr-only }
    dd {
      transition-duration: $trs-duration;
      transition-delay: $trs-delay;
      text-align: left;
    }
    label {
      @include text-ellipsis();
      display: block;
      cursor: pointer
    }
    .passenger-name + dd {
      @include font($family: en, $size: 16, $color: $mono4, $weight: 600);
      @include text-uppercase;
    }
    .ico_baby {
      $font-size: 11;
      @include font($family: en, $size: $font-size, $color: $mono4, $weight: 600); padding: 0 0 0 em(5, $font-size);
      transition-duration: $trs-duration;
      transition-delay: $trs-delay;
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: auto; height: em(19, $font-size);
      white-space: nowrap;
      vertical-align: top;
      &:before { content: "+ BABY"; }
    }
    .selected-seat + dd,
    .selected-baggage + dd,
    .selected-meal + dd,
    .selected-lounge + dd {
      @include font($size: 11, $color: $text-primary, $weight: 600);
      padding-top: rem($grid);
      line-height: rem(12);
      .btn_delete { @include btn_delete; }
      &:empty:before {
        @include font($size: 11, $color: $mono4, $weight: 600);
        content: "선택하세요";
      }
    }
    input[type='radio']:checked ~ dl,
    input[type='checkbox']:checked ~ dl {
      .selected-seat + dd,
      .selected-baggage + dd,
      .selected-meal + dd,
      .selected-lounge + dd { color: $text-primary; }
      dd, dd:before { transition: all $trs-duration; transition-delay: $trs-delay; }
      dd, dd:empty:before { color: $mono1 }
      .ico_baby { color: $mono1; }
    }
  }
  .passenger-list:last-child {
    & > ul > li { @include clearfix; padding: rem(20) rem($grid * 4); width: 100%; }
  }
  .btn_help {
    overflow: hidden;
    display: inline-block;
    margin-left: rem(3); width: rem(12); height: rem(12);
    @include background($file: 'anc/ico_help', $type: png, $width: rem(12), $height: rem(12));
    background-position: center center;
    text-indent: -999em; vertical-align: middle;
  }
  .function-wrap {
    @include flex(space-between stretch flex-start nowrap);
    padding: rem($grid * 2) rem($grid * 2) 0;
    .notification-text {
      @include font($size: 11, $color: $mono1, $weight: 400, $spacing: -0.03);
      line-height: rem(16);
      .text-emphasis { font-weight: 600; }
    }
    .btn-group {
      margin-left: auto; padding-top: rem($grid * 2);
      text-align: right;
      input[type='checkbox'] { @include form($size: 1, $role: normal, $type: checkbox); }
    }
  }
  .anc-summary {
    z-index: 0;
    position: absolute; top: rem(281); left: calc(50% + 348px);
    padding: rem($grid * 10) rem($grid * 2) rem($grid * 3) 0; width: rem(267 + $grid * 2);
    .scroll-wrap {
      overflow: auto; margin-right: rem(-$grid * 2); max-height: calc(100% - 152px);
      @at-root .no-flexbox & { height: calc(100% - 152px) }
    }
    .flight-way { @include tagging-route }
    .departure, .arrival { padding: rem($grid * 3) 0 rem($grid * 2); border-top: 1px solid $mono1; }
    .summary-empty {
      $font-size: 12;
      @include font($size: $font-size, $color: #66B1FF, $weight: 400);
      padding-top: rem($grid * 3); min-height: rem(121);
      line-height: em(16, $font-size);
    }
    .passenger-name, .item-list { @include sr-only }
    .passenger-name + dd {
      $font-size: 14;
      @include font($family: en, $size: $font-size, $color: $text-primary, $weight: 500);
      padding: em(20, $font-size) 0 em(12, $font-size);
      text-transform: uppercase;
      &:not(:first-of-type) { margin-top: rem(20); border-top: 1px solid $mono8 }
    }
    .item-list + dd table {
      th { height: rem(26); }
    }
    table { table-layout: fixed; width: 100%; }
    table tbody th, table tbody td { @include font($size: 12, $color: $mono1, $weight: 400); vertical-align: middle; }
    table tbody th { width: rem(38); text-align: left; font-weight: 800; white-space: nowrap }
    table tbody th + td { @include text-ellipsis(); display: table-cell; }
    table tbody th ~ td {
      padding-left: rem($grid);
      &:nth-of-type(1) { letter-spacing: -0.03em }
      &:nth-of-type(2) { /*@include price-unit(krw);*/ width: rem(68); text-align: right; }
      &:last-child { width: rem(22) }
    }
    .btn_delete { @include btn_delete; margin-left: 0; }
    .total-sum {
      @include clearfix;
      padding: rem($grid * 3) 0;
      border-top: 1px solid $mono1;
      .total { $font-size: 12; @include font($size: $font-size, $color: $mono1, $weight: 800); float: left; line-height: em(26, $font-size); }
      .total + dd { $font-size: 14; @include font($size: $font-size, $color: $text-primary, $weight: 800); @include price-unit(krw); float: right; line-height: em(26, $font-size) }
    }
    .btn_pay {
      @include form($size: 6, $role: submit, $type: button);
      margin-bottom: 0;
      letter-spacing: rem(1);
    }
    .digits { letter-spacing: 0; }
    &.ui-fixed {
      position: fixed; top: rem($anc_lnb-height); max-height: calc(100vh - #{$anc_lnb-height}px);
      .scroll-wrap { max-height: calc(100vh - 61px - 80px - 24px - 135px); }
    }
    &.ui-fixed---bottom {
      position: absolute; top: auto; bottom: rem(120)
    }
  }
  .no-item-wrap {
    background-color: $mono9;
    .mCSB_inside > .mCSB_container { margin-right: 0; }
    .mCSB_container {
      height: 100%;
    }
  }
  .no-item {
    padding: rem(50) rem($grid * 2) rem(80);
    @include alert-style;
    div.alert-text {  text-align: center; }
    dl.alert-text { margin: 0 auto; width: rem(320) }
  }

  /* 번들 관련 */
  .floating-banner {
    z-index: 1;
    $font-size: 11;
    $icon-size: 54;
    @include font($size: $font-size, $color: $mono1, $weight: 600, $spacing: -0.03);
    position: fixed; right: calc(50% - #{$content-width / 2}px); top: rem(376);
    width: em(54, $font-size); height: em(54, $font-size);
    .btn_bundle {
      display: inline-block;
      padding: rem(13) rem($grid); width: em(54, $font-size); height: em(54, $font-size);
      background-color: $mono1; border-radius: 50%;
      line-height: em(14, $font-size); text-decoration: none; text-align: center; color: $mono10;
    }
  }
}