/* 부가서비스 신청 (공통) */
@mixin anc__btn_delete {
  @include background($file: 'anc/ico_delete-s', $type: png, $width: rem(12), $height: rem(12));
  overflow: hidden;
  display: inline-block;
  margin-left: rem(5); width: rem(12); height: rem(12);
  text-indent: -999em; vertical-align: middle;
  z-index: 99;
}
.anc-lnb-wrap {
  position: absolute; left: 0; top: 0; right: 0;
  width: 100%; height: rem($anc_lnb-height);
  border-bottom: 1px solid $mono8;
  background-color: $mono9;
  .content-wrap { @include clearfix; @include content-wrap; height: 100%; }
  .page-name { float: left; padding-top: rem(23); font-weight: 800; }
  .lnb { @include clearfix; float: right; margin: 0 rem(-20); height: 100%; }
  li {
    height: 100%;
    float: left;
    padding: rem(15) rem($grid * 2) 0;
    a {
      @include font($size: $font-root-size, $color: $mono4, $weight: 600);
      display: block; width: 100%; height: 100%;
      padding: rem($grid) rem($grid / 2);
      text-decoration: none;
    }
    &.active a { color: $mono1; }
  }
  &.ui-fixed {
    position: fixed;
  }
}
.mCSB_scrollTools { margin: rem(4) 0; width: rem(8); }
.mCSB_inside>.mCSB_container { margin-right: 0; padding-right: rem($grid * 2); }
.mCSB_scrollTools .mCSB_draggerRail { width: rem(4); background-color: rgba(0,0,0,0) }
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag + .mCSB_draggerRail { background-color: rgba(0,0,0,0.05) }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { /*background-color: $mono6*/ background-color: rgba(0,0,0,0.1) }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background-color: rgba(0,0,0,0.5) }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: rem(4); }


.ags-header { z-index: 0; }
.ags-container {
  z-index: 1;
  .anc-lnb-wrap { z-index: 1; }
  & > .content-wrap { z-index: 0; }
}
.ags-footer { z-index: 0; }