/* 부가서비스 신청 > 렌터카 예약하기 */
[data-page-id='anc_main'] .anc_car {
  $anc-service-height: 646;
  .anc-service {
    position: relative;
    height: rem($anc-service-height);
    .tab-panels { height: inherit }
    .sort-wrap {
      padding: rem(12) 0 0 !important; height: 100% !important;
    }
  }
  .welcome-msg {
    @include font($size: 11, $color: $text-primary, $weight: 400);
    position: absolute; top: rem(41); left: rem(106)
  }
  .sort-wrap .mCSB_container,
  .sort-wrap .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
    margin-right: rem(37) !important;
  }
  .car-plan .mCSB_container,
  .car-plan .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{
    margin-right: 0 !important; padding: rem($grid * 5) rem($grid * 4);
  }
  .sort-condition {
    dt {
      $font-size: 10;
      @include font($size: 10, $color: $mono1, $weight: 800); padding-bottom: rem($grid)
    }
    dd { @include clearfix; padding-bottom: rem($grid * 2); }
    .selectric-select-wrap { @include selectric-select-wrap($selectric-size: 3); }
    .driver-name + dd {
      .selectric-select-wrap { float: left; width: rem(172) }
      .input-wrap {
        float: left;
        padding: rem(12) 0 0 rem($grid * 2);
        input[type='checkbox'] { @include form($size: 1, $role: normal, $type: checkbox) }
      }
    }
    .search-period + dd {
      .input-wrap {
        z-index: 0;
        position: relative;
        input[type='text'] {
          z-index: 0;
          @include form($size: 3, $role: normal, $type: textbox);
          letter-spacing: em(-0.16, 13);
          cursor: pointer;
        }
        .ico {
          z-index: 1;
          overflow: hidden;
          display: inline-block;
          position: absolute; top: rem(9); right: rem(12);
          width: rem(24); height: rem(25);
          &:after {
            content: "";
            z-index: 0;
            display: inline-block;
            width: rem(8); height: rem(8);
            border: solid $mono1; border-width: 0 2px 2px 0;
            @include transform(rotate(45deg) translate(7px, -4px));
          }
        }
      }
    }
    .sort-by-category + dd {
      margin: rem(-4);
      .input-wrap { @include clearfix; }
      input[type='checkbox'] { @include sr-only }
      input[type='checkbox'] + label { float: left; @include form($size: 3, $role: normal, $type: button); margin: rem(4); width: calc(33.333% - 8px); font-size: rem(12); color: $mono4; border-color: $mono6; }
      input[type='checkbox']:checked + label { background-color: $mono1; border-color: $mono1; color: $mono10 }
    }
    .btn-wrap {
      padding-top: rem($grid * 5);
      .btn_search { @include form($size: 4, $role: submit, $type: button); }
    }
  }
  .car-plan {
    position: relative;
    overflow: hidden;
    height: 0;
    @at-root .tab-panel.active .car-plan {
      height: 100%;
    }
  }
  .pop_rentacar {
    z-index: 1;
    display: none;
    position: absolute; left: 0; top: 0; right: 0; height: rem($anc-service-height);
    @include background($file: 'anc/img_pop-rentacar', $type: 'jpg', $width: 100%, $height: auto);
    .btn_close { overflow: hidden; display: block; width: 100%; height: 100%; text-indent: -999em; }
    &.active { display: block; }
  }
  .notice-msg {
    $font-size: 11;
    z-index: 0;
    @include font($size: 11, $color: $mono1, $weight: 400);
    padding-bottom: em(12, $font-size)
  }
  .car-list {
    z-index: 0;
    border-top: 1px solid $mono1;
  }
  .car-info {
    $thumbnail-width: 100;
    position: relative;
    padding: rem($grid * 5) 0 0 rem($thumbnail-width + $grid * 2);;
    dt { @include sr-only; }
    .car-name + dd {
      $font-size: 14;
      @include font($size: $font-size, $color: $mono1, $weight: 600);
      padding-bottom: rem($grid * 2);
      line-height: em(19, $font-size)
    }
    .car-price + dd {
      @include font($size: 13, $color: $text-primary, $weight: 400);
      @include price-unit(krw);
      padding-bottom: rem(4);
      letter-spacing: 0;
    }
    .car-description + dd {
      $font-size: 12;
      @include font($size: $font-size, $color: $mono3, $weight: 400);
      line-height: em(16, $font-size)
    }
    .car-tag + dd {
      position: absolute; left: rem($thumbnail-width + $grid * 2); top: rem($grid * 2);
      .ico_tag { float: left; margin-right: 1px; min-width: rem($grid * 4); background-color: $bg-secondary; }
    }
    .car-thumbnail + dd {
      position: absolute; left: 0; top: rem(28);
      width: rem($thumbnail-width); min-height: rem(78);
      img { @include valign-center; max-width: 100%; }
    }
  }
  .item {
    $font-size: 12;
    min-height: rem(145);
    border-bottom: 1px solid $mono8;
    .company-wrap {
      @include clearfix;
    }
    .company-list {
      overflow: hidden; float: left;
      width: 100%; max-height: 0;
      table {
        width: 100%;
        font-size: rem(11);
        tr:nth-of-type(even) td { background-color: $mono9 }
        td { height: rem(42); vertical-align: middle; text-align: center; border-top: 1px solid $mono8 }
        td:nth-of-type(1) { width: rem(16) }
        td:nth-of-type(2) { @include price-unit(krw); width: rem(70); color: $text-primary; font-weight: 600; letter-spacing: 0; }
        input[type='radio'] { @include form($size: 3, $role: normal, $type: radio); }
        a { @include text-ellipsis(block); font-weight: 600; color: $mono1; line-height: 1.2em;}
      }
    }
    .btn_more {
      $font-size: 11;
      @include btn_more--minified($activeEl: '[data-page-id='anc_main'] .anc_car .item');
      @include font($size: $font-size, $color: $mono3, $weight: 400);
      position: relative;
      float: right;
      margin-bottom: em(4, $font-size); padding: em(8, $font-size) em(14, $font-size) em(8 , $font-size) em(8, $font-size);
      color: $mono1;
      .ico { position: absolute; top: rem(7); right: 0; border-color: $mono1 }
    }
    &:not(.active) .btn_more {
      &:after { content: " 열기" }
      .ico { @include transform(rotate(-45deg) translate(-6px, 0px) !important) }
    }
    &.active .btn_more {
      &:after { content: " 닫기" }
      .ico { @include transform(rotate(135deg) translate(7.5px, -1.5px) !important) }
    }
    &.active .company-list {
      overflow: visible;
      max-height: rem(10000);
    }
  }
  .btn_load-more {
    $font-size: 12;
    @include font($size: $font-size, $color: #66b1ff, $weight: 600, $spacing: (-0.3 / $font-size));
    display: block;
    margin: rem($grid * 3) 0 0;
    text-align: center; line-height: em(16, $font-size); text-decoration: none;
  }

  .function-wrap {
    @include clearfix;
    padding: 0 0 rem(12);
    .sort-by-category {
      position: relative;
      padding-right: rem(12);
      label {
        position: absolute; right: 0; top: 0;
        display: block;
        width: 12px; height: 12px;
        font-size: 0;
        &:after {
          content: "";
          position: absolute; left: 4px; top: 3px;
          display: block;
          width: 4px; height: 4px;
          border: solid $mono1; border-width: 0 1px 1px 0;
          @include transform(rotate(45deg));
        }
      }
      select {
        $font-size: 11;
        @include font($size: $font-size, $color: $mono1, $weight: 400);
        -webkit-appearance: none; -moz-appearance: none; appearance: none;
        &::-ms-expand { display: none; }
        vertical-align: top;
        background-color: transparent;
      }
    }
  }
}