/* ie9 */
html.no-flexbox {
  [data-page-id='anc_main'] {
    .anc-service-wrap {
      .anc_baggage .tab-panel.active {
        height: inherit;
        .scroll-wrap { height: inherit; }
      }
      .anc_meal .tab-panel.active {
        .scroll-wrap { height: inherit; }
      }
    }
    .anc_seat {
      .seat-legend a { background-image: url(about:blank); }
    }
  }
}
