/* 부가서비스 신청 */
$anc-select-area-width: 267;
$route-tab-size: 89;
[data-page-id='anc_main'] {
  &.ags-container { padding-top: rem($anc_lnb-height + 80); }
  .anc-lnb-wrap {
    position: absolute; left: 0; top: 0; right: 0;
    width: 100%; height: rem($anc_lnb-height);
    border-bottom: 1px solid $mono8;
    background-color: $mono9;
    .content-wrap { @include clearfix; @include content-wrap; height: 100%; }
    .page-name { float: left; padding-top: rem(23); font-weight: 800; }
    .lnb { @include clearfix; float: right; margin: 0 rem(-20); height: 100%; }
    li {
      height: 100%;
      float: left;
      padding: rem(15) rem($grid * 2) 0;
      a {
        @include font($size: $font-root-size, $color: $mono1, $weight: 600);
        display: block; width: 100%; height: 100%;
        padding: rem($grid) rem($grid / 2);
        text-decoration: none;
      }
      &.active a { color: $mono1; }
    }
    &.ui-fixed, &.ui-fixed---bottom {
      position: fixed;
      .content-wrap { width: 100%; min-width: rem(600); max-width: #{$content-width}px }
      li a { color: $mono4; }
      li.active a { color: $mono1; }
    }
  }
  & > .content-wrap {
    position: relative; padding-right: rem(($grid * 4) + 1 + ($grid * 4) + $anc-select-area-width + ($grid * 2));
    &:before { content: ""; position: absolute; left: calc(50% + 301px); top: 0; bottom: 0; width: 1px; background-color: $mono8; }
  }
  .ticket-info {
    @include ticket-info;
    margin: 0 0 rem(-20);
  }
  .anc-service-wrap {
    padding-top: rem(100);
    .anc-header {
      $ico-size: 52;
      position: relative;
      padding: rem(4) 0 rem(24) rem(64); min-height: rem(52);
      .service-symbol {
        position: absolute; left: 0; top: 0;
        display: inline-block;
        width: rem($ico-size); height: rem($ico-size);
        background-color: $mono9; border: 1px solid $mono8; border-radius: 50%;
        &:before { content: ""; display: block; background-position: center center; }
      }
      @at-root .anc_seat .service-symbol:before { @include background($file: 'anc/service-symbol_seat', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
      @at-root .anc_baggage .service-symbol:before { @include background($file: 'anc/service-symbol_baggage', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
      @at-root .anc_meal .service-symbol:before { @include background($file: 'anc/service-symbol_meal', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
      @at-root .anc_lounge .service-symbol:before { @include background($file: 'anc/service-symbol_lounge', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
      @at-root .anc_car .service-symbol:before { @include background($file: 'anc/service-symbol_car', $type: png, $width: rem($ico-size), $height: rem($ico-size)); width: rem($ico-size); height: rem($ico-size); }
    }
    .service-title { $font-size: 18; @include font($size: $font-size, $color: $mono1, $weight: 800); margin-bottom: em(10, $font-size) }
    .service-description {
      @include font($size: 12, $color: $mono1, $weight: 300);
    }

    /* 좌측 승객선택 / 우측 부가서비스 선택 유형 */
    $right-tp-size: 424;
    .anc-service {
      @include tab(style1);
      overflow: hidden;
      position: relative;
      padding: 0; min-height: rem(648); height: 60vh; border: 1px solid $mono8;
      @at-root .no-flexbox & {  }
      .tabs {
        padding: rem($grid * 4) rem($grid * 4) rem(28);
        [role='tab'] {
          transition: background-color,border,color $trs-duration;
        }
      }
    }
    &.anc_seat .anc-service,
    &.anc_meal .anc-service,
    &.anc_lounge .anc-service,
    &.anc_car .anc-service {
      padding-right: rem($right-tp-size); min-height: rem(648);
      .tab-panels { height: calc(100% - #{$route-tab-size}px); }
      .passenger-list, .sort-wrap {
        padding: 0;
        &, .scroll-wrap { height: inherit; }
        .mCSB_container { padding: 0 rem($grid * 4) rem($grid * 4); }
      }
      @at-root .no-flexbox & {
        .seat-plan,
        .meal-plan,
        .lounge-plan,
        .car-plan {
          @include clearfix;
          & > * { float: left; width: 100%; };
        }
      }
    }
    &.anc_seat .seat-plan,
    &.anc_meal .meal-plan,
    &.anc_lounge .lounge-plan,
    &.anc_car .car-plan {
      position: absolute; top: 0; right: 0; bottom: 0;
      width: rem($right-tp-size);
      border-left: 1px solid $mono8;
      .scroll-wrap { height: 100%; }
    }
    & + .anc-service-wrap { margin-top: rem(100); border-top: 1px solid $mono1; }
  }
  [role='tabpanel'].active {
    height: 100%;
    @at-root .no-flexbox & { height: 100%; }
  }
  .anc-service + .notification-wrap {
    padding-top: rem($grid * 4);
    .notification-text { @include font($size: 11, $color: $mono3, $weight: 400); }
    .notification-list {
      @include font($size: 11, $color: $mono3, $weight: 400);
      & > li:before { background-color: $mono3 }
    }
  }
  .passenger-list {
    li {
      $font-size: 16;
      position: relative;
      @include font($size: $font-size, $color: $mono4, $weight: 500, $spacing: -0.03);
      padding: em(20, $font-size) 0;
      text-align: center;
    }
    input[type='radio'],
    input[type='checkbox'] { @include sr-only; }
    dt { @include sr-only }
    dd {
      transition-duration: $trs-duration;
      transition-delay: $trs-delay;
      text-align: left;
    }
    label {
      @include text-ellipsis();
      display: block;
      cursor: pointer
    }
    .passenger-name + dd {
      $font-size: 16;
      @include font($family: en, $size: $font-size, $color: $mono4, $weight: 600);
      @include text-uppercase;
      height: em(18, $font-size);
      line-height: em(18, $font-size)
    }
    .ico_baby {
      $font-size: 11;
      @include font($family: en, $size: $font-size, $color: $mono4, $weight: 600); padding: 0 0 0 em(5, $font-size);
      transition-duration: $trs-duration;
      transition-delay: $trs-delay;
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: auto; height: em(14, $font-size);
      white-space: nowrap;
      vertical-align: top; line-height: em(14, $font-size);
      &:before { content: "+ BABY"; }
    }
    .selected-seat + dd,
    .selected-baggage + dd,
    .selected-meal + dd,
    .selected-lounge + dd {
      @include font($size: 11, $color: $text-primary, $weight: 600);
      padding-top: rem($grid);
      line-height: rem(12);
      .btn_delete { @include btn_delete; }
      &:empty:before {
        @include font($size: 11, $color: $mono4, $weight: 600);
        content: "선택하세요";
      }
    }
    input[type='radio']:checked ~ dl,
    input[type='checkbox']:checked ~ dl {
      .selected-seat + dd,
      .selected-baggage + dd,
      .selected-meal + dd,
      .selected-lounge + dd { color: $text-primary; }
      dd, dd:before { transition: all $trs-duration; transition-delay: $trs-delay; }
      dd, dd:empty:before { color: $mono1 }
      .ico_baby { color: $mono1; }
    }


    [class*='bundle-type'] + dd {
      @include bundle-flag($ico-class: '.ico');
      .ico { margin-bottom: rem(10); }
    }
    @include bundle-flag-type($airline: tw, $type: 0, $ico-class: '.bundle-type0 + dd .ico');
    @include bundle-flag-type($airline: tw, $type: 1, $ico-class: '.bundle-type1 + dd .ico');
    @include bundle-flag-type($airline: tw, $type: 2, $ico-class: '.bundle-type2 + dd .ico');
    @include bundle-flag-type($airline: tw, $type: 3, $ico-class: '.bundle-type3 + dd .ico');
    .bundle-type0 + dd { @include sr-only }
    [class*='bundle-type']:not(.bundle-type0) { margin-top: rem(-30); }
    .bundle-inter1 .bundle-type1 {
      & + dd {
        .ico {  }
      }
    }
    .bundle-inter1 .bundle-type2 {
      & + dd {
        .ico {  }
      }
      & ~ .selected-seat + dd {
        &:empty:before {
          content: "(프리미엄 제외 좌석) 선택하세요";
        }
      }
    }
    .bundle-inter1 .bundle-type3 {
      & + dd {
        .ico {  }
      }
      & ~ .selected-seat + dd {
        &:empty:before {
          content: "(전좌석) 선택하세요";
        }
      }
    }
    .bundle-inter2 .bundle-type1 {
      & + dd {
        .ico {  }
      }
      & ~ .selected-seat + dd {
        &:empty:before {
          content: "(프리미엄 제외 좌석) 선택하세요";
        }
      }
    }
    .bundle-inter2 .bundle-type2 {
      & + dd {
        .ico {  }
      }
      & ~ .selected-seat + dd {
        &:empty:before {
          content: "(전좌석) 선택하세요";
        }
      }
    }
    .bundle-dom1 .bundle-type1 {
      & + dd {
        .ico {  }
      }
      & ~ .selected-seat + dd {
        &:empty:before {
          content: "(프리미엄 제외 좌석) 선택하세요";
        }
      }
    }
    .bundle-dom1 .bundle-type2 {
      & + dd {
        .ico {  }
      }
      & ~ .selected-seat + dd {
        &:empty:before {
          content: "(전좌석) 선택하세요";
        }
      }
    }
  }
  .passenger-list:last-child {
    & > ul > li { @include clearfix; padding: rem(20) rem($grid * 4); width: 100%; }
  }
  .btn_help { @include ico_help }
  .function-wrap {
    @include flex(space-between stretch flex-start nowrap);
    padding: rem($grid * 2) rem($grid * 2) 0;
    .notification-text {
      @include font($size: 11, $color: $mono1, $weight: 400, $spacing: -0.03);
      line-height: rem(16);
      .text-emphasis { font-weight: 600; }
    }
    .btn-group {
      margin-left: auto; padding-top: rem($grid * 2);
      text-align: right;
      input[type='checkbox'] { @include form($size: 1, $role: normal, $type: checkbox); }
    }
  }
  .anc-summary {
    z-index: 0;
    position: absolute; top: rem(281); left: calc(50% + 333px);
    padding: rem(76) 0 rem($grid * 3) 0; width: rem(267);
    transition-duration:  0.2s;
    transition-delay: 0.2s;
    transition-property: height, bottom, left;
    .scroll-wrap {
      overflow: hidden;
      position: relative;
      margin-right: rem(-$grid * 2);
      height: calc(100% - 75px - 62px);
      .mCSB_container { margin-right: rem($grid * 2); }
      &:before { content: ""; position: absolute; left: 0; top: 0; right: rem($grid * 2); display: block; height: 1px; border-top: 1px solid $mono1 }
    }
    .departure, .arrival, [class^='departure-'] {
      padding: rem($grid * 3) 0 rem($grid * 2); border-top: 1px solid $mono1;
    }
    .flight-way, .service-title { @include tagging-route }
    .service-title { background-color: #ff4378 }
    .summary-empty {
      $font-size: 12;
      @include font($size: $font-size, $color: #66B1FF, $weight: 400);
      padding-top: rem($grid * 3); min-height: rem(121);
      line-height: em(16, $font-size);
    }
    .passenger-name, .item-list { @include sr-only }
    .departure, .arrival {
      .passenger-name + dd {
        $font-size: 14;
        @include font($family: en, $size: $font-size, $color: $text-primary, $weight: 600);
        padding: em(20, $font-size) 0 em(12, $font-size);
        text-transform: uppercase;
        &:not(:first-of-type) { margin-top: rem(20); border-top: 1px solid $mono8 }
      }
      .item-list + dd {
        table {
          th { height: rem(26); }
        }
        &:empty:before {
          content: "선택한 부가서비스 내역이 없습니다. \A 부가서비스를 추가해보세요.";
          $font-size: 12;
          @include font($size: $font-size, $color: #66b1ff, $weight: 400);
          white-space: pre-wrap; line-height: em(16, $font-size);
        }
      }
      table { table-layout: fixed; width: 100%; }
      table tbody th, table tbody td { @include font($size: 12, $color: $mono1, $weight: 400); vertical-align: middle; }
      table tbody th { width: rem(94); text-align: left; font-weight: 800; white-space: nowrap }
      table tbody th + td { @include text-ellipsis(); display: table-cell; }
      table tbody th ~ td {
        padding-left: rem($grid);
        &:nth-of-type(1) { letter-spacing: -0.03em }
        &:nth-of-type(2) { @include price-unit(krw); width: rem(75); text-align: right; }
        &:nth-of-type(3) { width: rem(22) }
        a { color: #66B1FF; text-decoration: underline; letter-spacing: -0.08em }
      }
      .total { @include clearfix; margin-top: rem($grid * 2); padding: rem($grid * 2) 0 0; border-top: 1px solid $mono8; }
      .total dt { float: left }
      .total dt .ico_tag { @include tagging-route; background-color: $mono10; border-color: $mono1; color: $mono1 }
      .total dd { float: right; @include price-unit(krw) }
    }
    .departure-car {
      dl { padding-bottom: rem(4); }
      .passenger-name + dd {
        $font-size: 14;
        @include font($size: $font-size, $color: $text-primary, $weight: 600);
        @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
        @include text-uppercase;
        margin: rem(23) 0 0; padding: 0 0 rem($grid * 2) rem(20);
      }
      .passenger-name:not(:first-of-type) + dd {
        position: relative;
        margin-top: rem(37);
        &:before { content: ""; position: absolute; left: 0; top: rem(-$grid * 2); display: inline-block; width: 100%; height: 1px; border-top: 1px solid $mono8 }
      }
      .item-list + dd {
        .car-plan {
          $font-size: 13;
          @include text-ellipsis(block);
          @include font($size: $font-size, $color: $mono1, $weight: 600);
          padding-bottom: em($grid, $font-size);
        }
        .car-plan-detail {
          $font-size: 11;
          @include font($size: $font-size, $color: $mono3, $weight: 400);
        }
      }
      table { table-layout: fixed; width: 100%; }
      table th, table td { height: rem(26) }
      table th { text-align: left; }
      table td { padding-left: rem($grid); }
      table td:nth-of-type(1) {
        $font-size: 12;
        @include price-unit(krw);
        @include font($size: $font-size, $color: $mono1, $weight: 400);
        width: rem(66);
        text-align: right;
      }
      table td:nth-of-type(2) {
        width: rem(20);
        text-align: right;
      }
    }
    .btn_delete { @include btn_delete; margin-left: 0; font-size: 0; }
    .total-sum {
      @include clearfix;
      padding: rem($grid * 3) 0;
      border-top: 1px solid $mono1;
      .total { $font-size: 12; @include font($size: $font-size, $color: $mono1, $weight: 800); float: left; line-height: em(26, $font-size); }
      .total + dd { $font-size: 14; @include font($size: $font-size, $color: $text-primary, $weight: 800); @include price-unit(krw); float: right; line-height: em(26, $font-size) }
    }
    .btn_pay {
      @include form($size: 6, $role: submit, $type: button);
      margin-bottom: 0; letter-spacing: rem(1);
    }
    .digits { letter-spacing: 0; }
    &.ui-fixed {
      position: fixed; top: rem($anc_lnb-height); bottom: 0;
      &.fixed-left { left: rem(949) }
      .scroll-wrap { max-height: initial; height: calc(100% - 75px - 62px) }
      .scroll-wrap .mCustomScrollbar { max-height: inherit !important; }
    }
    &.ui-fixed---bottom {
      position: fixed; top: rem($anc_lnb-height); bottom: rem(334);
      &.fixed-left { left: rem(949) }
      .scroll-wrap .mCustomScrollbar { max-height: inherit !important; }
    }
    [class*='bundle-type'] {
      @include sr-only;
      & + dd {
        @include clearfix;
        position: relative;
        padding: rem(15) 0 rem($grid); ;
        .info-title { float: left; padding-right: rem($grid); width: calc(100% - 15px) }
        dt { @include sr-only }
        dd { float: left; }
        .bundle-name + dd {
          $font-size: 9;
          @include font($size: 9, $color: $mono1, $weight: 800);
          margin-right: rem($grid); padding: 0 rem(4); min-width: rem(40); height: rem(16);
          line-height: rem(14); border: 1px solid;
          text-align: center; white-space: nowrap;
        }
        .bundle-sale + dd {
          @include valign-middle();
          @include font($size: 9, $color: $mono1, $weight: 800, $spacing: 0);
          height: rem(16); line-height: rem(16);
          &:after { content: " SALE" }
        }
        .bundle-price + dd {
          @include valign-middle();
          @include font($size: 12, $color: $mono1, $weight: 400);
          @include price-unit(krw);
          float: right;
          padding: rem(2) 0 0; height: rem(16);
          text-align: right;
        }
      }
      &.bundle-type1 + dd {
        &, .bundle-name { border-color: #7C756E }
        .bundle-name + dd,
        .bundle-sale + dd { color: #817A73 }
      }
      &.bundle-type2 + dd {
        &, .bundle-name { border-color: #8EB454; }
        .bundle-name + dd,
        .bundle-sale + dd { color: #8EB454 }
      }
      &.bundle-type3 + dd {
        &, .bundle-name { border-color: #D22C27 }
        .bundle-name + dd,
        .bundle-sale + dd { color: #D22C27 }
      }
      &  + dd .charge-sheet {
        tbody td:last-child { padding-right: 0; }
      }
    }
  }
  .no-item-wrap {
    background-color: $mono9;
    .mCSB_inside > .mCSB_container { margin-right: 0; }
  }
  .no-item {
    padding: rem(50) rem($grid * 2) rem(80);
    @include alert-style;
    .alert-title { font-size: rem(14); line-height: em(20, 14); }
    div.alert-text { text-align: center; font-size: rem(12); line-height: em(18, 12); letter-spacing: 0; }
    dl.alert-text { margin: 0 auto; width: rem(320) }
    .text-subscript { display: block; padding-top: rem(12); word-break: keep-all }
  }

  /* 번들 관련 */
  .floating-banner {
    z-index: 1;
    $font-size: 11;
    $icon-size: 54;
    @include font($size: $font-size, $color: $mono1, $weight: 600, $spacing: -0.03);
    position: absolute; right: 0; top: 0;
    .btn_bundle {
      display: inline-block;
      padding: rem(13) rem($grid); width: em($icon-size, $font-size); height: em($icon-size, $font-size);
      background-color: $mono1; border-radius: 50%;
      line-height: em(14, $font-size); text-decoration: none; text-align: center; color: $mono10;
    }
    &[data-id] {
      display: none;
      &.active { display: block; }
    }
  }
}