/* 부가서비스 신청 > 라운지 이용권 구매 */
[data-page-id='anc_main'] .anc_lounge {
  $plan-width: 432;
  &.anc-service-wrap .anc-service {
    padding-right: rem($plan-width);
    .tabs { margin-bottom: 0; }
    .lounge-plan {
      width: rem($plan-width);
      .scroll-wrap { padding-top: rem($grid * 8) }
    }
  }
  .passenger-list {
    .scroll-wrap {
      height: calc(60vh - 93px - 142px) !important;
    }
  }
  .approach-comment {
    @include font($size: 11, $color: $text-primary, $weight: 400, $spacing: 0);
    position: absolute; left: rem(106); top: rem(40);
  }
  .lounge-legend {
    padding: 0 rem($grid *4)
  }
  .price-list {
    $font-size: 12;
    @include font($size: $font-size, $color: $mono1, $weight: 400, $spacing: 0);
    width: 100%;
    border-top: 1px solid $mono1;
    th, td { padding: em(15, $font-size) 0; height: em(46, $font-size); line-height: em(16, $font-size); border-bottom: 1px solid $mono8; }
    th { text-align: left; font-weight: 600; }
    td { text-align: right; }
    .price-info {
      @include price-unit(krw);
      display: inline-block;
      font-size: inherit; line-height: inherit;
      dt { @include sr-only }
      dd { display: inline-block; width: rem(64); line-height: inherit; text-align: right; }
      dd:first-of-type { font-size: rem(11); color: $mono4; text-decoration: line-through }
      dd:last-of-type { color: $text-primary !important; text-decoration: none; font-weight: 600; }
    }
  }
  .lounge-info {
    .function-wrap { position: relative; }
    .info-title {
      $font-size: 14;
      @include font($size: $font-size, $color: $mono1, $weight: 800);
      display: inline-block;
      padding-left: rem($grid * 2);
      line-height: em(26, $font-size);
    }
    .btn-wrap {
      display: inline-block;
      padding-left: rem($grid * 2);
      & > [class^='btn_'] {
        $font-size: 11;
        @include form($size: 1, $role: normal, $type: button);
        @include font($size: $font-size, $color: $mono1, $weight: 600);
        float: left;
        line-height: em(24, $font-size)
      }
    }
  }
  .slide-wrap {
    padding: 0 rem($grid *4);
    img { width: 100%; height: auto; vertical-align: top; }
  }
  .swiper-slide {
    z-index: 0;
    .text-wrap {
      position: absolute; left: 0; bottom: 0; right: 0; width: 100%; height: rem(90); background-color: rgba(0,0,0,0.5); z-index: 0
    }
  }
  .slide-title,
  .slide-description { position: absolute; left: rem($grid * 3); color: $mono10; z-index: 1 }
  .slide-title { top: rem(14); font-size: rem(16); font-weight: 800 }
  .slide-description { $font-size: 12; top: rem(43); font-size: rem($font-size); line-height: em(16, $font-size) }
  .slide-controller {
    $size: 40;
    @include valign-center;
    @include clearfix;
    left: rem(12); right: rem(12);
    z-index: 1;
    .slide-prev,
    .slide-next {
      @include box-shadow(0 2px 4px rgba(0,0,0,0.5));
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: rem($size); height: rem($size);
      border-radius: 50%;
      background-color: $mono10;
      text-indent: -999em;
      &:before { content: ""; @include align-center; display: inline-block; width: rem(8); height: rem(8); border: solid $mono1; }
      &, &:before { cursor: pointer !important; }
    }
    .slide-prev {
      float: left;
      &:before { border-width: 2px 0 0 2px; transform: rotate(-45deg)translate(0px, -6px) }
    }
    .slide-next {
      float: right;
      &:before { border-width: 2px 2px 0 0; transform: rotate(45deg) translate(-6px, 0px) }
    }
  }
}