/* 부가서비스 신청(국내선) */
[data-page-id='anc_main'] {
  /*전체 서비스 가는편/오는편 선택 버튼(국내선 전용, Fake Tab Button)*/
  .flight-way-selector {
    margin-bottom: rem(-40); padding-top: rem($grid * 10);
    ul { @include clearfix; }
    li {
      @include font($size: 16, $color: $mono4, $weight: 800);
      float: left;
      width: 50%; height: rem(63);
      background-color: $mono9;
      border: 1px solid; border-color: $mono9 $mono9 $mono1 $mono9;
      &.active { background-color: $mono10; border-color: $mono1 $mono1 $mono10 $mono1; color: $mono1; }
    }
    a {
      display: block;
      padding: rem(16); height: 100%;
      text-align: center; text-decoration: none; color: inherit; line-height: rem(30);
      [class^='ico_'] { display: inline-block; margin-right: rem(12); height: rem(30); vertical-align: top; background-position: center center }
      .ico_7c { @include background($file: 'anc/symbol_flight-way_7c', $type: png, $width: rem(69), $height: rem(14)); width: rem(69) }
      .ico_tw { @include background($file: 'anc/symbol_flight-way_tw', $type: png, $width: rem(43), $height: rem(18)); width: rem(43) }
    }
  }
  .ticket-info + .flight-way-selector { margin-top: rem(20) }
  .anc-service-wrap .service-description[data-id='departure'],
  .anc-service-wrap .service-description[data-id='arrival'] {
    display: none;
    &[data-id='departure'].active,
    &[data-id='arrival'].active { display: block }
  }
  .anc-service [role='tab']:not(.active) { opacity: 0; margin: 0; padding: 0; width: 0; border: 0; }
  .anc-service + .notification-wrap {
    .notification-list {
      display: none;
      &.active { display: block }
    }
  }
  .anc-summary { top: rem(213) }
  .anc-summary .departure,
  .anc-summary .arrival {
    display: none;
    &.active { display: block; }
  }
}