/*mCustomScrollbar Overwrite*/
.mCSB_scrollTools { margin: rem(4) 0; width: rem(8); }
.mCSB_inside>.mCSB_container { margin-right: 0; padding-right: rem($grid * 2); }
.mCSB_scrollTools .mCSB_draggerRail { width: rem(4); background-color: rgba(0,0,0,0) }
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag + .mCSB_draggerRail { background-color: rgba(0,0,0,0.05) }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { /*background-color: $mono6*/ background-color: rgba(0,0,0,0.1) }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background-color: rgba(0,0,0,0.5) }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: rem(4); }


.ags-header { z-index: 1; }
.ags-container {
  z-index: 0;
  .anc-lnb-wrap { z-index: 1; }
  & > .content-wrap { z-index: 0; }
}
.ags-footer { z-index: 0; }