/*고객센터 > 공통*/
[data-page-id^='cs_']{
  @include board-page($lnb-wrap-class:'.cs-lnb-wrap', $content-wrap-class:'.cs-notice-wrap, .cs-faq-wrap, cs-qna-wrap', $list-class:'.notice-list, .faq-list, .qna-list');
  .search-area {
    .sort-by-category { width: rem(200) }
    .input-group.sort-by-date,
    .input-group.sort-by-words {
      width: rem(460);
      .selectric-select-wrap,
      .select-wrap { width: 40%; }
      .input-wrap, .calendar-wrap {
        width: 60%;
      }
    }
    .sort-by-status { width: rem(200) }
    input[type='text'], .select-wrap,
    .btn-wrap > label, .btn-wrap > input[type='checkbox'] + label, input[type='radio'] + label,
    .btn-wrap > button, .btn-wrap > a {
      padding-left: rem(20); padding-right: rem(20);
    }
  }
  [class*='-list']{
    table[data-grid-type='board'] > tbody > tr > th > a,
    table[data-grid-type='board'] > tbody > tr > td > a { @include text-ellipsis(block) }
  }
  table[data-grid-type='board'] > tbody > tr + .accordion-content {
    & > td { padding-left: 0 !important; padding-right: 0 !important; }
    .post-wrap { overflow: hidden; height: 0; }
  }
  table[data-grid-type='board'] > tbody > tr.active + .accordion-content {
    .post-wrap {
      overflow: visible;
      padding: 0 rem($grid * 5) rem($grid); height: auto;
      & + .post-wrap {
        @include divide-line($direction: top, $el: before, $color: $mono8, $size: 1, $mg: 40);
        position: relative;
        margin: rem($grid * 5) 0 0; padding: rem($grid * 5) rem($grid * 5) rem($grid); /*border-top: 1px solid #F0F0F0;*/
        &:before { box-shadow: 0 1px 0 $mono10; left: 0; right: 0; }
      }
    }
    .post-info {
      padding: 0;
      .writer, .date, .content { @include sr-only; }
      .writer + dd { @include font($size: 13, $color: $mono1, $weight: 600); margin-bottom: rem($grid * 3);  }
      .writer + dd ~ dd { padding-left: rem(10) }
      .date + dd { @include font($size: 11, $color: $mono3, $weight: 400); margin-bottom: rem($grid * 3); }
      .content + dd { display: block; width: 100%; line-height: 1.8em; padding-left: 0 !important; }
      .ico_manager { @include tagging-route(); margin-right: rem(4); vertical-align: middle; }
    }
    .post-attached {
      @include font($size: 13, $color: $mono1, $weight: 400);
      margin-top: rem($grid * 4); padding: rem($grid * 2) rem(20);
      background-color: #efefef;
      dt, dd { display: inline; }
      dt { padding-right: rem($grid * 2); font-weight: 600; }
      a { display: inline; padding: 0 rem($grid); text-decoration: underline; }
    }
    .textarea_write { @include form($size: 4, $role: normal, $type: textarea); margin-bottom: rem(-20); font-weight: 300; resize: vertical; }
    .btn-wrap {
      @include clearfix;
      margin: 0 rem(-$grid / 2); padding-top: rem($grid * 4);
      &:first-child { padding-top: 0; }
      .btn_write { @include form($size: 3, $role: submit, $type: button) }
      .btn_modify { @include form($size: 3, $role: normal, $type: button) }
      .btn_delete { @include form($size: 3, $role: normal, $type: button) }
      [class^='btn_'] { margin: 0 rem($grid / 2) rem($grid * 2); width: auto; min-width: em(112, 13); letter-spacing: 0.05em }
    }
  }
}
[data-page-id='cs_notice'] {
  .search-area .input-group.sort-by-words label,
  .search-area .input-wrap.notice-title label { @include sr-only }
  .notice-list {
    table[data-grid-type='board'] {
      & > thead > tr > th:first-of-type { width: rem(100); }
      & > thead > tr > th:nth-of-type(2) { width: rem(100); }
      & > thead > tr > th:nth-of-type(3) {  }
      & > thead > tr > th:nth-of-type(4) { width: rem(120); }
      & > thead > tr > th:last-of-type { width: rem(48); }
      & > tbody > tr > td:first-of-type { text-align: center; font-weight: 600; }
      & > tbody > tr > td:nth-of-type(2) { text-align: center; }
      & > tbody > tr > td:nth-of-type(3) {  }
      & > tbody > tr > td:nth-of-type(4) { text-align: center; }
      & > tbody > tr > td:last-of-type { padding-left: 0; padding-right: 0; text-align: center; }
    }
  }
}
[data-page-id='cs_faq'] {
  .faq-list {
    table[data-grid-type='board'] {
      & > thead > tr > th:first-of-type { width: rem(150); }
      & > thead > tr > th:nth-of-type(2) {  }
      & > thead > tr > th:last-of-type { padding-left: 0; padding-right: 0; width: rem(48); }
      & > tbody > tr > td:first-of-type { text-align: center; font-weight: 600; }
      & > tbody > tr > td:nth-of-type(2) {  }
      & > tbody > tr > td:last-of-type { padding-left: 0; padding-right: 0; text-align: center; }
    }
  }
}
[data-page-id='cs_qna']{
  .qna-list {
    table[data-grid-type='board'] {
      & > thead > tr > th:first-of-type { width: rem(100); }
      & > thead > tr > th:nth-of-type(2) { width: rem(140); }
      & > thead > tr > th:nth-of-type(3) { width: rem(160); }
      & > thead > tr > th:nth-of-type(4) {  }
      & > thead > tr > th:nth-of-type(5) { width: rem(120); }
      & > thead > tr > th:nth-of-type(6) { width: rem(120); }
      & > thead > tr > th:last-of-type { padding-left: 0; padding-right: 0; width: rem(48); }
      & > tbody > tr > td:first-of-type { text-align: center; font-weight: 600; }
      & > tbody > tr > td:nth-of-type(2) { text-align: center; }
      & > tbody > tr > td:nth-of-type(3) { text-align: center; }
      & > tbody > tr > td:nth-of-type(4) {  }
      & > tbody > tr > td:nth-of-type(5) { text-align: center; }
      & > tbody > tr > td:nth-of-type(6) { text-align: center; }
      & > tbody > tr > td:last-of-type { padding-left: 0; padding-right: 0; text-align: center; }
    }
  }
}