/*1:1 문의하기 팝업*/
[data-pop-id='pop_qna'] {
  $font-size: 13;
  @include pop_scroll-full;
  @include form-group-style($form-size: 3);
  @include font($size: $font-size, $color: $mono1, $weight: 400);
  width: rem(580);
  .scroll-wrap {
    @include clearfix;
  }
  .mCSB_inside>.mCSB_container { padding-left: rem(14); padding-right: rem(14); }
  .input-wrap, .select-wrap, .selectric-select-wrap, .btn-wrap, .file-wrap { float: left; margin: 0 0 rem(-5); padding: 0 rem(10) rem($grid * 4); }
  label { display: block; padding-bottom: em(12, $font-size); font-weight: 800; }
  .input-wrap.name,
  .input-wrap.qna-title,
  .input-wrap.qna-msg { width: 100%; }
  .input-wrap.email,
  .input-wrap.cell-num,
  .input-wrap.qna-type,
  .input-wrap.resv-num,
  .selectric-select-wrap.qna-type,
  .input-wrap.resv-num { width: 50%; }
  [class*='input-exp']{
    $font-size: 12;
    padding-top: em($grid, $font-size);
    font-size: rem($font-size); color: $mono3;
    &[class*='---asterisk'] { &:before { content: "* " } }
  }
  input[type='text'], .selectric .label, textarea { font-weight: 400; }
  .input-wrap.resv-num input[type="text"] { letter-spacing: 0; }
  textarea { resize: none }
  .file-wrap.qna-attached input[type='text'] { width: rem(255); }
}