/* 마이페이지 > 팝업 */
.pop-wrap .seat-plan{
  $pop-footer-area: 150;
  display: block !important;
  margin: rem(-25) rem(-16) rem(-$pop-footer-area); max-height: inherit; height: auto;
  .seat-sheet {
    width: auto; max-height: inherit;
    .scroll-wrap { max-height: inherit; }
    .mCSB_container { padding-top: rem(70); }
    .seat-code { top: rem(96) }
    .seat-num li.exit-row:first-child + li { margin-top: rem(43); }
  }
}