/*사이트 이름*/

html, body{
	overflow-x: hidden;
	max-width:100%;
	overscroll-behavior-y: none;
	margin: 0px;
}


/*-페이지맵----------------------------------------*/

.allwin_demo_fst{
	font-size: 13px;
}
.alpha_pagemap{
	padding: 10px;
	background-color: #f8f8f8;
	margin-top: 20px;
	font-weight: 500;
	color: #222;
	display: flex;
	justify-content: space-between;
}
.alpha_pagemap_tour{
	padding: 10px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	font-weight: 500;
	margin: 10px 0;	
}
.alpha_table{
	margin: 10px;
	margin: 10px;
}

.alpha_table div{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #f0f0f0;

}
.alpha_table a{
	text-decoration:none;
	color: #222;
	width: 100%;
    height: 100%;
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.alpha_table a::before{
	content: '- ';
	margin-right: 5px;
}

/*-사이트-------------------------------------------*/

.allwin_demo{
	position: relative;
	overflow: visible; /* overflow 제한 풀기 */
	overflow-y: auto;
    height: 100%;
}
.allwin_demo .alpha a {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}
.allwin_demo .alpha {
	overflow: visible; /* overflow 제한 풀기 */
	width: 100%;
	position: relative;
	overflow-y: auto;
    height: 100%;
}
.allwin_demo .alpha img {
	max-width: 100%;
	height: auto;
	display: block;
}

.allwin_demo .adgif1 img{
	position: absolute;
	top:7.95%;	
}
.allwin_demo .adgif2 img{
	position: absolute;
	top:26.0%;	
}
.allwin_demo .adgif3 img{
	position: absolute;
	top: 44.05%;	
}
.switch_btn{
	font-size: 20px; 
	padding: 5px; 
	border: 1px solid #222; 
	margin:10px 20px; 
	border-radius: 5px;
}


.allwin_demo .select_next a{
	position: absolute;
	bottom: 0%;
	height: 100px;
	width: 100%;
	z-index: 1;
}

.allwin_demo .ap_btn1{
	position: absolute;
    bottom: 28%;
    left: 0px;
    width: 180px;
    height: 91px;
    z-index: 2;
}
.allwin_demo .ap_btn2{
	position: absolute;
    bottom: 28%;
    right: 0px;
    width: 180px;
    height: 91px;
    z-index: 2;	
}
.allwin_demo .ap_btn3{
	position: absolute;
    top: 15%;
    right: 0px;
    width: 180px;
    height: 91px;
    z-index: 2;
}
.allwin_demo .ap_btn4{
	position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 2;
}
.allwin_demo .ap_btn5{
	position: absolute;
    top: 17%;
    right: 0px;
    width: 180px;
    height: 91px;
    z-index: 2;
}
.allwin_demo .ap_btn7{
	position: absolute;
    top: 17%;
    left: 0px;
    width: 180px;
    height: 91px;
    z-index: 2;
}
.allwin_demo .ap_btn6{
	position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 2;
}
.ap_box_wrapper {
    position: absolute;
    top: 310px;
    left: 0;
    right: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    z-index: 1;
}
.ap_box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
}
.ap_box_contens {
    flex: 0 0 auto;
    border-radius: 15px;
    padding: 13px 10px;
    width: 299px;
    height: 335px;
    margin-right: 5px;
}

@media (max-width: 431px) {
	
	.ap_box_wrapper.apa_box {
		top: 33.2%;
	}
}
@media (max-width: 415px) {
	
	.ap_box_wrapper.apa_box {
		top: 32%;
	}
}
@media (max-width: 391px) {
	
	.ap_box_wrapper.apa_box {
		top: 30%;
	}
}

@media (max-width: 376px) {
	.allwin_demo .ap_btn1{
    	bottom: 28%;
	}
	.allwin_demo .ap_btn2{
		bottom: 28%;
	}
	.allwin_demo .ap_btn4{
		bottom: -23%;
	}
	.allwin_demo .ap_btn5{
		top: 16%;
	}
	.allwin_demo .ap_btn6{
		bottom: 0;
	}
	.allwin_demo .ap_btn7{
		top: 16%;
	}
	.ap_box_wrapper.apa_box {
		top: 28%;
	}
}

@media (max-width: 361px) {
	    
	.ap_box_wrapper.apa_box {
		top: 26.5%;
	}
	.allwin_demo .ap_btn1 {
        bottom: 23%;
    }
	.allwin_demo .ap_btn2 {
        bottom: 23%;
    }
	.allwin_demo .ap_btn4{
		bottom: -4%;
	}
	.allwin_demo .ap_btn6{
		bottom: 0;
	}
}

@media (max-width: 321px) {

	.ap_box_wrapper.apa_box {
		top: 28%;
	}
	.ap_box_contens{
		padding: 15px 10px;
		width: 250px;
		height: 280px;
	}
	.allwin_demo .ap_btn1{
    	width: 150px;
		bottom: 26%;
	}
	.allwin_demo .ap_btn2{
		width: 150px;
		bottom: 26%;
	}
	.allwin_demo .ap_btn4 {
        bottom: -22%;
    }
	.allwin_demo .ap_btn6 {
        bottom: 0;
    }
}