/* paragraph style variation */
.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }
.text-ellipsis { @include text-ellipsis($value: inline-block) }
.text-emphasis { color: $text-primary; font-style: normal }
.text-uppercase,
.customer-name { @include text-uppercase }

/* element style variation */
.sr-only { @include sr-only }
.float-left { float: left }
.float-right { float: right }
.align-center {
  -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
  position: absolute; top: 50%; left: 50%;
}