/* COLOR VARIATION */
$mono1: #000;
$mono2: #333;
$mono3: #888;
$mono4: #aaa;
$mono5: #c8c8c8;
$mono6: #dcdcdc;
$mono7: #dfdfdf;
$mono8: #f0f0f0;
$mono9: #E4E4E4;
$mono10: #ffffff;
$text-primary: #FEE700;
$border-primary: #FEE700;
$bg-primary: #FEE700;
$bg-submit: #FEE700;
$border-radius: 3;
$font-root-size: 14;
$gnb-height: 200;
$footer-height: 291;
$grid: 8;
$trs-duration: 0.5s;
$trs-delay: 0.2s;
$font-path: '../font';
$img-path: '../img';

/* STYLE VARIATION */
$font-common-family: NanumSquare, "Apple SD Gothic NEO", sans-serif;
$font-en-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
$border-common-radius: 3px;
