/* PAGE : INDEX */
video {
  position: fixed; left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
  width: 177.77777778vh; /* 100 * 16 / 9 */
  height: 100%;
  min-width: 100%; min-height: 56.25vw; /* 100 * 9 / 16 */
  opacity: 0.20;
}
.page__index {
  /*@include background($file: 'index/bg_index', $type: png, $width: 100%, $height: 100%);*/
  background-size: cover;
}
[data-page-id='index'] {
  position: absolute; left: 0; top: calc(50% - 60px);
  transform: translate(0, -50%);
  .head-title {
    $font-size: 18;
    @include background($file: 'index/img_head-title', $type: png, $width: rem(327), $height: rem(14));
    @include font($size: $font-size, $color: $mono10, $weight: 600);
    @include text-uppercase;
    overflow: hidden;
    position: relative;
    margin-bottom: em(34, $font-size); padding: em(3, $font-size) em(35, $font-size) 0 0; width: 364px; height: em(25, $font-size);
    line-height: em(22, $font-size); text-indent: -999em;
    background-position: 0 bottom;
    .ico {
      @include background($file: 'index/ico_head-title-flag', $type: png, $width: rem(27), $height: rem(20));
      position: absolute; right: 0; top: 0;
      display: inline-block;
      width: 27px; height: 20px;
      background-position: right top;
    }
  }
  .head-text {
    @include font($family: en, $size: 56, $color: transparent, $weight: 600);
    @include background($file: 'index/img_head-text', $type: png, $width: rem(1091), $height: rem(194));
    overflow: hidden;
    display: block;
    height: 194px;
    text-indent: -999em;
    /*text-shadow: 0 0 0 rgba(255,255,255,1);
    svg { width: 100%; }
    svg text {
      stroke: $mono10;
      fill-opacity: 0;
      text-anchor: start;
      font-size: 56px;
      font-weight: 600;
      font-family: Geogrotesque, sans-serif;
      line-height: 64px;
    }*/
  }
}