@charset "UTF-8";
@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 300;
  src: url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Light.eot");
  src: local(※), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Light.woff2") format("woff2"), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Light.woff") format("woff"), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Light.otf") format("opentype");
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Regular.eot");
  src: local(※), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Regular.woff2") format("woff2"), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Regular.woff") format("woff"), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 700;
  src: url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Bold.eot");
  src: local(※), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Bold.woff2") format("woff2"), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Bold.woff") format("woff"), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Nanum Gothic";
  font-style: normal;
  font-weight: 800;
  src: url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-ExtraBold.eot");
  src: local(※), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-ExtraBold.woff2") format("woff2"), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-ExtraBold.woff") format("woff"), url("//openimage.interpark.com/.fonts/NanumGothic/2350.abv2/hinted/NanumGothic-ExtraBold.otf") format("opentype");
}

* {
  -webkit-text-size-adjust: none;
}

/*font 자동크기변환 방지*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.2;
  font-size: 12px;
  color: #646464;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  word-break: break-all;
}

a,
a:link {
  text-decoration: none;
  color: #646464;
}

a:hover,
a.active,
a.focus {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
li,
dl,
dt,
dd,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  display: none;
}

table,
th,
td {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

caption {
  visibility: hidden;
  overflow: hidden;
  position: static;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

fieldset,
form,
iframe {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
option,
button {
  font-size: 12px;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
}

address,
caption,
cite,
code,
dfn,
em,
var,
i {
  font-style: normal;
  font-weight: normal;
}

textarea {
  resize: none;
  background: #fff;
  border: 1px solid #e1e1e1;
  font-size: 12px;
  color: #646464;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 0;
  background: none;
}

/* add-001 */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Fire Fox button style bug */
blockauote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

.invisible,
.skip-nav,
legend,
.caption-none,
.th-none {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

@media print {
  #headArea,
  .footWrap,
  #footArea,
  #quickMenuArea,
  #bodyLeft {
    display: none;
  }
  * {
    font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
    font-size: 12px;
    -webkit-text-size-adjust: none;
  }
}

/*print*/
.skip-nav {
  display: none;
}

.block {
  display: block !important;
}

/* 이미지 대체 택스트 IR 기법 가이드 */
.ir-module {
  position: relative;
}

.ir-module * {
  position: absolute;
  font-size: 0;
  line-height: 0;
  color: #fff;
}

.ir-module img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  -ms-interpolation-mode: nearest-neighbor;
  *-ms-interpolation-mode: bicubic;
}

/* 텍스트 */
.txt-type1 {
  font-size: 12px;
}

.txt-type2 {
  font-size: 14px;
}

/* 정렬 */
.range1 {
  text-align: left !important;
}

.range2 {
  text-align: right !important;
}

.range3,
.ui-data-table.range3 th,
.ui-data-table.range3 td {
  text-align: center !important;
}

/* add-10 */
/* 폰트 색상 */
.point01 {
  color: #e25147 !important;
}

.point02 {
  color: #3b9dda !important;
}

/* 백그라운드 색상 */
.point-01,
.btn-enter {
  background-color: #e25147 !important;
}

/* 팝업 확인버튼 추가 add-10 */
.point-02 {
  background-color: #3b9dda !important;
}

.point-10 {
  background-color: #b2b2b2 !important;
}

.point-11,
.btn-cencle,
.btn-cancel {
  background-color: #666 !important;
}

/* 팝업 취소 버튼 추가 add-10 */
/* 아이콘 색상 */
.point1-1 {
  background-color: #ff953e;
}

.point1-2 {
  background-color: #34b5e9;
}

.point1-3 {
  background-color: #ffc63e;
}

.point1-4 {
  background-color: #9fbb5f;
}

.point1-5 {
  background-color: #ed666c;
}

.point1-6 {
  background-color: #9e99e8;
}

.point1-7 {
  background-color: #0bb6ae;
}

/* 선택상 */
.point2-1 {
  color: #e25147 !important;
  border: 1px solid #e25147 !important;
}

.point2-2 {
  color: #3b9dda !important;
  border: 1px solid #3b9dda !important;
}

/* add-10 */
.point2-10 {
  color: #555 !important;
  border: 1px solid #e4e4e4 !important;
}

.point2-11 {
  color: #555 !important;
  border: 1px solid #a3a3a3 !important;
}

.point2-12 {
  color: #696969 !important;
  border: 1px solid #c6c6c6 !important;
  background: #f9f9f9;
}

.point2-13 {
  color: #3298d8 !important;
  border: 1px solid #3298d8 !important;
}

.point2-14 {
  color: #000 !important;
  border: 1px solid #000 !important;
}

.btn1,
a.btn1 {
  display: inline-block;
  position: relative;
  padding: 8px 16px 7px 16px;
  *padding: 7px 6px 8px 6px;
  font-weight: bold;
  color: #fff;
  line-height: 18px;
  border: 0;
}

.btn1.min {
  padding: 0 6px 1px;
  font-size: 12px;
  height: 18px;
  line-height: 17px;
  font-weight: normal;
}

.btn2,
a.btn2 {
  display: inline-block;
  position: relative;
  font-size: 16px;
  padding: 13px 46px 12px 46px;
  min-width: 85px;
  font-weight: bold;
  color: #fff;
  border: 0;
}

.btn2.min {
  padding-left: 30px;
  padding-right: 30px;
}

.btn2.max {
  padding-left: 70px;
  padding-right: 70px;
}

.btn3 {
  padding: 16px 10px 15px;
  font-size: 16px;
}

.btn4 {
  display: block;
  padding: 6px 9px;
  font-size: 14px;
}

.btn1:hover,
.btn2:hover {
  color: #fff;
  text-decoration: underline;
}

.btn-enter .icon-search {
  padding-right: 35px;
  margin-right: -20px;
}

.btn-enter span {
  display: block;
  font-size: 16px;
}

.btn1.icon1 {
  padding-right: 21px;
}

.btn1.icon1:hover {
  text-decoration: none;
}

.btn1.icon1:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -1px;
  border: 3px solid transparent;
  border-top-color: #fff;
}

.btn-icon1 {
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  font-size: 0;
  text-align: center;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  color: #888;
  line-height: 16px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.btn-icon1:before {
  content: "?";
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.btn-icon2 {
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  font-size: 0;
  text-align: center;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  color: #888;
  line-height: 16px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}

.btn-icon2:before {
  content: "i";
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}

.icon-search {
  color: #fff;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/icon/icon_search1.png") no-repeat 93% 50%;
}

.icon-type1 {
  display: inline-block;
  padding: 3px 6px 2px;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
}

.icon-type2 {
  display: inline-block;
  padding: 2px 6px 1px;
  font-size: 12px;
  line-height: 13px;
  text-decoration: none !important;
  font-weight: normal !important;
}

.btn-block {
  margin-top: 40px;
  text-align: center;
}

.btn-spot {
  display: block;
  margin-top: 20px;
  margin-top: 30px;
  text-align: center;
}

/* 강조 문구 */
.emph-1 {
  display: block;
  position: relative;
  margin-top: 10px;
  padding-left: 7px;
  font-size: 12px;
  line-height: 18px;
  color: #555;
}

.emph-1:before {
  content: "";
  display: inline-block;
  position: relative;
  top: -3px;
  left: -7px;
  width: 2px;
  height: 2px;
  background-color: #555;
}

.emph-1.style1 {
  margin-top: 12px;
  padding-bottom: 40px;
  border-bottom: 1px dotted #c9c9c9;
}

.emph-1.add-1 {
  margin-bottom: -10px;
}

.emph-2 {
  display: block;
  position: relative;
  left: 0;
  padding-left: 10px;
  color: #333;
  font-weight: bold;
}

.emph-2:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  border: 4px solid transparent;
  border-left-color: #666;
}

.emph-2:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: -1px;
  border: 4px solid transparent;
  border-left-color: #fff;
}

.emph-3 {
  display: block;
  position: relative;
  margin-top: 10px;
  padding-left: 13px;
  font-size: 12px;
  line-height: 18px;
}

.emph-3:before {
  content: "※";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.emph-block {
  display: block;
  padding-left: 30px;
  color: #555;
  text-align: left;
  line-height: 22px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/icon/icon_notice1.png") no-repeat 0 0;
}

.emph-block .block {
  display: block;
  margin-bottom: 10px;
}

.emph-block .tit {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.emph-tit {
  display: block;
  padding-left: 14px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  text-align: left;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/icon/icon_arrow01_2.gif") no-repeat 0 3px;
}

/* 공통 이전 다음 */
.info-page {
  position: absolute;
  margin-top: 10px;
  right: 1px;
  font-size: 12px;
  font-weight: 900;
}

.info-page .btn {
  display: inline-block;
  position: relative;
  top: -4px;
  width: 20px;
  height: 17px;
  font-size: 0;
  line-height: 0;
  background: #707070 url("//openimage.interpark.com/tourpark/tour_ui/common/btn/btn_set1.png") no-repeat 0 0;
}

.info-page .btn:hover {
  background-color: #333;
}

.info-page .btn.btn-prev {
  margin-left: 3px;
}

.info-page .btn.btn-next {
  background-position: -20px 0;
}

.info-page .btn.btn-stop {
  display: none;
  background-position: -64px 0;
}

.info-page .btn.btn-play {
  display: none;
  background-position: -42px 0;
}

.info-page .btn.btn-stop.on,
.info-page .btn.btn-play.on {
  display: inline-block;
}

/* 공통 리스트 타입 */
.ui-con-list {
  margin-top: 16px;
}

.ui-con-list li,
.ui-con-list dd {
  position: relative;
  padding-left: 12px;
  text-align: left;
  line-height: 22px;
}

.ui-con-list li:before,
.ui-con-list dd:before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  margin-top: -1px;
  width: 2px;
  height: 2px;
  background-color: #333;
}

.ui-con-list span {
  font-size: 12px;
  color: #666;
  line-height: 18px;
  letter-spacing: -.3px;
}

.ui-con-list .tit {
  margin-bottom: 2px;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.ui-con-list .con {
  color: #333;
}

.ui-con-list.none li,
.ui-con-list.none dd {
  padding-left: 0;
}

.ui-con-list.none li:before,
.ui-con-list.none dd:before {
  display: none;
}

.ui-con-list.ui-box li.first-child,
.ui-con-list.ui-box1 li.first-child {
  border-bottom: 0;
}

/* 공통 박스 타입 */
.ui-box,
.ui-box1 {
  padding: 30px;
  border: 1px solid #e4e4e4;
}

.ui-box1 {
  background: #f9f9f9;
}

.ui-box .ui-con-list,
.box1 .ui-con-list {
  margin-top: 0;
}

.ui-module .btn-type1 {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 16px;
}

.ui-module .btn-type1:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #f34e43;
}

.ui-module .btn-type1:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 11px;
  right: 0;
  display: block;
  content: "";
  width: 2px;
  height: 8px;
  background: #f34e43;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.ui-module .btn-search {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/icon/icon_search2.png") no-repeat 0 3px;
}

.btn-sns1-1 {
  display: inline-block;
  width: 42px;
  height: 42px;
  font-size: 0;
  line-height: 0;
  border: 1px solid #e25147;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/icon/icon_sns01.png") no-repeat 50% 50%;
}

.btn-sns1-2 {
  display: inline-block;
  width: 42px;
  height: 42px;
  font-size: 0;
  line-height: 0;
  border: 1px solid #666;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/icon/icon_sns02.png") no-repeat 50% 50%;
}

/* 정렬 add-10 */
.sort-cover {
  margin-top: 50px;
  position: relative;
}

.sort-block {
  margin-top: 40px;
}

.sort-block a {
  position: relative;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
  border-left: 1px solid #e4e4e4;
}

.sort-block a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 4px;
  border: 4px solid transparent;
  border-top-color: #555;
}

.sort-block .on:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: 4px;
  border: 4px solid transparent;
  border-bottom-color: #e25147;
}

.sort-block button {
  position: relative;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 14px;
  color: #555;
  font-weight: bold;
  border-left: 1px solid #e4e4e4;
}

.sort-block button:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 4px;
  border: 4px solid transparent;
  border-top-color: #555;
}

.sort-block .first-child {
  padding-left: 0;
  border-left: 0;
}

.sort-block .on {
  color: #e25147;
}

/*정렬 - 우측셀렉트*/
.sort-cover .sel-cover01 {
  position: absolute;
  bottom: 12px;
  right: 2px;
  background-color: #fff;
  vertical-align: top;
}

.sort-cover .sel-cover01 .btn1 {
  height: 33px;
  vertical-align: top;
}

.sort-cover .sel-cover01 .sel {
  padding: 10px 9px;
  height: 43px;
  border: 1px solid #e4e4e4;
  color: #333;
}

.sort-cover .sel-cover01 .sel.min {
  padding: 6px 5px;
  height: 33px;
}

.sort-cover .view-align .btn1 {
  width: 35px;
  margin-right: -1px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0;
  line-height: 0;
}

.sort-cover .view-align .btn1:before {
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  background: url("//openimage.interpark.com/tourpark/tour_ui/free/icon_sub1_total.png") no-repeat left -26px;
}

.sort-cover .view-align .li-st:before {
  background-position: left -46px;
}

.sort-cover .view-align .on {
  position: relative;
  z-index: 1;
  border-color: #e25147 !important;
}

.sort-cover .view-align .li-st.on:before {
  background-position: -16px -46px;
}

.sort-cover .view-align .img-st.on:before {
  background-position: -16px -26px;
}

/* 테이블공통 */
.ui-board-list {
  margin-top: 20px;
  width: 100%;
}

.ui-board-list tr.first-child td {
  border-top: 0;
}

.ui-board-list thead th {
  height: 45px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  border-left: 1px solid #62b1e1;
  background: #3b9dda;
}

.ui-board-list table thead th {
  height: auto;
}

.ui-board-list thead th a {
  color: #fff;
  font-weight: bold;
}

.ui-board-list thead th a:hover {
  text-decoration: none;
}

.ui-board-list thead th .btn1.icon1:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3px;
  border: 5px solid transparent;
  border-top-color: #fff;
}

.ui-board-list thead th.on .btn1.icon1:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -3px;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom-color: #fff;
}

.ui-board-list tbody th {
  padding: 15px 20px 13px 20px;
  border-bottom: 1px solid #e4e4e4;
}

.ui-board-list tbody td {
  padding: 15px 20px 13px 20px;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
  vertical-align: middle;
  background: #fff;
}

.ui-board-list tbody td.data {
  text-align: right;
}

.ui-board-list tbody td.view {
  padding: 0;
}

.ui-board-list tbody td.subject {
  text-align: left;
}

.ui-board-list tbody td .btn-view {
  text-decoration: underline;
  font-weight: bold;
}

.ui-board-list tbody td .block {
  display: block;
  margin-top: 2px;
}

.ui-board-list tbody td .won {
  font-weight: bold;
}

.ui-board-list tbody td .icon {
  font-size: 0;
  line-height: 0;
}

.ui-board-list tbody td .del {
  font-size: 12px;
  color: #000;
}

.ui-board-list tbody td .btn-sns {
  font-size: 0;
  line-height: 0;
  width: 16px;
  height: 16px;
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/icon/icon_sns02.png") no-repeat 0 top;
}

.ui-board-list tbody td .btn-sns.on {
  background: url("//openimage.interpark.com/tourpark/tour_ui/common/icon/icon_sns01.png") no-repeat 0 top;
}

.ui-board-list tbody td em {
  margin-right: 8px;
  font-weight: 900;
}

.ui-board-list tbody td .spot-1 {
  display: inline-block;
  position: relative;
  padding: 4px 5px 4px 5px;
  min-width: 40px;
  font-size: 11px;
  letter-spacing: 0;
  color: #3b9dda;
  background: url("//openimage.interpark.com/tourpark/tour_ui/air/bg_gg.gif") no-repeat 0 0;
}

.ui-data-table {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.ui-data-table thead th {
  padding: 18px 0;
  font-size: 12px;
  text-align: center;
  color: #333;
  border: 1px solid #e4e4e4;
  border-bottom: 0;
  background-color: #f9f9f9;
}

/* add-10 */
.ui-data-table tbody td {
  padding: 18px 20px;
  font-size: 12px;
  text-align: left;
  line-height: 22px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
}

.ui-data-table tbody th {
  padding: 18px 20px;
  color: #333;
  text-align: left;
  line-height: 22px;
  border: 1px solid #e4e4e4;
  background-color: #f9f9f9;
}

.ui-data-table tbody td.subject,
.ui-data-table .no-data {
  text-align: center;
}

.ui-data-table tbody td .txt-area {
  display: block;
  padding: 2%;
  width: 96%;
  border: 1px solid #e4e4e4;
}

/* add-10 */
.ui-data-table .data {
  text-align: right;
}

.ui-data-table.min thead th {
  padding: 10px 0;
}

.ui-data-table.min tbody th {
  padding: 10px 20px;
}

.ui-data-table.min tbody td {
  padding: 10px;
}

/* 위 아래 팁 add-10 */
.tip-module {
  position: absolute;
  padding: 10px;
  text-align: left;
  line-height: 18px;
  border: 1px solid #666;
  background-color: #fff;
}

.tip-module:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -4px;
  border: 8px solid transparent;
  border-bottom-color: #222;
}

.tip-module:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -16px;
  left: 50%;
  margin-top: 1px;
  margin-left: -4px;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}

.tip-module .tip-tit {
  display: block;
  padding: 5px 0 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #222;
  border-bottom: 1px dashed #c4c4c4;
}

.tip-module .para-1 {
  font-size: 12px;
}

.tip-module .ui-con-list {
  font-size: 12px;
}

.tip-module .ui-con-list.min {
  margin-top: 0;
}

.tip-module .ui-con-list dt {
  margin-top: 10px;
  font-weight: bold;
}

.tip-module .ui-con-list li strong {
  color: #222;
}

.tip-area {
  position: absolute;
  padding: 10px;
  text-align: left;
  line-height: 18px;
  border: 1px solid #666;
  background-color: #f9f9f9;
  z-index: 10;
}

.tip-area:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border: 8px solid transparent;
  border-top-color: #222;
}

.tip-area:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  margin-top: -1px;
  border: 8px solid transparent;
  border-top-color: #f9f9f9;
}

.tip-area .tip-tit {
  display: block;
  padding: 5px 0 10px;
  font-size: 15px;
  color: #222;
  border-bottom: 1px dashed #c4c4c4;
}

.tip-area .ui-con-list {
  font-size: 12px;
}

.tip-area .ui-con-list dt {
  margin-top: 10px;
  font-weight: bold;
}

/*스크롤 테이블*/
.table-module {
  position: relative;
  margin-top: 40px;
}

.table-module .cover {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  border: 1px solid #e4e4e4;
}

.table-module .table-scroll {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0;
}

.table-module .table-scroll thead {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  border-right: 1px solid #7a7a7a;
  border-left: 1px solid #7a7a7a;
  background: #888;
  color: #fff;
  z-index: 1;
}

.table-module .table-scroll thead tr {
  width: 100%;
}

.table-module .table-scroll thead th {
  height: 40px;
  border: 0;
  border-right: 1px solid #7a7a7a;
  font-weight: bold;
}

.table-module .table-scroll tbody {
  width: 100%;
  border: 0;
}

.table-module .table-scroll tbody tr {
  display: table-row;
  width: 100%;
  cursor: pointer;
}

.table-module .table-scroll tbody td {
  display: table-cell;
  border: 0;
  border-bottom: 1px solid #e4e4e4;
}

.table-module .data {
  text-align: right;
}

.table-module .subject {
  text-align: left;
}

/* 달력 */
.ui-calendar {
  width: 100%;
  background: #f1f1f1;
}

.ui-calendar caption {
  display: none;
}

.ui-calendar thead th {
  padding: 8px 0;
  font-size: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: 900;
  border: 1px solid #6c6c6c;
  background: #737373;
}

.ui-calendar tbody td {
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size: 11px;
  font-size: 14px;
  color: #b7b6b6;
  text-align: center;
  border: 1px solid #e7e7e7;
  vertical-align: top;
}

.ui-calendar thead th.holiday {
  border: 1px solid #d64e4e;
  background-color: #d14339;
}

.ui-calendar thead td.sat {
  color: #3b9dda;
  border-right: 1px solid #737373;
}

.ui-calendar tbody td.sat a {
  color: #3b9dda;
}

.ui-calendar tbody td a {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #6e6e6e;
  letter-spacing: 0;
  background: #fff;
}

.ui-calendar tbody td.holiday,
.ui-calendar tbody td.holiday a {
  color: #d64e4e;
}

.ui-calendar tbody td a:hover,
.ui-calendar tbody td.choice a {
  text-decoration: none;
  color: #fff;
  background: #e25147;
}

.ui-calendar tbody td a em {
  display: block;
  margin-top: -10px;
  font-size: 9px;
  line-height: 12px;
  font-weight: 900;
}

.ui-calendar tbody td.choice a {
  text-decoration: none;
  color: #fff;
  background: #e25147;
}

.ui-calendar tbody td.choice1 a {
  text-decoration: none;
  color: #fff;
  background: #3b9dda;
}

.ui-calendar tbody td.choice2 a {
  text-decoration: none;
  color: #fff;
  background: #00a99d;
}

.ui-calendar tbody td.choice3 a {
  text-decoration: none;
  color: #fff;
  background: #8569e0;
}

.ui-calendar tbody td.day-select a {
  text-decoration: none;
  color: #fff;
  background: #aaa;
}

/* 향 후 디자인 변경 */
.ui-paging {
  position: relative;
  margin-top: 16px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
}

.ui-paging a {
  display: inline-block;
  font-size: 14px;
  color: #000;
  text-align: center;
}

.ui-paging .prev,
.pagination .next {
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
}

.ui-paging .on {
  position: relative;
  font-weight: bold;
  color: #000;
}

.ui-paging.add1 {
  border: 1px solid #eee;
  border-bottom-color: #ddd;
  background: #f9f9f9;
}

.ui-paging.add1 a,
.ui-paging.add1 button {
  margin-right: -1px;
  padding: 0 16px;
  height: 38px;
  line-height: 40px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  font-family: "Nanum Gothic", "돋움", Dotum, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.ui-paging.add1 .on {
  position: relative;
  color: #d45252;
  border-color: #dcdcdc;
  background: #e9e9e9;
}

.ui-paging.add1 .prev,
.ui-paging.add1 .next {
  position: relative;
  width: auto;
  margin: 0 5px;
  padding: 0 10px;
  border: 0;
  font-size: 12px;
}

.ui-paging.add1 .prev.first {
  padding-left: 15px;
}

.ui-paging.add1 .prev {
  padding-right: 0;
}

.ui-paging.add1 .next {
  padding-left: 0;
}

.ui-paging.add1 .prev:before,
.ui-paging.add1 .next:before {
  display: block;
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
}

.ui-paging.add1 .prev:before {
  content: "<";
  left: 0;
}

.ui-paging.add1 .next:before {
  content: ">";
  right: 0;
}

.ui-paging.add1 .prev.first:before {
  content: "<<";
  left: 0;
  letter-spacing: -5px;
}

.ui-paging.add1 .next.last:before {
  content: ">>";
  right: 0;
  letter-spacing: -5px;
}

/* 페이징 min */
.ui-paging-min {
  position: relative;
  z-index: 10;
  display: table;
  margin: 42px auto 0;
  text-align: center;
  border-collapse: collapse;
}

.ui-paging-min .first-child,
.ui-paging-min .last-child {
  display: inline-block;
  vertical-align: -5px;
}

.ui-paging-min .first-child {
  margin-right: 5px;
}

.ui-paging-min .last-child {
  margin-left: 5px;
}

.ui-paging-min a {
  display: table-cell;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  font-size: 11px;
  text-align: center;
  border: 1px solid #dadada;
  font-family: tahoma;
  font-size: 12px;
  font-weight: nomal;
  color: #848484;
}

.ui-paging-min a.on {
  background: #e9e9e9;
  color: #000;
  cursor: default;
  font-weight: bold;
}

.ui-paging-min a.on:hover {
  color: #000;
}

.ui-paging-min a.off {
  cursor: default;
}

.ui-paging-min a:hover {
  color: #848484;
}

.ui-paging-min .prev,
.ui-paging-min .next {
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  display: inline-block;
  position: relative;
  width: auto;
  height: 19px;
  margin: 0 3px;
  padding: 6px 9px 0;
  border: 0;
  color: #848484;
  font-size: 11px;
}

.ui-paging-min .prev {
  padding-right: 0;
}

.ui-paging-min .next {
  padding-left: 0;
}

.ui-paging-min .prev.first {
  padding-left: 11px;
}

.ui-paging-min .next.last {
  padding-right: 11px;
}

.ui-paging-min .prev:before,
.ui-paging-min .next:before {
  display: block;
  position: absolute;
  font-size: 11px;
  font-weight: normal;
  font-family: "돋움", Dotum, Arial, Helvetica, sans-serif;
  color: #4d566f;
}

.ui-paging-min .prev:before {
  content: "<";
  left: 0;
}

.ui-paging-min .next:before {
  content: ">";
  right: 0;
}

.ui-paging-min .prev.first:before {
  content: "<<";
  left: 0;
  letter-spacing: -4px;
}

.ui-paging-min .next.last:before {
  content: ">>";
  right: 4px;
  letter-spacing: -4px;
}
