@import "base/ags_mo_reset";
@import "base/ags_mo_variation";
@import "base/ags_mo_mixin";
@import "base/ags_mo_common";
@import "base/ags_mo_form";
@import "base/ags_mo_tabs";
@import "base/ags_mo_popup";
@import "page/ags_mo_layout";
@import "page/buy_common";
@import "page/buy_popup";
@import "page/dfs_popup";

[data-page-id='path']{
  .ags-wrap {
    overflow: hidden;
    position: relative;
    min-width: rem($path-content-width + $grid * 4); width: 100%;
    .fit-layout & { min-height: inherit; }
  }
  .content-wrap { @include content-wrap }
  .site-name { @include sr-only }
  .ags-header {
    overflow: hidden;
    position: relative;
    height: rem(80);
    border-bottom: 1px solid $mono8;
    .symbol-wrap {
      float: left;
      height: 100%;
      dl { float: left; }
      dt { @include sr-only }
      dd { display: inline-block; }
      .symbol_agency + dd {
        height: rem($gnb-height);
      }
      .symbol_airline ~ .symbol_agency + dd {
        padding-left: rem(58);
        @include background($file: 'common/header-logo_by', $type: jpg, $width: rem(18), $height: rem($gnb-height));
        background-position: rem(20);
      }
      .ico_tag {
        $font-size: 12;
        @include font($size: $font-size, $color: $mono1, $weight: 600);
        float: left;
        margin: rem(28) 0 0 rem($grid * 2); padding: 0 em(12, $font-size); height: em(24, $font-size);
        line-height: em(24, $font-size);
        background-color: $bg_submit;
      }
    }
    .gnb-wrap {
      @include clearfix;
      float: right;
      height: 100%;
    }
    .gnb {
      margin: 0 rem(-12);
      li {
        float: left;
        padding: rem(25) rem($grid) 0;
        &:last-of-type { float: right; }
        a {
          @include font($size: $font-root-size, $color: $mono1, $weight: 600);
          overflow: hidden;
          display: inline-block;
          padding: rem($grid) rem($grid / 2);
          vertical-align: middle; text-decoration: none;
        }
        &.active a { color: $text-primary }
      }
    }
  }
  .lnb-wrap {
    position: absolute; left: 0; top: 0; right: 0;
    width: 100%; height: rem(61);
    border-bottom: 1px solid $mono8;
    background-color: #F8F8F8;
    z-index: 100;
    .content-wrap { @include clearfix; @include content-wrap; height: 100%; }
    .page-name { float: left; padding-top: rem(23); font-weight: 800; }
    .lnb { @include clearfix; float: right; margin: 0 rem(-20); height: 100%; }
    li {
      height: 100%;
      float: left;
      padding: rem(15) rem($grid * 2) 0;
      a {
        @include font($size: $font-root-size, $color: $mono1, $weight: 600);
        display: block; width: 100%; height: 100%;
        padding: rem($grid) rem($grid / 2);
        text-decoration: none;
      }
      &.active a { color: $mono1; }
    }
    &.ui-fixed, &.ui-fixed---bottom {
      position: fixed;
      li a { color: $mono4; }
      li.active a { color: $mono1; }
    }
  }
  .ags-container {
    margin-top: 0; padding-top: 0;
    .content-wrap { @include content-wrap }
  }
  .ags_content {
    padding-top: rem(100)
  }
  .ags_content-title {
    $font-size: 18;
    @include font($size: $font-size, $color: $mono1, $weight: 800);
    margin-bottom: em(32, $font-size)
  }
  table.page-map {
    $font-size: 13; @include font($size: $font-size, $color: $mono1, $weight: 400);
    table-layout: fixed; width: 100%;
    border-top: 1px solid $mono1;
    thead th { padding: em(16, $font-size); min-height: em(50, $font-size); line-height: em(18, $font-size); font-weight: 800; text-align: left; border-bottom: 1px solid $mono1; }
    tbody td { padding: em(16, $font-size); min-height: em(47, $font-size); line-height: em(15, $font-size); border-bottom: 1px solid $mono8; }
    a { color: inherit; }
  }
}