/*마이페이지 > 나의 예약/결제 내역*/
[data-page-id='my_pay-history-detail_anc'] {

}
/*마이페이지 > 렌터카 예약내역 > 목록*/
[data-page-id='my_pay-history_car']{
  .history-list {
    table[data-grid-type='board'] > thead > tr > th:nth-of-type(1) { width: rem(160) }
    table[data-grid-type='board'] > thead > tr > th:nth-of-type(2) { width: rem(200) }
    table[data-grid-type='board'] > thead > tr > th:nth-of-type(3) { width: rem(260) }
    table[data-grid-type='board'] > thead > tr > th:nth-of-type(4) { width: auto }
    table[data-grid-type='board'] > tbody > tr > td:nth-of-type(2) { font-weight: 600; }
    table[data-grid-type='board'] > tbody > tr > td { line-height: em(24, 14) }
    table[data-grid-type='board'] > tbody > tr > td:nth-of-type(3) .schedule,
    table[data-grid-type='board'] > tbody > tr > td:nth-of-type(3) .schedule + dd { font-size: rem(14); }
    .result-empty td { @include font($size: 14, $color: $mono1, $weight: 600); padding: rem(122) rem(16); text-align: center; }
  }
}
/*마이페이지 > 렌터카 예약내역 > 상세(+취소/환불)*/
[data-page-id='my_pay-history-detail_car']{
  .notification-text { padding-top: rem(50); }
  .my-history-detail-wrap {
    .receipt-wrap table thead th:nth-of-type(1),
    .receipt-wrap table tbody th:nth-of-type(1) { width: rem(180) !important }
    .receipt-wrap table thead th:nth-of-type(2),
    .receipt-wrap table tbody td:nth-of-type(1) { width: rem(280) !important }
    .receipt-wrap table thead th:nth-of-type(3),
    .receipt-wrap table tbody td:nth-of-type(2) { width: auto }
    .receipt-wrap table thead th:nth-of-type(4),
    .receipt-wrap table tbody td:nth-of-type(3) { width: rem(120) !important }
    .receipt-wrap table thead th:nth-of-type(5),
    .receipt-wrap table tbody td:nth-of-type(4) { width: rem(130) !important; }
    .receipt-wrap table thead th:nth-of-type(6),
    .receipt-wrap table tbody td:nth-of-type(5) { width: rem(152) !important; padding-right: rem(60) }
    .receipt-wrap table tbody th,
    .receipt-wrap table tbody td { line-height: em(24, 14) }
    .receipt-wrap table tbody td { padding-top: rem(22); padding-bottom: rem(22); }
    .receipt-wrap table tbody th:first-of-type label .ico { margin-left: rem(-32); }
    .receipt-wrap table tbody td:nth-of-type(1) { text-align: left; }
    .receipt-wrap table tbody td:nth-of-type(2) { text-align: center; }
    .receipt-wrap table thead th:nth-of-type(4) { text-align: center; }
    .receipt-wrap table tbody td:nth-of-type(4) { @include price-unit(krw); letter-spacing: 0; text-align: right; }
    .ticket-info {
      dt, dd { display: inline; }
      .schedule:after { content: ":"; padding: 0 0.1em 0 0.3em }
      .schedule ~ dd:after{ content: ""; display: block; width: 100%; height: 0 }
      .schedule, .schedule + dd { @include font($size: 14, $color: $mono1, $weight: 400); display: inline; }
      .schedule ~ dd { letter-spacing: 0; }
    }
    .car-plan-detail { padding-top: rem($grid); }
  }
}