
/*테스트------------------------------------------------------*/

.ags-header{
 height: 112px !important ;
}
.ags-footer{
  background-color: #fff !important;
}

.alphaseat_img{
  position: relative;
  margin: 0 auto;
}

.alphaseat_img .abcd1 {
	width: auto;
}

.alphaseat_img .abcd1 img {
	max-width: 1024px;
	height: auto;
	display: block;
  margin: 0 auto;
}


.alphaseat_img .abcd2 {
	width: 1024px;
  height: 1080px;
  background: url("../img/common/ai_img2.jpg") no-repeat center ;
  margin: 0 auto;
  position: relative;
}
.alphaseat_img .abcd2 img {
	max-width: 1024px;
	height: auto;
	display: block;
  margin: 0 auto;
}

.alphaseat_img .abcd3 {
	width: 1024px;
  height: 1400px;
  background: url("../img/common/ai_img3.jpg") no-repeat center ;
  margin: 0 auto;
  position: relative;
}
.alphaseat_img .abcd4 {
	width: 1024px;
  height: 1024px;
  background: url("../img/common/ai_img4.jpg") no-repeat center ;
  margin: 0 auto;
  position: relative;
}
.abcd5 {
	width: 1024px;
  height: 110px;
  background: url("../img/common/ai_img5.jpg") no-repeat center ;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
}

.abcd5_1 {
	width: 1024px;
  height: 254px;
  background: url("../img/common/ai_img5_1.jpg") no-repeat center ;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
}
.abcd5_1.pdpd100 {
  margin-top: 100px;
}
.abcd5_11{
  width: 1024px;
  height: 3021px;
  background: url("../img/common/ai_img5_11.jpg") no-repeat center ;
  position: relative;
  margin: 0 auto;
  padding-top: 10px;
}




.abcd6 {
  width: 1024px;
  margin: 0 auto;
}
.abcd6_txt1{
  padding-top: 40px;
  border-top: 1px solid #ddd;
}

.abcd6_txt1 div:nth-child(1){
  display: block;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.abcd6_txt1 div:nth-child(2){
  padding-top: 25px;
  font-size: 16px;
}
.abcd6_center{
  width: 100%;
  display: flex;
  padding-top: 40px;
  font-size: 14px;

}
.abcd6_center_left{
  width: 18%;
  font-weight: 600;
}
.abcd6_center_right{
  width: 82%;
  
}
.abcd6_center_right ul{
  display: flex;
}

.abcd6_center_right ul li{
  padding: 15px 0;
  border-top: 2px solid #999;
}
.abcd6_center_right ul li:nth-child(1){
  width: 20%;
}

.abcd6_center_right ul li:nth-child(2){
  width: 20%;
}

.abcd6_center_right ul li:nth-child(3){
  width: 40%;
}

.abcd6_center_right ul li:nth-child(4){
  width: 20%;
  text-align: right;
}
.abcd6_txt2{
  font-size: 14px;
  font-weight: 600;
  padding-top: 40px;
  display: flex;
}
.abcd6_txt2 div:nth-child(1){
  width: 18%;

}
.abcd6_txt2 div:nth-child(2){
  width: 82%;
  height: 128px;
  background: url("../img/common/ai_img6.jpg") no-repeat center ;

}

.abcd6_pay{
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;  
  align-items: center;
}

.abcd6_pay div{
  padding: 20px 25px;

}
.abcd6_pay div:nth-child(1){

  font-size: 14px;
  font-weight: 500;
}
.abcd6_pay div:nth-child(2){
  font-size: 20px;
  font-weight: 800;
}
.abcd6_pay a:nth-child(3){
  padding: 23px 65px;
  font-size: 14px;
  color: #fff;
  background-color: #ff6600;
}
.abcd6_susun{
  margin-top: 40px;
  position: fixed;
  bottom: 0;
  width: 1024px;
  z-index: 1;
  background-color: #fff;
}

.abcd7 {
  width: 1024px;
  margin: 0 auto;
  padding-top: 80px;
  border-top: 1px solid #ddd;
}

.abcd7_img1{
  width: 100%;
  height: 446px;
  background: url("../img/common/ai_img7.jpg") no-repeat center ;
}
.abcd7_txt1{
  font-size: 17px;
  font-family:'PretendardSB';
  margin-left:10px;
  width: 100%;
  display: flex;
}

.abcd7_txt1_1 {
  width: 17%;
}

.abcd7_txt1_2{
  width: 83%;
}

.abcd7_txt2_1{
  display: flex;
  justify-content: space-between;
  padding: 25px 60px;
  border-top: 1px solid #ddd;
  align-items: center
}
.abcd7_txt2_1 div:nth-child(2){
  font-size: 20px;
  font-family:'PretendardB';
}


.abcd7_txt2_2{
  padding: 30px 60px;
  background-color: #f8f8f8;
}
.abcd7_txt2_2 div:nth-child(1){
  margin-bottom: 20px;
  
}

.abcd7_txt2_2 div:nth-child(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abcd7_txt2_2 div:nth-child(2) div:nth-child(1){
  margin-bottom: 0px;
}


.abcd_banner{
  position: absolute;
  top: 310px;
  left: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 98%;
  height: 160px;
  display: flex;
  align-items: center;
}


#abcd_banner_id {
  width: 70px;
}

.abcd_bannerv3{
  position: absolute;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 130px;
  display: flex;
  align-items: center;
  top: 430px;
  left: 200px;
  width: 820px;
}
.abcd_bannerv3.depart{
  top:610px;
}

.abcd_bannerv3_txt0{
  position: absolute;
  top: 400px;
  left: 20px;
  font-family: 'PretendardB';
  font-size: 18px;
}
.abcd_bannerv3_txt1{
  position: absolute;
  top: 405px;
  left: 200px;
  font-family: 'PretendardB';
  font-size: 14px;
}
.abcd_bannerv3_txt2{
  position: absolute;
  top: 585px;
  left: 200px;
  font-family: 'PretendardB';
  font-size: 14px;
}

.abcd_bannerv3_txt3{
  position: absolute;
  top: 830px;
  left: 20px;
  font-family: 'PretendardB';
  font-size: 18px;
}
.abcd_bannerv3_3{
  position: absolute;
  border-top: 3px solid #ddd;
  top: 830px;
  left: 200px;
  width: 820px;
}
.abcd_bannerv3_3 div{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

}

.abcd_bannerv3_3 div span:nth-child(2){
 
  font-family: 'PretendardB';
  color: #333;
}


.abcd_bannerv3_1{
  width: 30%;
  height: 100%;
  border-right: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'PretendardB';
  font-size: 14px;

}
.abcd_bannerv3_1 span:nth-child(2){
  margin-left: 30px;
  color: #ff6600
}
.abcd_bannerv3_2 {
  padding: 10px 15px;
  display: flex;
  height: 100%;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-family: 'PretendardSB';
}
.abcd_bannerv3_2_1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 0 20px;
}
.abcd_bannerv3_2_2{
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: 'PretendardB';
  height: 40px;
  align-items: center;

}
.abcd_bannerv3_2_2 div:nth-child(1){
 

}
.abcd_bannerv3_2_2 div:nth-child(1) div:nth-child(2){
  color: #bbb;
  font-size: 14px;
  margin-top: 7px;
  position: absolute;
}

.abcd_bannerv3_img1{
  position: absolute;
  top: 750px;
  left: 200px;
  width: 818px;
  height: 64px;
  background: url("../img/common/ai_img3_1.jpg") no-repeat center /818px 64px ;

}



.abcd_banners{
  position: absolute;
  top: 270px;
  left: 200px;
  border-radius: 10px;
  width: 820px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}
.abcd_banners ul{
  display: flex;
}
.abcd_banners ul li{
  padding: 10px 40px;
  margin-right: 20px;
  font-family: 'PretendardB';
  color: #999;
  font-size: 14px;
}
.abcd_banners ul li span{
  margin-left: 40px;
  font-family: 'PretendardSB';
  color: #333;
}
.abcd_banners ul li:nth-child(1) span:nth-child(1){
 
  color: #ff6600;
}

.abcd_btn01{
  position: absolute;
  right: 0;
  top: -25px;
  display: flex;
  align-items: center;

}
.abcd_btn01 #male {
  margin-right: 5px;
 }
.abcd_btn01 label:nth-child(2){
 margin-right: 10px;
}
.abcd_btn01 #female {
  margin-right: 5px;
 }
.abcd_btn01 label:nth-child(4){

}

.abcd_banner_a {
  padding: 10px 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  font-size: 14px;
  font-family: 'PretendardSB';
  border-right: 1px solid #ddd;
}

.abcd_banner_b {
  padding: 10px 15px;
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  font-family: 'PretendardSB';
  border-right: 1px solid #ddd;
}

.abcd_banner_b.v3 {
  width: 70%;
  border-right: none;
}

.abcd_banner_b .abcd_banner_b_1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.abcd_banner_b .abcd_banner_b_1 div:nth-child(1) span {
  margin-left: 5px;
}
.abcd_banner_b .abcd_banner_b_1 div:nth-child(2) span:nth-child(1) 
{
  margin-right: 15px;
}
.abcd_banner_b .abcd_banner_b_1 div:nth-child(2) span:nth-child(2) {
  border-radius: 5px;
  border: 1px solid #4e8af7;
  background-color: #4e8af7;
  padding: 1px 12px;
  color: #fff;
  font-family: 'PretendardB';
  letter-spacing: -0.8px;
}

.abcd_banner_b a:visited{
  color: #222;
}

.abcd_banner_b a:hover{
  color: #222;
}


.abcd_banner_b_2 {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: 'PretendardB';
  height: 40px;
  align-items: center;
}
.abcd_banner_b_2 div:nth-child(1) div:nth-child(2){
  position: absolute;
  color: #bbb;
  font-size: 14px;
  margin-top: 7px;
}
.abcd_dulda{
  width: 40px;
  height: 40px;
  background: url("../img/common/ai_img2_2.jpg") no-repeat top / 40px 40px;
  text-indent: -9999px;
}
.abcd_left{
  width: 40px;
  height: 40px;
  background: url("../img/common/ai_img2_4.jpg") no-repeat top / 40px 40px;
  text-indent: -9999px;
}
.abcd_right{
  width: 40px;
  height: 40px;
  background: url("../img/common/ai_img2_3.jpg") no-repeat top / 40px 40px;
  text-indent: -9999px;
}

.abcd_banner_c {
  position: relative;
  width: 320px;
  height: 139px;
  background: url("../img/common/ai_img2_1.jpg") no-repeat center / 320px 139px;
}

.abcd_banner_c span:nth-child(1){
  position: absolute;
  top: 32px;
  left: 44px;
  font-size: 15px;
  color: #999;
  font-family: 'PretendardB';
}
.abcd_banner_c span:nth-child(2){
  position: absolute;
  top: 32px;
  left: 90px;
  font-size: 15px;
  color: #999;
  font-family: 'PretendardB';
}


[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"],
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"]
,.float_menubox_right .agreement-wrap input[type="checkbox"] {
  display: inline-block;
  margin: 0;
  width: 100%;
  border-radius: 3px;
  white-space: nowrap;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 16px;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"] + label,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"] + label
,.float_menubox_right .agreement-wrap input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"] + label .ico,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"] + label .ico
,.float_menubox_right .agreement-wrap input[type="checkbox"] + label .ico
 {
  transition: all 0.5s;
  /*transition-delay: $trs-delay;*/
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"] + label .ico:before,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"] + label .ico:before
,.float_menubox_right .agreement-wrap input[type="checkbox"] + label .ico:before {
  content: "";
  transition: border-color 0.5s;
  transition-delay: 0.2s;
  position: absolute;
  left: 0;
  top: 0;
  border: solid #aaa;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"] + label,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"] + label
  {
  font-size: 1.07692rem;
  
  color: #222;
  
  font-family: "PretendardM", "NotoSansR", "Apple SD Gothic NEO", sans-serif;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"] + label .ico,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"] + label .ico
,.float_menubox_right .agreement-wrap input[type="checkbox"] + label .ico
 {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"] + label .ico:before,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"] + label .ico:before
,.float_menubox_right .agreement-wrap input[type="checkbox"] + label .ico:before {
  left: 5px;
  top: 6px;
  width: 8px;
  height: 4px;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"] + label .ico,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"] + label .ico
,.float_menubox_right .agreement-wrap input[type="checkbox"] + label .ico {
  
  border: 1px solid #aaa;
  background-color: #ffffff;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"]:checked + label .ico,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"]:checked + label .ico
,.float_menubox_right .agreement-wrap input[type="checkbox"]:checked + label .ico {
  border: 1px solid #FF4F24;
  background-color: #FF4F24;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"]:checked + label .ico:before,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"]:checked + label .ico:before
,.float_menubox_right .agreement-wrap input[type="checkbox"]:checked + label .ico:before {
  border-color: #ffffff;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"][disabled="disabled"] + label .ico,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"][disabled="disabled"] + label .ico
,.float_menubox_right .agreement-wrap input[type="checkbox"][disabled="disabled"] + label .ico {
  border: 1px solid #dddddd;
  background-color: #f0f0f0;
}

[data-page-id^="anc_"] .agreement-wrap input[type="checkbox"][disabled="disabled"] + label .ico:before,
[data-page-id^="my_"] .agreement-wrap input[type="checkbox"][disabled="disabled"] + label .ico:before
,.float_menubox_right .agreement-wrap input[type="checkbox"][disabled="disabled"] + label .ico:before {
  border-color: #cccccc;
}



/*하단 박스*/
.float_menubox {
  position: fixed;
  height: 80px;
  width: 73%;
  left: 50%;
  line-height: 80px;
	transform: translate(-50%, -50%);  
  border: 1px solid #f0f0f0;
  border-radius: 10px;

  z-index: 101;
  background-color: #fff;

  bottom: -20px;
  text-align: center;   
  
  -webkit-box-shadow: 0 0px 7px 1px #bbb;
	-moz-box-shadow: 0 0px 7px 1px #bbb;
	box-shadow: 0 0px 7px 1px #bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 920px;
  max-width: 1200px;
}
.float_menubox_left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  padding: 0 15px 0 20px;
}
.float_menubox_left div{
  font-size: 15px;
  color: #222;
}
.float_menubox_left div:nth-child(2) span{
  font-size: 18px;
  color: #f5581a;
  margin-left: 10px;
}
.float_menubox_left div:nth-child(2) span::before{
  content: "￦";
}
.float_menubox_right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  margin-right: 30px;
}
.float_menubox_right .agreement-wrap{
  font-size: 14px;
  color: #222;
  margin-right: 20px;
}
.menubox_left_btn{
  width: 200px;
  height: 54px;
  border-radius: 5px;
  font-size: 18px;
  
  color: #ccc;
  
  font-family: "PretendardSB";
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 50px;
  margin-right: 10px;
}

.menubox_right_btn{
  width: 340px;
  height: 54px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  font-family: "PretendardSB";
  background-color: #ccc;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 50px;
}

.oranz{
  background-color: #f5581a;
}

.iright{
  padding-left: 20px;
  background: url("../img/common/arrow_down.png") no-repeat center / 20px 20px;
}