/*사이트 이름*/

html, body{
	overflow-x: hidden;
	max-width:100%;
	overscroll-behavior-y: none;
	margin: 0px;
}


/*-페이지맵----------------------------------------*/

.allwin_demo_fst{
	font-size: 13px;
}
.alpha_pagemap{
	padding: 10px;
	background-color: #f8f8f8;
	margin-top: 20px;
	font-weight: 500;
	color: #222;
	display: flex;
	justify-content: space-between;
}
.alpha_pagemap_tour{
	padding: 10px;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
	font-weight: 500;
	margin: 10px 0;	
}
.alpha_table{
	margin: 10px;
	margin: 10px;
}

.alpha_table div{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #f0f0f0;

}
.alpha_table a{
	text-decoration:none;
	color: #222;
	width: 100%;
    height: 100%;
	display: flex;
	align-items: center;
	margin: 0 10px;
}

.alpha_table a::before{
	content: '- ';
	margin-right: 5px;
}

/*-사이트-------------------------------------------*/

.allwin_demo{
	position: relative;
}
.allwin_demo .alpha a {
	width: 100%;
	height: 100%;
	position: relative;
}
.allwin_demo .alpha {
	width: 100%;
	position: relative;
}
.allwin_demo .alpha img {
	max-width: 100%;
	height: auto;
	display: block;
}

.allwin_demo .adgif1 img{
	position: absolute;
	width: 100%;
	top: 9.6%;	
}
.allwin_demo .adgif2 img{
	position: absolute;
	width: 100%;
	top: 27.3%;	
}
.allwin_demo .adgif3 img{
	position: absolute;
	width: 100%;
	top: 45.05%;	
}
.switch_btn{
	font-size: 20px; 
	padding: 5px; 
	border: 1px solid #222; 
	margin:10px 20px; 
	border-radius: 5px;
}


.allwin_demo .select_next a{
	position: absolute;
	bottom: 0%;
	height: 100px;
	width: 100%;
	z-index: 1;
}


.allwin_demo .bcdef1{
	z-index: 2;
	width: 100%;
	min-height: 690px;	
	background: url(../img/index_img1.png) no-repeat;
	background-size: cover;
}



.allwin_demo .bcdef2{
	z-index: 2;
	width: 100%;
	min-height: 690px;	
	background: url(../img/index_img2.png) no-repeat;
	background-size: cover;
}
