
.content-wrap.newui{
  border-bottom: 1px solid #eee ;
  padding: 0;
}
.content-wrap.newui button{
  background-color: unset;
}
.gnb-header-top{
  display: flex;
  justify-content: flex-end;
  height: 65px;
  background-color: #fafafa;
  align-items: center;
}
.gnb-header-top .gnb-header-top-txt{
  padding: 10px 15px;
  text-align: right;
  font-size: 16px;
  color: #999;
  font-family: 'PretendardSB';
}
.gnb-header-top .gnb-header-top-txt.active{
  
  color: #222;
}

.alpha-foods{
  margin-top: unset;
}
.gnb-header-bottom{
  display: flex;
  height: 65px;
  justify-content:space-between;
}
.gnb-header-bottom div{  
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.gnb-header-bottom div .gnb-header-bottom-txt{
  padding: 20px 0px 20px;
  font-size: 20px;
  color: #999;
  font-family: 'PretendardSB';
  margin-right: 50px;
}
.gnb-header-bottom div .gnb-header-bottom-txt.active{  
  color: #222;
  border-bottom: 3px solid #000;
}
.gnb-header-bottom div .gnb-header-bottom-logo1{
  padding: 20px 15px 20px;
}
.gnb-header-bottom-logo1 img{
  height: 45px;
}
.gnb-header-bottom div .gnb-header-bottom-logo2{
  padding: 20px 15px 20px;
}

.gnb-header-bottom-logo2 img{ 
  height: 45px;
}