/* layout */
@mixin snb-menu() {
  @include font($size: 11, $color: $mono1, $weight: 900, $spacing: -0.03);
  display: block;
  width: 100%; height: 100%;
  padding-top: rem(45);
  text-decoration: none;
  background-repeat: no-repeat; background-position: 50% rem(12);
  &.btn_seat { @include background($file: 'buy/ico_seat', $type: png, $width: 24px, $height: 24px); }
  &.btn_baggage { @include background($file: 'buy/ico_baggage', $type: png, $width: 15px, $height: 25px); }
  &.btn_meal { @include background($file: 'buy/ico_meal', $type: png, $width: 19px, $height: 24px); }
  &.btn_lounge { @include background($file: 'buy/ico_lounge', $type: png, $width: 26px, $height: 26px); }
}
@mixin btn_delete-small {
  @include background($file: 'common/ico_delete-s', $type: png, $width: rem(12), $height: rem(12));
  overflow: hidden;
  display: inline-block;
  margin-left: rem(5); width: rem(12); height: rem(12);
  font-size: 0; line-height: 0; text-indent: -999em; vertical-align: middle;
  z-index: 99;
  &.disabled {
    opacity: 0.2;
  }
}
html { font-size: #{$font-root-size}px; }
body {
  font-family: $font-common-family;
  @include font($size: $font-root-size, $color: $mono1, $weight: 400);
}
.ags-wrap {
  overflow: hidden;
  position: relative;
  width: 100%; min-height: inherit;
}
.site-name { @include sr-only }
.ags-header {
  position: relative;
  height: rem($gnb-height);
  border-bottom: 1px solid $mono8;
  .page-name {
    @include font($size: 14, $color: $mono1, $weight: 900, $spacing: -0.03);
    @include valign-middle;
    @include text-ellipsis;
    position: absolute; top: 0; left: rem(80); bottom: 0; right: rem(80); height: inherit;
    text-align: center;
  }
  .btn_nav-shortcut { position: relative; padding-right: rem(20); display: inline-block; color: inherit; text-decoration: none; }
  .ico_nav-dropdown {
    @include background($file:'common/ico_nav-dropdown', $type: png, $width: 16px, $height: 16px);
    display: inline-block;
    position: absolute; right: 0; top: 0;
    width: rem(16); height: rem(16)
  }
  .nav-shortcut {
    display: none;
    position: absolute; top: 0; left: 50%;
    transform: translate(-50%, 0);
    width: rem(200);
    border-radius: rem(8); border: 1px solid $mono1; background-color: $mono10;
    box-shadow: 0 16px 16px rgba(0,0,0,0.32);
    &.active { display: block; }
    li {
      $font-size: 14;
      & + li { border-top: 1px solid $mono8; }
      a {
        @include font($size: 14, $color: $mono1, $weight: 800);
        @include valign-middle();
        display: block;
        height: em(47, $font-size);
        line-height: em(14, $font-size); text-decoration: none; text-align: center;
      }
      &.active a { color: $text-primary }
    }
  }
  .ags-gnb {
    padding: rem(14) 0; height: rem($gnb-height);
  }
  .gnb-wrap {
    @include clearfix;
    margin: 0 rem(-$grid); padding: 0 rem($grid * 2);
    li {
      float: left;
      margin: 0 rem($grid / 2);
      &:last-of-type:not(:first-of-type) { float: right; }
    }
    a[class^='btn_'] {
      overflow: hidden;
      display: inline-block;
      width: rem(24); height: rem(24);
      text-indent: -999em;
      background-position: 50% 50%;
    }
    .btn_back { @include background($file:'../img/common/ico_header-back', $type: png, $width: 16px, $height: 16px); }
    .btn_gnb { @include background($file:'../img/common/ico_header-gnb', $type: png, $width: 18px, $height: 12px); }
    .btn_close { @include background($file:'../img/common/ico_header-close', $type: png, $width: 14px, $height: 14px); }
  }
}
.ags-container {
  position: relative;
  margin-top: rem(-$gnb-height); padding: rem($gnb-height) 0 rem($summary-height + 44); min-height: inherit;
  .ags-snb {
    height: rem($buy__snb-height);
    border-bottom: 1px solid $mono8;
    @at-root div:not([data-page-id='buy__dom']) .ags-container .ags-snb a { @include snb-menu() }
  }
  .snb-wrap {
    display: table; table-layout: fixed;
    width: 100%; height: rem($buy__snb-height);
    li {
      display: table-cell;
      min-width: 20%; max-width: 33.333%; height: 100%;
      text-align: center;
      &.active { background-color: $bg-submit; }
      &.buy a:after { content: ""; display: inline-block; width: rem(8); height: rem(4); border: solid $border-primary; border-width: 0 0 1px 1px; transform: rotate(-45deg) translate(3px, 0); }
      &:not(:first-of-type) { border-left: 1px solid $mono8 }
    }
  }
  .content-wrap { position: relative; width: 100%; }
}

.notification-title {
  @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
  position: relative;
  padding: rem(3) 0 rem(4) rem(22);
  .ico {
    @include background($file: 'common/ico_notice', $type: png, $width: rem(16), $height: rem(16));
    position: absolute; left: 0; top: 0;
    display: inline-block;
    width: rem(16); height: rem(16);
  }
}
.notification-list {
  $font-size: 12;
  $line-height: 16;
  @include font($size: $font-size, $color: $mono1, $weight: 300, $spacing: -0.03);
  position: relative;
  padding-bottom: rem(20);
  li {
    position: relative;
    margin-top: rem(6);
    line-height: rem($line-height);
  }
  & > li {
    padding-left: rem(9);
    &:before {
      $blt-size: 2;
      content: "";
      display: inline-block;
      position: absolute; left: 0; top: rem(($line-height / 2) - $blt-size);
      width: rem($blt-size); height: rem($blt-size);
      background-color: $mono1; border-radius: 50%;
    }
  }
  & > li > ul > li {
    position: relative;
    padding-left: rem($grid);
    &:before { content: "-"; position: absolute; top: 0; left: 0; }
  }
}
.content-wrap + .content-wrap {
  border-top: 1px solid $mono8
}
/* 규정 및 약관 아코디언 */
@mixin btn-more--minified {
  @include font($size: 11, $color: $mono1, $weight: 600, $spacing: -0.03);
  padding: rem(5) rem(11) rem(5) rem(5); text-decoration: none; color: inherit;
  .ico {
    -webkit-transform: rotate(-45deg) translate(4px, 2px);
    -ms-transform: rotate(-45deg) translate(4px, 2px);
    -o-transform: rotate(-45deg) translate(4px, 2px);
    transform: rotate(-45deg) translate(4px, 2px);
    display: inline-block;
    width: rem(4); height: rem(4); border: solid $mono1; border-width: 0 0 1px 1px;
  }
}
@mixin agreement-wrap {
  padding: rem(80) 0 0 rem($grid * 2);
  h5,
  .agreement-title { @include font($size: 14, $color: $mono1, $weight: 800, $spacing: -0.03); margin-bottom: rem(12); }
  .agreement-list {
    border-top: 1px solid $mono1;
    & > li {
      @include valign-middle();
      overflow: hidden;
      position: relative; height: rem(50);
      border-bottom: 1px solid $mono8;
      label {
        @include text-ellipsis();
        @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
        padding: rem(17) rem($grid * 2) 0 0; width: rem(calc(100% - 90px)); height: rem(50);
      }
      &.active { overflow: auto; height: auto; }
    }
    .btn_more { position: absolute; right: rem($grid * 2); top: rem(15); margin-right: rem(-5) }
  }
  .table-wrap { padding-bottom: 0; }
  .notification-wrap {
    padding: rem($grid * 4) rem($grid * 2) rem($grid * 4);
    background-color: #F8F8F8;
    .notification-list {
      padding: rem($grid) 0 rem(20);
      & > li {
        $font-size: 11;
        @include font($size: $font-size, $color: $mono1, $weight: 400, $spacing: -0.03);
        position: relative;
        padding-left: em(6, $font-size);
        line-height: em(16, $font-size); letter-spacing: -0.03em;
        &:before {
          content: "";
          position: absolute; left: 0; top: em(6, $font-size);
          display: inline-block;
          width: 2px; height: 2px;
          border-radius: 50%; background-color: #5B5B5B;
        }
        & + li { margin-top: em(4, $font-size); }
      }
      &:last-child { padding-bottom: 0; }
      &.no-blt {
        li {
          padding-left: 0;
          &:before { display: none; }
        }
      }
    }
    td .notification-list {
      padding: 0;
    }
    td .notification-text + .notification-list,
    td .notification-list + .notification-text,
    td .notification-list + .notification-list,
    td .notification-text + .notification-text { padding-top: rem($grid * 2) }
    td .notification-list:not(.no-blt) {
      .notification-text, li { color: #5B5B5B; }
    }
    td .notification-list.no-blt {
      .notification-text, li { color: $mono1; }
    }
  }
  table {
    @include table($style: type2, $mg-size: xsmall);
    p { line-height: rem(16); }
    p + ul { padding-top: rem(12); }
    p + ul + p { padding-top: rem(12); }
    tbody tr:last-of-type th,
    tbody tr:last-of-type td { border-bottom: 0; }
  }
  .agreement-all-list {
    position: relative;
    margin: -1px 0 rem(50); height: rem(50);
    border-top: 1px solid $mono1; border-bottom: 1px solid $mono8;
    label {
      @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
      position: absolute; left: 0; top: 0; right: 0; bottom: 0;
      padding: rem(17) 0 0;
    }
  }
  dl {
    $font-size: 11;
    @include font($size: $font-size, $color: $mono1, $weight: 400, $spacing: 0);
    dt {
      padding: em(10, $font-size); min-height: em(32, $font-size);
      font-weight: 600; text-align: center; color: $mono10;
      background-color: $mono1;
      & + th { border-left: 1px solid $mono10 }
    }
    dd {
      padding: em(16, $font-size) em(10, $font-size);
      background-color: $mono10;
      border-bottom: 1px solid #ddd;
    }
  }
  .btn_more {
    @include btn-more--minified
  }
}
/* 프로세스 버튼 영역 */
.process-btn-wrap {
  @include flex(flex-start stretch flex-start nowrap);
  margin: 0 rem(-3); padding: 0 rem($grid * 2) rem(50);
  [class^='btn_'] { margin: 0 rem(3) !important; }
  .btn_cancel {
    @include form($type: button, $size: 4, $role: cancel);
    width: auto; min-width: rem(90);
  }
  .btn_confirm {
    @include form($type: button, $size: 4, $role: submit);
    flex: 1 auto;
    &:not(:only-child) {  }
    &[disabled='disabled'] {
      opacity: 1;
      color: #e4ca07;
      text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
    }
  }
}
/*여권번호 등록 & 이메일 SMS 주문서 받기*/
.passport-wrap, .dfs-email-wrap {
  .passport-list, .dfs-info-list {
    @include clearfix;
    border-top: 1px solid $mono1;
    dt, dd { float: left; padding: rem($grid) 0; height: rem(53); line-height: rem(36); border-bottom: 1px solid $mono8 }
    dt { padding-right: rem(30); width: rem(100); font-weight: 600; }
    dd { padding-right: rem($grid * 2); width: calc(100% - 100px) }
    .passport-num { @include font($family: en, $size: 14, $color: $mono1, $weight: 500, $spacing: -0.03); text-transform: uppercase; }
    label { display: inline-block; padding: rem(11) 0; line-height: rem(14); }
    dd input[type='text'] {
      @include form($size: 2, $role: normal, $type: text);
      @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
      width: 100%; height: 100%;
    }
    dd select {
      @include form($size: 2, $role: normal, $type: select);
      @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
      width: calc(100% - 10px); height: 100%;
      border: 0;
    }
  }
  .passport-list dt { width: rem(140); }
  .passport-list dd { width: calc(100% - 140px) }
  .notification-wrap { padding: rem(6) 0 0 0; }
  .notification-list {
    $font-size: 11; font-size: rem($font-size); line-height: em(14,$font-size); word-break: keep-all;
  }
}

/* z-index */
.ags-header { z-index: 500 }
.ags-footer { z-index: 100 }
.ags-wrap {
  z-index: 0;
  &.gnb-active {
    .ags-header { z-index: 1500 }
    .ags-summary,
    .ags-footer { z-index: 500 }
  }
}