/* layout */

html { font-size: #{$font-root-size}px; }
body {
  font-family: $font-common-family;
  @include font($size: $font-root-size, $color: $mono1, $weight: 400);
}
.ags-wrap {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.site-name { @include sr-only }
.ags-header {
  position: relative;
  height: rem($gnb-height);
  border-bottom: 1px solid $mono8;
  .page-name {
    @include font($size: 14, $color: $mono1, $weight: 900, $spacing: -0.03);
    @include valign-middle;
    @include text-ellipsis;
    position: absolute; top: 0; left: rem(80); bottom: 0; right: rem(80); height: inherit;
    text-align: center;
  }
  .ags-gnb {
    padding: rem(14) 0; height: rem($gnb-height);
  }
  .gnb-wrap {
    @include clearfix;
    margin: 0 rem(-$grid); padding: 0 rem($grid * 2);
    li {
      float: left;
      margin: 0 rem($grid / 2);
      &:last-of-type { float: right; }
    }
    a[class^='btn_'] {
      overflow: hidden;
      display: inline-block;
      width: rem(24); height: rem(24);
      text-indent: -999em;
      background-position: 50% 50%;
    }
    .btn_back { @include background($file:'../img/common/ico_header-back', $type: png, $width: 16px, $height: 16px); }
    .btn_gnb { @include background($file:'../img/common/ico_header-gnb', $type: png, $width: 18px, $height: 12px); }
    .btn_close { @include background($file:'../img/common/ico_header-close', $type: png, $width: 14px, $height: 14px); }
  }
}
.ags-container {
  padding-bottom: rem($summary-height + 44);
  .ags-snb {
    height: rem($snb-height);
    border-bottom: 1px solid $mono8;
  }
  .snb-wrap {
    display: table; table-layout: fixed;
    width: 100%; height: rem($snb-height);
    li {
      display: table-cell;
      min-width: 20%; max-width: 33.333%; height: 100%;
      text-align: center;
      &.active { background-color: $bg-submit; }
      &.buy a:after { content: ""; display: inline-block; width: rem(8); height: rem(4); border: solid $border-primary; border-width: 0 0 1px 1px; transform: rotate(-45deg) translate(3px, 0); }
      &:not(:first-of-type) { border-left: 1px solid $mono8 }
    }
    a {
      @include font($size: 11, $color: $mono1, $weight: 900, $spacing: -0.03);
      display: block; width: 100%; height: 100%;
      padding-top: rem(45);
      text-decoration: none;
      background-repeat: no-repeat; background-position: 50% rem(12);
      &.btn_seat { @include background($file: '../img/buy/ico_seat', $type: png, $width: 24px, $height: 24px); }
      &.btn_baggage { @include background($file: '../img/buy/ico_baggage', $type: png, $width: 15px, $height: 25px); }
      &.btn_meal { @include background($file: '../img/buy/ico_meal', $type: png, $width: 19px, $height: 24px); }
      &.btn_lounge { @include background($file: '../img/buy/ico_lounge', $type: png, $width: 26px, $height: 26px); }
    }
  }
  .content-wrap { position: relative; width: 100%; }
}

.notification-title {
  @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
  position: relative;
  padding: rem(3) 0 rem(4) rem(22);
  .ico {
    @include background($file: 'common/ico_notice', $type: png, $width: rem(16), $height: rem(16));
    position: absolute; left: 0; top: 0;
    display: inline-block;
    width: rem(16); height: rem(16);
  }
}
.notification-list {
  $font-size: 12;
  @include font($size: $font-size, $color: $mono1, $weight: 300, $spacing: -0.03);
  position: relative;
  padding-bottom: rem(20);
  li {
    $line-height: 16;
    position: relative;
    margin-top: rem(6); padding-left: rem(9);
    line-height: rem($line-height);
    &:before {
      $blt-size: 2;
      content: "";
      display: inline-block;
      position: absolute; left: 0; top: rem(($line-height / 2) - $blt-size);
      width: rem($blt-size); height: rem($blt-size);
      background-color: $mono1; border-radius: 50%;
    }
  }
}
.content-wrap + .content-wrap {
  border-top: 1px solid $mono8
}
/* 규정 및 약관 아코디언 */
@mixin btn-more--minified {
  @include font($size: 11, $color: $mono1, $weight: 600, $spacing: -0.03);
  padding: rem(5) rem(11) rem(5) rem(5); text-decoration: none; color: inherit;
  .ico {
    -webkit-transform: rotate(-45deg) translate(4px, 2px);
    -ms-transform: rotate(-45deg) translate(4px, 2px);
    -o-transform: rotate(-45deg) translate(4px, 2px);
    transform: rotate(-45deg) translate(4px, 2px);
    display: inline-block;
    width: rem(4); height: rem(4); border: solid $mono1; border-width: 0 0 1px 1px;
  }
}
@mixin agreement-wrap {
  padding: rem(80) 0 0 rem($grid * 2);
  h5,
  .agreement-title { @include font($size: 14, $color: $mono1, $weight: 800, $spacing: -0.03); margin-bottom: rem(12); }
  .agreement-list {
    border-top: 1px solid $mono1;
    & > li {
      @include valign-middle();
      overflow: hidden;
      position: relative; height: rem(50);
      border-bottom: 1px solid $mono8;
      label {
        @include text-ellipsis();
        @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
        padding: rem(17) rem($grid * 2) 0 0; width: rem(calc(100% - 90px)); height: rem(50);
      }
      &.active { overflow: auto; height: auto; }
    }
    .btn_more { position: absolute; right: rem($grid * 2); top: rem(15); margin-right: rem(-5) }
  }
  .table-wrap { padding-bottom: 0; }
  .notification-wrap {
    padding: rem($grid * 4) rem($grid * 2) rem($grid * 4);
    background-color: #F8F8F8;
    .notification-list {
      padding: rem($grid) 0 rem(20);
      li {
        $font-size: 11;
        @include font($size: $font-size, $color: $mono1, $weight: 400, $spacing: -0.03);
        position: relative;
        padding-left: em(6, $font-size);
        line-height: em(16, $font-size); letter-spacing: -0.03em;
        &:before {
          content: "";
          position: absolute; left: 0; top: em(6, $font-size);
          display: inline-block;
          width: 2px; height: 2px;
          border-radius: 50%; background-color: #5B5B5B;
        }
        & + li { margin-top: em(4, $font-size); }
      }
      &:last-child { padding-bottom: 0; }
    }
    td .notification-list {
      padding: 0;
      .notification-text, li { color: #5B5B5B; }
    }
  }
  table {
    @include table($style: type2, $mg-size: xsmall);
    p { line-height: rem(16); }
    p + ul { padding-top: rem(12); }
    p + ul + p { padding-top: rem(12); }
    tbody tr:last-of-type th,
    tbody tr:last-of-type td { border-bottom: 0; }
  }
  .agreement-all-list {
    position: relative;
    margin: -1px 0 rem(50); height: rem(50);
    border-top: 1px solid $mono1; border-bottom: 1px solid $mono8;
    label {
      @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
      position: absolute; left: 0; top: 0; right: 0; bottom: 0;
      padding: rem(17) 0 0;
    }
  }
  dl {
    $font-size: 11;
    @include font($size: $font-size, $color: $mono1, $weight: 400, $spacing: 0);
    dt {
      padding: em(10, $font-size); min-height: em(32, $font-size);
      font-weight: 600; text-align: center; color: $mono10;
      background-color: $mono1;
      & + th { border-left: 1px solid $mono10 }
    }
    dd {
      padding: em(16, $font-size) em(10, $font-size);
      background-color: $mono10;
      border-bottom: 1px solid #ddd;
    }
  }
  .btn_more {
    @include btn-more--minified
  }
}
/* 프로세스 버튼 영역 */
.process-btn-wrap {
  @include flex(flex-start stretch flex-start nowrap);
  margin: 0 rem(-3); padding: 0 rem($grid * 2) rem(50);
  [class^='btn_'] { margin: 0 rem(3) !important; }
  .btn_cancel {
    @include form($type: button, $size: 4, $role: cancel);
    width: auto; min-width: rem(90);
  }
  .btn_confirm {
    @include form($type: button, $size: 4, $role: submit);
    flex: 1 auto;
    &:not(:only-child) {  }
  }
}

/* z-index */
.ags-header { z-index: 500 }
.ags-footer { z-index: 100 }
.ags-wrap {
  z-index: 0;
  &.gnb-active {
    .ags-header { z-index: 1500 }
    .ags-summary,
    .ags-footer { z-index: 500 }
  }
}