/* 합계 팝업 */
.ags-summary {
  overflow: hidden;
  position: fixed; bottom: 0; left: 0; right: 0;
  margin-top: rem(-$summary-height); padding: rem(6) 0 0 !important; height: rem($summary-height);
  color: $mono10;
  .btn_drawer {
    z-index: 11;
    @include background($file: 'buy/btn_summary-drawer', $type: png, $width: rem(40), $height: rem(11));
    overflow: hidden;
    position: absolute; left: 50%; top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-indent: -999em;
    display: block;
    width: rem(40); height: rem(16);
    background-position: 50% 0;
    .ico {
      @include background($file: 'buy/ico_summary-drawer', $type: png, $width: rem(8), $height: rem(6));
      display: block;
      position: absolute; left: 50%; top: 0;
      -webkit-transform: translate(-50%, 0) rotate(0);
      -ms-transform: translate(-50%, 0) rotate(0);
      transform: translate(-50%, 0) rotate(0);
      transform-origin: 50% 50%;
      width: rem(16); height: rem(16);
      background-position: 50% 50%;
      transition: all 0.2s;
      transition-delay: 0.2s;
    }
  }
  .inner-wrap {
    overflow: hidden;
    height: 100%; background-color: $mono1;
  }
  .total {
    width: 100%; height: rem(100);
    & > dl { display: table; table-layout: fixed; padding: 0 rem(10); width: 100%; height: rem(60); }
    & > dl > dt, & > dl > dd { display: table-cell; padding: 0 rem(6); white-space: nowrap; vertical-align: middle; }
    & > dl > dt {
      @include font($size: 12, $color: inherit, $weight: 500, $spacing: -0.03);
      width: (85 / 343 * 100%);
      a { color: inherit; text-decoration: none; }
    }
    & > dl > dt + dd:not(.count-bubble) {
      @include font($family: en, $size: 16, $color: $text-primary, $weight: 800, $spacing: -0.03);
      text-align: right;
    }
    dd.count-bubble .ico {
      $font-size: 15;
      @include font($family: en, $size: $font-size, $color: $mono10, $weight: 500, $spacing: 0);
      @include valign-middle();
      overflow: hidden;
      display: inline-block;
      opacity: 0;
      -webkit-transform: translate(0, 10px);
      -ms-transform: translate(0, 10px);
      transform: translate(0, 10px);
      margin-left: em(-26, $font-size); padding: 0 em(9, $font-size); height: em(24, $font-size);
      line-height: em(24, $font-size);
      background: rgba(219,16,16,0.9); border: 1px solid #FF0000; border-radius: em(12, $font-size);
    }
    dd.count-bubble.active .ico {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    dd.count-bubble.show .ico {
      @include animation($delay: 0, $duration: 0.5s, $animation:count-bubble__show, $direction: forward, $fillmode: fowards); transition: all 0.5s;
    }
    dd.count-bubble.hide .ico {
      @include animation($delay: 0, $duration: 0.5s, $animation:count-bubble__hide, $direction: forward, $fillmode: fowards); transition: all 0.5s;
      opacity: 0;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    dd.count-bubble.add .ico {
      @include animation($delay: 0.1s, $duration: 0.3s, $animation:count-bubble__add, $direction: forward, $fillmode: fowards); transition: all 0.5s;
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    & > dl > dt + dd + dd { text-align: center; width: (103 / 343 * 100%); }
    .btn_pay-imm, .btn_resv-imm, .btn_refund-imm {
      @include form($size: 2, $role: normal, $type: button);
      margin: 0; width: auto;
      border-color: rgba(255,255,255,0.5); background-color: transparent; color: $mono10
    }
    .btn_pay-imm[disabled='disabled'] { color: rgba(255,255,255,0.6) }
    .btn_resv-imm { width: 91px; }

    @include keyframe($animation_name: count-bubble__show){
      0% {
        -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
        transform: translate(0, 10px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    @include keyframe($animation_name: count-bubble__hide){
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @include keyframe($animation_name: count-bubble__add){
      0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      33% {
        -webkit-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        transform: translate(0, -5px);
      }
      66% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
  }
  &:not(.dfs__list) {
    .digits {
      @include font($family: en, $size: 18, $color: $text-primary, $weight: 600, $spacing: -0.03);
      &:before {
        content: "￦";
        font-size: rem(17); color: $text-primary; font-weight: 800;
      }
    }
  }
}
/* 총 결제 금액 팝업 */
.passenger-summary {
  padding-left: rem($grid * 2) !important;
  @include flight-info;
  .flight-info { display: inline-flex !important; }
  .table-wrap {
    position: relative;
    padding-bottom: rem($grid * 2);
  }
  .summary-empty {
    @include font($size: 12, $color: #66b1ff, $weight: 400);
    line-height: em(16, 12)
  }
  .flight-info + .summary-empty { padding: rem(44) 0 rem(43); border: solid $mono1; border-width: 1px 0; }
  .table-wrap .summary-empty { padding-top: rem(4) }
  .flight-info + .table-wrap,
  .title + .table-wrap { border-top: 1px solid $mono1 }
  [class*='bundle-type'] {
    @include clearfix;
    position: relative;
    margin: 0 rem($grid * 2) 0 0;
    .info-title { padding: rem($grid) 0; }
    dt { @include sr-only }
    dd { display: inline-block; }
    @include bundle-flag($ico-class: '.bundle-name + dd');
    .bundle-name + dd {
      margin-right: rem(4);
    }
    .bundle-sale + dd {
      @include font($size: 9, $color: $mono1, $weight: 800, $spacing: 0);
      &:after { content: " SALE" }
    }
    .bundle-price + dd {
      @include font($family: en, $size: 13, $color: $mono1, $weight: 400);
      @include price-unit(krw);
      float: right;
      padding: rem(2) rem(24) 0; text-align: right;
    }
    &.bundle-type1 {
      @include bundle-flag-type($airline: tw, $type: 1, $ico-class: '.bundle-name + dd');
      .bundle-sale + dd { color: $bg_bundle-type1 }
    }
    &.bundle-type2 {
      @include bundle-flag-type($airline: tw, $type: 2, $ico-class: '.bundle-name + dd');
      .bundle-sale + dd { color: $bg_bundle-type2 }
    }
    &.bundle-type3 {
      @include bundle-flag-type($airline: tw, $type: 3, $ico-class: '.bundle-name + dd');
      .bundle-sale + dd { color: $bg_bundle-type3 }
    }
    .charge-sheet {
      tbody td:last-child { padding-right: 0; }
    }
  }
  .btn_delete {
    @include btn_delete-small; position: absolute; right: 0; top: rem(10);
  }
  .charge-sheet {
    @include table($style: type1, $mg-size: small);
    table-layout: fixed;
    th, td { padding: rem($grid) 0; vertical-align: middle; }
    thead th, tbody th, tbody td, tfoot th, tfoot td { border-bottom: 0; }
    tbody td:nth-of-type(3) { text-align: right; }
    tbody th, tbody td { padding-top: rem(7); padding-bottom: rem(7); height: rem(30); }
    tbody th:nth-of-type(1) { width: rem(85) }
    tbody td:nth-of-type(2) {
      @include font($size: 12, $color: $mono1, $weight: 400, $spacing: -0.03);
      padding-right: rem(12); width: rem(90);
      text-align: right;
      .digits {
        @include font($family: en, $size: 13, $color: $mono1, $weight: 400, $spacing: -0.03);
        &:before {
          content: "￦";
          font-size: rem(12); color: $mono1; font-weight: 500;
        }
      }
    }
    tbody th:nth-of-type(3), tbody td:nth-of-type(3) {
      padding-left: 0; padding-right: rem($grid * 2);  width: rem(28);
      text-align: center;
    }
    tbody th[scope='colgroup'] { text-align: left; }
    tbody tr + tr th[scope='colgroup'] { border-top: 1px solid $mono8 }
    tbody th[scope='row'] {
      @include font($size: 13, $color: $mono1, $weight: 800, $spacing: -0.03);
      width: rem(85); text-align: left;
    }
    a, a:active, a:visited { color: #66B1FF; }
    .btn_delete { position: relative; right: initial; top: initial; margin-left: 0; vertical-align: top }
    tbody tr.inactive th[scope='row'] + td { color: $mono4; }
    tbody tr.inactive:not(.add-service) .btn_delete { opacity: 0.3 }
    tbody tr.inactive .add-baggage { font-weight: 600; color: $text-primary; }
    tbody td:first-child { padding-left: 0; }

  }
  .table-wrap {
    padding-top: rem($grid * 2);
    & + .table-wrap { border-top: 1px solid $mono8 }
  }
  .passenger-name {
    @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
    @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
    @include text-uppercase;
    margin: 0 0 rem($grid); padding-left: rem(20);
  }
  .total-wrap {
    height: rem(44);
    border-top: 1px solid $mono1; border-bottom: 1px solid $mono8;
    dl { display: table; table-layout: fixed; width: 100%; height: 100%; }
    dt, dd { display: table-cell; vertical-align: middle; }
    dt { @include font($size: 12, $color: $mono1, $weight: 600, $spacing: -0.03); width: rem(50) }
    dd {
      @include font($size: 12, $color: $text-primary, $weight: 600, $spacing: -0.03);
      padding-right: rem($grid * 2);
      text-align: right;
      .digits {
        @include font($family: en, $size: 13, $color: inherit, $weight: 500, $spacing: -0.03);
        &:before {
          content: "￦";
          font-size: rem(12); font-weight: 600;
        }
      }
    }
    & + .title { margin-top: rem($grid * 10); }
  }
  &.active { z-index: 1000; }
}

/*번들 선택*/
.bundle-summary {
  &.active {  }
  .inner-wrap { overflow-x: hidden; overflow-y: auto; margin-top: rem(-58) }
  [role='tabpanel'] { height: auto; }
  .summary-title { @include sr-only }
  .summary-approach {
    $font-size: 16;
    @include font($size: $font-size, $color: $mono1, $weight: 300, $spacing: -0.03);
    padding: 0 rem($grid * 2) rem($grid);
    line-height: em(24, $font-size);
    strong { display: block; font-weight: 600; }
  }
  .summary-description {
    $font-size: 11;
    @include font($size: $font-size, $color: $text-primary, $weight: 400, $spacing: -0.03);
    padding: 0 rem($grid * 2);
    line-height: em(16, $font-size);
  }
  .tabs_route {
    @include tab(style1 nowrap);
    padding-top: rem($grid * 5);
  }
  .align-horizontal {
    transition: margin-left $trs-duration;
    transition-delay: $trs-delay;
  }
  .tab-panel {
    transition: none;
    position: relative;
  }
  .scroll-wrap {
    overflow-y: hidden;
    overflow-x: auto;
    padding: rem($grid * 2) 0 rem($grid * 3);
  }
  .bundle-info {
    display: table;
    border-collapse: separate; border-spacing: rem($grid * 2);
    white-space: nowrap;
  }
  [class^='bundle-type'] {
    overflow: hidden;
    display: table-cell;
    min-width: rem(250); max-width: rem(250);
    border-radius: $border-common-radius;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    .inner-wrap { overflow-y: auto; overflow-x: hidden; }
    .bundle-name + dd { $font-size: 14; display: inline-block; padding: em(5, $font-size) 0; line-height: em(11, $font-size); color: $mono10 }
    .bundle-sale + dd {
      $font-size: 11;
      @include font($size: $font-size, $color: $mono10, $weight: 600, $spacing: -0.03);
      float: left;
      margin-right: rem($grid); padding: em(5, $font-size) em(5, $font-size); line-height: em(11, $font-size);
      border-radius: rem(1);
      &:after { content: " SALE" }
    }
    .bundle-price + dd {
      $font-size: 11;
      @include font($size: $font-size, $color: $mono10, $weight: 800, $spacing: -0.03);
      @include price-unit(krw);
      float: right;
      padding: em(5, $font-size) 0; line-height: em(11, $font-size);
    }
    @at-root .bundle-summary .bundle-inter1 .bundle-type1 {
      .info-title { background-color: $bg_bundle-type1 }
      .bundle-sale + dd { background-color: #524940 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root .bundle-summary .bundle-inter1 .bundle-type2 {
      .info-title { background-color: $bg_bundle-type2 }
      .bundle-sale + dd { background-color: #587729 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root .bundle-summary .bundle-inter1 .bundle-type3 {
      .info-title { background-color: $bg_bundle-type3 }
      .bundle-sale + dd { background-color: #9D1713 }
      .info-detail dt { color: $mono1 }
      .info-detail dd { color: $text-primary; font-weight: 600; }
    }
    @at-root .bundle-summary .bundle-inter2 .bundle-type1 {
      .info-title { background-color: $bg_bundle-type1 }
      .bundle-sale + dd { background-color: #524940 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root .bundle-summary .bundle-inter2 .bundle-type2 {
      .info-title { background-color: $bg_bundle-type2 }
      .bundle-sale + dd { background-color: #587729 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3),
      .info-detail dt:nth-of-type(4) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd,
      .info-detail dt:nth-of-type(4) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root .bundle-summary .bundle-dom1 .bundle-type1 {
      .info-title { background-color: $bg_bundle-type1 }
      .bundle-sale + dd { background-color: #524940 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd { color: $text-primary; font-weight: 600; }
    }
    @at-root .bundle-summary .bundle-dom1 .bundle-type2 {
      .info-title { background-color: $bg_bundle-type2 }
      .bundle-sale + dd { background-color: #587729 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3),
      .info-detail dt:nth-of-type(4) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd,
      .info-detail dt:nth-of-type(4) + dd { color: $text-primary; font-weight: 600; }
    }
  }
  .info-title {
    @include clearfix;
    overflow: hidden;
    position: relative;
    padding: rem(13) rem($grid * 2); height: rem(46);
    dt { @include sr-only }
    dd { font-weight: 600; }
  }
  .info-detail {
    @include clearfix;
    $font-size: 12;
    @include font($size: $font-size, $color: $mono4, $weight: 600, $spacing: -0.03);
    padding: rem($grid * 2) 0;
    background-color: $mono10;
    dt, dd {
      float: left; padding: 0 rem($grid * 2);
      line-height: em(22, $font-size);
    }
    dt { padding: 0 0 0 rem($grid * 2); width: rem(94); }
    dd { padding: 0 rem($grid * 2) 0 rem($grid); width: calc(100% - 94px); text-align: right; font-weight: 400; }
    &:after { padding: 0 !important; height: 0 !important; border-spacing: 0; }
  }
  .passenger-wrap {
    padding: rem($grid) rem($grid * 2) 0; width: 100vw;
    dl { position: relative; }
    dt { @include sr-only }
    .passenger-name + dd {
      @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
      @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
      @include text-uppercase;
      margin: 0 0 rem(12); padding-left: rem(20);
    }
    .bundle-price + dd {
      @include font($size: 13, $color: $text-primary, $weight: 600, $spacing: 0);
      @include price-unit(krw);
      position: absolute; right: 0; top: 0;
    }
    .selected-bundle + dd,
    .selected-bundle + dd + dd {
      @include flex(flex-start stretch center nowrap);
      margin: 0 rem(-$grid / 2) 0;
      .bundle-way { @include font($size: 13, $color: $mono1, $weight: 800); padding-right: rem(12); padding-left: rem($grid / 2); }
      input[type='radio'] { @include sr-only }
      input[type='radio'] + .btn_select-bundle {
        @include form($size: 3, $role: normal, $type: button);
        flex: 1 auto;
        margin: rem(5) rem($grid / 2); width: auto;
        font-size: rem(12); color: $mono4;
        transition: all $trs-duration;
      }
      input[type='radio']:checked + .btn_select-bundle.bundle-type0 {
        border-color: $mono1; background-color: $mono10; color: $mono1;
      }
      input[type='radio']:checked + .btn_select-bundle.bundle-type1 {
        border-color: $bg_bundle-type1; background-color: $bg_bundle-type1; color: $mono10;
      }
      input[type='radio']:checked + .btn_select-bundle.bundle-type2 {
        border-color: $bg_bundle-type2; background-color: $bg_bundle-type2; color: $mono10;
      }
      input[type='radio']:checked + .btn_select-bundle.bundle-type3 {
        border-color: $bg_bundle-type3; background-color: $bg_bundle-type3; color: $mono10;
      }
    }
    .selected-bundle + dd { margin-top: rem(-5) }
    .passenger-list > li + li { padding-top: rem($grid * 4 - 5) }
  }
  .process-btn-wrap {
    @include flex(flex-start stretch flex-start nowrap);
    margin: 0 rem(-3); padding: rem($grid * 2) rem($grid * 2) 0;
    background-color: $mono10;
    [class^='btn_'] { margin: 0 rem(3) !important; }
    .btn_select {
      @include form($type: button, $size: 4, $role: submit);
      flex: 1 auto;
    }
  }
}

/*라운지 위치 안내 팝업*/
[data-pop-id='pop_lounge-location_7c']{
  $font-size: 13;
  @include font($size: $font-size, $color: $mono1, $weight: 600, $spacing: 0);
  padding-top: rem($grid * 2);
  line-height: em(20, $font-size);
  .lounge-info {
    padding-bottom: rem($grid * 3);
    dt, dd { display: inline-block; padding-bottom: rem($grid) }
    .location { @include sr-only }
    .location + dd { width: 100%; }
    .op-time:after { content: ":"; padding: 0 0.3em }
    .op-time,
    .op-time + dd { color: $text-primary !important }
  }
  img { vertical-align: top; }
}

/*부가서비스 신청 > 렌터카 > 캘린더*/
[data-pop-id='buy_car-dpicker'] {
  .awa-datepicker {
    @include box-shadow(none);
    position: relative; top: auto !important; left: auto !important;
    margin: 0; padding: 0;
    border: 0;
  }
  .awa-datepicker .month-wrapper {
    padding: rem($grid) 0 rem($grid * 5);
    .month-item tbody .first-date-selected:after { content: '대여' }
    .month-item tbody .last-date-selected:after { content: '반납' }
    .time-wrapper { @include sr-only }
  }
  .inner-wrap {
    @include clearfix;
    .timepicker-wrap, .notification-wrap { float: left; width: 100%; }
    .fake-timepicker {
      @include clearfix;
      margin: 0 rem(-$grid); padding-bottom: rem($grid * 5);
      .timepicker { float: left; padding: 0 rem($grid); width: 50%; }
      .date-check { @include font($size: 10, $color: $mono1, $weight: 800, $spacing: -0.03); padding-bottom: rem($grid); }
      .date { color: $text-primary; }
      select { @include form($size: 3, $role: normal, $type: select) }
    }
    .notification-list {
      li { font-size: inherit; }
    }
  }
}

/*부가서비스 신청 > 렌터카*/
[data-pop-id='pop_rentacar-info']{
  width: rem(460);
  select { @include form($size: 3, $role: normal, $type: select) }
  .select_company {
    padding-bottom: rem($grid * 3);
  }
  .select_company label {
    $font-size: 10;
    @include font($size: $font-size, $color: $mono1, $weight: 600);
    display: block;
    padding-bottom: em($grid, $font-size)
  }
  .car-info-wrap { position: relative; }
  .car-info {
    $thumbnail-width: 140;
    position: relative;
    margin-bottom: rem($grid * 2); padding: rem($grid * 3) 0 0 rem($thumbnail-width + $grid * 3);
    dt { @include sr-only; }
    .car-name + dd {
      $font-size: 14;
      @include font($size: $font-size, $color: $mono1, $weight: 600);
      padding-bottom: rem($grid * 2);
      line-height: em(19, $font-size)
    }
    .car-price + dd {
      @include font($size: 13, $color: $text-primary, $weight: 400);
      @include price-unit(krw);
      padding-bottom: rem(4);
      letter-spacing: 0;
    }
    .car-description + dd {
      $font-size: 12;
      @include font($size: $font-size, $color: $mono3, $weight: 400);
      padding-bottom: rem(28); width: rem(134);
      line-height: em(16, $font-size)
    }
    .car-tag + dd {
      position: absolute; left: rem($thumbnail-width + $grid * 3); top: 0;
      .ico_tag { float: left; margin-right: 1px; min-width: rem($grid * 4); background-color: $bg-secondary; }
    }
    .car-thumbnail + dd {
      position: absolute; left: 0; top: rem(28);
      width: rem($thumbnail-width); min-height: rem(78);
      img { @include valign-center; max-width: 100%; }
    }
  }
  .btn_car-resv {
    @include form($size: 3, $role: submit, $type: button);
    position: absolute; right: 0; bottom: 0;
    width: rem(90);
  }
  .car-info-detail { padding-bottom: rem($grid * 5); border-top: 1px solid $mono8 }
  .car-info-title { @include font($size: 12, $color: $text-primary, $weight: 800); padding: rem($grid * 5) 0 rem(10); }
  .table-wrap { border-top: 1px solid $mono1 }
  table { width: 100%; }
  table th, td { padding: rem(13) 0; height: rem(42); font-size: rem(11); letter-spacing: -0.03em; line-height: rem(16); border-bottom: 1px solid $mono8; }
  table th { padding-right: rem($grid * 2); font-weight: 800; text-align: left; }
}

/*부가서비스 신청 > 신용카드 결제 정보*/
[data-pop-id="pop_payment_credit-card"]{
  .input-group { float: left; }
  .inner-wrap { @include clearfix; position: relative; margin: 0 rem(-$grid / 2) }
  .select-wrap, .input-wrap { position: relative; }
  select { @include form($size: 3, $role: normal, $type: select); background: none !important; }
  select + .ico {
    z-index: -1;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    width: rem(24); height: rem(25);
    &:after {
      content: "";
      z-index: 0;
      display: inline-block;
      width: rem(8); height: rem(8);
      border: solid $mono1; border-width: 0 2px 2px 0;
      @include transform(rotate(45deg) translate(7px, -4px));
    }
  }
  input[type='text'],
  input[type='password'],
  input[type='number'] {
    @include form($size: 3, $role: normal, $type: textbox);
    font-weight: 400;
  }
  input[type='password'] { letter-spacing: em(1.6, 18); }
  input[type='password'],
  input[type='number'].ui-password {
    padding: 0 rem($grid);
    font-family: monospace;
    &::-webkit-input-placeholder { font-family: $font-common-family; }
    &::-moz-placeholder { opacity: 1; font-family: $font-common-family; }
    &:-ms-input-placeholder { font-family: $font-common-family; }
  }
  .input-wrap .ico,
  .select-wrap .ico { top: rem(36); right: rem(16); }
  .input-group .input-wrap .ico,
  .input-group .select-wrap .ico { top: rem(10); right: rem(6); }
  .input-wrap, .select-wrap, .selectric-select-wrap, .btn-wrap {
    position: relative;
    float: left;
    padding: 0 rem($grid / 2) rem($grid * 4);
  }
  .notification-text {
    $font-size: 11;
    @include font($size: $font-size, $color: $mono3, $weight: 600);
    position: absolute; right: rem(10); top: 0;
    text-align: right; line-height: em(16, $font-size);
  }
  .select_owner-type1, .select_owner-type2,
  .input_owner-birthday, .select_owner-gender { width: 50% }
  .select_card-company, .select_pay-plan, .pay-plan-group, .input_owner-name, .owner-info-group, .btn-wrap, .card-pw-group { width: 100%; }
  .form-title {
    $font-size: 12;
    @include font($size: $font-size, $color: $mono1, $weight: 800);
    display: block;
    padding-bottom: em(12, $font-size);
    line-height: em(16, $font-size);
  }
  .input-group .form-title { $font-size: 12; float: left; padding: 0 rem($grid / 2) em(12, $font-size); width: 100%; }
  .select_pay-plan + .btn-wrap { margin-top: rem(-20) }
  .btn_payment-plan { @include font($size: 11, $color: $text-primary, $weight: 400); }
  .input_card-num { width: 25% }
  .input_card-num input[type='text'],
  .input_card-num input[type='number'],
  .input_card-num input[type='password'] {
    padding: 0 rem($grid); width: 100%;
    font-size: rem(13); text-align: center; letter-spacing: em(1.6, 18);
  }
  .pay-plan-group .select_pay-plan { width: 50%; }
  .input_card-pw input[type='password'] {
    width: rem(80) !important;
    text-align: center;
    &[disabled] {
      padding: 0;
      text-align: left; border-color: transparent;
      background-color: transparent;
      opacity: 1; color: $mono1;
    }
  }
  .input_owner-birthday input { letter-spacing: em(-0.18, 13) !important; }
  .owner-info-group input { }
}

/*부가서비스 신청 > 차종 선택*/
[data-pop-id="pop_rentacar-type"]{
  .sort-condition {
    padding: rem($grid * 2) 0 0;
    dt { @include sr-only; }
    dd { @include clearfix; }
    .sort-by-category + dd {
      margin: rem(-4);
      .input-wrap { @include clearfix; }
      input[type='checkbox'] { @include sr-only }
      input[type='checkbox'] + label { float: left; @include form($size: 3, $role: normal, $type: button); margin: rem(4); width: calc(33.333% - 8px); font-size: rem(12); color: $mono4; border-color: $mono6; }
      input[type='checkbox']:checked + label { background-color: $mono1; border-color: $mono1; color: $mono10 }
    }
  }
}