/*부가서비스 구매 > 좌석지정*/
[data-page-id='buy__seat']{
  $seat-type1: $border-primary;
  $seat-type2: #2A2167;
  $seat-type3: #8BC4AA;
  $seat-type4: #AAC8E4;
  $seat-type5: #A5A0E1;
  $seat-type6: #E17DCD;
  $seat-disabled: $mono9;
  $seat-legend-height: 86;
  overflow: hidden;
  width: 100%;
  .tab-panel {
    padding-top: rem($buy__psg-wrap-height + $seat-legend-height);
  }
  /* 좌석 범례 */
  .seat-legend {
    z-index: 0;
    position: absolute; top: rem($buy__psg-wrap-height); left: 0; right: 0;
    overflow: auto;
    width: 100%; height: rem($seat-legend-height);
    &:after { z-index: 0; content: ""; position: absolute; left: 0; right: 0; bottom: 0; height: 1px; border-bottom: 1px solid $mono8 }
    ul { @include clearfix; z-index: 1; display: table }
    li {
      @include font($size: 12, $color: $mono1, $weight: 400, $spacing: -0.03);
      z-index: 1;
      position: relative;
      display: table-cell;
      padding: rem($grid * 4.75) rem($grid * 2) rem($grid * 2);
      white-space: nowrap;
      .digits {
        @include font($family: 'en', $size: 11, $color: $mono1, $weight: 600, $spacing: -0.03);
        display: block;
      }
      &:before {
        content: "";
        position: absolute; left: rem($grid * 2); top: rem($grid * 2);
        display: block;
        width: 14px; height: 14px;
        border-radius: 5px 5px 2px 2px; border: rem(2) solid;
      }
      &.seat-type1:before { border-color: $seat-type1 }
      &.seat-type2:before { border-color: $seat-type2 }
      &.seat-type3:before { border-color: $seat-type3 }
      &.seat-type4:before { border-color: $seat-type4 }
      &.seat-type5:before { border-color: $seat-type5 }
      &.seat-type6:before { border-color: $seat-type6 }
      &.seat-disabled:before { border-color: $seat-disabled; @include background($file: 'buy/ico_seat-legend_seat-disabled', $type: png, $width: rem(6), $height: rem(6)); background-position: 50% 50%; }
    }
    a {
      transition: all $trs-duration;
      transition-delay: $trs-delay;
      overflow: hidden;
      position: absolute; top: 0; right: 0; bottom: 0; left: 0;
      display: block;
      margin-bottom: -1px;
      text-indent: -999em; text-decoration: none; color: inherit;
      border-bottom: 1px solid $mono8
    }
    li.active a { border-color: $mono1 !important }
    .digits { padding-top: rem($grid) }
    /* 탭 활성화 상태에서의 좌석 범례 */
    @at-root .ui-fixed [data-page-id='buy__seat'] .tab-panel.active .seat-legend {
      z-index: 10;
      position: fixed; top: rem($buy__psg-wrap-height); left: 0; right: 0;
      background-color: $mono10;
    }
  }
  /* 좌석 선택 */
  .approach-comment {
    $font-size: 11;
    @include font($size: $font-size, $color: $text-primary, $weight: 600, $spacing: -0.03);
    padding: rem(25) 0 rem(48);
    text-align: center;
    p {
      @include valign-middle();
      display: inline-block;
      padding: 0 em(12, $font-size); width: auto; height: 18px;
      border: 1px solid $border-primary; border-radius: rem(9);
    }
  }
  .seat-sheet {
    position: relative;
    .seat-code,
    .seat-num { margin: 0 auto; width: rem(294); }
    &.B73780001 {
      $bg-width: rem(40);
      $bg-height: rem(945);
      min-height: rem(945);
      &:before {
        content: "";
        @include background($file: 'buy/bg_B73780001_seat-left', $type: png, $width: rem(40), $height: rem(945));
        display: inline-block; width: rem(40); height: rem(945);
        position: absolute; left: 0; top: 0;
      }
      &:after {
        content: "";
        @include background($file: 'buy/bg_B73780001_seat-right', $type: png, $width: rem(40), $height: rem(945));
        display: inline-block; width: rem(40); height: rem(945);
        position: absolute; right: 0; top: 0;
      }
      li:nth-of-type(3) .seat-type1 { margin-top: rem(-$grid); }
      li:nth-of-type(3) .seat-disabled-lg { margin-top: rem(-$grid); }
    }
  }
  .seat-code {
    position: absolute; top: rem(120); left: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: table; table-layout: fixed;
    width: 100%;
    span {
      @include font($family: 'en', $size: 12, $color: $mono1, $weight: 600, $spacing: -0.03);
      display: table-cell;
      text-align: center;
    }
  }
  .seat-num {
    counter-reset: seat-row-numbering;
    padding: rem(53) 0 rem(44);
    li {
      @include clearfix;
      position: relative;
      padding: rem(6) rem(4);
      &:not(.exit-row) {
        counter-increment: seat-row-numbering;
        &:before {
          content: counter(seat-row-numbering);
          @include font($family: 'en', $size: 12, $color: $mono4, $weight: 600, $spacing: -0.03);
          @include align-center;
          display: inline-block;
        }
      }
      & > * { float: left; }
    }
    li.exit-row:first-child {
      margin-top: rem(-53) !important;
      & + li { margin-top: rem(43) }
    }
    li.exit-row:first-of-type {
      padding: 0; height: rem(10);
      & > [class*='exit'] {  }
    }
    .exit_left,
    .exit_right { margin: 0; }
    .exit_left { @include font($family: 'en', $size: 11, $color: $mono4, $weight: 500, $spacing: -0.03); }
    .exit_right { @include font($family: 'en', $size: 11, $color: $mono4, $weight: 500, $spacing: -0.03); float: right; }
    .exit_left .ico,
    .exit_right .ico {
      display: inline-block;
      width: 12px; height: 6px;
      text-indent: -999em;
      border-style: solid; border-width: 3px 6px;
      vertical-align: middle;
    }
    .exit_left .ico { margin: 0 rem($grid / 2) 0 -6px; border-color: transparent $mono4 transparent transparent; }
    .exit_right .ico { margin: 0 -6px 0 rem($grid / 2); border-color: transparent transparent transparent $mono4; }
    a[class^='seat-'] {
      @include valign-middle();
      @include font($family: 'en', $size: 13, $color: $mono10, $weight: 600, $spacing: -0.03);
      overflow: hidden;
      margin: 0 rem(6); width: rem(28); height: rem(28);
      text-align: center;
      border: 2px solid; background-color: $mono10; border-radius: rem($grid) rem($grid) rem(3) rem(3);
      transition: $trs-duration all; transition-delay: $trs-delay;
      text-decoration: none;
      &.active { color: $mono10; }
      &.seat-type1 {
        height: rem(36) !important;
        border-color: $seat-type1;
        &.active { background-color: $seat-type1; box-shadow: 0 4px 8px rgba(255,79,36,0.5) }
      }
      &.seat-type2 {
        border-color: $seat-type2;
        &.active { background-color: $seat-type2; box-shadow: 0 4px 8px rgba(42,33,103,0.5) }
      }
      &.seat-type3 {
        border-color: $seat-type3;
        &.active { background-color: $seat-type3; box-shadow: 0 4px 8px rgba(139,196,170,0.5) }
      }
      &.seat-type4 {
        border-color: $seat-type4;
        &.active { background-color: $seat-type4; box-shadow: 0 4px 8px rgba(170,200,228,0.5) }
      }
      &.seat-type5 {
        border-color: $seat-type5;
        &.active { background-color: $seat-type5; box-shadow: 0 4px 8px rgba(165,160,225,0.5) }
      }
      &.seat-type6 {
        border-color: $seat-type6;
        &.active { background-color: $seat-type6; box-shadow: 0 4px 8px rgba(225,125,205,0.5) }
      }
      &[class^='seat-disabled'] {
        border-color: $seat-disabled;
        @include background($file: 'buy/ico_seat-disabled', $type: png, $width: rem(12), $height: rem(12));
        background-position: 50% 50%; text-indent: -999em;
      }
      &.seat-disabled-lg {
        height: rem(36) !important;
      }
    }
    .hallway { margin: 0 rem(9); width: rem(28); height: rem(28); }
  }
}