/*부가서비스 구매 > 기내식*/
[data-page-id='buy__meal']{
  overflow: hidden;
  width: 100%;
  /* 탭 정의 */
  .tab-panel {
    padding-top: rem($buy__psg-wrap-height);
  }
  .meal-list {
    padding: rem(12) 0 rem(50) rem($grid * 2);
    .item {
      position: relative;
      padding: rem(20) rem($grid * 2) rem(20) rem(94);
      border-bottom: 1px solid $mono8;
      &:first-of-type {
        border-top: 1px solid $mono1;
      }
    }
    input[type='radio'] {
      @include form($size: 1, $role: normal, $type: radio);
      & + label {
        overflow: hidden;
        display: block;
        position: absolute !important; left: 0; top: 0; right: 0; bottom: 0;
        width: 100%; height: 100%;
        text-indent: -999em; font-weight: 400;
        .ico { position: absolute; right: rem($grid * 2); top: rem($grid * 2) }
      }
    }
    dt { @include sr-only }
    .meal-name + dd {
      @include font($size: 14, $color: $mono1, $weight: 600, $spacing: -0.03);
      padding-top: rem($grid);
    }
    .meal-name.new + dd:before,
    .meal-name.best + dd:before {
      @include font($family: en, $size: 9, $color: $mono10, $weight: 500, $spacing: 0);
      @include text-uppercase;
      display: inline-block;
      margin-right: rem(2); padding: 0 rem(5); height: rem(16);
      line-height: rem(16);
      vertical-align: middle;
    }
    .meal-name.new + dd:before { content: "New"; background-color: #FF4378; }
    .meal-name.best + dd:before { content: "Best"; background-color: #2A2167; }
    .meal-description + dd {
      padding-top: rem($grid);
      @include font($size: 12, $color: $mono4, $weight: 400, $spacing: -0.03);
      line-height: rem(16);
    }
    .meal-price + dd {
      @include font($family: en, $size: 14, $color: $mono4, $weight: 400, $spacing: -0.03);
      display: inline-block;
      padding-top: rem(12);
      text-decoration: line-through;
    }
    .meal-description + dd + .meal-price + dd { padding-right: rem(6); color: $text-primary; font-weight: 500; text-decoration: none; }
    .meal-thumbnail + dd { overflow: hidden; position: absolute; left: 0; top: rem($grid * 2); width: rem(78); height: rem(78); border-radius: 50%; border: 1px solid $mono8; }
    .meal-thumbnail + dd img { @include align-center; max-width: 100%; height: auto; }
  }
}