$buy__psg-wrap-height: 107;
/*부가서비스 구매 공통*/
[data-page-id^='buy__']{
  .tabs_route {
    @include tab(style1 nowrap);
    padding-top: rem(30);
    & + .tab-panels .align-horizontal { width: 200%; }
  }
  .function-wrap {
    @include flex(space-between stretch flex-start nowrap);
    padding: rem($grid * 2) rem($grid * 2) 0;
    .notification-text {
      @include font($size: 11, $color: $mono1, $weight: 400, $spacing: -0.03);
      line-height: rem(16);
      .text-emphasis { font-weight: 600; }
    }
    .btn-group {
      margin-left: auto; padding-top: rem($grid * 2);
      text-align: right;
      input[type='checkbox'] { @include form($size: 1, $role: normal, $type: checkbox); }
    }
  }
  .tab-panel {
    position: relative;
  }
  .align-horizontal {
    transition: margin-left $trs-duration;
    transition-delay: $trs-delay;
  }
  .no-item {
    @include alert-style;
    padding-bottom: rem(80);
    text-align: center;
    .text-small { font-size: 0.9em; color: $mono4; }
    & + .process-btn-wrap { margin-top: rem(-80); padding-top: 0; }
  }
  .passenger-wrap {
    overflow: auto; overflow-x: auto; overflow-y: hidden;
    position: absolute; top: 0; left: 0; right: 0;
    height: rem($buy__psg-wrap-height);
    border-bottom: 1px solid $mono8;
    @at-root .ui-fixed [data-page-id^='buy__']:not([data-page-id='buy__dom']) .tab-panel.active > .passenger-wrap {
      z-index: 10;
      position: fixed;
      background-color: $mono10;
      ul { padding-top: 0; }
    }
  }
  .passenger-list {
    @include tab(style2 nowrap);
    display: table;
    overflow: auto;
    width: auto; min-width: 100%;
    li {
      $font-size: 16;
      position: relative;
      display: table-cell;
      @include text-ellipsis(null);
      @include font($size: $font-size, $color: $mono4, $weight: 500, $spacing: -0.03);
      padding: em(32, $font-size) rem($grid * 2);
      max-width: 80vw; width: auto; height: rem($buy__psg-wrap-height);
      text-align: center;
    }
    input[type='radio'] { @include sr-only; }
    dt { @include sr-only }
    dd {
      transition-duration: $trs-duration;
      transition-delay: $trs-delay;
      text-align: left;
    }
    label {
      @include text-ellipsis();
      display: block;
    }
    .passenger-name + dd {
      @include font($family: 'en', $size: 16, $color: $mono4, $weight: 600, $spacing: -0.03);
      @include text-uppercase;
    }
    .selected-seat + dd,
    .selected-baggage + dd,
    .selected-meal + dd {
      @include font($size: 10, $color: $text-primary, $weight: 600, $spacing: -0.03);
      padding-top: rem($grid);
      line-height: rem(12);
      .btn_delete {
        @include background($file: 'common/ico_delete-s', $type: png, $width: rem(12), $height: rem(12));
        overflow: hidden;
        display: inline-block;
        margin-left: rem(5); width: rem(12); height: rem(12);
        text-indent: -999em; vertical-align: middle;
        z-index: 99;
      }
      &:empty:before {
        @include font($size: 10, $color: $mono4, $weight: 600, $spacing: -0.03);
        content: "선택하세요";
      }
    }
    input[type='radio']:checked ~ dl {
      .selected-seat + dd,
      .selected-baggage + dd,
      .selected-meal + dd { color: $text-primary; }
      dd, dd:before { transition: all $trs-duration; transition-delay: $trs-delay; }
      dd, dd:empty:before { color: $mono1 }
    }
  }
  .btn_help {
    overflow: hidden;
    display: inline-block;
    margin-left: rem(3); width: rem(14); height: rem(14);
    @include background($file: '../img/common/ico_help', $type: png, $width: rem(14), $height: rem(14));
    text-indent: -999em; vertical-align: middle;
  }
  /* 안내 영역 */
  .notification-wrap { padding: 0 rem($grid * 2); }


  /* 번들 관련 */
  .floating-banner {
    $font-size: 11;
    @include font($size: $font-size, $color: $mono1, $weight: 600, $spacing: -0.03);
    position: fixed; right: rem($grid * 3); bottom: rem(118);
    .btn_bundle {
      display: inline-block;
      padding: rem(13) rem($grid); width: em(54, $font-size); height: em(54, $font-size);
      background-color: $mono1; border-radius: 50%;
      line-height: em(14, $font-size); text-decoration: none; text-align: center; color: $mono10;
    }
  }

  [class*='bundle-type'] + dd {
    @include bundle-flag($ico-class: '.ico');
    margin-top: rem(-10);
    .ico { margin-bottom: rem(10); }
  }
  @include bundle-flag-type($airline: tw, $type: 0, $ico-class: '.bundle-type0 + dd .ico');
  @include bundle-flag-type($airline: tw, $type: 1, $ico-class: '.bundle-type1 + dd .ico');
  @include bundle-flag-type($airline: tw, $type: 2, $ico-class: '.bundle-type2 + dd .ico');
  @include bundle-flag-type($airline: tw, $type: 3, $ico-class: '.bundle-type3 + dd .ico');
  .bundle-inter1 .bundle-type1 {
    & + dd {
      .ico {  }
    }
  }
  .bundle-inter1 .bundle-type2 {
    & + dd {
      .ico {  }
    }
    & ~ .selected-seat + dd,
    & ~ .selected-meal + dd {
      &:empty:before {
        content: "(프리미엄 제외 좌석) 선택하세요";
      }
    }
  }
  .bundle-inter1 .bundle-type3 {
    & + dd {
      .ico {  }
    }
    & ~ .selected-seat + dd,
    & ~ .selected-meal + dd {
      &:empty:before {
        content: "(전좌석) 선택하세요";
      }
    }
  }
  .bundle-inter2 .bundle-type1 {
    & + dd {
      .ico {  }
    }
    & ~ .selected-seat + dd,
    & ~ .selected-meal + dd {
      &:empty:before {
        content: "(프리미엄 제외 좌석) 선택하세요";
      }
    }
  }
  .bundle-inter2 .bundle-type2 {
    & + dd {
      .ico {  }
    }
    & ~ .selected-seat + dd,
    & ~ .selected-meal + dd {
      &:empty:before {
        content: "(전좌석) 선택하세요";
      }
    }
  }
  .bundle-dom1 .bundle-type1 {
    & + dd {
      .ico {  }
    }
    & ~ .selected-seat + dd,
    & ~ .selected-meal + dd {
      &:empty:before {
        content: "(프리미엄 제외 좌석) 선택하세요";
      }
    }
  }
  .bundle-dom1 .bundle-type2 {
    & + dd {
      .ico {  }
    }
    & ~ .selected-seat + dd,
    & ~ .selected-meal + dd {
      &:empty:before {
        content: "(전좌석) 선택하세요";
      }
    }
  }
}