$buy__psg-wrap-height: 107;
/*부가서비스 구매 공통*/
[data-page-id^='buy__']{
  .tabs_route {
    @include tab(style1 nowrap);
    padding-top: rem(30);
    & + .tab-panels .align-horizontal { width: 200%; }
  }
  .function-wrap {
    @include flex(space-between stretch flex-start nowrap);
    padding: rem($grid * 2) rem($grid * 2) 0;
    .notification-text {
      @include font($size: 11, $color: $mono1, $weight: 400, $spacing: -0.03);
      line-height: rem(16);
      .text-emphasis { font-weight: 600; }
    }
    .btn-group {
      margin-left: auto; padding-top: rem($grid * 2);
      text-align: right;
      input[type='checkbox'] { @include form($size: 1, $role: normal, $type: checkbox); }
    }
  }
  .tab-panel {
    position: relative;
  }
  .align-horizontal {
    transition: all $trs-duration;
    transition-delay: $trs-delay;
  }
  /* 승객 선택 */
  /*.tabs_passenger {
    @include tab(style2 nowrap);
    padding-top: rem(8);
    dt { @include sr-only }
    dd { text-align: left; }
    .passenger-name + dd {
      @include font($family: 'en', $size: 16, $color: '', $weight: 600, $spacing: -0.03);
      @include text-uppercase;
    }
    .selected-seat + dd {
      @include font($size: 10, $color: $text-primary, $weight: 600, $spacing: -0.03);
      padding-top: rem($grid);
      &:before {
        @include font($size: 10, $color: $mono1, $weight: 600, $spacing: -0.03);
        content: "선택하세요";
      }
    }
  }*/
  .passenger-wrap {
    overflow: auto;
    position: absolute; top: 0; left: 0; right: 0;
    height: rem($buy__psg-wrap-height);
    @at-root .ui-fixed [data-page-id^='buy__'] .tab-panel.active .passenger-wrap {
      z-index: 10;
      position: fixed;
      background-color: $mono10;
      ul { padding-top: 0; }
    }
  }
  .passenger-list {
    @include tab(style2 nowrap);
    display: table;
    overflow: auto; width: auto;
    padding-top: rem(8); min-width: 100%;
    li {
      $font-size: 16;
      position: relative;
      display: table-cell;
      @include text-ellipsis(null);
      @include font($size: $font-size, $color: $mono4, $weight: 500, $spacing: -0.03);
      padding: em(32, $font-size) rem($grid * 2);
      max-width: 80vw; width: auto; height: rem($buy__psg-wrap-height);
      text-align: center;
      border-bottom: 1px solid $mono8;
    }
    input[type='radio'] { @include sr-only; }
    dt { @include sr-only }
    dd {
      transition-duration: $trs-duration;
      transition-delay: $trs-delay;
      text-align: left;
    }
    label {
      @include text-ellipsis();
      display: block;
    }
    .passenger-name + dd {
      @include font($family: 'en', $size: 16, $color: $mono4, $weight: 600, $spacing: -0.03);
      @include text-uppercase;
    }
    .selected-seat + dd,
    .selected-baggage + dd,
    .selected-meal + dd {
      @include font($size: 10, $color: $text-primary, $weight: 600, $spacing: -0.03);
      padding-top: rem($grid);
      line-height: rem(12);
      .btn_delete {
        @include background($file: 'common/ico_delete-s', $type: png, $width: rem(12), $height: rem(12));
        overflow: hidden;
        display: inline-block;
        margin-left: rem(5); width: rem(12); height: rem(12);
        text-indent: -999em; vertical-align: middle;
        z-index: 99;
      }
      &:empty:before {
        @include font($size: 10, $color: $mono4, $weight: 600, $spacing: -0.03);
        content: "선택하세요";
      }
    }
    input[type='radio']:checked ~ dl {
      .selected-seat + dd,
      .selected-baggage + dd,
      .selected-meal + dd { color: $text-primary; }
      dd, dd:before { transition: all $trs-duration; transition-delay: $trs-delay; }
      dd, dd:empty:before { color: $mono1 }
    }
  }
  /* 안내 영역 */
  .notification-wrap { padding: 0 rem($grid * 2); }
}