/*부가서비스 구매 > 좌석지정*/
[data-page-id='buy__seat']{
  $seat-type1: $border-primary;
  $seat-type2: #2A2167;
  $seat-type3: #8BC4AA;
  $seat-type4: #AAC8E4;
  $seat-type5: #A5A0E1;
  $seat-type6: #E17DCD;

  .seat-legend li[class^='seat-type'],
  .seat-num a[class^='seat-type'] {
    position: relative;
    &:after { content: ""; display: inline-block; position: absolute;  border-radius: 1px; background-color: transparent; opacity: 0.5; }
  }
  .seat-legend li[class^='seat-type']:after {
    left: rem(20); top: rem(25); width: rem(6); height: 2px;
  }
  .seat-num a[class^='seat-type']:after {
    left: rem(3); right: rem(3); bottom: rem(3); height: 3px;
  }

  @at-root .seat-plan {
      /* 좌석 범례 */
    .seat-legend {
      li {
        &.seat-type1:before { border-color: $seat-type1 }
        &.seat-type2:before { border-color: $seat-type2 }
        &.seat-type3:before { border-color: $seat-type3 }
        &.seat-type4:before { border-color: $seat-type4 }
        &.seat-type4:after { background-color: $seat-type4 }
        &.seat-type5:before { border-color: $seat-type5 }
        &.seat-type6:before { border-color: $seat-type6 }
        &.seat-type6:after { background-color: $seat-type6 }
      }
    }
    /* 좌석 선택 */
    .seat-num {
      a[class^='seat-'] {
        &.seat-type1 {
          border-color: $seat-type1;
          &.active { background-color: $seat-type1; box-shadow: 0 4px 8px rgba(255,79,36,0.5) }
        }
        &.seat-type2 {
          border-color: $seat-type2;
          &.active { background-color: $seat-type2; box-shadow: 0 4px 8px rgba(42,33,103,0.5) }
        }
        &.seat-type3 {
          border-color: $seat-type3;
          &.active { background-color: $seat-type3; box-shadow: 0 4px 8px rgba(139,196,170,0.5) }
        }
        &.seat-type4 {
          border-color: $seat-type4;
          &:after { background-color: $seat-type4; }
          &.active { background-color: $seat-type4; box-shadow: 0 4px 8px rgba(170,200,228,0.5) }
        }
        &.seat-type5 {
          border-color: $seat-type5;
          &.active { background-color: $seat-type5; box-shadow: 0 4px 8px rgba(165,160,225,0.5) }
        }
        &.seat-type6 {
          border-color: $seat-type6;
          &:after { background-color: $seat-type6; }
          &.active { background-color: $seat-type6; box-shadow: 0 4px 8px rgba(225,125,205,0.5) }
        }
      }
    }
  }
}