/* 합계 팝업 */
.ags-summary {
  overflow: hidden;
  position: fixed; bottom: 0; left: 0; right: 0;
  margin-top: rem(-$summary-height); padding: rem(6) 0 0; height: rem($summary-height);
  color: $mono10;
  .btn_drawer {
    z-index: 11;
    @include background($file: 'buy/btn_summary-drawer', $type: png, $width: rem(40), $height: rem(11));
    overflow: hidden;
    position: absolute; left: 50%; top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-indent: -999em;
    display: block;
    width: rem(40); height: rem(16);
    background-position: 50% 0;
    .ico {
      @include background($file: 'buy/ico_summary-drawer', $type: png, $width: rem(8), $height: rem(6));
      display: block;
      position: absolute; left: 50%; top: 0;
      -webkit-transform: translate(-50%, 0) rotate(0);
      -ms-transform: translate(-50%, 0) rotate(0);
      transform: translate(-50%, 0) rotate(0);
      transform-origin: 50% 50%;
      width: rem(16); height: rem(16);
      background-position: 50% 50%;
      transition: all 0.2s;
      transition-delay: 0.2s;
    }
  }
  .inner-wrap {
    overflow: hidden;
    height: 100%; background-color: $mono1;
  }
  .total {
    width: 100%; height: rem(100);
    & > dl { display: table; table-layout: fixed; padding: 0 rem(10); width: 100%; height: rem(60); }
    & > dl > dt, & > dl > dd { display: table-cell; padding: 0 rem(6); white-space: nowrap; vertical-align: middle; }
    & > dl > dt {
      @include font($size: 12, $color: inherit, $weight: 500, $spacing: -0.03);
      width: (85 / 343 * 100%);
      a { color: inherit; text-decoration: none; }
    }
    & > dl > dt + dd:not(.count-bubble) {
      @include font($family: en, $size: 16, $color: $text-primary, $weight: 800, $spacing: -0.03);
      text-align: right;
    }
    dd.count-bubble .ico {
      $font-size: 15;
      @include font($family: en, $size: $font-size, $color: $mono10, $weight: 500, $spacing: 0);
      @include valign-middle();
      overflow: hidden;
      display: inline-block;
      opacity: 0;
      -webkit-transform: translate(0, 10px);
      -ms-transform: translate(0, 10px);
      transform: translate(0, 10px);
      margin-left: em(-26, $font-size); padding: 0 em(9, $font-size); height: em(24, $font-size);
      line-height: em(24, $font-size);
      background: rgba(219,16,16,0.9); border: 1px solid #FF0000; border-radius: em(12, $font-size);
    }
    dd.count-bubble.active .ico {
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    dd.count-bubble.show .ico {
      @include animation($delay: 0, $duration: 0.5s, $animation:count-bubble__show, $direction: forward, $fillmode: fowards); transition: all 0.5s;
    }
    dd.count-bubble.hide .ico {
      @include animation($delay: 0, $duration: 0.5s, $animation:count-bubble__hide, $direction: forward, $fillmode: fowards); transition: all 0.5s;
      opacity: 0;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    dd.count-bubble.add .ico {
      @include animation($delay: 0.1s, $duration: 0.3s, $animation:count-bubble__add, $direction: forward, $fillmode: fowards); transition: all 0.5s;
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    & > dl > dt + dd + dd { text-align: center; width: (103 / 343 * 100%); }
    .btn_pay-imm, .btn_resv-imm, .btn_refund-imm {
      @include form($size: 2, $role: normal, $type: button);
      margin: 0; width: auto;
      border-color: rgba(255,255,255,0.5); background-color: transparent; color: $mono10
    }
    .btn_pay-imm[disabled='disabled'] { color: rgba(255,255,255,0.6) }
    .btn_resv-imm { width: 91px; }

    @include keyframe($animation_name: count-bubble__show){
      0% {
        -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
        transform: translate(0, 10px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
      }
    }
    @include keyframe($animation_name: count-bubble__hide){
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @include keyframe($animation_name: count-bubble__add){
      0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      33% {
        -webkit-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        transform: translate(0, -5px);
      }
      66% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    }
  }
  &:not(.dfs__list) {
    .digits {
      @include font($family: en, $size: 18, $color: $text-primary, $weight: 600, $spacing: -0.03);
      &:before {
        content: "￦";
        font-size: rem(17); color: $text-primary; font-weight: 800;
      }
    }
  }
}
/* 총 결제 금액 팝업 */
.passenger-summary {
  padding-left: rem($grid * 2);
  @include flight-info;
  .flight-info { display: inline-flex !important; }
  .table-wrap {
    position: relative;
    padding-bottom: rem($grid * 2);
  }
  [class*='bundle-type'] {
    @include clearfix;
    position: relative;
    margin: 0 rem($grid * 2) 0 0;
    .info-title { padding: rem($grid) 0; }
    dt { @include sr-only }
    dd { display: inline-block; }
    .bundle-name + dd {
      @include font($size: 9, $color: $mono1, $weight: 800, $spacing: 0);
      margin-right: rem(4); padding: 0 rem(4); min-width: rem(40); height: rem(16);
      line-height: rem(14); border: 1px solid;
      white-space: nowrap;
    }
    .bundle-sale + dd {
      @include font($size: 9, $color: $mono1, $weight: 800, $spacing: 0);
      &:after { content: " SALE" }
    }
    .bundle-price + dd {
      @include font($size: 13, $color: $mono1, $weight: 400);
      @include price-unit(krw);
      float: right;
      padding: rem(2) rem(24) 0; text-align: right;
    }
    &.bundle-type1 {
      &, .bundle-name { border-color: #7C756E }
      .bundle-name + dd,
      .bundle-sale + dd { color: #817A73 }
    }
    &.bundle-type2 {
      &, .bundle-name { border-color: #8EB454; }
      .bundle-name + dd,
      .bundle-sale + dd { color: #8EB454 }
    }
    &.bundle-type3 {
      &, .bundle-name { border-color: #D22C27 }
      .bundle-name + dd,
      .bundle-sale + dd { color: #D22C27 }
    }
    .charge-sheet {
      tbody td:last-child { padding-right: 0; }
    }
  }
  .btn_delete {
    @include btn_delete-small; position: absolute; right: 0; top: rem(10);
  }
  .charge-sheet {
    @include table($style: type1, $mg-size: small);
    th, td { padding: rem($grid) 0; vertical-align: middle; }
    thead th, tbody th, tbody td, tfoot th, tfoot td { border-bottom: 0; }
    tbody td:nth-of-type(3) { text-align: right; }
    tbody th, tbody td { padding-top: rem(7); padding-bottom: rem(7); height: rem(30); }
    tbody td:nth-of-type(2) {
      @include font($size: 12, $color: $mono1, $weight: 400, $spacing: -0.03);
      padding-right: rem(12); text-align: right;
      .digits {
        @include font($family: en, $size: 13, $color: $mono1, $weight: 400, $spacing: -0.03);
        &:before {
          content: "￦";
          font-size: rem(12); color: $mono1; font-weight: 500;
        }
      }
    }
    tbody th:nth-of-type(3), tbody td:nth-of-type(3) {
      padding-left: 0; padding-right: rem($grid * 2); width: rem(12);
      text-align: center;
    }
    tbody th[scope='colgroup'] { text-align: left; }
    tbody tr + tr th[scope='colgroup'] { border-top: 1px solid $mono8 }
    tbody th[scope='row'] {
      @include font($size: 13, $color: $mono1, $weight: 800, $spacing: -0.03);
      width: rem(85); text-align: left;
    }
    a, a:active, a:visited { color: #66B1FF; }
    .btn_delete { position: relative; right: initial; top: initial; margin-left: 0; vertical-align: top }
  }
  .table-wrap {
    padding-top: rem($grid * 2);
    & + .table-wrap { border-top: 1px solid $mono8 }
  }
  .passenger-name {
    @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
    @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
    @include text-uppercase;
    margin: 0 0 rem($grid); padding-left: rem(20);
  }
  .total-wrap {
    height: rem(44);
    border-top: 1px solid $mono1; border-bottom: 1px solid $mono8;
    dl { display: table; table-layout: fixed; width: 100%; height: 100%; }
    dt, dd { display: table-cell; vertical-align: middle; }
    dt { @include font($size: 12, $color: $mono1, $weight: 600, $spacing: -0.03); width: rem(50) }
    dd {
      @include font($size: 12, $color: $text-primary, $weight: 600, $spacing: -0.03);
      padding-right: rem($grid * 2);
      text-align: right;
      .digits {
        @include font($family: en, $size: 13, $color: inherit, $weight: 500, $spacing: -0.03);
        &:before {
          content: "￦";
          font-size: rem(12); font-weight: 600;
        }
      }
    }
    & + .title { margin-top: rem($grid * 10); }
  }
  &.active { z-index: 1000; }
}

/*번들 선택*/
.bundle-summary {
  &.active {  }
  .inner-wrap { overflow-x: hidden; overflow-y: auto; margin-top: rem(-58) }
  [role='tabpanel'] { height: auto; }
  .summary-title { @include sr-only }
  .summary-approach {
    $font-size: 16;
    @include font($size: $font-size, $color: $mono1, $weight: 300, $spacing: -0.03);
    padding: 0 rem($grid * 2) rem($grid);
    line-height: em(24, $font-size);
    strong { display: block; font-weight: 600; }
  }
  .summary-description {
    $font-size: 11;
    @include font($size: $font-size, $color: $text-primary, $weight: 400, $spacing: -0.03);
    padding: 0 rem($grid * 2);
    line-height: em(16, $font-size);
  }
  .tabs_route {
    @include tab(style1 nowrap);
    padding-top: rem($grid * 5);
  }
  .align-horizontal {
    transition: margin-left $trs-duration;
    transition-delay: $trs-delay;
  }
  .tab-panel {
    transition: none;
    position: relative;
  }
  .scroll-wrap {
    overflow-y: hidden;
    overflow-x: auto;
  }
  .bundle-info {
    @include flex(flex-start stretch flex-start nowrap);
    padding: rem($grid * 4) rem($grid); width: rem(814);
    white-space: nowrap;
    [class^='bundle-type'] { width: calc(250 / 375 * 100vw); }
  }
  [class^='bundle-type'] {
    overflow: hidden;
    margin: 0 rem($grid); border-radius: $border-common-radius;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    .inner-wrap { overflow-y: auto; overflow-x: hidden; }
    .bundle-name + dd { $font-size: 14; display: inline-block; padding: em(5, $font-size) 0; line-height: em(11, $font-size); }
    .bundle-sale + dd {
      $font-size: 11;
      @include font($size: $font-size, $color: $mono10, $weight: 600, $spacing: -0.03);
      float: left;
      margin-right: rem($grid); padding: em(5, $font-size) em(5, $font-size); line-height: em(11, $font-size);
      border-radius: rem(1);
      &:after { content: " SALE" }
    }
    .bundle-price + dd {
      $font-size: 11;
      @include font($size: $font-size, $color: $mono10, $weight: 800, $spacing: -0.03);
      @include price-unit(krw);
      float: right;
      padding: em(5, $font-size) 0; line-height: em(11, $font-size);
    }
    &.bundle-type1 {
      .info-title { background-color: #EDE5D9 }
      .bundle-name + dd { color: #817A73 }
      .bundle-sale + dd { background-color: #7C756E }
      .bundle-price + dd { color: #817A73 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd { color: $text-primary; font-weight: 600; }
    }
    &.bundle-type2 {
      .info-title { background-color: #E0EFCA }
      .bundle-name + dd { color: #8EB454 }
      .bundle-sale + dd { background-color: #8EB454 }
      .bundle-price + dd { color: #8EB454 }
      .info-detail dt:nth-of-type(1),
      .info-detail dt:nth-of-type(2),
      .info-detail dt:nth-of-type(3) { color: $mono1 }
      .info-detail dt:nth-of-type(1) + dd,
      .info-detail dt:nth-of-type(2) + dd,
      .info-detail dt:nth-of-type(3) + dd { color: $text-primary; font-weight: 600; }
    }
    &.bundle-type3 {
      .info-title { background-color: #FBE3E1 }
      .bundle-name + dd { color: #D22C27 }
      .bundle-sale + dd { background-color: #D22C27 }
      .bundle-price + dd { color: #D22C27 }
      .info-detail dt { color: $mono1 }
      .info-detail dd { color: $text-primary; font-weight: 600; }
    }
  }
  .info-title {
    @include clearfix;
    overflow: hidden;
    position: relative;
    padding: rem(13) rem($grid * 2); height: rem(46);
    dt { @include sr-only }
    dd { font-weight: 600; }
  }
  .info-detail {
    $font-size: 12;
    @include font($size: $font-size, $color: $mono4, $weight: 600, $spacing: -0.03);
    @include clearfix;
    padding: rem($grid * 2) 0; background-color: $mono10;
    dt, dd {
      float: left; padding: 0 rem($grid * 2);
      line-height: em(22, $font-size);
    }
    dt { width: 110px; }
    dd { width: calc(100% - 110px); text-align: right; font-weight: 400; }
  }
  .passenger-wrap {
    padding: rem($grid) rem($grid * 2) 0;
    dl { position: relative; }
    dt { @include sr-only }
    .passenger-name + dd {
      @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
      @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
      @include text-uppercase;
      margin: 0 0 rem(12); padding-left: rem(20);
    }
    .bundle-price + dd {
      @include font($size: 13, $color: $text-primary, $weight: 600, $spacing: 0);
      @include price-unit(krw);
      position: absolute; right: 0; top: 0;
    }
    .selected-bundle + dd {
      @include flex(flex-start stretch flex-start nowrap);
      margin: 0 rem(-$grid / 2);
      input[type='radio'] { @include sr-only }
      input[type='radio'] + .btn_select-bundle {
        @include form($size: 3, $role: normal, $type: button);
        flex: 1 auto;
        margin: 0 rem($grid / 2); width: auto;
        font-size: rem(12); color: $mono4;
        transition: all $trs-duration;
      }
      input[type='radio']:checked + .btn_select-bundle {
        border-color: $mono1; background-color: $mono1; color: $mono10;
      }
    }
    .passenger-list > li + li { padding-top: rem($grid * 4) }
  }
  .process-btn-wrap {
    @include flex(flex-start stretch flex-start nowrap);
    margin: 0 rem(-3); padding: rem($grid * 2) rem($grid * 2) 0;
    background-color: $mono10;
    [class^='btn_'] { margin: 0 rem(3) !important; }
    .btn_select {
      @include form($type: button, $size: 4, $role: submit);
      flex: 1 auto;
    }
  }
}

[data-pop-id='pop_lounge-location_7c']{
  $font-size: 13;
  @include font($size: $font-size, $color: $mono1, $weight: 600, $spacing: 0);
  padding-top: rem($grid * 2);
  line-height: em(20, $font-size);
  .lounge-info {
    padding-bottom: rem($grid * 3);
    dt, dd { display: inline-block; padding-bottom: rem($grid) }
    .location { @include sr-only }
    .location + dd { width: 100%; }
    .op-time:after { content: ":"; padding: 0 0.3em }
    .op-time,
    .op-time + dd { color: $text-primary !important }
  }
  img { vertical-align: top; }
}