/*1:1 문의하기 팝업*/
/*부가서비스 신청 > 신용카드 결제 정보*/
[data-pop-id='pop_qna'] {
  $font-size: 13;
  @include font($size: $font-size, $color: $mono1, $weight: 400);
  .input-wrap, .select-wrap, .selectric-select-wrap, .btn-wrap, .file-wrap { float: left; margin: 0 0 rem(-5); padding: 0 rem(10) rem($grid * 4); }
  label {
    $font-size: 12;
    @include font($size: $font-size, $color: $mono1, $weight: 800);
    display: block;
    padding-bottom: em(12, $font-size);
    line-height: em(16, $font-size);
  }
  .input-wrap.name,
  .input-wrap.qna-title,
  .input-wrap.qna-msg,
  .input-wrap.email,
  .input-wrap.cell-num,
  .input-wrap.qna-type,
  .input-wrap.resv-num,
  .select-wrap.qna-type,
  .input-wrap.resv-num { width: 100%; }
  [class*='input-exp']{
    $font-size: 12;
    padding-top: em($grid, $font-size);
    font-size: rem($font-size); color: $mono3;
    &[class*='---asterisk'] { &:before { content: "* " } }
  }
  input[type='text'], .selectric .label, textarea { font-weight: 400; }
  .input-wrap.resv-num input[type="text"] { letter-spacing: 0; }
  textarea { resize: none }
  .file-wrap.qna-attached input[type='text'] { width: rem(255); }

  .input-group { float: left; }
  .inner-wrap { @include clearfix; position: relative; margin: 0 rem(-$grid / 2) }
  .select-wrap, .input-wrap { position: relative; }
  select { @include form($size: 3, $role: normal, $type: select); background: none !important; }
  select + .ico {
    z-index: -1;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    width: rem(24); height: rem(25);
    &:after {
      content: "";
      z-index: 0;
      display: inline-block;
      width: rem(8); height: rem(8);
      border: solid $mono1; border-width: 0 2px 2px 0;
      @include transform(rotate(45deg) translate(7px, -4px));
    }
  }
  input[type='text'],
  input[type='password'],
  input[type='number'] {
    @include form($size: 3, $role: normal, $type: textbox);
    font-weight: 400;
  }
  textarea { @include form($size: 3, $role: normal, $type: textarea); }
  .input-wrap .ico,
  .select-wrap .ico { top: rem(36); right: rem(16); }
  .input-wrap, .select-wrap, .selectric-select-wrap, .btn-wrap {
    position: relative;
    float: left;
    padding: 0 rem($grid / 2) rem($grid * 4);
  }
}