/*기내면세 예약 > 리스트*/
[data-page-id='dfs__list']{
  overflow: hidden;
  width: 100%;
  .tabs_categories {
    @include tab(style1 nowrap);
    padding-top: rem(28);
    & + .tab-panels .align-horizontal { overflow: hidden; width: 100% }
  }
  .tab-panel .dfs-products-wrap { padding: rem(50) 0 0 rem($grid * 2) }
  .list-description {
    $font-size: 11;
    @include font($size: $font-size, $color: $mono1, $weight: 400, $spacing: -0.03);
    padding-bottom: rem(12);
    line-height: em(16, $font-size)
  }
  .dfs-products-list { border-top: 1px solid $mono1 }
  .dfs-products-list li {
    z-index: 0;
    position: relative;
    border-bottom: 1px solid $mono8;
    .product-info { @include clearfix; z-index: 0; position: relative; padding: rem(20) rem(20) rem(20) rem(93) }
    .product-info dt { @include sr-only }
    .product-info dd {  }
    .product-info .product-tag + dd { float: left; padding-right: rem(5); }
    .product-info .product-tag + dd .sale,
    .product-info .product-tag + dd .new {
      $font-size: 9;
      @include font($family: en, $size: $font-size, $color: $mono10, $weight: 500, $spacing: -0.03);
      float: left;
      padding: 0 rem(5); height: em(16, $font-size);
      line-height: em(16, $font-size); text-transform: uppercase;
    }
    .product-info .product-tag + dd .sale { background-color: $bg-primary }
    .product-info .product-tag + dd .new { background-color: $mono1 }
    .product-info .brand + dd { $font-size: 13; float: left; font-size: rem($font-size); line-height: em(16, $font-size); vertical-align: top; color: $mono3 }
    .product-info .product-name + dd { $font-size: 13; float: left; padding-top: rem($grid); width: 100%; height: rem(40); font-size: rem($font-size); font-weight: 600; line-height: em(16, $font-size) }
    .product-info .thumbnail + dd { overflow: hidden; position: absolute; left: 0; top: rem($grid * 2); width: rem(78); height: rem(78); border: 1px solid $mono8 }
    .product-info .thumbnail + dd img { max-width: 100%; height: auto }
    .product-info .price-usd,
    .product-info .price-krw { @include sr-only }
    .product-info .price-usd + dd,
    .product-info .price-krw + dd { @include font($family: en, $size: 14, $color: $mono10, $weight: 400, $spacing: -0.03); display: inline-block; padding-top: rem(13) }
    .product-info .price-usd + dd { color: $text-primary; font-weight: 500 }
    .product-info .price-usd + dd .digits:before { content: "$" }
    .product-info .price-krw + dd { padding-left: rem(7); color: $mono4 }
    .btn_more { z-index: 1; overflow: hidden; position: absolute; top: 0; left: 0; right: 0; bottom: 0; text-indent: -999em }
    input[type='checkbox'] {
      @include form($size: 1, $role: normal, $type: radio);
      & + label {
        z-index: 2;
        overflow: hidden;
        display: block;
        position: absolute !important; right: rem(20); top: rem(20);
        width: rem(16); height: rem(16);
        text-indent: -999em; font-weight: 400;
        .ico { position: absolute; right: 0; top: 0; margin: 0 }
      }
    }
    /*.product-info .price-krw + dd:before { content: "/"; padding: 0 rem(3) 0 rem(2) }
    .product-info .price-krw + dd .digits:before { content: "₩" }*/
  }
  .notification-wrap {
    padding: rem(50) rem($grid * 2) 0;
  }
}
