/* 마이페이지 > 팝업 */
.pop-wrap .seat-plan {
  display: block !important;
  margin: 0 rem(-16); max-height: inherit; height: auto;
  .seat-sheet {
    width: auto; max-height: inherit;
    .scroll-wrap { padding-top: rem(70); max-height: inherit; }
    .mCSB_container { padding-top: rem(70); }
    .seat-code { top: rem(96) }
    .seat-code .hallway { text-indent: -999em; }
    .seat-num li.exit-row:first-child + li { margin-top: rem(43); }
  }
}