/*결제 > 결제완료*/
[data-page-id='pay__complete']{
  overflow: hidden;
  margin-bottom: rem(-64); width: 100%;
  .welcome-wrap {
    @include background($file: 'common/bg_complete', $type: png, $width: rem(200), $height: rem(139));
    background-position: right rem($grid * 2) top rem($grid * 2);
    [class*='welcome-msg--']{
      padding: 0 rem($grid * 2);
    }
    .welcome-msg--lg {
      @include font($size: 20, $color: $mono1, $weight: 300, $spacing: -0.03);
      padding-top: rem(50); line-height: rem(28);
    }
    .welcome-msg--sm {
      @include font($size: 13, $color: $mono1, $weight: 300, $spacing: -0.03);
      padding-top: rem($grid * 2); line-height: rem(18);
      word-break: keep-all;
    }
  }
  .process-btn-wrap {
    padding-top: rem($grid * 4);
    .btn_home {
      @include form($type: button, $size: 4, $role: cancel);
      width: auto; min-width: rem(90);
    }
    .btn_mypage, .btn_buy {
      @include form($type: button, $size: 4, $role: submit);
      flex: 1 auto;
      &:not(:only-child) {  }
    }
  }
  h4:not(.sr-only) { @include font($size: 16, $color: $mono1, $weight: 800, $spacing: -0.03); padding: rem(50) rem($grid * 2) 0; }
  .receipt-wrap {
    padding-left: rem($grid * 2);
    .passenger-name {
      @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
      @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
      @include text-uppercase;
      margin: rem(40) 0 rem(12); padding-left: rem(20);
    }
    .receipt-item {
      border-bottom: 1px solid $mono8;
      h6 {
        @include tagging-route
      }
    }
    .departure,
    .arrival,
    .total {
      dl { @include clearfix; }
      dt {
        @include text-ellipsis();
        @include font($size: 13, $color: $mono1, $weight: 400, $spacing: -0.03);
        float: left;
      }
      dd {
        @include font($family: en, $size: 13, $color: $mono1, $weight: 400, $spacing: -0.03);
        float: right;
        padding: 0 rem($grid * 2);
        text-align: right;
      }
    }
    .departure,
    .arrival {
      padding: rem($grid * 2) 0;
      dt, dd { line-height: rem(24); }
      dt { width: calc(100% - 90px); }
      dd { width: rem(90); }
    }
    .departure {
      border-top: 1px solid $mono1;
    }
    .arrival {
      border-top: 1px solid $mono8;
    }
    .total {
      border-top: 1px solid $mono1;
      padding: rem(15) 0; height: rem(44);
      dt { width: calc(100% - 90px); font-weight: 600; }
      dd { width: rem(90); font-weight: 500; color: $text-primary }
    }
  }
}