/*사이트 이름*/
html, body{
	max-width:100%;
	background-color: #F3F4F5;
}
.site-name {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.ags-wrap{
	overflow: hidden;
}
.ags-wrap header {
	position: relative ;
	width: 100%;
	z-index: 890;
	top: 0;
	height: 240px;
}
.ags-wrap img{	
	position: absolute;
	width: 100%;
	height: 240px;
}

/*상단 제목*/
.ags-wrap .ags-header .page-name {
	position: absolute;	
    top: 77px;
    color: #fff;
	margin: 0 auto;
	font-size: 16px;
    font-family: 'PretendardL';
    left: 50%;
    transform: translate(-50%, -50%);
	width: 200px;
	text-align: center;
} 
.ags-wrap .ags-header .pre_left{
	
	top: 65px;
	left: 15px;
	background: url("../img/common/pre.png") no-repeat center / 24px 24px;
	width: 24px;
	height: 24px;
	position: absolute;	
	text-indent: -9999px;

}


/*상단 왼쪽 메뉴 값 고정*/
.ags-wrap .ags-header .gnb-wrap {
	position: absolute;
	top: 65px;
	right: 40px;
}
.ags-wrap .ags-header .gnb-wrap ul {
	display: flex;
	justify-content: flex-start;
}

.ags-wrap .ags-header .gnb-wrap .btn_back {
	background: url("../img/common/ico_header-back.png") no-repeat center / 24px 24px;
}

.ags-wrap .ags-header .gnb-wrap .btn_gnb {
	background: url("../img/common/ic_menu.png") no-repeat center / 24px 24px;	
	width: 24px;
	height: 24px;
	position: absolute;
	text-indent: -9999px;
}

.ags-wrap .ags-header .gnb-wrap .btn_back {
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -9999px;
}

/* GNB 메뉴 팝업 */
.ags-header .gnb-wrap .gnb-2dp-wrap {
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	opacity: 100;
	visibility: hidden;
	overflow: auto;
	position: fixed;
	left: calc(375 / 375 * 100%);
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #000;
	z-index: 903;
	padding: 20px;
}

.ags-header .gnb-wrap .gnb-2dp-wrap.active {
	opacity: 1;
	visibility: visible;
	position: fixed;	
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.ags-header .gnb-wrap .gnb-2dp-wrap .btn_close {
	z-index: 1;
	background: url("../img/common/ico_pop-close.png") no-repeat center / 14px 14px;
	overflow: hidden;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 25px;
	height: 25px;
	background-position: 50% 50%;
	background-color: transparent;
	text-indent: -9999px;
}

.ags-header .gnb-wrap .gnb-2dp-wrap .fnb {
	position: absolute;
	left: 20px;
	bottom: 6rem;
}

.ags-header .gnb-wrap .gnb-2dp-wrap .fnb a {
	font-size: 20px;
	color: #ffffff;
	display: block;
}

.ags-header .gnb-wrap .gnb-2dp-wrap .welcome-msg{
	padding-top: 50px;	
	color: #ffffff;
	font-family: 'PretendardR';
}

.ags-header .gnb-wrap .gnb-2dp-wrap .depth1{
	padding-top: 50px;	
	color: #ffffff;
	font-size: 20px;
	font-family: 'PretendardB';
	display: inline-block;
	line-height: 50px
}
.ags-header .gnb-wrap .gnb-2dp-wrap .depth1 > li.active a{
	color: #FEE700;	
}


.ags-header .gnb-wrap .gnb-2dp-wrap .depth1 > li.new a:after{
	content: "new";
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    display: inline-block;
    margin-left: 0.57143rem;
    padding: 0 0.53333em;
    height: 1.6em;
    line-height: 1.6em;
    background-color: rgba(219, 16, 16, 0.9);
    border: 1px solid #FF0000;
    border-radius: 0.86667em;
    vertical-align: middle;
    text-transform: uppercase;
}

.ags-header .gnb-wrap .gnb-2dp-wrap .depth1 .depth2{
	padding-left: 15px;
	color: #ffffff;
	font-size: 16px;
	font-family: 'PretendardM';
	display: block;
	line-height: 30px
}

/*중간 컨텐츠*/

.center_contents{
	
}
.center_box1{
	margin: 15px;
	border: solid 1px #eee;
	border-radius: 15px;
	padding: 15px 20px;
	background-color: #fff;
	height: 160px;
	display: flex;
	justify-content: space-between;

	-webkit-box-shadow: 0px 2px 4px 0px #bbb;
	-moz-box-shadow: 0px 2px 4px 0px #bbb;
	box-shadow: 0px 2px 4px 0px #bbb;
}
.center_box1_left{
	position: relative;
	top: 25px;
}

.center_box1_txt1{
	display: flex;
	align-items: center;
}

.center_box1_txt1 span:nth-child(1){
	font-size: 16px;
	font-family: 'PretendardSB';
	color: #222;
}
.center_box1_txt1 span:nth-child(2){
	display: inline-block;
	background: url("../img/common/ico_header-ai.png") no-repeat center / 18px 16px;
	width: 18px;
	height: 16px;
	text-indent: -9999px;
	margin-left: 5px;
	letter-spacing: -0.4px;
}
.center_box1_txt2{
	font-family: 'PretendardM';
	color: #222;
	font-size: 13px;
	margin-top: 30px;
	line-height: 18px;
}

.center_box1_right{
	position: relative;
	background: url("../img/common/img01.jpg") no-repeat center / 125px 142px;
	width: 125px;
	height: 142px;
}
.center_box1_right_icon1{
	position: absolute;
	display: block;
	background: url("../img/common/radar.gif") no-repeat center / 12px 12px;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	top: 70px;
	left: 58px;
}
.center_box1_right_icon2{
	position: absolute;
	display: block;
	background: url("../img/common/radar.gif") no-repeat center / 12px 12px;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	top: 94px;
	left: 58px;
}
.center_box1_right_icon3{
	position: absolute;
	display: block;
	background: url("../img/common/radar.gif") no-repeat center / 12px 12px;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	top: 94px;
	left: 92px;
}
.center_box1_right_icon4{
	position: absolute;
	display: block;
	background: url("../img/common/touch.gif") no-repeat center / 80px 80px;
	width: 80px;
	height: 80px;
	text-indent: -9999px;
	top: 80px;
	left: 80px;
}

.center_box2_right{
	position: relative;
	background: url("../img/common/img02.png") no-repeat center 10px / 134px 133px;
	width: 134px;
	height: 146px;
}
.center_box2_right_icon1{
	position: absolute;
	display: block;
	top: 80px;
	left: 40px;
	color: #fff;
	font-family: 'PretendardSB';
	font-size: 13px;
}
.center_box2_right_icon2{
	position: absolute;
	display: block;
	background: url("../img/common/40_txt.gif") no-repeat center / 70px 27px;
	width: 70px;
	height: 27px;
	text-indent: -9999px;
	top: 94px;
	left: 42px;
}

.center_box3_right{
	position: relative;
	background: url("../img/common/img03.png") no-repeat center left 10px / 138px 124px;
	width: 138px;
	height: 124px;
}
.center_box3_right_icon1{
	position: absolute;
	display: block;
	background: url("../img/common/food_txt.gif") no-repeat center / 90px 30px;
	width: 90px;
	height: 30px;
	text-indent: -9999px;
	top: 50px;
    left: 33px;
}
.center_box3_right_icon2{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 44px;
	top: 106px;
    left: 49px;	
	border-radius: 25px;
	padding: 10px 15px;
	background-color: #384054;
}
.center_box3_right_icon2 button{
	color: #fff;
	font-family: 'PretendardSB';
	font-size: 15px;
	width: 100%;
    height: 100%;
}


.center_box4{
	margin: 15px;
	border: solid 1px #eee;
	border-radius: 15px;
	padding: 15px 20px;
	background-color: #fff;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-box-shadow: 0px 2px 4px 0px #bbb;
	-moz-box-shadow: 0px 2px 4px 0px #bbb;
	box-shadow: 0px 2px 4px 0px #bbb;
}

.center_box4_left{
	position: relative;
}
.center_box4_right{
	position: relative;
}

.center_box4_right_icon1{
	width: 100px;
	height: 24px;
	border-radius: 3px;
	background-color: #11366F;
	font-family: 'PretendardM';
	color: #fff;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 12px;
}
.center_box5{
	
	background-color: #fff;
	padding: 25px 20px;
}
.center_box5_txt1{
	background: url("../img/common/icon_smile.png") no-repeat center left -3px / 32px 21px;
	color: #222;
	font-family: 'PretendardSB';
	font-size: 15px;
	padding-left: 32px;
	height: 25px;
	display: flex;
    align-items: center;
}

.center_box5_txt2{
	margin-top: 25px;
	color: #222;
	font-family: 'PretendardSB';
	font-size: 15px;
}
.center_box5_img1{
	margin-top: 10px;
	background: url("../img/common/trip_bg1.png") no-repeat center / 333px 118px;
	width: 333px;
	height: 118px
}
.center_box5_txt3{
	margin-top: 25px;
	color: #222;
	font-family: 'PretendardSB';
	font-size: 15px;
}
.center_box5_img2{
	margin-top: 10px;
	background: url("../img/common/trip_bg2.png") no-repeat center / 333px 79px;
	width: 333px;
	height: 79px
}

.center_box6{	
	padding: 25px 20px;
	background-color: #fff;
}
.center_box6_txt1{
	color: #222;
	font-family: 'PretendardSB';
	font-size: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
}
.center_box6_txt2{
	margin-top: 10px;
}
.center_box6_txt2 div:nth-child(1){
	font-family: 'PretendardM';
	font-size: 14px;
	letter-spacing: -0.4px;
	line-height: 17px;
	color: #222;
}
.center_box6_txt2 div:nth-child(2){
	margin-top: 5px;
	font-family: 'PretendardR';
	font-size: 13px;
	letter-spacing: -0.4px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;	
	line-height: 17px;
}
.center_box6_txt3{
	margin-top: 10px;
}
.center_box6_txt3 div:nth-child(1){	
	font-family: 'PretendardR';
	font-size: 13px;
	letter-spacing: -0.4px;
	line-height: 17px;
}
.center_box6_txt3 div:nth-child(2){
	margin-top: 5px;
	font-family: 'PretendardR';
	font-size: 13px;
	letter-spacing: -0.4px;
	padding-bottom: 10px;	
	line-height: 17px;
}



.center_box7{
	padding: 25px 20px;	
}
.center_box7_txt1{
	color: #222;
	font-family: 'PretendardSB';
	letter-spacing: -0.4px;
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.center_box7_txt2{
	color: #666;
	font-family: 'PretendardR';
	letter-spacing: -0.4px;
	font-size: 13px;
	margin-top: 10px;
}

.text-slider{
	position: relative;
	color: #fff;
	font-family: 'PretendardSB';
	font-size: 21px;
	top: 118px;
	left: 20px;
	overflow: hidden;
	height: 55px;
}
.text-slide{
	position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transition: opacity 1s ease-in-out;
	line-height: 28px;
}
.text-slide.active {
	opacity: 1;
  }
.text_blue{
	color: #47D3FF;
}	

.text-alram{
	position: relative;
	color: #fff;
	font-family: 'PretendardL';
	font-size: 13px;
	top: 150px;
	left: 20px;
	background: url("../img/common/alram_bell.png") no-repeat left / 13px 14px;
	padding-left: 18px;
}

@media (max-width: 321px) {
	.center_box1{
		padding: 10px;
		margin: 10px;
	}
	.center_box1_txt2{
		width: 140px;
		letter-spacing: -0.5px;
	}
	
	.center_box1_right_icon1{
		top: 78px;
	}
	.center_box1_right_icon2{
		top: 100px;
	}
	.center_box1_right_icon3{
		top: 100px;
	}
	.center_box2_right{
		background: url("../img/common/img02.png") no-repeat center 13px / 134px 133px;
	}

	.center_box3_right_icon2{
		top: 118px;
		left: 37px;
	}
	.center_box4{
		margin: 10px;
	}
	.center_box5{
		padding: 20px 15px;
	}
	.center_box6{
		padding: 20px 15px;
	}
	.center_box6_txt2{
		font-size: 11px;
	}
	.center_box5_img1{
		background: url("../img/common/trip_bg1.png") no-repeat center / 270px 96px;
		width: 270px;
		height: 96px;
	}
	.center_box5_img2{
		background: url("../img/common/trip_bg2.png") no-repeat center / 270px 79px;
		width: 270px;
		height: 79px;
	}
	.center_box7{
		padding: 20px 15px;
	}
	.center_box7_txt1{
		letter-spacing: -0.3px;
	}
	.center_box7_txt2{
		letter-spacing: -0.3px;
	}
}

@media (max-width: 281px) {
	.text-slider{
		font-size: 17.5px;
	}
	.center_box1_right_icon1{
		left: 53px;
	}
	.center_box1_right_icon2{
		left: 53px;
	}
	.center_box1_right_icon3{
		left: 84px;
	}
	.center_box1_right_icon4{
		top: 81px;
    	left: 71px;
	}
	.center_box1_txt2{
		width: 125px;
		letter-spacing: 0;
	}
	.center_box2_right{
		background: url(../img/common/img02.png) no-repeat center 27px /121px 120px;
		width: 121px;
	}
	.center_box2_right_icon1{
		top: 87px;
		left: 30px;
	}
	.center_box2_right_icon2{
		top: 101px;
    	left: 33px;
	}
	.center_box3_right {
		position: relative;
		background: url(../img/common/img03.png) no-repeat center left / 118px 104px;
		width: 118px;
		height: 104px;
		top: 20px;
	}
	.center_box3_right_icon1{
		top: 38px;
   	 	left: 13px;
	}
	.center_box3_right_icon2{
		top: 93px;
    	left: 25px;
		width: 100px;
    	height: 40px;
	}
	.center_box4{
		padding: 10px;
	}
	.center_box4_right_icon1{
		margin-right: 0px;
	}
	.center_box5_img1 {
		background: url(../img/common/trip_bg1.png) no-repeat center / 250px 89px;
		width: 250px;
		height: 89px;
	}
	.center_box5_img2 {
		background: url(../img/common/trip_bg2.png) no-repeat center / 250px 59px;
		width: 250px;
		height: 59px;
	}
	.center_box5{
		padding: 10px;
	}
	.center_box6{
		padding: 10px;
	}
	.center_box7{
		padding: 10px;
	}
	.center_box7_txt1 span{
		font-size: 11px;
	}
	.center_box7_txt1{
	}
	.center_box7_txt2{
		font-size: 12px;
	}
	
}