
.content-wrapb {
    margin: 0 auto;
    padding: 0 1.23077rem;
    width: 1232px;
}

.content-wrapb:after {
    content: "";
    display: table;
    clear: both;
}

.content-wrapb.newui {
    padding: 0;
}
.content-wrapb.newui button {
    background-color: unset;
}
.content-wrapb.newui .gnb-btn a{
    font-family: 'PretendardM';
    font-size: 13px;
    color: #222;
    margin-left: 20px;
}
header{
    border-bottom: 1px solid #eee !important;
}

/*---------------------------------------------------------*/
.gnb-header-top {
    display: flex;
    justify-content: flex-end;
    height: 65px;
    background-color: #fafafa;
    align-items: center;
}
.gnb-header-top .gnb-header-top-txt {
    padding: 10px 15px;
    text-align: right;
    font-size: 16px;
    color: #999;
    font-family: 'PretendardSB';
}
.gnb-header-top .gnb-header-top-txt.active {
    color: #222;
}

.alpha-foods {
    margin-top: unset;
}

.gnb-header-bottom_finalpage {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.gnb-header-bottom_finalpage .page-name-pay {    
    font-size: 20px;
    color: #222;
    font-family: 'PretendardSB';
    height: 100%;
    display: flex;
    margin-right: 130px;
    align-items: center;
}

.gnb-header-bottom {
    display: flex;
    height: 80px;
    justify-content: space-between;
}
.gnb-header-bottom div:nth-child(1) {
    display: flex;
    align-items: center;
}
.gnb-header-bottom div:nth-child(2) {
    display: flex;
    align-items: center;
    margin-left: 220px;
}
.gnb-header-bottom div:nth-child(3) {
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 340px;
    justify-content: flex-end;
}

.gnb-header-bottom div .gnb-header-bottom-txt {    
    font-size: 20px;
    color: #222;
    font-family: 'PretendardSB';
    margin-right: 60px;
    height: 100%;
    display: flex;
    align-items: center;
}



.gnb-header-bottom div .gnb-header-bottom-txt.active {
    color: #f5581a;
    border-bottom: 3px solid #f5581a;
    pointer-events: none;
    cursor: default;

}
.gnb-header-bottom div .gnb-header-bottom-logo1 {
    padding: 20px 15px;
}
.gnb-header-bottom-logo1 img {
    height: 45px;
}
.gnb-header-bottom div .gnb-header-bottom-logo2 {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    align-items: flex-start;
}

.gnb-header-bottom-logo2 img {
    height: 45px;
    margin-right: 29px;
    position: relative;
    top: -5px;
}
.gnb-header-bottom-logo2-txt{
    position: absolute;
    top: 54px;
    margin-left: unset !important;
}


/*---------------------------------------------------------*/

.content-wrap.newui .tabstabs-btn li {
    border-radius: 0;
    font-family: 'PretendardM';
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active {
    background-color: #fff;
    color: #222;
    border-radius: 2px;
    border: 2px solid #f5581a;

}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] {
    width: 180px;
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    transition: unset;
}
.tabstabs_newui {
    position: relative;
    top: 30px;
    left: 15px;
    width: 360px;
    height: 54px;
    border: 1px solid #ddd;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.tabstabs_newui_btn {
    display: flex;
}
.tabstabs_newui_btn div:nth-child(1) span:nth-child(1) {
    font-size: 11px;
}
.tabstabs_newui_btn div:nth-child(1) {
    display: flex;
    align-items: center;
}
.tabstabs_newui .tab_newui_b{
    font-size: 11px;
    letter-spacing: -0.7px;
}


/*항공사 로고 */
.airs_logo {
    display: inline-block;
    text-indent: -9999em;
    margin-left: 5px;
    font-family: 'PretendardM';
}

.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.jeju,
.airs_logo.jeju {
    background: url("https://cdn.ags-aws.com/air/sb/sb_7C.png") no-repeat center /48px 9px;
    width: 48px;
    height: 9px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.jeju {
    background: url("https://cdn.ags-aws.com/air/sb/sb_7C.png") no-repeat center /48px 9px;
    width: 48px;
    height: 9px;
}

.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.tway,
.airs_logo.tway {
    background: url("https://cdn.ags-aws.com/air/sb/sb_TW.png") no-repeat center /36px 13px;
    height: 13px;
    width: 36px;
    margin-bottom: 1px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.tway {
    background: url("https://cdn.ags-aws.com/air/sb/sb_TW.png") no-repeat center /36px 13px;
    height: 13px;
    width: 36px;
    margin-bottom: 1px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.airbusan,
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.busan,
.airs_logo.airbusan,.airs_logo.busan {
    background: url("https://cdn.ags-aws.com/air/sb/sb_BX.png") no-repeat center /42px 13px;
    width: 42px;
    height: 13px;
    margin-bottom: 3px;
    margin-left: 7px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.airbusan,
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.busan {
    background: url("https://cdn.ags-aws.com/air/sb/sb_BX.png") no-repeat center /42px 13px;
    width: 42px;
    height: 13px;
    margin-bottom: 3px;
    margin-left: 7px;
}

.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.airseoul,
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.seoul,
.airs_logo.airseoul,.airs_logo.seoul {
    background: url("https://cdn.ags-aws.com/air/sb/sb_RS.png") no-repeat center /60px 9px;
    width: 60px;
    height: 9px;
    margin-bottom: 2px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.airseoul,
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.seoul {
    background: url("https://cdn.ags-aws.com/air/sb/sb_RS.png") no-repeat center /60px 9px;
    width: 60px;
    height: 9px;
    margin-bottom: 2px;
}

.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.airpremia,
.airs_logo.airpremia {
    background: url("https://cdn.ags-aws.com/air/sb/sb_YP.png") no-repeat center /71px 8px;
    width: 71px;
    height: 9px;
    margin-bottom: 1px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.airpremia {
    background: url("https://cdn.ags-aws.com/air/sb/sb_YP.png") no-repeat center /71px 8px;
    width: 71px;
    height: 9px;
    margin-bottom: 1px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.jinair,
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.jin,
.airs_logo.jinair,.airs_logo.jin {
    background: url("https://cdn.ags-aws.com/air/sb/sb_LJ.png") no-repeat center /61px 9px;
    width: 61px;
    height: 9px;
    margin-bottom: 2px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.jinair
,.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.jin {
    background: url("https://cdn.ags-aws.com/air/sb/sb_LJ.png") no-repeat center /61px 9px;
    width: 61px;
    height: 9px;
    margin-bottom: 2px;
}

.content-wrap.newui .anc-service-wrap .anc-service [role="tab"].active .airs_logo.eastar,
.airs_logo.eastar {
    background: url("https://cdn.ags-aws.com/air/sb/sb_ZE.png") no-repeat center /51px 11px;
    width: 55px;
    height: 11px;
    margin-bottom: 5px;
}
.content-wrap.newui .anc-service-wrap .anc-service [role="tab"] .airs_logo.eastar {
    background: url("https://cdn.ags-aws.com/air/sb/sb_ZE.png") no-repeat center /51px 11px;
    width: 55px;
    height: 11px;
    margin-bottom: 5px;
}

/*비행시간*/
.air_time {
    position: absolute;
    top: 40px;
    left: 275px;
    /*
  background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/time.png") no-repeat center 0px;
	background-size: 20px 20px;
	padding-top: 30px;
  */
    width: 100px;
    height: 50px;
    font-size: 12px;
    text-align: right;
    font-family: 'PretendardM';
    color: #222;
    letter-spacing: 0.5px;
}

.box_price {
    position: relative;
    top: 60px;
    left: 45px;
    background-color: #f0f0f0;
    color: #222;
    width: 66px;
    height: 22px;
    font-size: 11px;
    font-family: 'PretendardSB';
    display: flex;
    align-items: center;
    justify-content: center;
}

/*부가서비스 내역 윗바*/


.payway_nobuytxt{
    width: 100%;
    border-bottom: 1px solid #bbb;
    padding: 5px 5px 10px;
    font-size: 12px;
    line-height: 17px;
    color: #66B1FF;
}


.payway_a .card_box0 {
    width: 100%;
    border-bottom: 1px solid #bbb;
    padding: 20px 0 15px;
    font-size: 12px;
    color: #222;
    line-height: 25px;
}
.payway_a .card_box0 .cb_box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 12px;
    font-family: 'PretendardM';
    color: #222;
}

.payway_a .card_box0 .cb_box1 div:nth-child(2) {
    color: #f5581a;
    border: 1px solid #f5581a;
    width: 40px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-family: 'PretendardM';
}

.payway_a .card_box0 .cb_box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 10px;
    font-family: 'PretendardR';
    color: #222;
}

.payway_a .card_box0 .cb_box2 div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payway_a .card_box0 .cb_box2 div:nth-child(2) span:nth-child(1) {
    margin-right: 10px;
}

[data-page-id="anc_main"] .anc-summary.newui {
    width: 21.53846rem;
}

.anc-summary.newui .payway_a .card_box0{
    padding: 15px 0 5px;
}

.anc-summary.newui .payway_a .card_box2 .card_box2_b .card_box2_bi div:nth-child(2) span::before{
    content: "￦";
}
.anc-summary.newui .payway_a .card_box3 .card_box3_b .card_box3_bi div:nth-child(2) span::before{
    content: "￦";
}
.anc-summary.newui .payway_a .card_box4 .card_box4_b .card_box4_bi div:nth-child(2) span::before{
    content: "￦";
}

.anc-summary.newui .payway_a .card_box2 .card_box2_b .card_box2_bi div:nth-child(2) span.unchoice::before{
    content: "선택전";
}
.anc-summary.newui .payway_a .card_box3 .card_box3_b .card_box3_bi div:nth-child(2) span.unchoice::before{
    content: "선택전";
}
.anc-summary.newui .payway_a .card_box4 .card_box4_b .card_box4_bi div:nth-child(2) span.unchoice::before{
    content: "선택전";
}


.content-wrap.newui .seat_sheet.left_seat_img {
    position: relative;
    top: 87px;
    left: 140px;
    width: 94px;
}

.ai_adverb {
    line-height: 20px;
}

.ai_txt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ai_txt .smile_name {
    font-size: 15px;
}

.ai_txt .smile_boximg_radar_txt span{
    font-size: 15px;
}

.ai_anipic {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ai_anipic span:nth-child(2) {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-family: 'LABDIGITAL';
    color: #f5581a;
}
.ai_anipic span:nth-child(2):after {
    content: '%';
    font-size: 10px;
    margin-left: 5px;
}

.content-wrap.newui .txt_depature_new {
    font-size: 16px;
    font-family: "PretendardB";
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #222;
}

.content-wrap.newui .txt_depature_new span:nth-child(1) {
    padding-right: 6px;
}
.content-wrap.newui .txt_depature_new span:nth-child(3) {
    font-size: 14px;
    font-family: "PretendardM";
}

.content-wrap.newui .txt_depature_new span:nth-child(4) {
    font-size: 14px;
    font-family: "PretendardM";
}

.content-wrap.newui .ai_txt{
    margin-top: 30px;
}
/*---------------------------------------------*/
.menubox_btom{
    position: fixed;
    bottom: 0px;    
    height: 80px;
    background-color: #fff;
    z-index: 101;
    display: flex;
    justify-content: center;
    border-top: 1px solid #eee;
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0 0px 7px 1px #bbb;
    -moz-box-shadow: 0 0px 7px 1px #bbb;
    box-shadow: 0 0px 7px 1px #bbb;  
}
.menubox_btom_p{
    width: 1232px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;    
    padding: 0 20px;
    min-width: 1200px;
}

.menubox_btom_left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubox_btom_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubox_btom_name{
    font-size: 16px;
    font-family: "PretendardM";
    color: #222;
    margin-right: 50px;
}
.menubox_btom_price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubox_btom_price span:nth-child(1){
    font-size: 16px;
    font-family: "PretendardM";
    color: #f5581a;
    margin-right: 10px;
}
.menubox_btom_price span:nth-child(2){
    font-size: 20px;
    font-family: "PretendardB";
    color: #f5581a;
}
.menubox_btom_price span:nth-child(2)::before{
    content: "₩";
}

.menubox_btom_box1{
    width: 120px;
    height: 60px;
    font-size: 18px;
    font-family: "PretendardB";
    color: #f5581a;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #f5581a;
    background-color: #fff;
    margin-right: 20px;
}
.menubox_btom_box1:hover{
    color: #fff;
    background-color: #f5581a;
}

.menubox_btom_box2{
    width: 270px;
    height: 60px;
    font-size: 18px;
    font-family: "PretendardB";
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #ccc;
}




/*---------------------------------------------*/

.foods.newui .foods_lefts {
    width: 49%;
    margin-right: 8px;
    overflow: hidden;
    height: 502px;
}

.foods.newui .foods_lefts ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;    
}

.foods.newui .foods_lefts ul li {
    position: relative;
    text-align: center;
}

.foods.newui .foods_lefts input[type="radio"] {
    display: none;
}

.foods.newui .foods_lefts input[type="radio"] + label {
    display: inline-block;
    width: 175px;
    height: 178px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;

}

.foods.newui .foods_lefts img {
    width: 100% !important;
    height: 65% !important;
    object-fit: cover;
}
.foods.newui li label img {
    border-radius: 4px;
}

.foods.newui .foods_lefts input:checked + label {
    border: 1px solid #f5581a;
}

.foods.newui .foods_lefts input:checked + label div:nth-child(2),
.foods.newui .foods_lefts input:checked + label div:nth-child(3),
.foods.newui .foods_lefts input:checked + label div:nth-child(3) span:nth-child(1) {
    color: #f5581a;
}

.foods.newui .foods_named {
    position: absolute;
    font-family: 'PretendardM';
    bottom: 35px;
    font-size: 12px;
    color: #999;
    letter-spacing: -0.5px;
    text-align: left;
    padding: 0 5px;
    line-height: 12px;
    width: 100%;
}
.foods.newui .foods_paypay {
    position: absolute;
    bottom: 18px;
    width: 165px;
    text-align: left;
    padding: 0 5px;
}
.foods.newui .foods_paypay_b {
    font-family: 'PretendardM';
    color: #999;
    font-size: 12px;
    margin-right: 8px;
}
.foods_paypay_a::before {
    content: "￦";
}

.foods.newui .foods_paypay_a {
    font-family: 'PretendardR';
    text-decoration: line-through;
    color: #999;
    font-size: 11px;
    margin-right: 0;
}

.chk_top00 {
    background-color: #fff;
    margin-right: 5px;
    margin-bottom: 5px;
}

.foods.newui .foods_txt01{
  font-size: 16px;
  padding: 13px 10px;
  border-bottom: 1px solid #bbb;
  position: relative;
}

.foods.newui .foods_txt01 span{
	color: #f5581a;
}

.foods_txt_same{
	font-size: 11px;
	font-family: 'PretendardM';
    padding: 10px 0 0 0;
    display: flex;
    justify-content: flex-end
}

.foods_txt_same input[type="checkbox"]{
	display: none;
}

.foods_txt_same input[type="checkbox"] + label i {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 5px;
}

.foods_txt_same input[type="checkbox"] + label {
    display: flex;
    align-items: center;
}

.foods_txt_same input[type="checkbox"] + label i:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 5px;
    border: solid #aaa;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 7px;
    height: 3px;
}

.foods_txt_same input[id="check_xx"]:checked + label i {
    border: 1px solid #FF4F24;
    background-color: #FF4F24;
}

.foods_txt_same input[id="check_xx"]:checked + label i:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 5px;
    border: solid #fff;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 7px;
    height: 3px;
}


.foods.newui .foods_right {
    position: relative;
    width: 55%;
    margin-top: 10px;
    border-left: unset;
    border-right: unset;
    margin: 0 auto;
}
.foods.newui .foods_right_txt_a {
    top: 0px;
}
.foods.newui .foods_right_txt_b {
    top: 20px;
}
.foods.newui .foods_right_txt_c {
    top: 20px;
}
.foods.newui .foods_right_txt_2 {
    top: 20px;
    height: 100px;
    width: 100%;
}
.foods.newui .foods_right_txt_2 div {
    
    font-size: 13px;
    line-height: 18px;
    padding: 0 3px 0 1px;
}
.foods.newui .foods_right_txt_2 span {
    color: #f5581a;
}

.foods.newui .foods_right_up{
    height: 130px;
}

.foods.newui .foods_right_pop{
    display: none;
}

.foods.newui .foods_txt02 ul li div:nth-child(2) span{
    color: #999;
}
  
.foods.newui .foods_txt02{
    height: 300px;
}


/*-----------------------------------------------*/
.content-wrap.newui .alpha-service_cn{   
    border-bottom: 1px solid #bbb;
    padding: 0 5px 10px;
}

.content-wrap.newui .alpha-food_cn{
    padding-bottom: 10px;
    border-bottom: 1px solid #bbb;
}

.content-wrap.newui .alpha-food_cn div:nth-child(2){
    color: #222 !important;
}

.content-wrap.newui .foods_namer span{
    width: 150px;
    color: #222;
}
/* 가는편 오는편 좌석 버튼*/

.content-wrap.newui .txt_depature{
    font-size: 16px;
    font-family: "PretendardB";
    display: unset;
    align-items: center;
    padding: 10px 0;
}
  
.content-wrap.newui .txt_depature span:nth-child(1) {
    padding-right: unset;
    color: #222;

}
.content-wrap.newui .txt_depature span:nth-child(2) {
    font-size: 14px;
    font-family: "PretendardSB";
    background: unset;
    padding-right: unset;
    padding-left: 20px;
}

.content-wrap.newui .txt_depature span:nth-child(3) {
    font-size: 14px;
    font-family: "PretendardSB";
    padding-left: 3px;
}



.ags-footer{
    margin-bottom: 80px !important;
}


/* 왼쪽 높이값*/
.content-wrap.newui .A_7C_738C .seat_sheet.left_seat_img{
    top: 86px;
}
.content-wrap.newui .B737-800 .seat_sheet.left_seat_img{  
    top: 86px;
}
.content-wrap.newui .tw_A332 .seat_sheet.left_seat_img{
    top: 77px;
}
.content-wrap.newui .tw_A333 .seat_sheet.left_seat_img{
    top: 77px;
}
.content-wrap.newui .yp_789A .seat_sheet.left_seat_img{
    top: 86px;
    width: 104px;
    height: 835px;
}
.content-wrap.newui .box1_left.yp_789A, .box2_left.yp_789A {
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0px;
    width: 45%;
}

.content-wrap.newui .box1_left.B777-200, .box2_left.B777-200 {
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0px;
    width: 45%;
    height: 88%;
}

.content-wrap.newui .yp_HL838 .seat_sheet.left_seat_img{
    width: 104px;
   height: 835px;
}
.content-wrap.newui .box1_left.yp_HL838, .box2_left.yp_HL838{
    top: 69px;
}

.content-wrap.newui .yp_HL851 .seat_sheet.left_seat_img{
    width: 104px;
}

.content-wrap.newui .box1_left.tw_A332{
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0px;
    width: 45%;
    overflow-y: unset;
    overflow-x: unset;
}
.content-wrap.newui .box2_left.tw_A332{
    position: absolute;
    top: 90px;
    left: 0;
    bottom: 0px;
    width: 45%;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*yp_789D*/

.content-wrap.newui .yp_789D .seat_sheet.left_seat_img{
    width: 105px;
}

.content-wrap.newui .yp_789D .seat_sheet_price{
    left: 36px;
}

.content-wrap.newui .box1_left.yp_789D .seat_sheet_bg{
    height: 770px;
}

/*tw_A333X*/

.content-wrap.newui .tw_A333X .seat_sheet.left_seat_img{
    width: 105px;
    top: 77px;
}

.content-wrap.newui .tw_A333X .seat_sheet_abcdef{
    left: 149.5px;
    width: 83px;
}

.content-wrap.newui .tw_A333X .seat_sheet_price_box{
    width: 104px;
}

.content-wrap.newui .tw_A333X .airplane_bg_end_tway{
    left: 139px;
}

/*tw_A333Y*/

.content-wrap.newui .tw_A333Y .seat_sheet.left_seat_img{
    top: 77px;
}
.content-wrap.newui .box1_left.tw_A333Y .seat_sheet_bg{
    height: 770px;
}

/*tw_A332CL*/
.content-wrap.newui .tw_A332CL .seat_sheet.left_seat_img{
    top: 77px;
}

/*결제 로딩*/

/*결제 로딩바*/
.play_load{	
    position: fixed;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	overflow: auto;	
	z-index: 1003;
}

.pay_loading{
	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 903;
}
.pay_loading img{	
	width: 80px;
	height: 80px;
	opacity: 1;
	
	z-index: 903;
	position: relative;
}	
.pay_loading div{	
	margin-top: 10px;
	opacity: 1;
	color: #222;
	text-align: center;
	line-height: 20px;
	text-shadow: 1px 1px 5px #ccc;
}	

.pay_loadbackground{
	transition: all 1s;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:#fff;
	opacity: 0.7;
}

.scrollDisable {
	height:100%; 
	min-height:100%; 
	overflow:hidden !important; 
	touch-action:none;
}
.jejuduty {
	background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/logo_jejuduty.png") no-repeat center / 112px 30px;
	height: 30px;
    margin-top: 20px;
}


.pop-area .process-btn-wrap.adpopup{
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}
.pop-area .process-btn-wrap.adpopup .btn_cancel{
    margin: 0 0.23078rem !important;
    min-width: 6.92308rem !important;
}
.pop-area .process-btn-wrap.adpopup .btn_confirm{
    margin: 0 0.23078rem !important;
    min-width: 17.92308rem !important;
}


.pop-area .process-btn-wrap.adpopupcen{
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}
.pop-area .process-btn-wrap.adpopupcen .btn_cancel{
    margin: 0 0.23078rem !important;
    min-width: 45% !important;
}
.pop-area .process-btn-wrap.adpopupcen .btn_confirm{
    margin: 0 0.23078rem !important;
    min-width: 45% !important;
}


/*시스템 점검 안내*/

.page-wrapper {
    position: relative;
}
.message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ico_alertL {
    display: block;
    margin: 117px auto 42px;
    width: 96px;
    height: 96px;
    background: url("https://s3.ap-northeast-2.amazonaws.com/cdn.ags-aws.com/air/comm/err/img_error.png") 50% 50% no-repeat;
}
.message-title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
.message-text {
    padding: 15px 0px;
    font-size: 14px;
    color: #888;
    line-height: 1.6;
}
.message-btn{
    margin: 23px 0px;
}
.message-btn a{
    padding: 13px;
    border-radius: 5px;
    color: #fff;
    background-color: #f5581a;
}

.text-emphasis {
    color: #FF4F24;
    font-style: normal;
}

.message-list01 dt {
    display: inline-block;
    margin-top: -0.4rem;
    padding-top: 4px;
    font-size: 13px;
    font-weight: 600;
}
.message-list01 dt:after {
    content: ":";
    padding: 0.2rem;
}
.message-list01 dd {
    display: inline-block;
    padding-top: 4px;
    font-size: 13px;
}
.message-list01 dt + dd {
    padding-top: 8px;
}

.message-logobox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-logobox_v{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 10px 0px 0;
}
.message-sun{
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px;
}

.message-sunb{
    border: 1px solid #ddd; 
    width: 400px; 
    height: 0.5px;
}

/*20250326*/
.content-wrap.newui .notification-wrap{
    padding-top: 0px;
}

.content-wrap.newui .notification-wrap [data-id="departure"]{
    padding: 0px 15px;
}
.content-wrap.newui .notification-wrap [data-id="arrival"]{
    padding: 0px 15px;
}

.content-wrap.newui .alpha-foods-inner{
    padding: 15px;
}

/*20250429
이름에 체크박스추가*/

.bd_px .personer input[type="checkbox"] {
    display: inline-block;
    margin: 0;
    width: 100%;
    border-radius: 3px;
    white-space: nowrap;
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    height: 16px;
}

.bd_px .personer input[type="checkbox"] + label .ico{
    margin-right: 8px;
    width: 20px;
    height: 20px;
    margin-bottom: 1px;
}

.bd_px .personer input[type="checkbox"] + label{
    display: flex;
    align-items: center;
}

.bd_px .personer input[type="checkbox"] + label .ico {
    border: 1px solid #aaa;
    background-color: #ffffff;
    margin-right: 8px;
    width: 17px;
    height: 17px;
    margin-bottom: 1px;
}
.bd_px .personer input[type="checkbox"] + label i {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.bd_px .personer input[type="checkbox"] + label .ico:before {
    content: "";
    transition-delay: 0.2s;
    position: absolute;
    border: solid #aaa;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg);
    left: 4px;
    top: 5px;
    width: 7px;
    height: 3px;
}

.bd_px .personer input[type="checkbox"]:checked + label .ico {
    border: 1px solid #f5581a;
    background-color: #f5581a;
}
.bd_px .personer input[type="checkbox"]:checked + label .ico:before {
    border-color: #ffffff;
}

.anc-summary.newui .personer {
    padding: 10px 5px 10px 5px;
    color: #222;
    font-family: 'PretendardB';
    font-size: 14px;
}

/*구분선*/
.gugusun{
    border: 1px dashed #ccc;
    margin: 15px 0;
}
.gray_txt{
	color: #999 !important;
	font-family: 'PretendardM';
}
/*자주묻는질문*/
.ask_que {
    width: 100%;
    padding: 10px;
    background-color: #f8f8f8;
}
.ask_search {
    border: 1px solid #aaa;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    justify-content: space-between;
    padding: 0 10px;
}
.ask_search input {
    font-size: 15px;
    color: #222;
    margin-left: 5px;
    width: 100%;
}
.ask_search span {
    background: url("../img/common/check.png") no-repeat center / 15px 15px;
    width: 17px;
    height: 17px;
    margin-bottom: 1px;
}
.ask_boxs {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.ask_qbox.click_yellow {
    border: 1px solid #ffb20b !important;
    color: #ffb20b !important;
}

.ask_boxs .ask_qbox {
    border: 1px solid #aaa;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #fff;
    color: #222;
    cursor: pointer;
}

/* 슬라이드 열고 닫기 */

.folder-content {
	display: none; /* Initially, all folders are hidden */
}
.folder-open {
	display: block; /* Applied to open folders */
}
.qna-fst{
	border-top: 0.1px solid #ddd;
	border-bottom: 0.1px solid #ddd;
	display: flex;
	padding: 10px 0;
	line-height: 15px;
	font-size: 13px;
	margin-top: 20px;
	width: 100%;
}
.qna-fst div:nth-child(1){
	width: 15%;
	text-align: center;
	margin-left: 3px;
}
.qna-fst div:nth-child(2){
	width: 85%;
	text-align: center;
	padding-right: 20px;
}

.qna-slider{
	border-bottom: 0.1px solid #ddd;
	display: flex;
	font-family: 'PretendardM';
	align-items: center;
	padding: 20px 0;
	line-height: 15px;
    cursor: pointer;
    font-size: 14px;
}
.qna-slider:hover{
	background-color: #f8f8f8;
}
.qna-slider div{
   text-align: center;
}
.qna-slider div:nth-child(1){
    width: 100px;      
    font-family: 'PretendardB';
}
.qna-slider div:nth-child(2){
    width: 100px;
}
.qna-slider div:nth-child(3){
    width: 75%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'PretendardL';

}
.qna-slider div:nth-child(4){
    width: 120px;
    font-family: 'PretendardL';
}
.qna-slider div:nth-child(5){
    width: 50px;
}
/*슬라이드 내용*/
.folder-content{
	background-color: #f8f8f8;
	line-height: 18px;
    
}
.folder-content ol{
	padding: 30px;
}
.folder-content ol li{
	font-family: 'PretendardL';
	list-style: none;
	line-height: 21px;
	display: inline-block;
	letter-spacing: -0.3px;
	font-size: 14px;
}
.folder-content i{
	font-size: 15px;
	font-weight: 700;
	color: #ff5000;
	margin-right: 5px;
}
.qna-slider .qna-arrow{
	-webkit-transform: rotate(-45deg) translate(5px, 1.5px);
	-ms-transform: rotate(-45deg) translate(5px, 1.5px);
	transform: rotate(-45deg) translate(5px, 1.5px);
	transform-origin: center;
	width: 8px;
	height: 8px;
	border: solid #ff5000;
	border-width: 0 0 1px 1px;
	text-align: left;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.cs-box.active .qna-slider .qna-arrow{  
	transform: rotate(135deg) translate(-4px, -3px) !important;
}

.cs-box.active{
	padding-bottom: 10px;
}
.cs-box .ico_more {
  position: relative;
  display: inline-block;
  width: 1.92308rem;
  height: 1.92308rem;
}
.cs-box .ico_more:after {
  content: "";
  transition: all 0.3s;
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  width: 0.69231rem;
  height: 0.69231rem;
  border: solid #222;
  border-width: 0 2px 2px 0;
  transform-origin: left top;
  transform: rotate(45deg) translate(-50%, -50%);
}
.cs-box.active .ico_more:after {
    transform: rotate(-135deg) translate(-6.5px, -6.5px);
}
/*공지사항 타이틀쪽*/
.cs-text_title{
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    height: 50px;
    text-align: center;    
	font-family: 'PretendardB';
    font-size: 14px;
    display: flex;
    align-items: center;
}
.cs-text_title div:nth-child(1){
    width: 100px;  
}
.cs-text_title div:nth-child(2){
    width: 100px;
}
.cs-text_title div:nth-child(3){
    width: 75%;
}
.cs-text_title div:nth-child(4){
    width: 120px;
}
.cs-text_title div:nth-child(5){
    width: 50px;
}

/*자주묻는질문 타이틀쪽*/
.faq-text .cs-text_title{
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    height: 50px;
    text-align: center;    
	font-family: 'PretendardB';
    font-size: 14px;
    display: flex;
    align-items: center;
}
.faq-text .cs-text_title div:nth-child(1){
    width: 150px;  
}

.faq-text .cs-text_title div:nth-child(2){
    width: 82%;
}
.faq-text .cs-text_title div:nth-child(3){
    width: 50px;
}
.faq-text .qna-slider div:nth-child(1){
    width: 150px;      
    font-family: 'PretendardB';
}
.faq-text .qna-slider div:nth-child(2){
    width: 83%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'PretendardL';
}
.faq-text .qna-slider div:nth-child(3){
    width: 50px;
    text-align: center;
}


.search_nothing{
    text-align: center;
    padding: 100px 0;
}
/*첨부파일*/
.cs_file {
    background-color: #efefef;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.cs_file .cs_file_name {
    width: 60px;
}
.cs_file .cs_file_file {
    width: 305px;
    display: flex;
    align-items: center;
    margin-top: unset;
}
.cs_file .cs_file_file div a {
    margin-right: 5px;
    display: inline-block;
    color: #156cdf;
    text-decoration: underline;
}

/*1:1문의내역 타이틀쪽*/
.qna-text .cs-text_title{
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    height: 50px;
    text-align: center;    
	font-family: 'PretendardB';
    font-size: 14px;
    display: flex;
    align-items: center;
}
.qna-text .cs-text_title div:nth-child(1){
    width: 100px;  
}
.qna-text .cs-text_title div:nth-child(2){
    width: 140px;  
}
.qna-text .cs-text_title div:nth-child(3){
    width: 150px;  
}
.qna-text .cs-text_title div:nth-child(4){
    width: 43%;
}
.qna-text .cs-text_title div:nth-child(5){
    width: 120px;
}
.qna-text .cs-text_title div:nth-child(6){
    width: 120px;
}
.qna-text .cs-text_title div:nth-child(7){
    width: 50px;
}

.qna-text .qna-slider div:nth-child(1) {
    width: 100px;
    font-family: 'PretendardB';
}
.qna-text .qna-slider div:nth-child(2) {
    width: 140px;
}
.qna-text .qna-slider div:nth-child(3) {
    width: 150px;
    font-family: 'PretendardB';
    text-align: center;
}
.qna-text .qna-slider div:nth-child(4){
    width: 43%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'PretendardL';
}
.qna-text .qna-slider div:nth-child(5) {
    width: 120px;
}
.qna-text .qna-slider div:nth-child(6) {
    width: 120px;
}
.qna-text .qna-slider div:nth-child(7){
    width: 50px;
    text-align: center;
}


.ans_writer{
    font-family: 'PretendardB';
    color: #555;
}
.ans_date{
    font-family: 'PretendardL';
    font-size: 11px;
    color: #999;
    margin-left: 5px;
}