@charset "UTF-8";

[data-page-id='path'] .lnb-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 4.69231rem;
  border-bottom: 1px solid #f0f0f0;
  background-color: #F8F8F8;
}

[data-page-id='path'] .lnb-wrap .content-wrap {
  margin: 0 auto;
  padding: 0 1.23077rem;
  width: 1232px;
  height: 100%;
}

[data-page-id='path'] .lnb-wrap .content-wrap:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap .content-wrap:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap .page-name {
  float: left;
  padding-top: 1.76923rem;
  font-weight: 800;
}

[data-page-id='path'] .lnb-wrap .lnb {
  float: right;
  margin: 0 -1.53846rem;
  height: 100%;
}

[data-page-id='path'] .lnb-wrap .lnb:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap li {
  height: 100%;
  float: left;
  padding: 1.15385rem 1.23077rem 0;
}

[data-page-id='path'] .lnb-wrap li a {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.08em;
  font-family: MalgunGothic, "Malgun Gothic", "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.61538rem 0.30769rem;
  text-decoration: none;
}

[data-page-id='path'] .lnb-wrap li.active a {
  color: #000;
}

[data-page-id='path'] .lnb-wrap.ui-fixed, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom {
  position: fixed;
}

[data-page-id='path'] .lnb-wrap.ui-fixed li a, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom li a {
  color: #aaa;
}

[data-page-id='path'] .lnb-wrap.ui-fixed li.active a, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom li.active a {
  color: #000;
}

[data-page-id='path'] .ags_content {
  padding-top: 7.69231rem;
}

[data-page-id='path'] .ags_content-title {
  font-size: 1.38462rem;
  font-weight: 800;
  color: #000;
  letter-spacing: -0.08em;
  font-family: MalgunGothic, "Malgun Gothic", "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  margin-bottom: 1.77778em;
}

[data-page-id='path'] .page-map {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.08em;
  font-family: MalgunGothic, "Malgun Gothic", "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #000;
}

[data-page-id='path'] .page-map thead th {
  padding: 1.23077em;
  min-height: 3.84615em;
  line-height: 1.38462em;
  font-weight: 800;
  text-align: left;
  border-bottom: 1px solid #000;
}

[data-page-id='path'] .page-map tbody td {
  padding: 1.23077em;
  min-height: 3.61538em;
  line-height: 1.15385em;
  border-bottom: 1px solid #f0f0f0;
}

[data-page-id='path'] .page-map a {
  color: inherit;
  letter-spacing: -0.03em;
}


/*20230522 좌석 수하물 기내식 구매 불가 안내*/
[data-type='alert'] .ico-wrap .icoh_seat  {
  background: url("https://cdn.ags-aws.com/air/comm/anc/icon/icoa_seat.png") no-repeat center / 50px 50px;
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3.69231rem;
  height: 3.69231rem;
}

[data-type='alert'] .ico-wrap .icoh_baggage  {
  background: url("https://cdn.ags-aws.com/air/comm/anc/icon/icoa_baggage.png") no-repeat center / 50px 50px;
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3.69231rem;
  height: 3.69231rem;
}

[data-type='alert'] .ico-wrap .icoh_meal  {
  background: url("https://cdn.ags-aws.com/air/comm/anc/icon/icoa_meal.png") no-repeat center / 50px 50px;
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3.69231rem;
  height: 3.69231rem;
}
[data-type='alert'] .ico-wrap .icoh_airplane  {
  background: url("https://cdn.ags-aws.com/air/comm/anc/icon/icoa_airplane.png") no-repeat center / 50px 50px;
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3.69231rem;
  height: 3.69231rem;
}

[data-type='alert'] .btn_close {
  z-index: 1;
  background-image: url("https://cdn.ags-aws.com/alphaseat/pc/img/popup/ico_pop-close@3x.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  overflow: hidden;
  position: absolute;
  right: 1.14286rem;
  top: 1rem;
  width: 30px;
  height: 30px;
  background-position: 50% 50%;
  background-color: transparent;
  text-indent: -999em;
}




/*자리조정 css 변경---------------------------------------------------------------------*/

.pop-wrap.seatchange{
  padding: 50px 0;
}

.pop-wrap.seatchange .pop-container{
  height: 575px;
  padding: 0px;
}
.pop-wrap.seatchange .inner-wrap{
  height: 100%;
}

.pop-wrap.seatchange .pay_del{
  border-top: 1px solid #eee;
  padding: 10px 16px 15px 16px;
}

.pop-wrap.seatchange .passenger_number_choice {
    font-size: 13px;
    color: #222;
}

.pop-wrap.seatchange .passenger_number_choice span {
    color: #ff4700;
}

.pop-wrap.seatchange .pay_group {
  padding: 20px 16px;
  font-size: 13px;
  height: 286px;
  overflow-y: auto;
}

.pop-wrap.seatchange .pay_group li {
  padding: 8px 0;
}

.pop-wrap.seatchange .pay_turn{
  font-size: 12px;
  padding-left: 15px;
  background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/path_x3.png") no-repeat left / 11px 11px;
  font-family: 'PretendardM';
}


/*기본 - 좌석 이미지 클릭 코드--------------------------*/
.popup_seat .seat_num{
  padding: 20px 10px 20px 10px;
  width: 300px;
  margin: 0 auto;
}

.popup_seat .seat_num li{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.popup_seat {
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  width: 100%;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 1px 7px 0px #bbb;
  -moz-box-shadow: 0px 1px 7px 0px #bbb;
  box-shadow: 0px 1px 7px 0px #bbb;
}

.popup_seat .seat_num .hallway{
  width: 32px;
  border-bottom: 0;
  font-size: 13px;
  text-align: center;
  line-height: 33px;
  color: #666;
}

.popup_seat .seat_num li a{  
  width: 32px;
  height: 32px;
  text-align: center;
  clip-path: polygon(12% 0, 88% 0, 100% 14%, 100% 100%, 0 100%, 0 14%);
  background-color: #fbbda4;  
  border-bottom: 5px solid #ecb09a;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  line-height: 32px;
}

.popup_seat .seat_num li a.seat_active{ 
  opacity: 100%;
  color: #fff;
  font-size: 11px;
  background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/people_x3.png") no-repeat center / 10px 10px;
  background-position: 11px 4px;
  background-color: #ff6600;  
  border-bottom: 5px solid #ce3802;
  transition: 0.2s all;  
  line-height: 43px;
}

.popup_seat .seat_num li a.seat_active::after{
  border: 2px solid #ff6600;
}


/*팝업 좌석들----------------------------*/

/*직접선택모드----------------------------------------------*/
.popup_seat .seat_num.jipjub{
  width: 405px;
  padding: 10px 10px 20px 10px;
  margin: 0 auto;
}
.popup_seat .seat_num.jipjub li{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.popup_seat .seat_num.jipjub li a{ 
  margin: 10px 3px 3px;
}
.popup_seat .seat_num.jipjub li a.seat_active{ 
  background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/people_x3.png") no-repeat center / 9px 9px;
  background-position: 11px 3px;
  background-color: #ff6600;
  line-height: 41px;  
}

.popup_seat .seat_num.jipjub li a.seat_active::after{
  border: 2px solid #ff6600;
}

/*flyseat_33*/
.popup_seat .seat_num.flyseat_33{
  width: 400px;
} 

/*flyseat_242*/
.popup_seat .seat_num.flyseat_242{
  width: 400px;
} 

/*flyseat_333*/
.popup_seat .seat_num.flyseat_333{
  width: 450px;
} 

/*flyseat_343*/
.popup_seat .seat_num.flyseat_343{
  width: 450px;
} 

[data-type="submission"]{
  z-index: 1001;
}

/*팝업 버튼----------------------------*/

.pay_save {
	position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}
.pay_save .bctd1{
  width: 45%;
  background-color: #fff;
  border: 1px solid #f5581a;
}
.pay_save .bctd2{
  width: 65%;
  background-color: #fff;
  border: 1px solid #f5581a;
}
.pay_save button{
  width: 100%;
  padding: 15px 10px;  
  color: #f5581a;
  margin: 5px;  
  font-family: "PretendardM";
  font-size: 14px;
}

.pay_save .bctd2.orang{
  background-color: #f5581a;
  color: #fff;
}

/*좌석변경팝업----------------------------*/

.table_box{
  display: flex;
  justify-content: center;
  margin: 0 0 10px;
  overflow: hidden;
  overflow-y: auto;
  overflow: hidden;
  overflow-y: auto;
  max-height: 250px;
}

.table-custom {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 13px;
  color: #222;
  width: 380px;
}
.table-custom th{
  border: 1px solid #666;
  padding: 7px 8px;
  font-family: 'PretendardL';
}
.table-custom td {
  border: 1px solid #666;
  padding: 7px 8px;
  font-family: 'PretendardSB';
}

.table-custom td span:nth-child(1){
  color: #666;
}

.table-custom td span:nth-child(3){
  color: #ff5a35;
}

.table-custom th {
  background: #fff;
  border-bottom: 1px solid #666;
}
.table-custom tr {
  border-bottom: 1px solid #666;
}
.table-custom tr:last-child {
  border-bottom: 1px solid #666;
}
.table-custom td:first-child {
  color: #1976a5;
}

.table-custom tr th:nth-child(2){
  width: 90px;
}
.table-custom tr th:nth-child(3){
  width: 90px;
}
.arrow {
  font-weight: bold;
  font-size: 14px;
  margin: 0 6px;
}




/* 1:1 문의하기*/

.folder-content {
  display: none; /* Initially, all folders are hidden */
}
.folder-open {
  display: block; /* Applied to open folders */
}
.qna-text {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}
.qna-text .qna-label{  
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 20px;
}

.qna-slider{
  border-top: 0.1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  margin-left: 10px;
  margin-right: 10px;
}

.qna-slider i{
  font-size: 15px;
  font-weight: 700;
  color: #F5581A;
}

.folder-content{
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eee;
}
.folder-content ol{
  padding: 10px;
}
.folder-content ol li{
  list-style: none;
  line-height: 20px;
  display: flex;
}
.folder-content i{
  font-size: 15px;
  font-weight: 700;
  color: #F5581A;
  margin-right: 5px;
}
.qna-slider .qna-arrow{
  -webkit-transform: rotate(-45deg) translate(5px, 1.5px);
  -ms-transform: rotate(-45deg) translate(5px, 1.5px);
  transform: rotate(-45deg) translate(5px, 1.5px);
  transform-origin: center;
  width: 8px;
  height: 8px;
  border: solid #FF4F24;
  border-width: 0 0 1px 1px;
  text-align: left;
  margin-top: 3px;
  margin-right: 8px;
}
.qna-box.active .qna-slider .qna-arrow{
  transform: rotate(135deg) translate(-4px, -3px) !important;
}

.qna-box-more{
  width: 100px;
  height: 3.23077rem;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Geogrotesque, MalgunGothic, "Malgun Gothic", "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 0.92308rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}
.ai_scroll_btn{
	position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.ai_scroll_btn button{
	margin: 0 auto;
	line-height: 5px; 
	-webkit-box-shadow: 0 4px 7px 1px #bbb;
	-moz-box-shadow: 0 4px 7px 1px #bbb;
	box-shadow: 0 4px 7px 1px #bbb;
	line-height: 36px;  
	background-color: #fff;
	border-radius: 20px;
	width: 130px;
	height: 36px;
}
.ai_scroll_btn span{
	background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/return_ico.png") no-repeat left / 14px 14px;
	padding-left: 17px;
	font-size: 12px;
	font-family: Geogrotesque, MalgunGothic, "Malgun Gothic", "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  color: #08a7e1;
  font-weight: 700;   
  letter-spacing: -0.5px;
}


.layer_popup .seat_num .box_blink{position: relative;}
.layer_popup .seat_num .box_blink::before {
  position: absolute;
  top: -4px;
  left: -4px;
  content: "";
  width: 33px;
  height: 33px;
  background: transparent;
  border: 2px solid #ff6600;
}

.layer_popup .seat_num li.jipjub .box_blink{position: relative;}
.layer_popup .seat_num li.jipjub .box_blink::before {
  position: absolute;
  top: -4px;
  left: -4px;
  content: "";
  width: 33px;
  height: 33px;
  background: transparent;
  border: 2px solid #FF6600;
}



/*-빠른 도움 및 답변-----*/

.fast_btn{
  position: absolute;
  top: -10px;
  right: 10px;
  padding: 8px 8px;
  background-color: #2A2167;
  color: #fff;
  text-decoration: unset;
}
.fast_nothing{
  width: 100%;
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding: 20px 0;
}
.fast_msg{
  width: 100%;
  display: inline-block;
}
.fast_msg dl{
  padding: 20px 10px 10px 10px;
  background-color: #efefef;
  margin-bottom: 10px;
}
.fast_msg dl dt{
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.fast_msg dl dd{
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.color_red{
  color: #FF4F24;
}
