@charset "UTF-8";

[data-page-id='path'] .lnb-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 4.69231rem;
  border-bottom: 1px solid #f0f0f0;
  background-color: #F8F8F8;
}

[data-page-id='path'] .lnb-wrap .content-wrap {
  margin: 0 auto;
  padding: 0 1.23077rem;
  width: 1232px;
  height: 100%;
}

[data-page-id='path'] .lnb-wrap .content-wrap:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap .content-wrap:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap .page-name {
  float: left;
  padding-top: 1.76923rem;
  font-weight: 800;
}

[data-page-id='path'] .lnb-wrap .lnb {
  float: right;
  margin: 0 -1.53846rem;
  height: 100%;
}

[data-page-id='path'] .lnb-wrap .lnb:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap li {
  height: 100%;
  float: left;
  padding: 1.15385rem 1.23077rem 0;
}

[data-page-id='path'] .lnb-wrap li a {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.08em;
  font-family: MalgunGothic, "Malgun Gothic", "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.61538rem 0.30769rem;
  text-decoration: none;
}

[data-page-id='path'] .lnb-wrap li.active a {
  color: #000;
}

[data-page-id='path'] .lnb-wrap.ui-fixed, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom {
  position: fixed;
}

[data-page-id='path'] .lnb-wrap.ui-fixed li a, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom li a {
  color: #aaa;
}

[data-page-id='path'] .lnb-wrap.ui-fixed li.active a, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom li.active a {
  color: #000;
}

[data-page-id='path'] .ags_content {
  padding-top: 7.69231rem;
}

[data-page-id='path'] .ags_content-title {
  font-size: 1.38462rem;
  font-weight: 800;
  color: #000;
  letter-spacing: -0.08em;
  font-family: MalgunGothic, "Malgun Gothic", "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  margin-bottom: 1.77778em;
}

[data-page-id='path'] .page-map {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.08em;
  font-family: MalgunGothic, "Malgun Gothic", "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #000;
}

[data-page-id='path'] .page-map thead th {
  padding: 1.23077em;
  min-height: 3.84615em;
  line-height: 1.38462em;
  font-weight: 800;
  text-align: left;
  border-bottom: 1px solid #000;
}

[data-page-id='path'] .page-map tbody td {
  padding: 1.23077em;
  min-height: 3.61538em;
  line-height: 1.15385em;
  border-bottom: 1px solid #f0f0f0;
}

[data-page-id='path'] .page-map a {
  color: inherit;
  letter-spacing: -0.03em;
}


/*20230522 좌석 수하물 기내식 구매 불가 안내*/
[data-type='alert'] .ico-wrap .icoh_seat  {
  background: url("https://cdn.ags-aws.com/air/comm/anc/icon/icoa_seat.png") no-repeat center / 50px 50px;
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3.69231rem;
  height: 3.69231rem;
}

[data-type='alert'] .ico-wrap .icoh_baggage  {
  background: url("https://cdn.ags-aws.com/air/comm/anc/icon/icoa_baggage.png") no-repeat center / 50px 50px;
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3.69231rem;
  height: 3.69231rem;
}

[data-type='alert'] .ico-wrap .icoh_meal  {
  background: url("https://cdn.ags-aws.com/air/comm/anc/icon/icoa_meal.png") no-repeat center / 50px 50px;
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3.69231rem;
  height: 3.69231rem;
}
[data-type='alert'] .ico-wrap .icoh_airplane  {
  background: url("https://cdn.ags-aws.com/air/comm/anc/icon/icoa_airplane.png") no-repeat center / 50px 50px;
  padding: 25px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 3.69231rem;
  height: 3.69231rem;
}

[data-type='alert'] .btn_close {
  z-index: 1;
  background-image: url("https://cdn.ags-aws.com/alphaseat/pc/img/popup/ico_pop-close@3x.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  overflow: hidden;
  position: absolute;
  right: 1.14286rem;
  top: 1rem;
  width: 30px;
  height: 30px;
  background-position: 50% 50%;
  background-color: transparent;
  text-indent: -999em;
}




/*자리조정 css 변경---------------------------------------------------------------------*/

.pop-wrap.seatchange{
  padding: 50px 0;
}

.pop-wrap.seatchange .pop-container{
  height: 500px;
  padding: 0px;
}
.pop-wrap.seatchange .inner-wrap{
  height: 100%;
}

.pop-wrap.seatchange .pay_del{
  border-top: 1px solid #eee;
  padding: 10px 16px 15px 16px;
}

.pop-wrap.seatchange .passenger_number_choice {
    font-size: 13px;
    color: #222;
}

.pop-wrap.seatchange .passenger_number_choice span {
    color: #ff4700;
}

.pop-wrap.seatchange .pay_group {
  padding: 20px 16px;
  font-size: 13px;
  height: 218px;
  overflow-y: auto;
}

.pop-wrap.seatchange .pay_group li {
  padding: 8px 0;
}

.pop-wrap.seatchange .pay_turn{
  font-size: 12px;
  padding-left: 15px;
  background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/path_x3.png") no-repeat left / 11px 11px;
  font-family: 'PretendardM';
}


/*기본 - 좌석 이미지 클릭 코드--------------------------*/
.popup_seat .seat_num{
  padding: 20px 10px 20px 10px;
  width: 300px;
  margin: 0 auto;
}

.popup_seat .seat_num li{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.popup_seat {
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  width: 100%;
  background-color: #fafafa;
  -webkit-box-shadow: 0px 1px 7px 0px #bbb;
  -moz-box-shadow: 0px 1px 7px 0px #bbb;
  box-shadow: 0px 1px 7px 0px #bbb;
}

.popup_seat .seat_num .hallway{
  width: 32px;
  border-bottom: 0;
  font-size: 13px;
  text-align: center;
  line-height: 33px;
  color: #666;
}

.popup_seat .seat_num li a{  
  width: 32px;
  height: 32px;
  text-align: center;
  clip-path: polygon(12% 0, 88% 0, 100% 14%, 100% 100%, 0 100%, 0 14%);
  background-color: #fbbda4;  
  border-bottom: 5px solid #ecb09a;
  font-size: 13px;
  color: #fff;
  display: inline-block;
  line-height: 32px;
}

.popup_seat .seat_num li a.seat_active{ 
  opacity: 100%;
  color: #fff;
  font-size: 11px;
  background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/people_x3.png") no-repeat center / 10px 10px;
  background-position: 11px 4px;
  background-color: #ff6600;  
  border-bottom: 5px solid #ce3802;
  transition: 0.2s all;  
  line-height: 43px;
}

.popup_seat .seat_num li a.seat_active::after{
  border: 2px solid #ff6600;
}


/*팝업 좌석들----------------------------*/

/*직접선택모드----------------------------------------------*/
.popup_seat .seat_num.jipjub{
  width: 405px;
  padding: 10px 10px 20px 10px;
  margin: 0 auto;
}
.popup_seat .seat_num.jipjub li{
  display: flex;
  justify-content: center;
}
.popup_seat .seat_num.jipjub li a{ 
  margin: 3px;
}
.popup_seat .seat_num.jipjub li a.seat_active{ 
  background: url("https://cdn.ags-aws.com/alphaseat/pc/img/common/people_x3.png") no-repeat center / 9px 9px;
  background-position: 11px 3px;
  background-color: #ff6600;
  line-height: 41px;  
}

.popup_seat .seat_num.jipjub li a.seat_active::after{
  border: 2px solid #ff6600;
}

.popup_seat .seat_num.jipjub li .box_blink{position: relative;}
.popup_seat .seat_num.jipjub li .box_blink::before {
  position: absolute;
  top: -13.5px;
  left: -6.5px;
  content: "";
  width: 44px;
  height: 44px;
  background: transparent;
  border: 2px solid #FF6600;
}

/*flyseat_33*/
.popup_seat .seat_num.flyseat_33{
  width: 400px;
} 

/*flyseat_242*/
.popup_seat .seat_num.flyseat_242{
  width: 400px;
} 

/*flyseat_333*/
.popup_seat .seat_num.flyseat_333{
  width: 450px;
} 

/*flyseat_343*/
.popup_seat .seat_num.flyseat_343{
  width: 450px;
} 

[data-type="submission"]{
  z-index: 1001;
}

/*팝업 버튼----------------------------*/


.pay_save {
	position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}
.pay_save .bctd1{
  width: 45%;
  background-color: #fff;
  border: 1px solid #f5581a;
}
.pay_save .bctd2{
  width: 65%;
  background-color: #fff;
  border: 1px solid #f5581a;
}
.pay_save button{
  width: 100%;
  padding: 15px 10px;  
  color: #f5581a;
  margin: 5px;  
  font-family: "PretendardM";
  font-size: 14px;
}

.pay_save .bctd2.orang{
  background-color: #f5581a;
  color: #fff;
}