@charset "UTF-8";
@import url(https://cdn.allwin.bid/font/allwin_wfonts.css);

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, address, del, em, img, strong,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Geogrotesque-Regular', 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
}
body, html {
    -webkit-font-smoothing: antialiased;
    word-break:break-all;-webkit-text-size-adjust:none
}
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body, input, select, textarea, button {
    font-family: 'Geogrotesque-Regular', 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
    letter-spacing: -.5px;
}
ol, ul, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 0;
}
input, textarea, select, td, th {
    vertical-align: middle;
}
hr {
    display: none;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: #000;
}
em, address {
    font-style: normal;
}
fieldset {
    border: 0;
    vertical-align: top;
}
button {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}
select::-ms-expand {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
select {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    outline: none;
}
input[type=checkbox], input[type=radio], input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
::-webkit-input-placeholder {
    color: #aaa !important;
}
::-moz-placeholder {
    color: #aaa !important;
}
:-moz-placeholder {
    color: #aaa !important;
}
.clear {
    clear: both;
}
.dim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 800;
    background: rgba(0, 0, 0, .6);
}
.kill {
    overflow: hidden;
}
.hidden {
    display: none;
}

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
    float: left;
}
.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto;
}
.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.swiper-invisible-blank-slide {
    visibility: hidden;
}
/* Progress */
.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    bottom:-5px;
    z-index:10;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #ebaa2c;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}
.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
}
.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 5px;
    left: 0;

}
.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;

}
.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #ffffff;
}
.swiper-pagination-progressbar.swiper-pagination-white {
    background: rgba(255, 255, 255, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
    background: #ffffff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000000;
}
.swiper-pagination-progressbar.swiper-pagination-black {
    background: rgba(0, 0, 0, 0.25);
}
.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
    background: #000000;
}
.swiper-pagination-lock {
    display: none;
}


.awa-container{padding-bottom:100px;}

.course-label{display:inline-block;vertical-align:top;text-align:center;width:25px;height:14px;line-height:14px;color:#fff;font-weight:bold;font-size:10px;}
.course-label.course-label__type1{background:#ff4377;}
.course-label.course-label__type2{background:#000;}

/*.matching-success .course-label{position:absolute;top:50%;left:0;transform: translate(0, -50%);-webkit-transform: translate(0, -50%);}*/

.airline-code__wing{display:block;text-align:center;position:relative;font-size:13px;font-weight:500;letter-spacing:-1.5px;}
.airline-code__wing:before{content:'';display:block;border:1px solid red;width:24px;height:27px;margin:0 auto 5px auto;}

/* header */
.awa-header{height:74px;}
.awa-header .logo{position:absolute;top:35px;right:25px;width:116px;height:18px;background:url('../img/img_logo.svg') center center no-repeat;background-size:100% 100%;}

.visual{text-align:center;margin-bottom:20px;padding:0 25px 5px 25px;overflow:hidden;font-size:0;}
.visual .swiper-container{overflow:visible;font-size:0;}
.visual .swiper-slide{position:relative;font-size:0;}
.visual .swiper-slide:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:red;opacity:.5;transition:0.5s;-webkit-transition: 0.5s;}
.visual .swiper-slide.swiper-slide-active:before{background:none;opacity:0;}
.visual .swiper-slide a{display:block;font-size:0;vertical-align:top;}
.visual .swiper-slide img{max-width:100%;font-size:0;vertical-align:top;}

.visual-txt{margin:0 25px;}
.visual-txt strong{font-weight: 300;font-size:26px;display:block;line-height:32px;letter-spacing:-1.5px;}
.visual-txt p{font-family:'Noto Sans';font-size:13px;color:#6b6b6b;line-height:16.5px;letter-spacing:-0.5px;}
.visual-txt em{font-family: 'Geogrotesque-Medium';color:#000;}
.visual-txt a{font-size:12px;color:#161820;}


.matching-success{cursor:pointer;position:fixed;bottom:0;left:0;z-index:100;width:100%;height:50px;background:#fff;border-top:1px solid #a4a4a4;}
.matching-success .swiper-container{height:50px;}
.matching-success .mc-suc__item{font-size:0;text-align:center;}
.matching-success .mc-suc__course-item{padding:0 7px;line-height:50px;font-size:15px;display:inline-block;vertical-align:top;}
.matching-success .mc-suc__course-item span{display:inline-block;vertical-align:top;font-weight:bold;font-size:12px;color:#292a4d;}
.matching-success .mc-suc__course-item em{font-family: 'Geogrotesque-Medium';font-size:12px;color:#292a4d;margin-left:3px;}
.matching-success .mc-suc__airline{position:relative;padding:0 7px;display:inline-block;vertical-align:top;color:#292a4d;font-size:12px;font-weight: 500;line-height:50px;}
.matching-success .mc-suc__airline:before{content:'';position:absolute;top:50%;left:-1px;width:2px;height:10px;margin-top:-6px;background:#d8d8d8;}
.matching-success .mc-suc__seat{position:relative;padding:0 7px;display:inline-block;vertical-align:top;font-size:12px;color:#000;font-weight: 500;line-height:50px;}
.matching-success .mc-suc__seat:before{content:'';position:absolute;top:50%;left:-1px;width:2px;height:10px;margin-top:-6px;background:#d8d8d8;}
.matching-success .mc-suc__seat em{font-family: 'Geogrotesque-SemiBold';font-size:13px;color:#f5a623;line-height:100%;}












.matching-success--layer{position:fixed;top:0;left:0;overflow-y:auto;background:#fff;width:100%;height:100%;z-index:200;transition:0.3s;-webkit-transition: 0.3s;transform: translate(0, 100%);-webkit-transform: translate(0, 100%);opacity:0;}
.matching-success--layer.open{opacity:1;transform: translate(0, 0);-webkit-transform: translate(0, 0);}
.matching-success--layer .bt-back{position:absolute;top:0;left:0;width:85px;height:85px;}
.matching-success--layer .inner{background:red;padding:85px 25px 50px 25px;}
.matching-success--layer .tits{}
.matching-success--layer .tits strong{font-family:'Geogrotesque-SemiBold';font-weight:normal;font-size:26px;color:#292a4d;letter-spacing:-0.5px}
.matching-success--layer .tits p{font-size:13px;line-height:17px;letter-spacing:-1px;color:#a4a4a4;margin-top:5px;}
.matching-success--layer .lists{border-top:2px solid #161820;margin-top:20px;}
.matching-success--layer .lists li{position:relative;border-bottom:1px solid #efefef;}

.matching-success--layer .mc-suc__airline{border:1px solid red;width:120px;position:absolute;top:50%;left:0;transform: translate(0, -50%);-webkit-transform: translate(0, -50%);}
.matching-success--layer .mc-suc__airline .airline-code__wing{color:#292a4d;font-size:13px;font-weight: 500;}
.matching-success--layer .mc-suc__airline .airline-code__wing em{position:absolute;top:-9999px;left:-9999px;}

.matching-success--layer .mc-suc__infos{border:1px solid blue;margin:0 0 0 120px;}

.matching-success--layer .mc-suc__course-item{}
.matching-success--layer .mc-suc__course-item span{display:inline-block;vertical-align:top;font-weight:bold;font-size:14px;color:#292a4d;}
.matching-success--layer .mc-suc__course-item em{font-weight:normal;font-family: 'Geogrotesque-SemiBold';font-size:14px;color:#292a4d;}

.matching-success--layer .mc-suc__course-schedule{font-weight:500;font-size:13px;color:#000;}
.matching-success--layer .mc-suc__course-schedule em{font-family: 'Geogrotesque-SemiBold';font-size:13px;}



.matching-success--layer .mc-suc__seat{font-size:13px;color:#000;font-weight: 500;}
.matching-success--layer .mc-suc__seat em{font-family: 'Geogrotesque-SemiBold';font-size:15px;color:#f5a623;}


