@charset "UTF-8";
@import url(https://cdn.allwin.bid/font/allwin_wfonts.css);

/* reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, address, del, em, img, strong,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Geogrotesque-Regular', 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
}
body, html {
    -webkit-font-smoothing: antialiased;
}
main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body, input, select, textarea, button {
    font-family: 'Geogrotesque-Regular', 'Noto Sans', 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif;
    letter-spacing: -.5px;
}
ol, ul, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 0;
}
input, textarea, select, td, th {
    vertical-align: middle;
}
hr {
    display: none;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: #000;
}
em, address {
    font-style: normal;
}
fieldset {
    border: 0;
    vertical-align: top;
}
button {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}
select::-ms-expand {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
select {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    outline: none;
}
input[type=checkbox], input[type=radio], input[type=text], input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}
::-webkit-input-placeholder {
    color: #aaa !important;
}
::-moz-placeholder {
    color: #aaa !important;
}
:-moz-placeholder {
    color: #aaa !important;
}
.clear {
    clear: both;
}
.dim {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 800;
    background: rgba(0, 0, 0, .6);
}
.kill {
    overflow: hidden;
}
.hidden {
    display: none;
}

.awa-container{padding-bottom:100px;}

/* header */
.awa-header{height:74px;border:1px solid red;}

.visual{text-align:center;margin-bottom:21px;}
.visual img{max-width:100%;}

.visual-txt{}
.visual-txt strong{font-weight: 300;font-size:26px;display:block;line-height:32px;letter-spacing:-1.5px;}
.visual-txt p{font-family:'Noto Sans';font-size:13px;color:#6b6b6b;line-height:16.5px;letter-spacing:-0.3px;}
.visual-txt em{font-family: 'Geogrotesque-Medium';color:#000;}
.visual-txt a{font-size:12px;color:#161820;}

.matching-success{position:fixed;bottom:0;left:0;width:100%;height:50px;border:1px solid red;}
.mc-suc__items{font-size:0;}
.mc-suc__item{border:1px solid red;}
.mc-suc__tit{font-weight: 500;font-size:12px;color:#292a4d;display:inline-block;vertical-align:top;}
.mc-suc__course{display:inline-block;vertical-align:top;}

.course-label{display:inline-block;vertical-align:top;text-align:center;width:25px;height:14px;line-height:14px;background:#ff4377;color:#fff;font-weight:bold;font-size:11px;}


.mc-suc__infos{display:inline-block;vertical-align:top;}

.mc-suc__course-items{display:inline-block;vertical-align:top;}
.mc-suc__course-item{}
.mc-suc__course-item span{display:inline-block;vertical-align:top;font-weight:bold;font-size:13px;color:#292a4d;}
.mc-suc__course-item em{font-weight:normal;font-family: 'Geogrotesque-Medium';font-size:15px;color:#292a4d;}
.mc-suc__course--start{}
.mc-suc__course--end{}

.mc-suc__airline{display:inline-block;vertical-align:top;}
.mc-suc__airline .airline-code__wing{color:#292a4d;font-size:13px;font-weight: 500;}
.mc-suc__airline .airline-code__wing em{position:absolute;top:-9999px;left:-9999px;}


.mc-suc__seat{display:inline-block;vertical-align:top;font-size:13px;color:#000;font-weight: 500;}
.mc-suc__seat em{font-family: 'Geogrotesque-SemiBold';font-size:15px;color:#f5a623;}