@mixin tab($params: null){
  @each $value in $params {
    [role='tablist'] {
      @include clearfix();
      overflow: visible;
      [role='tab'] { float: left; }
    }
    @if $value == style1 {
      [role='tablist'] {
        margin: 0 rem($grid / -2);
      }
      [role='tab'] {
        $font-size: 13;
        @include text-ellipsis(null);
        @include font($size: $font-size, $color: $mono1, $weight: 800);
        margin: 0 rem($grid / 2); padding: em(7, $font-size) em($grid / 2 * 3, $font-size);
        text-align: center; text-decoration: none; line-height: em(14, $font-size);
        border: 1px solid $mono6; border-radius: rem(2);
        cursor: pointer;
        &.active { border-color: $mono1; background-color: $mono1; color: $mono10 }
      }
    } @else if $value == style2 {
      [role='tab'] {
      }
    }
  }
}

[role='tab'] {
  transition: all $trs-duration;
}
[role='tabpanel'] {
  transition: opacity $trs-duration;
  overflow: hidden;
  width: 100%; height: 0;
  opacity: 0;
  &.active {
    height: auto;
    opacity: 1;
  }
}
.tab-wrap { }
.tab-panels { }