/* color variation */
$mono1: #000;
$mono2: #333;
$mono3: #888;
$mono4: #aaa;
$mono5: #c8c8c8;
$mono6: #ddd;
$mono7: #e4e4e4;
$mono8: #f0f0f0;
$mono9: #F8F8F8;
$mono10: #ffffff;
$text-primary: #FF4F24;
$text-third: #FEE700;
$border-primary: #FF4F24;
$bg-primary: #FF4F24;
$bg-secondary: #2A2167;
$bg-submit: #FEE700;
$border-radius: 3;
$font-root-size: 13;
$content-width: 1200;
$gnb-height: 81;
$anc_lnb-height: 61;
$summary-height: 100;
$grid: 8;
$trs-duration: 0.5s;
$trs-delay: 0.2s;
$font-path: '../font';
$img-path: '../img';

/* style variation */
$font-common-family: NanumSquare, "Apple SD Gothic NEO", sans-serif;
$font-en-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
$border-common-radius: 3px;
