@charset "UTF-8";


@font-face {
  font-family: 'Labdigital';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DSEG';
  src: url('../font/DSEG7Modern-Bold.woff2') format('woff2'),
       url('../font/DSEG7Modern-Bold.woff') format('woff'),
       url('../font/DSEG7Modern-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
	font-family: 'PretendardBL';
	font-display: swap;
	src: local('Pretendard Black'), 
  url('../font/Pretendard-Black.woff2') format('woff2'), 
	url('../font/Pretendard-Black.woff') format('woff'),  
  url('../font/Pretendard-Black.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardEB';
	font-display: swap;
	src: local('Pretendard ExtraBold'), 
	url('../font/Pretendard-ExtraBold.woff2') format('woff2'), 
	url('../font/Pretendard-ExtraBold.woff') format('woff'), 
	url('../font/Pretendard-ExtraBold.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardB';
	font-display: swap;
	src: local('Pretendard Bold'), 
	url('../font/Pretendard-Bold.woff2') format('woff2'), 
	url('../font/Pretendard-Bold.woff') format('woff'), 
	url('../font/Pretendard-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardSB';
	font-display: swap;
	src: local('Pretendard SemiBold'), 
	url('../font/Pretendard-SemiBold.woff2') format('woff2'), 
	url('../font/Pretendard-SemiBold.woff') format('woff'), 
	url('../font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardM';
	font-display: swap;
	src: local('Pretendard Medium'), 
	url('../font/Pretendard-Medium.woff2') format('woff2'), 
	url('../font/Pretendard-Medium.woff') format('woff'), 
	url('../font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardR';
	font-display: swap;
	src: local('Pretendard Regular'), 
	url('../font/Pretendard-Regular.woff2') format('woff2'), 
	url('../font/Pretendard-Regular.woff') format('woff'), 
	url('../font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardL';
	font-display: swap;
	src: local('Pretendard Light'), 
	url('../font/Pretendard-Light.woff2') format('woff2'), 
	url('../font/Pretendard-Light.woff') format('woff'), 
	url('../font/Pretendard-Light.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardEL';
	font-display: swap;
	src: local('Pretendard ExtraLight'), 
	url('../font/Pretendard-ExtraLight.woff2') format('woff2'), 
	url('../font/Pretendard-ExtraLight.woff') format('woff'), 
	url('../font/Pretendard-ExtraLight.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardT';
	font-display: swap;
	src: local('Pretendard Thin'), 
	url('../font/Pretendard-Thin.woff2') format('woff2'), 
	url('../font/Pretendard-Thin.woff') format('woff'), 
	url('../font/Pretendard-Thin.otf') format('opentype');
}


:lang(en) {  font-family: 'PretendardM', 'sans-serif';}


@font-face {
	font-family: 'NotoSansL';
	src: url('../font/NotoSans-Light.eot'); /* IE9+ Compat Modes */
	src: url('../font/NotoSans-Light.woff2') format('woff2'), /* Super Modern Browser */
         url('../font/NotoSans-Light.woff') format('woff'), /* Modern Browser */
         url('../font/NotoSans-Light.otf') format('opentype'); /* Android, iOS, Safari */
}
@font-face {
	font-family: 'NotoSansDL';
	src: url('../font/NotoSans-DemiLight.eot');
	src: url('../font/NotoSans-DemiLight.woff2') format('woff2'),
         url('../font/NotoSans-DemiLight.woff') format('woff'),
         url('../font/NotoSans-DemiLight.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansR';
  letter-spacing: -0.6;
	src: url('../font/NotoSans-Regular.eot');
	src: url('../font/NotoSans-Regular.woff2') format('woff2'),
         url('../font/NotoSans-Regular.woff') format('woff'),
         url('../font/NotoSans-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansM';
  letter-spacing: -0.6;
	src: url('../font/NotoSans-Medium.eot');
	src: url('../font/NotoSans-Medium.woff2') format('woff2'),
         url('../font/NotoSans-Medium.woff') format('woff'),
         url('../font/NotoSans-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansB';
  letter-spacing: -0.6;
	src: url('../font/NotoSans-Bold.eot');
	src: url('../font/NotoSans-Bold.woff2') format('woff2'),
         url('../font/NotoSans-Bold.woff') format('woff'),
         url('../font/NotoSans-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'RobotoL';
	src: url('../font/Roboto-Light.eot');
	src: url('../font/Roboto-Light.woff2') format('woff2'),
         url('../font/Roboto-Light.woff') format('woff'),
         url('../font/Roboto-Light.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoR';
	src: url('../font/Roboto-Regular.eot');
	src: url('../font/Roboto-Regular.woff2') format('woff2'),
         url('../font/Roboto-Regular.woff') format('woff'),
         url('../font/Roboto-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoM';
	src: url('../font/Roboto-Medium.eot');
	src: url('../font/Roboto-Medium.woff2') format('woff2'),
         url('../font/Roboto-Medium.woff') format('woff'),
         url('../font/Roboto-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoB';
	src: url('../font/Roboto-Bold.eot');
	src: url('../font/Roboto-Bold.woff2') format('woff2'),
         url('../font/Roboto-Bold.woff') format('woff'),
         url('../font/Roboto-Bold.otf') format('opentype');
}



@font-face {
  font-family: 'Geogrotesque';
  font-weight: 100;
  font-style: italic;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_B_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_B_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_B_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_B_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_B_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 200;
  font-style: italic;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_C_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_C_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_C_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_C_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_C_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 300;
  font-style: italic;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_D_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_D_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_D_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_D_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_D_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 400;
  font-style: italic;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_3_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_3_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_3_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_3_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 500;
  font-style: italic;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_2_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_2_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_2_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_2_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 600;
  font-style: italic;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_8_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_8_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_8_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_8_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_8_0.ttf") format("truetype");
}
@font-face {
  font-family: 'Geogrotesque';
  font-weight: 700;
  font-style: italic;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_0_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_0_0.eot?#iefix") format("embedded-opentype"), 
  url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_0_0.woff2") format("woff2"), 
  url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_0_0.woff") format("woff"), 
  url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 100;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_9_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_9_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_9_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_9_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 200;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_A_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_A_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_A_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_A_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_A_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 300;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_1_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_1_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_1_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_1_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 400;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_5_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_5_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_5_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_5_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 500;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_4_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_4_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_4_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_4_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 600;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_7_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_7_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_7_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_7_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 700;
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_6_0.eot");
  src: url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_6_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_6_0.woff2") format("woff2"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_6_0.woff") format("woff"), url("https://cdn.ags-aws.com/static/fonts/geogrotesque/2F9EC7_6_0.ttf") format("truetype");
}

body,object,iframe,
h1,h2,h3,h4,h5,h6,div,span,p,blockquote,pre,abbr,acronym,address,cite,code,del,dfn,em,img,figure,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
form,fieldset,legend,a,textarea,input,select,option,button,label,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box;
	-webkit-appearance:none;appearance:none;-ms-appearance:none;-moz-appearance:none;resize:none;outline:0;
	-webkit-text-size-adjust:none;word-break:break-all;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;
}

/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'PretendardM';
  color: #666;
  font-size: 14px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

ol, ul, li {
  list-style: none;
}

hr {
  display: none;
}

a, button, input[type='button'] {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}

html.hidden {
  display: block !important;
}

*:focus {
  outline: none;
}

/* color variation */
/* style variation */
/* function */
/* mixin */
.anm_r-to-l {
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: anm_r-to-l;
  -webkit-animation-fill-mode: fowards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: anm_r-to-l;
  -moz-animation-fill-mode: fowards;
  -moz-animation-direction: forward;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-name: anm_r-to-l;
  animation-fill-mode: fowards;
  animation-direction: forward;
  transition: all 0.5s;
  transition-delay: 0.5s;
}

@-webkit-keyframes anm_r-to-l {
  0% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-moz-keyframes anm_r-to-l {
  0% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-o-keyframes anm_r-to-l {
  0% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes anm_r-to-l {
  0% {
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.anm_l-to-r {
  -webkit-animation-delay: 0.2s;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: anm_l-to-r;
  -webkit-animation-fill-mode: fowards;
  -webkit-animation-direction: forward;
  -moz-animation-delay: 0.2s;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: anm_l-to-r;
  -moz-animation-fill-mode: fowards;
  -moz-animation-direction: forward;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-name: anm_l-to-r;
  animation-fill-mode: fowards;
  animation-direction: forward;
}

/* alert common style */
/* 규정 및 약관 아코디언 */

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* common */
.page-dim {
  transition: all 1s;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.pdb80{
  padding-bottom: 80px;
}
.pdb70{
  padding-bottom: 70px;
}
.pdb60{
  padding-bottom: 60px;
}
.pdb50{
  padding-bottom: 50px;
}.pdb40{
  padding-bottom: 40px;
}