/* 보험 가입내역 조회 ---------------------------------------- */

.insure-header {
    font-size: 17px;
    color: #000;
    margin: 20px 15px;
}
.insure-header i{
    display: block;
    background: url("../img/common/raina_s.png") no-repeat center / 96px 20px;
    width: 96px;
	height: 20px;
}
.insure-header_sun{
    margin-top: 10px;
    border-bottom: 2px solid #1d85ff;
    
}
.subscr-wrap {
    max-width: 480px;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 100px;
}

/* 상단 3개 버튼 */
.subscr-top-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 24px;
}
.subscr-top-actions button {
    border: 1px solid #888;
    border-radius: 3px;
    padding: 8px;
    font-size: 13px;
    color: #222;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.3;
	font-family: 'PretendardSB';
}
.subscr-top-actions button:active {
    background: #e9ebee;
}

/* 페이지 타이틀 */
.subscr-title {
    text-align: center;
    font-size: 18px;
    padding: 12px 0 30px;
    color: #111;    
	font-family: 'PretendardSB';
}

/* 피보험자 블록 (복사용 단위) */
.subscr-person {
    margin-bottom: 32px;
}
.subscr-person-title {
    font-size: 15px;
    font-weight: 700;
    color: #111;
    margin-bottom: 14px;    
	font-family: 'PretendardSB';
}

/* 정보 행 */
.subscr-row {
    display: flex;
    align-items: center;
    min-height: 43px;
}
.subscr-row:last-child {
    border-bottom: none;
}
.subscr-label {
    width: 100px;
    flex-shrink: 0;
    font-size: 12px;    
    color: #999;
	font-family: 'PretendardR';
}
.subscr-label.subscr-required::before {
    content: '*';
    color: #ef4444;
    margin-right: 2px;
}
.subscr-value {
    flex: 1;
    font-size: 12px;    
	font-family: 'PretendardSB';
    color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
}

/* 가입플랜보기 버튼 */
.subscr-plan-btn {
    background: #1A85FF;
    color: #fff;
    border-radius: 4px;
    padding: 7px 8px;
    font-size: 11px;    
	font-family: 'PretendardSB';
    cursor: pointer;
    display: flex;
    align-items: center;
}
.subscr-plan-btn:active {
    background: #1d4ed8;
}


/* 여행기간 (전체 너비) */
.subscr-row-wide .subscr-value {
    justify-content: flex-start;
}
.subscr-period {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #222;
}
.subscr-period .subscr-tilde {
    color: #9ca3af;
}

/* info 아이콘 */
.subscr-info-icon {
}

/* 가입플랜 금액 강조 */
.subscr-plan-info {
    display: flex;
    align-items: center;
    gap: 12px;
}
.subscr-plan-name {
    color: #222;
}
.subscr-plan-price {
    color: #222;
    font-weight: 500;
}