
/*상단 오른쪽 메뉴 값 고정*/

.ags-wrap.newui .ags-header{
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.ags-wrap.newui .ags-header .gnb-wrap {
	position: absolute;
	right: 16px;
	left: unset;
	top: 17.5px
}
.ags-wrap.newui .btn_back {
	background: url(../img/common/ico_header-back.png) no-repeat center / 24px 24px;
	position: absolute;
	left: 16px;
	top: 17.5px
}
.ags-wrap.newui .ags-header .gnb-wrap .gnb-2dp-wrap{
	left: calc(375 / 375* 100%);
}
.ags-wrap.newui .ags-header .gnb-wrap .gnb-2dp-wrap.active{
	left: 0;
}

.ags-wrap.newui .ags-header .gnb-wrap .btn_gnb {
	background: url(../img/common/ic_menu.png) no-repeat center / 24px 24px;
	margin-left:unset;
	width: 15px;
}

.ags-wrap.newui .seat_sheet_recom_box .recom_num a {
    opacity: 0.6;
}

.ags-wrap.newui .btn_back,
.ags-wrap.newui .btn_gnb {
	width: 16px;
	height: 16px;
	display: block;
	text-indent: -9999px;
}

.ags-wrap.newui .gnb_menu{
	position: absolute;
	display: flex;
	justify-content: space-around;
	top: 17.5px;
	width: 280px;	
	left: 50%;
	transform: translate(-50%, 0%);

	font-family: 'PretendardM';
	font-size: 17px;
	color: #bbb;
	letter-spacing: -1px;
	height: 32px;
}
.ags-wrap.newui .gnb_menu a{
	padding: 0 7px;
}
.ags-wrap.newui .gnb_menu .gnb_menu_active{
	color: #222;
	font-family: 'PretendardB';
	border-bottom: 2.5px solid #222;
}

.ags-wrap.newui .ags-header .gnb-wrap ul{
	flex-direction: column;
}
.ags-wrap.newui .center_txt{
	color: #fff;
	margin-top: 10px;
}
.ags-wrap.newui .gnb-wrap .gnb-2dp-wrap .welcome-msg{
	line-height: 20px;
}

@media (max-width: 321px) {
	.ags-wrap.newui .gnb_menu{		
		width: 220px;	
	}
}

/*상단 셀렉트 박스*/
.select_boxbtn{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f1f1f3;
	height: 50px;
	background-color: #f1f1f3;
}

.select_boxbtn .select_backbtn,.select_boxbtn .select_comebtn {
	position: relative;
	font-family: 'PretendardM';
	color: #222;
	width: 50%;
	background: #fff;
}


.select_boxbtn .select_backbtn button,.select_boxbtn .select_comebtn button {
	width: 100%;
	height: 50px;
	display: flex;
    flex-direction: column;
    align-items: center;
	font-family: 'PretendardM';
	letter-spacing: -0.3px;
	color: #aaa;
	border: 2px solid #fff;
	background-color: #f1f1f3;
	border-color: transparent;
	justify-content: center;
	border-bottom: 1px solid #f1f1f3;
	
}

.select_boxbtn .select_backbtn.active button {		
	background-color: #fff;
	color: #222;
}

.select_boxbtn .select_comebtn.active button{		
	background-color: #fff;
	color: #222;
}

.select_boxbtn.long .select_backbtn.active{	
	width: 70%;
}

.select_boxbtn.long .select_comebtn.active{	
	width: 70%;
}


.boxbtn_fly{
	display: flex;
	margin-top: 13px;
	font-size: 12px;
	line-height: 12px
}
.boxbtn_logo.air_logo{
	position: absolute;
	left: 50%;	
	transform: translate(-50%, 0%);
	text-indent: -999em;
	object-fit: cover;
}
.boxbtn_logo.air_logo.jeju,.boxbtn_logo.air_logo.jeju_gray{	
	background-size: 40px 9px;
	width: 40px;
	height: 9px;	
	top: 8px;
}
.boxbtn_logo.air_logo.tway,.boxbtn_logo.air_logo.tway_gray{
	background-size: 35px 13px;
	width: 35px;
	height: 13px;
	top: 6px;
}
.boxbtn_logo.air_logo.airbusan,.boxbtn_logo.air_logo.airbusan_gray{
	background-size: 42px 13px;
	width: 42px;
	height: 13px;
	top: 6px;
}
.boxbtn_logo.air_logo.airseoul,.boxbtn_logo.air_logo.airseoul_gray{
	background-size: 45px 7px;
	width: 45px;
	height: 7px;
	top: 8px;
}
.boxbtn_logo.air_logo.airpremia,.boxbtn_logo.air_logo.airpremia_gray{
	background-size: 62px 7px;
	width: 62px;
	height: 7px;
	top: 8px;
}
.boxbtn_logo.air_logo.jinair,.boxbtn_logo.air_logo.jinair_gray{
	background-size: 45px 7px;
	width: 45px;
	height: 7px;
	top: 8px;
}

/*항공사 로고 회색*/

.air_logo.jeju_gray{	
	background: url(../img/common/symbol_flight-way_7c_gray.png) no-repeat center /80px 17px;
	top: 13px;
}
.air_logo.tway_gray{	
	background: url(../img/common/symbol_flight-way_tw_gray.png) no-repeat center /67px 24px;
	height: 24px;	
}
.air_logo.airbusan_gray{	
	background: url(../img/common/symbol_flight-way_bx_gray.png) no-repeat center /80px 25px;
	height: 25px;	
}
.air_logo.airseoul_gray{	
	background: url(../img/common/symbol_flight-way_rs_gray.png) no-repeat center /80px 12px;
	height: 25px;	
}
.air_logo.airpremia_gray{	
	background: url(../img/common/symbol_flight-way_yp_gray.png) no-repeat center /80px 9px;
	height: 25px;
}
.air_logo.jinair_gray{	
	background: url(../img/common/symbol_flight-way_lj_gray.png) no-repeat center /80px 12px;
	top: 14px;
}

.select_boxbtn .select_backbtn.active .boxbtn_logo.air_logo.jeju_gray,
.select_boxbtn .select_comebtn.active .boxbtn_logo.air_logo.jeju_gray{	
	background: url(../img/common/symbol_flight-way_7c_dom@3x.png) no-repeat center /80px 17px;
	background-size: 40px 9px;
	width: 40px;
	height: 9px;	
	top: 8px;
}
.select_boxbtn .select_backbtn.active .boxbtn_logo.air_logo.tway_gray,
.select_boxbtn .select_comebtn.active .boxbtn_logo.air_logo.tway_gray{	
	background: url(../img/common/symbol_flight-way_tw_dom@3x.png) no-repeat center /67px 24px;
	background-size: 35px 13px;
	width: 35px;
	height: 13px;
	top: 6px;
}
.select_boxbtn .select_backbtn.active .boxbtn_logo.air_logo.airbusan_gray,
.select_boxbtn .select_comebtn.active .boxbtn_logo.air_logo.airbusan_gray{	
	background: url(../img/common/symbol_flight-way_bx_dom@3x.png) no-repeat center /80px 25px;
	background-size: 42px 13px;
	width: 42px;
	height: 13px;
	top: 6px;
}
.select_boxbtn .select_backbtn.active .boxbtn_logo.air_logo.airseoul_gray,
.select_boxbtn .select_comebtn.active .boxbtn_logo.air_logo.airseoul_gray{	
	background: url(../img/common/symbol_flight-way_rs_dom@3x.png) no-repeat center /80px 12px;
	background-size: 45px 7px;
	width: 45px;
	height: 7px;
	top: 8px;	
}
.select_boxbtn .select_backbtn.active .boxbtn_logo.air_logo.airpremia_gray,
.select_boxbtn .select_comebtn.active .boxbtn_logo.air_logo.airpremia_gray{	
	background: url(../img/common/symbol_flight-way_yp.png) no-repeat center /80px 9px;
	background-size: 62px 7px;
	width: 62px;
	height: 7px;
	top: 8px;
}
.select_boxbtn .select_backbtn.active .boxbtn_logo.air_logo.jinair_gray,
.select_boxbtn .select_comebtn.active .boxbtn_logo.air_logo.jinair_gray{	
	background: url(../img/common/symbol_flight-way_lj.png) no-repeat center /80px 12px;
	background-size: 45px 7px;
	width: 45px;
	height: 7px;
	top: 8px;
}


/*---------------------------------------------*/

.travelandtime{
	display: flex;
    justify-content: space-around;
    align-items: center;
	padding: 5px 15px;
	width: 100%;
	position:absolute;
	background-color: #fff;
	z-index: 21;
	margin-top: -10px;
}
.ags-wrap.newui .contents.separate200 .travelandtime{

	width: 50%;
}


.travelandtime .travel_logos{
	width: 100%;
	text-indent: -999em;
}
.travelandtime .air_times{
	font-size: 12px;
	width: 100%;
	text-align: right;
	color: #222;
}
.travel_logos{
	margin-left: 2px;
}
.travel_logos.biztravel{	
	background: url(../img/common/travel_bzt.jpg) no-repeat left /89px 11px;
}
.travel_logos.hanatour{	
	background: url(../img/common/travel_hana.jpg) no-repeat left /52px 11px;	
}
.travel_logos.interpark{	
	background: url(../img/common/travel_inter.jpg) no-repeat left /61px 13px;
}
.travel_logos.jejudocom{	
	background: url(../img/common/travel_jejudo.jpg) no-repeat left /56px 13px;
}
.travel_logos.modetour{	
	background: url(../img/common/travel_mode.jpg) no-repeat left /59px 12px;
}
.travel_logos.nextour{	
	background: url(../img/common/travel_nextour.jpg) no-repeat left /55px 13px;
}
.travel_logos.ybtour{	
	background: url(../img/common/travel_norang.jpg) no-repeat left /51px 15px;
}
.travel_logos.onlinetour{	
	background: url(../img/common/travel_online.jpg) no-repeat left /53px 13px;
}
.travel_logos.webtour{	
	background: url(../img/common/travel_webtour.jpg) no-repeat left /47px 25px;
}
.travel_logos.whypaymore{	
	background: url(../img/common/travel_whypay.jpg) no-repeat left /57px 13px;
}
.travel_logos.kyowontour{	
	background: url(../img/common/travel_kyowontour.jpg) no-repeat left /45px 15px;
}
.travel_logos.jejucom{	
	background: url(../img/common/travel_jejucom.jpg) no-repeat left /52px 15px;
}
.travel_logos.myrealtrip{	
	background: url(../img/common/travel_myrealtrip.jpg) no-repeat left /65px 15px;
}
.travel_logos.goodtour{	
	background: url(../img/common/travel_goodtour.jpg) no-repeat left /46px 15px;
}

.header_txt {
	display: flex;
	justify-content: space-between;
    margin: 10px 15px;
	font-size: 13px;
	height: 24px;
}
.header_txt_ai{
	display: flex;
	align-items: center;
	color: #222;
}
.header_txt_ai img{
	width: 18px;
	height: 16px;
	margin-right: 5px;
}

/*프리뷰 버튼*/
.header_txt_btn{
	display: flex;
	z-index: 1;
	justify-content: space-evenly;
	padding: 0 3px;
	position: relative;
	font-size: 14px;
	width: 72px;
	height: 24px;
	align-items: center;
	background-color: #555;
	color: #fff;
	border-radius: 15px;
	font-size: 11px;
	font-family: 'PretendardM';
}
.header_txt_btn span:nth-child(2){
	position: relative;
	border-radius: 50%;
	border:1px solid #fff;
	padding: 1px 6.5px; 
	text-indent: -999em;
}

.header_txt_btn span:nth-child(2):after{
	position: absolute;
	left: 40%; 
	top: 35%; 
	content: '';
	width: 4px; /* 사이즈 */
	height: 4px; /* 사이즈 */
	border-top: 1px solid #fff; /* 선 두께 */
	border-right: 1px solid #fff; /* 선 두께 */
	transform: rotate(225deg); /* 각도 */
}

/********************************************************/



.ags-wrap.newui .A_7C_738A .seat_sheet {
    top: -538px;
}
.ags-wrap.newui .A_7C_738B .seat_sheet {
    top: -538px;
}

.ags-wrap.newui .A_7C_738C .seat_sheet_number li:nth-child(12) {
    padding-top: 1px;
    padding-bottom: 5px;
}
.ags-wrap.newui .A_7C_738C .seat_sheet_number li:nth-child(13) {
	padding-top: 1px;
    padding-bottom: 8.8px;
}

.ags-wrap.newui .A_7C_738C .seat_sheet_number li:nth-child(14) {
    padding-top: 0px;
    padding-bottom: 0px;
}
.ags-wrap.newui .A_7C_738C .seat_sheet_number li:nth-child(15) {
	padding-top: 0px;
    padding-bottom: 0px;
}

.ags-wrap.newui .A_7C_738C .airplane_bg_end_jeju{
	top: 588px;
	background: url(../img/common/airplane_bgx_end.png) no-repeat center / 120px 93px;
}

.ags-wrap.newui .seat_sheet_recom_box .recom_num.jeju-8 a{
	height: 151px;
}

.ags-wrap.newui .seat_sheet_price_box[actype='B737-800'] .buy_num div{
	margin-right: 25px;
}
.ags-wrap.newui .seat_sheet_price_box[actype='B737-900'] .buy_num div{
	margin-right: 25px;
}

.ags-wrap.newui .seat_sheet_price_box{
	line-height: 14px;
}

.ags-wrap.newui .seat_sheet_price_box[actype='B737-900'] .buy_num.jinair-2{
	line-height: 13px;
}
.ags-wrap.newui .seat_sheet_price_box[actype='B737-900'] .buy_num.jinair-5{
	line-height: 13px;
}
.ags-wrap.newui .seat_sheet_price_box[actype='B737-900'] .buy_num.jinair-6{
	line-height: 13px;
}

.ags-wrap.newui .B737-800 .seat_sheet {
    top: -548px;
}

.ags-wrap.newui .B737-900 .seat_sheet {
    top: -556px;
}

.ags-wrap.newui .A321-220Y .seat_sheet {
    top: -644px;
}
.ags-wrap.newui .A321-220YNO1ABC .seat_sheet {
    top: -637px;
}


.ags-wrap.newui .A321-195Y .seat_sheet{
	top: -536px;
}



/********************************************************/


.ags-wrap.newui #bx_40_test .seat_sheet {
    top: -649px;
}

.ags-wrap.newui .seat_sheet_bg.ac1.tw_77WAL {
    height: 120vh;
}
.ags-wrap.newui .seat_sheet_bg.ac1.tw_77WBL {
    height: 120vh;
}

/*-----------------------------*/
.ags-wrap.newui .seat_sheet_bg.ac1{
	height: 100vh;
}
.ags-wrap.newui .seat_sheet_bg.ac2{
	height: 100vh;
}

@media (max-width: 376px) {
    .ags-wrap.newui .seat_sheet_bg.ac1{
		height: 120vh;
	}
	.ags-wrap.newui .seat_sheet_bg.ac2{
		height: 120vh;
	}
	.ags-wrap.newui .seat_sheet_bg.ac1.tw_77WAL {
		height: 150vh;
	}
	.ags-wrap.newui .seat_sheet_bg.ac1.tw_77WBL {
		height: 150vh;
	}
}
@media (max-width: 321px) {
    .ags-wrap.newui .seat_sheet_bg.ac1{
		height: 138vh;
	}
	.ags-wrap.newui .seat_sheet_bg.ac2{
		height: 138vh;
	}
	.ags-wrap.newui .seat_sheet_bg.ac1.tw_77WAL {
		height: 180vh;
	}
	.ags-wrap.newui .seat_sheet_bg.ac1.tw_77WBL {
		height: 180vh;
	}
}

.ags-wrap.newui .contents.separate200.bagnewui .slider1{
	height: 100vh;
	overflow-y: auto;
	padding-bottom: 100px;
}
.ags-wrap.newui .contents.separate200.bagnewui .slider2{
	height: 100vh;
	overflow-y: auto;
	padding-bottom: 100px;
}


.ags-wrap.newui .contents.separate200.airnewui .slider1{
	height: 100vh;
	overflow-y: auto;
	padding-bottom: 150px;
}
.ags-wrap.newui .contents.separate200.airnewui .slider2{
	height: 100vh;
	overflow-y: auto;
	padding-bottom: 150px;
}

.ags-wrap.newui .seat_sheet_bg{
	margin-top: 10px;
}

/*-----------------------------*/

/*기내식 foodsfst-----------------------------*/

.ags-wrap.newui .contents.separate200{
	padding-top: unset;
	margin-top: 140px;
}
.ags-wrap.newui .contents.separate200.foodnewui{
	padding-top: unset;
	margin-top: 110px;
}


.ags-wrap.newui .contents.separate200.foodnewui .slider1{
	height: 100vh;
	overflow-y: auto;
	padding-bottom: 220px;
}
.ags-wrap.newui .contents.separate200.foodnewui .slider2{
	height: 100vh;
	overflow-y: auto;
	padding-bottom: 220px;
}




.foodsfst ul li{
	position: relative;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #f0f0f0;	
	display: flex;
}
.foodsfst ul li img{
	width: 110px;
	height: 100%;
}

.foodsfst .foodsfst_divd{
	display: flex;
	margin: 15px;
	width: 100%;
}
@media (max-width: 321px){
	.foodsfst .foodsfst_divd{
	margin: 10px;
	}
}
.foodsfst .foodsfst_txt{
	text-align: left;
	width: 100%;
	margin-left: 12px;	
	letter-spacing: -0.5px;
}

.foodsfst label{
	width: 100%;
    height: 100%;
	
	border: 1px solid #fff;	
	border-bottom: 1px solid #f0f0f0;
}

/* foods 체크박스 */

.foodsfst input:checked + label{
	width: 100%;
	height: 100%;
	border: 1px solid #f5581a;
}

.foodsfst .ico_detail{
	position: absolute;
	padding: 10px;
    right: 8px;
    top: 8px;
}

.foodsfst_txt1{
	font-family: 'PretendardSB';
	font-size: 15px;
	color: #444;
}
.foodsfst_txt2{
	margin-top: 8px;
}
.foodsfst_txt2 .foods_pay_b{	
	font-family: 'PretendardSB';
	font-size: 14px;
	color: #222;
}
.foodsfst_txt2 .foods_pay_a{	
	font-family: 'PretendardR';
	font-size: 11px;
	color: #aaa;
	margin-left: 8px;
}
.foodsfst_txt2 .foods_pay_a::before,.foodsfst_txt2 .foods_pay_b::before{
	content: "￦";
}
.foodsfst_txt3 {
	margin-top: 8px;
	font-family: 'PretendardR';
	font-size: 12px;
	color: #666;
	line-height: 14px
}
.foodsfst_txt4btn {
	margin-top: 10px;
	font-family: 'PretendardR';
	font-size: 11px;
	color: #f5581a;
	line-height: 15px;
	border: 1px solid #f5581a;
	border-radius: 15px;
	width: 80px;
	height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
}


/**/
.pay_pay.newui{
	z-index: 889;
}

.ags-foods-group.newui{
	z-index: 888;
}

.ags-foods-group.newui .btn_foods_close {
	position: absolute;
	color: #fff;
	top: 0;
	left:0;
	right: 0;
	margin: auto;
	width: 60px;
	height: 30px;
	border-radius: 5px;
	background: url(../img/common/fold_btn.png) no-repeat left / 60px 30px;
	text-indent: -999px;
}

.ags-foods-group.newui.active .foods_contents_group{
	top: 60%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.ags-foods-group.newui .foods_content{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.ags-foods-group.newui .foods_txt02{
	margin-top: 5px;
}

.ags-foods-group.newui .foods_scroll{
	overflow-y: scroll;
    position: absolute;
    width: 100%;
    top: 10%;
    bottom: 67%;
}

@media (max-width: 376px){
	.ags-foods-group.newui.active .foods_contents_group{
		top: 52%;
	}
	.ags-foods-group.newui .foods_scroll {
		top: 13%;
		bottom: 69%;
	}
}
.ags-foods-group.newui .foods_choice1, .ags-foods-group.newui .foods_choice2{
	position: relative;
	height: 80px;
}
.foods_txt_same{
	font-size: 11px;
	position: absolute;
	right: 15px;
	bottom: 5px;
	font-family: 'PretendardM';
}





/*팝업 이미지*/

.ags-foods-group.newui .foods_content ul li div:nth-child(2) span{
	font-size: 12px;
}

.foodspop_img img{
	width: 100%;
}


/*결제하기*/

.creditcard.newui{
	overflow-y: auto;
    margin-top: 55px;
}
.ags-wrap.newui .ags-summary .pay_content{
	height: 85vh;
	padding-top: 0px;
}

.ags-wrap.newui .ags-summary.active .footer_contents .pay_content .creditcard.newui{
	overflow-y: auto;
    margin-top: 30px;
}



.creditcard.newui .personer{
	padding: 10px 20px 10px 20px;
	color: #f5581a;
	font-family: 'PretendardB';
	font-size: 13px;
 
}
.creditcard.newui .personer span{
	background:unset;
	padding-left:unset;
 
}

.creditcard.newui .credit_agree_box_content .card_box2 .card_box2_b .card_box2_bi div:nth-child(1){
	font-family: 'PretendardR';
}

.creditcard.newui .credit_total{
	font-size: 15px;
	font-family: 'PretendardSB';
}

.pay_group li .chair_comple::before{
	content: "￦";
}
.nmb_box::before{
	content: "￦";
}

.creditcard.newui .credit_total .credit_total_box2{
	font-family: 'PretendardM';
	font-size: 13px;
}
.creditcard.newui .credit_total .credit_total_box2::before{
	content: "￦";
}
.creditcard.newui .credit_agree_box_content .card_box2 .card_box2_b .card_box2_bi div:nth-child(2) span::before{
	content: "￦";
}
.creditcard.newui .credit_agree_box_content .card_box3 .card_box3_b .card_box3_bi div:nth-child(2) span::before{
	content: "￦";
}
.creditcard.newui .credit_agree_box_content .card_box4 .card_box4_b .card_box4_bi div:nth-child(2) span::before{
	content: "￦";
}
.payment.newui .pay_group li .chair_comple::before{
	content: "￦";
}

.ags-wrap.newui .baggagep_pay::before{
	content: "￦";
}

.payment.newui{    
	margin-top: 51px;
}


.creditcard.newui .credit_away1,.creditcard.newui .credit_away2{
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	font-family: 'PretendardM';
	padding: 10px 16px 10px 16px;
	color: #222;
	border-bottom: 1px solid #eeee;
}

.creditcard.newui .card_box2_bi div:nth-child(2),
.creditcard.newui .card_box3_bi div:nth-child(2),
.creditcard.newui .card_box4_bi div:nth-child(2) {
	display: flex;
	align-items: center;
}
.creditcard.newui .new_xbtn{
	background: url(../img/common/cancel.png) no-repeat center / 14px 14px;
    width: 14px;
	height: 14px;
	margin-left: 5px;
	text-indent: 9999em;
}

.creditcard.newui .credit_agree_box_content .card_boxfst{	
	display: flex;
	justify-content: space-between;
	padding: 10px 20px 2px 15px;
	width: 100%;
	background-color: #f3f3f3;
	align-items: center;
}

.creditcard.newui .credit_agree_box_content .card_boxfst div:first-child{
	font-family: 'PretendardSB';
	font-size: 13px;
	color: #222;
}

.creditcard.newui .credit_agree_box_content .card_boxfst div:nth-child(2){
	position: relative;
	color: #222;
}
.creditcard.newui .credit_agree_box_content .card_boxtwi{
	display: flex;
	justify-content: space-between;
	padding: 3px 20px 10px 15px;
	width: 100%;
	border-bottom: 1px solid #eee;
	background-color: #f3f3f3;
	align-items: center;
	font-size: 11px;
	font-family: 'PretendardM';
	color: #222;
}



.creditcard.newui .card_name{
	font-size: 15px;
	font-family: 'PretendardSB';
}

.creditcard.newui .air_logo.jeju{
	background-size: 42px 8px;
	top: 0px;
	height: 15px;
	left: 5px;
	width: 50px;
}
.creditcard.newui .air_logo.tway{
	background-size: 35px 13px;
	top: 0px;
	height: 15px;
	left: 5px;
	width: 50px;
}
.creditcard.newui .air_logo.airbusan{
	background-size: 42px 13px;
	top: 0px;
	height: 15px;
	left: 5px;
	width: 50px;
}
.creditcard.newui .air_logo.airseoul{
	background-size: 45px 7px;
	top: 0px;
	height: 15px;
	left: 5px;
	width: 50px;
}
.creditcard.newui .air_logo.airpremia{
	background-size: 62px 7px;
	top: 0px;
	height: 15px;
	left: 5px;
	width: 62px;
	margin-right: 4px;
}
.creditcard.newui .air_logo.jinair{
	background-size: 45px 7px;
	top: 0px;
	height: 15px;
	left: 5px;
	width: 50px;
}


.creditcard.newui .credit_agree_box_content .card_box2 .card_box2_b .card_box2_bi div:nth-child(1),
.creditcard.newui .credit_agree_box_content .card_box3 .card_box3_b .card_box3_bi div:nth-child(1),
.creditcard.newui .credit_agree_box_content .card_box4 .card_box4_b .card_box4_bi div:nth-child(1){
	font-family: 'PretendardR';
	width: 150px;
	line-height: 18px;
}

.creditcard.newui .credit_agree_box_content .card_box2 .card_box2_b .card_box2_bi div:nth-child(2),
.creditcard.newui .credit_agree_box_content .card_box3 .card_box3_b .card_box3_bi div:nth-child(2),
.creditcard.newui .credit_agree_box_content .card_box4 .card_box4_b .card_box4_bi div:nth-child(2){
	font-family: 'PretendardM';
}

.gray_txt{
	color: #999 !important;
	font-family: 'PretendardM';
}


.ags-wrap.newui .baggagep_advimg{
	position: relative;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: center;
}

.ags-wrap.newui .baggagep_advimg img{
	width: 127px;
}
.ags-wrap.newui .baggagep_advimg span{
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-family: 'PretendardM';
	font-size: 12px;
	color: #222;
}
.ags-wrap.newui .baggagep_advimg .baggagep_num{
	position: absolute;
	font-size: 32px;
	color: #fff;
	font-family: 'PretendardSB';
	top: 68px;
	padding-right: 10px;
}

.ags-wrap.newui.bag .select_boxbtn{
	border-bottom: none;
}
.ags-wrap.newui .contents{
	padding-top: 140px;
}

.ags-wrap.newui .contents.separate200.bagnewui{
	margin-top: 110px;
}




.ags-wrap.newui .baggageps ul li:first-child{
	-webkit-box-shadow: 0 -4px 8px 0 #dcdcdc;
	-moz-box-shadow: 0 -4px 8px 0 #dcdcdc;
	box-shadow: 0 -4px 8px 0 #dcdcdc;
}
.ags-wrap.newui .baggageps ul li{
	border-bottom: 6px solid #eee;
    height: 95px;
    width: 100%;
    padding: 10px 15px;
    line-height: 24px;
}
.ags-wrap.newui .baggageps ul li:last-child{
	margin-bottom: 100px;
}

.ags-wrap.newui .baggagep_txt1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}
.ags-wrap.newui .baggagep_txt1 div:nth-child(1){
	font-size: 13px;
	color:#222;
	font-family: 'PretendardSB';
}
.ags-wrap.newui .baggagep_txt1 div:nth-child(2){
	font-size: 13px;
	color:#666;
	font-family: 'PretendardM';
}

.ags-wrap.newui .baggagep_txt2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	

	font-size: 13px;
	color:#222;
	font-family: 'PretendardSB';
}
.ags-wrap.newui .baggagep_txt2_img{
	background: url(../img/common/ico_baggage_g.png) no-repeat left top / 10px 15px;
	padding-left: 15px;
	width: 40px;
    height: 15px;
    display: flex;
    align-items: center;	
}

.ags-wrap.newui .baggagep_txt2_img.active{
	background: url(../img/common/ico_baggage_o.png) no-repeat left top / 10px 15px;
}
.ags-wrap.newui .baggagep_pay::after{
	
}

.baggagep_btn_chk{
	width: 120px;
	height: 36px;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 50px;
}
.baggagep_btn_chk_premia{
	width: 155px;
	height: 36px;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 50px;
}
.baggagep_btn_chk_premia span button{
	padding: 5px 10px;

}

.baggagep_btn_chk span:nth-child(1){
	width: 25%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.baggagep_btn_chk .decrease_btn.active{
	background: url(../img/common/btn_minus_on.png) no-repeat center / 20px 20px;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}
.baggagep_btn_chk .decrease_btn{	
	background: url(../img/common/btn_minus_on_g.png) no-repeat center / 20px 20px;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}

.baggagep_btn_chk .increase_btn.active{
	background: url(../img/common/btn_plus_on.png) no-repeat center / 20px 20px;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}
.baggagep_btn_chk .increase_btn{
	background: url(../img/common/btn_plus_on_g.png) no-repeat center / 20px 20px;
	text-indent: -9999px;
	width: 100%;
	height: 100%;
}
/*
.number_box::after{
	content: 'kg';
}
*/


.baggagep_btn_chk span:nth-child(2){
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.baggagep_btn_chk span:nth-child(3){
	width: 25%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.ags-wrap.newui .baggagep_txt2 .baggagep_sum{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.baggagep_btn_arrow{
	width: 140px;
	height: 36px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-left: 50px;	
	display: flex;
	align-items: center;
}

.baggagep_btn_arrow select{
	font-size: 13px;
	color:#222;
	font-family: 'PretendardSB';
	white-space: nowrap;
	padding: 0 30px 0 8px;
	background: url(../img/common/down_arrow.png) no-repeat right / 30px 30px;
	width: 100%;
}

@media (max-width: 321px){
	.baggagep_btn_chk{
		margin-left: 10px;
	}
	.baggagep_btn_chk_premia{
		margin-left:10px
	}
	.baggagep_btn_arrow{
		margin-left: 10px;
	}
	.ags-wrap.newui .baggagep_advimg span{		
		right: 10px;
	}
}

.baggagep_reserv{
	font-size: 13px;
	color:#999;
	font-family: 'PretendardM';
}

.ags-wrap.newui .ags-summary .btf_a{
	font-size: 13px;
	color:#666;
	font-family: 'PretendardM';
}
.ags-wrap.newui .ags-summary .btf_bbtn{
	width: 140px;
    height: 44px;
    border-radius: 2px;
    display: flex;
    margin-right: 15px;	
	background-color: #ccc;	
	justify-content: center;
}

.ags-wrap.newui .ags-summary .btf_bbtn.oranc{
	
	background-color: #f5581a;	
}

.ags-wrap.newui .ags-summary .btf_bbtn button{
	font-size: 14px;
	color:#fff;
	font-family: 'PretendardSB';	
}

@media (max-width: 321px){
	.ags-wrap.newui .ags-summary .btf_bbtn{
		width: 120px;
	}
}



/*구매하기*/
.card_box_buy{
	color: #08a7e1;
	font-size: 13px;
	font-family: 'PretendardR';
	text-decoration: underline;
}
/*1좌석당가격*/
.seat_sheet_price_txt{
	position: absolute;
	top: -20px;
	left: 3px;
	color: #444;
	font-size: 11px;
	font-family: 'PretendardSB';
	width: 66px;
	height: 22px;
	background-color: #f0f0f0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 13;
}
/*원하는곳을 터치*/
.seat_sheet_touch_newtxt{
	position: absolute;
	top: 250px;
	left: 235px;
	font-size: 14px;
	color: #222;
	letter-spacing: -0.3px;
	width: 100px;
	line-height: 17px;
}
.seat_sheet_touch_newtxt span{
	font-size: 16px;
}

.creditcard.newui .credit_agree_box_content .card_box2 .card_box2_a{
	width: 100px;
}
.creditcard.newui .credit_agree_box_content .card_box3 .card_box3_a{
	width: 100px;
}
.creditcard.newui .credit_agree_box_content .card_box4 .card_box4_a{
	width: 100px;
}


@media (max-width: 321px){
	.seat_sheet_touch_newtxt{
		left: 220px;
	}
	.creditcard.newui .credit_agree_box_content .card_box2 .card_box2_b .card_box2_bi div:nth-child(1),
	.creditcard.newui .credit_agree_box_content .card_box3 .card_box3_b .card_box3_bi div:nth-child(1),
	.creditcard.newui .credit_agree_box_content .card_box4 .card_box4_b .card_box4_bi div:nth-child(1){
		font-family: 'PretendardR';
		width: 120px;
		font-size: 12px;
		line-height: 16px;
	}
	.creditcard.newui .credit_agree_box_content .card_box2 .card_box2_a{
		width: 90px;
	}
	.creditcard.newui .credit_agree_box_content .card_box3 .card_box3_a{
		width: 90px;
	}
	.creditcard.newui .credit_agree_box_content .card_box4 .card_box4_a{
		width: 90px;
	}
}


.ags-wrap.newui .exit_left_c {
	justify-content: center;
	color: #666;
}
.ags-wrap.newui .exit_right, .ags-wrap.newui .exit_left {
	color: #666;
}
.ags-wrap.newui .ico_a{
	border-color: transparent #666 transparent transparent;
}
.ags-wrap.newui .ico_b{
	border-color: transparent transparent transparent #666;
}



.ags-wrap.newui .seat_sheet_price_box .buy_num span{
	color: #444;
	font-size: 11px;
}

.ags-wrap.newui .seat_sheet_number{
	color: #999;
}

.ags-wrap.newui .seat_sheet .hallway{
	color: #666;
	font-size: 13px;
	font-family: 'PretendardM';
}


.ags-wrap.newui .ags-summary .btn_footer_open {
	color: #000;
	width: 18px;
	height: 18px;
	background: url(../img/common/arrow_up.png) no-repeat center / 18px 18px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
}

.ags-wrap.newui .payment_btn{
	height: 44px;
	color: #fff;
	background-color: #f5581a;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 17px 10px;
}

.ags-wrap.newui  .btn_primia_left{
	background: url(../img/common/ico_primia_left.png) no-repeat center / 10px 13px;
	text-indent: -9999px;
}
.ags-wrap.newui  .btn_primia_left.active{
	background: url(../img/common/ico_primia_left_b.png) no-repeat center / 10px 13px;
	text-indent: -9999px;
}
.ags-wrap.newui  .btn_primia_right{
	background: url(../img/common/ico_primia_right.png) no-repeat center / 10px 13px;
	text-indent: -9999px;
}
.ags-wrap.newui  .btn_primia_right.active{
	background: url(../img/common/ico_primia_right_b.png) no-repeat center / 10px 13px;
	text-indent: -9999px;
}


/*면세배너*/

.duty_banner{
	margin-top: 150px;
	margin-bottom: 50px;
}
.duty_banner_txt1{	
	text-align: center;
	line-height: 20px;
	font-size: 15px;
	font-family: 'PretendardSB';
	color: #222;
}
.duty_banner_img{
	margin-top: 15px;
}

.duty_banner_img img{	
	display: flex;
	justify-content: center;
	align-items: center;	
	border: 1px solid #eee;
	width: 100%;
	padding: 20px 10px;
}

.duty_banner_time{
	width: 100%;
	height: 50px;
	background-color: #ff5000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	text-align: left;
	align-items: center;
	margin-top: 10px;
}
.duty_banner_time_txt1{	
	line-height: 16px;
}
.duty_banner_time_txt1 div:nth-child(1){	
	font-size: 11px;
	font-family: 'PretendardR';
}
.duty_banner_time_txt1 div:nth-child(2){
	font-size: 13px;
	font-family: 'PretendardSB';
}
.duty_banner_time_txt2{
	font-size: 14px;
	font-family: 'PretendardSB';
}

/* 개인정보취급방침 */
.content-wrap{	
	position: relative;
	margin-top: 50px;
	overflow: hidden;
	overflow-y: auto;
	height: 100%;
	padding: 15px;
	line-height: 20px;	
	width: 100%;
	font-size: 13px;
	font-family: 'PretendardL';
	color: #888;	
	counter-reset: policy-title;
}

.content-wrap .policy-title{
	position: relative;
	margin-top: 20px;
	font-family: 'PretendardSB';
	font-size: 15px;
	color: #222;
	padding-left: 16px;
	margin-bottom: 10px;
}
.content-wrap .policy-title:before {
    counter-increment: policy-title 1;
    content: counter(policy-title) ". ";
    position: absolute;
    left: 0;
    top: 0;
    line-height: inherit;
}

.content-wrap .list-decimal table{
	width: 100%;
	margin: 20px 0;
}
.content-wrap .list-decimal table tr{
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}
.content-wrap .list-decimal table th{
	padding: 5px 10px;
	color: #222;
}
.content-wrap .list-decimal table td{
	padding: 5px;
}

.content-wrap .list-decimal {
    counter-reset: list-decimal;
	margin-left: 10px;
}

.content-wrap .list-decimal > li:before{
	counter-increment: list-decimal 1;
    content: counter(list-decimal) ". ";
    line-height: inherit;
}

.content-wrap .list-hyphen > li:before{
	content: "-";
    margin-right: 0.3em;
    line-height: inherit;
}
.content-wrap .list-circle-decimal {
    counter-reset: policy-circle-decimal;
    padding: 5px 0 5px 10px;
}
.content-wrap .list-circle-decimal > li {
    position: relative;
    padding-left: 1.33333em;
}
.content-wrap .list-circle-decimal > li:before {
    counter-increment: policy-circle-decimal 1;
    content: counter(policy-circle-decimal) " ";
    position: absolute;
	left: 0.4px;
    top: 3.2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: 10px;
    line-height: 13px;
}
.content-wrap .list-circle-decimal > li:after {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #888;
}
.content-wrap .list-triangle > li {
    position: relative;
    padding-top: 1.28571rem;
}

.content-wrap .list-triangle > li:before {
    content: "▶";
	margin-right: 5px;
    line-height: inherit;
    font-size: 0.8em;
}


.content-wrap .ags_content-title{
	position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}