@charset "UTF-8";


@font-face {
  font-family: 'Labdigital';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
	font-family: 'PretendardBL';
	font-display: swap;
	src: local('Pretendard Black'), 
  url('../font/Pretendard-Black.woff2') format('woff2'), 
	url('../font/Pretendard-Black.woff') format('woff'),  
  url('../font/Pretendard-Black.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardEB';
	font-display: swap;
	src: local('Pretendard ExtraBold'), 
	url('../font/Pretendard-ExtraBold.woff2') format('woff2'), 
	url('../font/Pretendard-ExtraBold.woff') format('woff'), 
	url('../font/Pretendard-ExtraBold.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardB';
	font-display: swap;
	src: local('Pretendard Bold'), 
	url('../font/Pretendard-Bold.woff2') format('woff2'), 
	url('../font/Pretendard-Bold.woff') format('woff'), 
	url('../font/Pretendard-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardSB';
	font-display: swap;
	src: local('Pretendard SemiBold'), 
	url('../font/Pretendard-SemiBold.woff2') format('woff2'), 
	url('../font/Pretendard-SemiBold.woff') format('woff'), 
	url('../font/Pretendard-SemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardM';
	font-display: swap;
	src: local('Pretendard Medium'), 
	url('../font/Pretendard-Medium.woff2') format('woff2'), 
	url('../font/Pretendard-Medium.woff') format('woff'), 
	url('../font/Pretendard-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardR';
	font-display: swap;
	src: local('Pretendard Regular'), 
	url('../font/Pretendard-Regular.woff2') format('woff2'), 
	url('../font/Pretendard-Regular.woff') format('woff'), 
	url('../font/Pretendard-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardL';
	font-display: swap;
	src: local('Pretendard Light'), 
	url('../font/Pretendard-Light.woff2') format('woff2'), 
	url('../font/Pretendard-Light.woff') format('woff'), 
	url('../font/Pretendard-Light.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardEL';
	font-display: swap;
	src: local('Pretendard ExtraLight'), 
	url('../font/Pretendard-ExtraLight.woff2') format('woff2'), 
	url('../font/Pretendard-ExtraLight.woff') format('woff'), 
	url('../font/Pretendard-ExtraLight.otf') format('opentype');
}

@font-face {
	font-family: 'PretendardT';
	font-display: swap;
	src: local('Pretendard Thin'), 
	url('../font/Pretendard-Thin.woff2') format('woff2'), 
	url('../font/Pretendard-Thin.woff') format('woff'), 
	url('../font/Pretendard-Thin.otf') format('opentype');
}


:lang(en) {  font-family: 'PretendardM', 'sans-serif';}


@font-face {
	font-family: 'NotoSansL';
	src: url('../font/NotoSans-Light.eot'); /* IE9+ Compat Modes */
	src: url('../font/NotoSans-Light.woff2') format('woff2'), /* Super Modern Browser */
         url('../font/NotoSans-Light.woff') format('woff'), /* Modern Browser */
         url('../font/NotoSans-Light.otf') format('opentype'); /* Android, iOS, Safari */
}
@font-face {
	font-family: 'NotoSansDL';
	src: url('../font/NotoSans-DemiLight.eot');
	src: url('../font/NotoSans-DemiLight.woff2') format('woff2'),
         url('../font/NotoSans-DemiLight.woff') format('woff'),
         url('../font/NotoSans-DemiLight.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansR';
  letter-spacing: -0.6;
	src: url('../font/NotoSans-Regular.eot');
	src: url('../font/NotoSans-Regular.woff2') format('woff2'),
         url('../font/NotoSans-Regular.woff') format('woff'),
         url('../font/NotoSans-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansM';
  letter-spacing: -0.6;
	src: url('../font/NotoSans-Medium.eot');
	src: url('../font/NotoSans-Medium.woff2') format('woff2'),
         url('../font/NotoSans-Medium.woff') format('woff'),
         url('../font/NotoSans-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'NotoSansB';
  letter-spacing: -0.6;
	src: url('../font/NotoSans-Bold.eot');
	src: url('../font/NotoSans-Bold.woff2') format('woff2'),
         url('../font/NotoSans-Bold.woff') format('woff'),
         url('../font/NotoSans-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'RobotoL';
	src: url('../font/Roboto-Light.eot');
	src: url('../font/Roboto-Light.woff2') format('woff2'),
         url('../font/Roboto-Light.woff') format('woff'),
         url('../font/Roboto-Light.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoR';
	src: url('../font/Roboto-Regular.eot');
	src: url('../font/Roboto-Regular.woff2') format('woff2'),
         url('../font/Roboto-Regular.woff') format('woff'),
         url('../font/Roboto-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoM';
	src: url('../font/Roboto-Medium.eot');
	src: url('../font/Roboto-Medium.woff2') format('woff2'),
         url('../font/Roboto-Medium.woff') format('woff'),
         url('../font/Roboto-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'RobotoB';
	src: url('../font/Roboto-Bold.eot');
	src: url('../font/Roboto-Bold.woff2') format('woff2'),
         url('../font/Roboto-Bold.woff') format('woff'),
         url('../font/Roboto-Bold.otf') format('opentype');
}


body,object,iframe,
h1,h2,h3,h4,h5,h6,div,span,p,blockquote,pre,abbr,acronym,address,cite,code,del,dfn,em,img,figure,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
form,fieldset,legend,a,textarea,input,select,option,button,label,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box;
	-webkit-appearance:none;appearance:none;-ms-appearance:none;-moz-appearance:none;resize:none;outline:0;
	-webkit-text-size-adjust:none;word-break:break-all;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;
}

/* HTML5 display-role reset for older browsers */


article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'PretendardM';
  color: #666;
  font-size: 14px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus {
  outline: none;
}

ol, ul, li {
  list-style: none;
}

hr {
  display: none;
}

a, button, input[type='button'] {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}

*:focus {
  outline: none;
}

/* color variation */
/* style variation */
/* function */
/* mixin */

/* alert common style */
/* 규정 및 약관 아코디언 */

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* common */
.pdb40{
  padding-bottom: 40px;
}