/* 티웨이 항공 */

/*부가서비스 구매 > 좌석지정*/
[data-page-id='buy__seat'] {
  overflow: hidden;
  width: 100%;
  /* 좌석 범례 */
  /* 좌석 선택 */
}

[data-page-id='buy__seat'] .tab-panel {
  padding-top: 13.78571rem;
}

[data-page-id='buy__seat'] .seat-legend {
  z-index: 0;
  position: absolute;
  top: 7.64286rem;
  left: 0;
  right: 0;
  overflow: auto;
  width: 100%;
  height: 6.14286rem;
  /* 탭 활성화 상태에서의 좌석 범례 */
}

[data-page-id='buy__seat'] .seat-legend:after {
  z-index: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  border-bottom: 1px solid #f0f0f0;
}

[data-page-id='buy__seat'] .seat-legend ul {
  z-index: 1;
  display: table;
}

[data-page-id='buy__seat'] .seat-legend ul:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='buy__seat'] .seat-legend li {
  font-family: NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.85714rem;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.03em;
  z-index: 1;
  position: relative;
  display: table-cell;
  padding: 2.71429rem 1.14286rem 1.14286rem;
  white-space: nowrap;
}

[data-page-id='buy__seat'] .seat-legend li .digits {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.85714rem;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.03em;
  display: block;
  padding-top: 0.57143rem;
}

[data-page-id='buy__seat'] .seat-legend li .digits:before {
  content: "￦";
  font-size: 0.78571rem;
  color: #000;
  font-weight: 800;
}

[data-page-id='buy__seat'] .seat-legend li:before {
  content: "";
  position: absolute;
  left: 1.14286rem;
  top: 1.14286rem;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 5px 5px 2px 2px;
  border: 0.14286rem solid;
}

[data-page-id='buy__seat'] .seat-legend li.seat-type1:before {
  border-color: #FF4F24;
}

[data-page-id='buy__seat'] .seat-legend li.seat-type2:before {
  border-color: #2A2167;
}

[data-page-id='buy__seat'] .seat-legend li.seat-type3:before {
  border-color: #8BC4AA;
}

[data-page-id='buy__seat'] .seat-legend li.seat-type4:before {
  border-color: #AAC8E4;
}

[data-page-id='buy__seat'] .seat-legend li.seat-disabled:before {
  border-color: #E4E4E4;
  background-image: url("../img/buy/ico_seat-legend_seat-disabled.png");
  background-repeat: no-repeat;
  background-size: 0.42857rem 0.42857rem;
  background-position: 50% 50%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  [data-page-id='buy__seat'] .seat-legend li.seat-disabled:before {
    background-image: url("../img/buy/ico_seat-legend_seat-disabled@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  [data-page-id='buy__seat'] .seat-legend li.seat-disabled:before {
    background-image: url("../img/buy/ico_seat-legend_seat-disabled@3x.png");
  }
}

[data-page-id='buy__seat'] .seat-legend a {
  transition: all 0.5s;
  transition-delay: 0.2s;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin-bottom: -1px;
  text-indent: -999em;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #f0f0f0;
}

[data-page-id='buy__seat'] .seat-legend li.active a {
  border-color: #000 !important;
}

.ui-fixed [data-page-id='buy__seat'] .tab-panel.active .seat-legend {
  z-index: 10;
  position: fixed;
  top: 7.64286rem;
  left: 0;
  right: 0;
  background-color: #ffffff;
}

[data-page-id='buy__seat'] .approach-comment {
  font-family: NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.78571rem;
  font-weight: 600;
  color: #FF4F24;
  letter-spacing: -0.03em;
  padding: 1.78571rem 0 3.42857rem;
  text-align: center;
}

[data-page-id='buy__seat'] .approach-comment p {
  display: inline-block;
  padding: 0 1.09091em;
  width: auto;
  height: 18px;
  border: 1px solid #FF4F24;
  border-radius: 0.64286rem;
}

[data-page-id='buy__seat'] .approach-comment p:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

[data-page-id='buy__seat'] .seat-sheet {
  position: relative;
}

[data-page-id='buy__seat'] .seat-sheet .seat-code,
[data-page-id='buy__seat'] .seat-sheet .seat-num {
  margin: 0 auto;
  width: 21rem;
}

[data-page-id='buy__seat'] .seat-sheet.B73780001 {
  min-height: 67.5rem;
}

[data-page-id='buy__seat'] .seat-sheet.B73780001:before {
  content: "";
  background-image: url("../img/buy/bg_B73780001_seat-left.png");
  background-repeat: no-repeat;
  background-size: 2.85714rem 67.5rem;
  display: inline-block;
  width: 2.85714rem;
  height: 67.5rem;
  position: absolute;
  left: 0;
  top: 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  [data-page-id='buy__seat'] .seat-sheet.B73780001:before {
    background-image: url("../img/buy/bg_B73780001_seat-left@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  [data-page-id='buy__seat'] .seat-sheet.B73780001:before {
    background-image: url("../img/buy/bg_B73780001_seat-left@3x.png");
  }
}

[data-page-id='buy__seat'] .seat-sheet.B73780001:after {
  content: "";
  background-image: url("../img/buy/bg_B73780001_seat-right.png");
  background-repeat: no-repeat;
  background-size: 2.85714rem 67.5rem;
  display: inline-block;
  width: 2.85714rem;
  height: 67.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  [data-page-id='buy__seat'] .seat-sheet.B73780001:after {
    background-image: url("../img/buy/bg_B73780001_seat-right@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  [data-page-id='buy__seat'] .seat-sheet.B73780001:after {
    background-image: url("../img/buy/bg_B73780001_seat-right@3x.png");
  }
}

[data-page-id='buy__seat'] .seat-sheet.B73780001 li:nth-of-type(3) .seat-type1 {
  margin-top: -0.57143rem;
}

[data-page-id='buy__seat'] .seat-sheet.B73780001 li:nth-of-type(3) .seat-disabled-lg {
  margin-top: -0.57143rem;
}

[data-page-id='buy__seat'] .seat-code {
  position: absolute;
  top: 8.57143rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: table;
  table-layout: fixed;
  width: 100%;
}

[data-page-id='buy__seat'] .seat-code span {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.85714rem;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.03em;
  display: table-cell;
  text-align: center;
}

[data-page-id='buy__seat'] .seat-num {
  padding: 3.78571rem 0 3.14286rem;
  /*비행기 행번호 수동입력용*/
  /*비행기 행번호 자동 입력용*/
}

[data-page-id='buy__seat'] .seat-num li {
  position: relative;
  padding: 0.42857rem 0.28571rem;
}

[data-page-id='buy__seat'] .seat-num li:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='buy__seat'] .seat-num li > * {
  float: left;
}

[data-page-id='buy__seat'] .seat-num .row-num {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.85714rem;
  font-weight: 600;
  color: #aaa;
  letter-spacing: -0.03em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
}

[data-page-id='buy__seat'] .seat-num:not(.excluded-numbering) {
  counter-reset: seat-row-numbering;
}

[data-page-id='buy__seat'] .seat-num:not(.excluded-numbering) li:not(.exit-row) {
  counter-increment: seat-row-numbering;
}

[data-page-id='buy__seat'] .seat-num:not(.excluded-numbering) li:not(.exit-row):before {
  content: counter(seat-row-numbering);
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.85714rem;
  font-weight: 600;
  color: #aaa;
  letter-spacing: -0.03em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
}

[data-page-id='buy__seat'] .seat-num li.exit-row:first-child {
  margin-top: -3.78571rem;
}

[data-page-id='buy__seat'] .seat-num li.exit-row:first-child + li {
  margin-top: 3.07143rem;
}

[data-page-id='buy__seat'] .seat-num li.exit-row:first-of-type {
  padding: 0;
  height: 0.71429rem;
}

[data-page-id='buy__seat'] .seat-num .exit_left,
[data-page-id='buy__seat'] .seat-num .exit_right {
  margin: 0;
}

[data-page-id='buy__seat'] .seat-num .exit_left {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.78571rem;
  font-weight: 500;
  color: #aaa;
  letter-spacing: -0.03em;
}

[data-page-id='buy__seat'] .seat-num .exit_right {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.78571rem;
  font-weight: 500;
  color: #aaa;
  letter-spacing: -0.03em;
  float: right;
}

[data-page-id='buy__seat'] .seat-num .exit_left .ico,
[data-page-id='buy__seat'] .seat-num .exit_right .ico {
  display: inline-block;
  width: 12px;
  height: 6px;
  text-indent: -999em;
  border-style: solid;
  border-width: 3px 6px;
  vertical-align: middle;
}

[data-page-id='buy__seat'] .seat-num .exit_left .ico {
  margin: 0 0.28571rem 0 -6px;
  border-color: transparent #aaa transparent transparent;
}

[data-page-id='buy__seat'] .seat-num .exit_right .ico {
  margin: 0 -6px 0 0.28571rem;
  border-color: transparent transparent transparent #aaa;
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'] {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 0.92857rem;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -0.03em;
  overflow: hidden;
  margin: 0 0.42857rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: 2px solid;
  background-color: #ffffff;
  border-radius: 0.57143rem 0.57143rem 0.21429rem 0.21429rem;
  transition: 0.5s all;
  transition-delay: 0.2s;
  text-decoration: none;
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-']:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].active {
  color: #ffffff;
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-type1 {
  height: 2.57143rem !important;
  border-color: #FF4F24;
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-type1.active {
  background-color: #FF4F24;
  box-shadow: 0 4px 8px rgba(255, 79, 36, 0.5);
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-type2 {
  border-color: #2A2167;
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-type2.active {
  background-color: #2A2167;
  box-shadow: 0 4px 8px rgba(42, 33, 103, 0.5);
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-type3 {
  border-color: #8BC4AA;
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-type3.active {
  background-color: #8BC4AA;
  box-shadow: 0 4px 8px rgba(139, 196, 170, 0.5);
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-type4 {
  border-color: #AAC8E4;
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-type4.active {
  background-color: #AAC8E4;
  box-shadow: 0 4px 8px rgba(170, 200, 228, 0.5);
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'][class^='seat-disabled'] {
  border-color: #E4E4E4;
  background-image: url("../img/buy/ico_seat-disabled.png");
  background-repeat: no-repeat;
  background-size: 0.85714rem 0.85714rem;
  background-position: 50% 50%;
  text-indent: -999em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  [data-page-id='buy__seat'] .seat-num a[class^='seat-'][class^='seat-disabled'] {
    background-image: url("../img/buy/ico_seat-disabled@2x.png");
  }
}

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  [data-page-id='buy__seat'] .seat-num a[class^='seat-'][class^='seat-disabled'] {
    background-image: url("../img/buy/ico_seat-disabled@3x.png");
  }
}

[data-page-id='buy__seat'] .seat-num a[class^='seat-'].seat-disabled-lg {
  height: 2.57143rem !important;
}

[data-page-id='buy__seat'] .seat-num .hallway {
  margin: 0 0.64286rem;
  width: 2rem;
  height: 2rem;
}

[data-page-id='buy__seat'] .seat-num .empty {
  margin: 0 0.42857rem;
  width: 2rem;
  height: 2rem;
}