/* -------------------------------------------------------------------------------
    Layer popup
 ------------------------------------------------------------------------------- */
 .layer_popup {
  z-index: 900;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layer_popup.alert {
  z-index: 1000;
}

.layer_popup .dimmed {
  z-index: 910;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-indent: -9999px;
  background: #000;
  -ms-filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.layer_popup .wrapper_popup {
  z-index: 920;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.layer_popup.full .wrapper_popup {
  position: relative;
  top: 0;
  height: 100%;
}

.layer_popup.alert .wrapper_popup {
  top: 50%;
  left: 40px;
  right: 40px;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 10px;
}
.layer_popup.alert .wrapper_popup .popup_header {
  border-radius: 10px;
}

.layer_popup .wrapper_popup>div {
  width: 100%;
  background-color: #fff;
}

.layer_popup .wrapper_popup .popup_header {
  padding: 0 20px;
  height: 32px;
}

.layer_popup .wrapper_popup .popup_header .grp_title_popup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 45px;

}
.grp_title_popup h2{
  font-size: 17px;

}
.grp_title_popup .btn_close_popup{
  background: url(../img/common/ico_header-close@3x.png) no-repeat center /15px 15px;
  width: 13px;
  height: 13px;
  text-indent: -999em;
}

.layer_popup.full .wrapper_popup .popup_body {
  height: calc(100% - 52px);
}

.layer_popup.alert .wrapper_popup .popup_body {
  height: 100%;
  padding: 0;
  border-radius: 10px;
}

.layer_popup.full .wrapper_popup .popup_body .popup_content {
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.layer_popup.full .wrapper_popup .popup_body .popup_content.fix_btn {
  height: calc(100% - 64px);
}

.layer_popup.alert .wrapper_popup .popup_body .popup_content {
  padding: 0px 24px;
  min-height: 50px;
  text-align: center;
}

.layer_popup .wrapper_popup .grp_button_bottom {
  width: 100%;
}

.layer_popup .popup_txt1 {
  padding: 15px 0 10px 20px;
  color: #999;
  font-size: 12px;
}

.layer_popup .pay_way.type1 {
  padding: 8px 23px 10px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.layer_popup .popup_con2 {
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  width: 294px;
}

.layer_popup .pay_group {
  padding: 20px 23px;
  font-size: 13px;
}
.layer_popup .pay_group li {
  padding: 8px 0;
}

.layer_popup .pay_group .pay_group_s {
  width: 90px;
}

.layer_popup .pay_turn{
  font-size: 13px;
  padding-left: 13px;
  background: url(../img/common/path_x3.png) no-repeat left / 10px 10px;
  
}




/*좌석 이미지 클릭 코드*/
.layer_popup .seat_num{
  padding: 10px;
}

.layer_popup .seat_num li{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.layer_popup .seat_num li a{  
  width: 36px;
  height: 36px;
  text-align: center;
  clip-path: polygon(12% 0, 88% 0, 100% 14%, 100% 100%, 0 100%, 0 14%);
  background-color: #ff6600;  
  border-bottom: 5px solid #CE3802;
  opacity: 40%;
  font-size: 13px;
  color: #fff;
  line-height: 38px;
  letter-spacing: -0.6px;
  display: inline-block;
}

.layer_popup .seat_num li a.seat_active{ 
  opacity: 100%;
  color: #ff6600;
  line-height: 48px;
  font-size: 11px;
  background: url(../img/common/people_x3.png) no-repeat center / 25px 25px;
  background-position: 6px 5px;
  background-color: #ff6600;  
  transition: 0.2s all;
}
.layer_popup .seat_num li a.seat_active::after{
  border: 2px solid #ff6600;
}


.layer_popup .seat_num .hallway{
  width: 36px;
  border-bottom: 0;
  font-size: 13px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0;
  color: #111;
}


.layer_popup .pay_group_s a{
  text-align: right;
  color: #08A7E1;
}

.layer_popup .seat_num .a1-1{position: relative;}
.layer_popup .seat_num .a1-1::before {
  position: absolute;
  top: -4px;
  left: -4px;
  content: "";
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #ff6600;
}


.layer_popup .pay_pay{
  background-color: #000;
}

/* 팝업 라인 나누기*/
.layer_popup .seat_num .line_b{
  padding-bottom: 10px;
  background: url(../img/common/line_b_x3.png) no-repeat bottom / 375px 3.8px;

}


/*ex_pop 팝업들*/
.ex_pop{
  padding: 50px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ex_pop div{
padding: 10px;
}


.layer_popup.alert .pay_ex{
  width: 100%;
  height: 50px;
  display: flex;  
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
.layer_popup.alert .pay_ex .pay_ex_btn1 {
  width: 50%;
  height: 50px;
  background:#F2F2F2;
  border-radius: 0 0 0 10px;
  line-height: 50px;
}
.layer_popup.alert .pay_ex .pay_ex_go{
  
  font-size: 16px;
  font-family: 'NotoSansR';
  color: #999999;
}
.layer_popup.alert .pay_ex .pay_ex_turn{
  
  font-size: 16px;
  font-family: 'NotoSansR';
  color: #fff;
}
.layer_popup.alert .pay_ex .pay_ex_btn2 {
  width: 50%;
  height: 50px;
  background:#FE6845;
  border-radius: 0 0 10px 0;
  line-height: 50px;
}
.layer_popup.alert .pay_ex button {
  width: 100%;
  height: 100%;
}

#popup1 .smile_boximg ul{
  padding: 0 0 10px 0;
}

#popup1 .smile_boximg ul::before{
  height: 15px;
}

#popup1 .smile_boximg ul::after{
  height: 15px;
}

#popup1 .smile_boximg ul li{
  background: url(../img/svg/emo_01.svg) no-repeat center / 22px 22px;
  margin-right: 2px;
  width: 22px;
  height: 22px;
  margin: 0 3px;
}
#popup1 .popup_con_txt{
  display: flex;
  flex-direction: column;
  left: 50px;
  margin: 0 auto;
  width: 160px;
  padding-bottom: 10px;  
}
#popup1 .popup_con_txt span{
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  padding: 0 0 10px 20px;
}

#popup1 .popup_con_txt span:first-child{
  color: #444;
  background: url(../img/common/pathv_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}
#popup1 .popup_con_txt span:last-child{
  background: url(../img/common/waring_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}
#popup1 .wrapper_popup .popup_header .grp_title_popup{
  
  justify-content: space-between
}

#popup11 .smile_boximg ul{
  padding: 0 0 10px 0;
}

#popup11 .smile_boximg ul::before{
  height: 15px;
}

#popup11 .smile_boximg ul::after{
  height: 15px;
}

#popup11 .smile_boximg ul li{
  background: url(../img/svg/emo_01.svg) no-repeat center / 22px 22px;
  margin-right: 2px;
  width: 22px;
  height: 22px;
  margin: 0 3px;
}
#popup11 .popup_con_txt{
  display: flex;
  flex-direction: column;
  left: 50px;
  margin: 0 auto;
  width: 160px;
  padding-bottom: 10px;  
}
#popup11 .popup_con_txt span{
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  padding: 0 0 10px 20px;
}

#popup11.popup_con_txt span:first-child{
  color: #444;
  background: url(../img/common/pathv_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}
#popup11 .popup_con_txt span:last-child{
  background: url(../img/common/waring_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}




#popup2 .popup_body .popup_content{
  padding: 30px 24px 50px;
}

#popup2 .popup_body .popup_con_txt{
  width: 100%;
  font-size: 15px;
  color:#444444;
}

#popup3 .popup_body .popup_con_txt{
  width: 100%;
  font-size: 15px;
  color:#444444;
  padding: 0 0 50px 0;
}

#popup4 .popup_header {
  height: 40px
}

#popup4 .smile_boximg ul{
  padding: 0 0 10px 0;
}

#popup4 .smile_boximg ul::before{
  height: 15px;
}

#popup4 .smile_boximg ul::after{
  height: 15px;
}

#popup4 .smile_boximg ul li{
  background: url(../img/common/seat_smile.png) no-repeat center / 20px 20px;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
#popup4 .popup_con_txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 160px;
  padding-bottom: 10px;  
  margin-left: 40px;
  padding-top: 10px;
}
#popup4 .popup_con_txt span{
  font-size: 15px;
  padding: 0 0 20px 20px;
  color: #444;
}

#popup4 .popup_con_txt span:first-child{
  color: #444;
  background: url(../img/common/pathv_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}
#popup4 .popup_con_txt span:last-child{
  width: 200px;
}



#popup5 .smile_boximg ul{
  padding: 0 0 10px 0;
}

#popup5 .smile_boximg ul::before{
  height: 15px;
}

#popup5 .smile_boximg ul::after{
  height: 15px;
}

#popup5 .smile_boximg ul li{
  background: url(../img/svg/emo_01.svg) no-repeat center / 22px 22px;
  margin-right: 2px;
  width: 22px;
  height: 22px;
  margin: 0 3px;
}
#popup5 .popup_con_txt{
  display: flex;
  flex-direction: column;
  left: 50px;
  margin: 0 auto;
  width: 160px;
  padding-bottom: 10px;  
}
#popup5 .popup_con_txt span{
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
  padding: 0 0 10px 20px;
}

#popup5 .popup_con_txt span:last-child{
  color: #444;
  background: url(../img/common/pathv_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}
#popup5 .popup_con_txt span:first-child{
  background: url(../img/common/waring_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}


#popup6 .popup_content div:nth-child(1){
  padding-top: 10px;
}

#popup6 .smile_boximg ul{
  padding: 15px 0 10px 0;
}

#popup6 .smile_boximg ul::before{
  height: 15px;
}

#popup6 .smile_boximg ul::after{
  height: 15px;
}

#popup6 .smile_boximg ul li{
  background: url(../img/svg/emo_01.svg) no-repeat center / 22px 22px;
  margin-right: 2px;
  width: 22px;
  height: 22px;
  margin: 0 3px;
}
#popup6 .popup_con_txt{
  display: flex;
  flex-direction: column;
  left: 50px;
  margin: 0 auto;
  width: 160px;
  padding-bottom: 10px;  
}
#popup6 .popup_con_txt span{
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
  padding: 0 0 10px 20px;
}

#popup6 .popup_con_txt span:last-child{
  color: #444;
  background: url(../img/common/pathv_x3.png) no-repeat left / 13px 10px;
  background-position: 0 3px;
}
#popup6 .popup_con_txt span:first-child{
  color: #444;
  background: url(../img/common/pathv_x3.png) no-repeat left / 13px 10px;
  background-position: 0 3px;
}

#popup6 .pay_exr{
  width: 100%;
  height: 50px;
  display: flex;  
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
#popup6 .pay_exr .pay_exr_btn{
    width: 100%;
  height: 50px;
  background:#FE6845;
  border-radius: 0 0 10px 10px;
  line-height: 50px;
  text-align: center;
}

#popup6 .pay_exr .pay_exr_pay{
  
  font-size: 16px;
  font-family: 'NotoSansR';
  color: #fff;
}

#popup7 .popup_con_txt{
  padding-bottom: 30px;
  font-size: 15px;
  color: #444;
  font-family: 'NotoSansM';
}

#popup7 .popup_con_txt ul li:nth-child(1){
  color: #08a7e1;
  font-size: 17px;
  background: url(../img/common/circle_blue.gif) no-repeat left top -2px / 24px 24px;
  height: 25px;
  padding-left: 28px;
  margin: 0 auto;
  display: inline-block;
}

#popup7 .popup_con_txt ul li:nth-child(2){
  padding: 20px 0 20px 0;
  line-height: 20px;
}

#popup7 .popup_con_txt ul li:nth-child(2) span{
  color: #08a7e1;
}
#popup7 .popup_con_txt ul li:nth-child(3){
  padding-bottom: 35px;
}
/* 닫기 버튼
#popup7 .popup_con_txt ul li:nth-child(4){
  color: #08a7e1;
  margin: 0 auto;
  padding: 10px 20px;
  width: 180px;
  height: 42px;
  border-radius: 5px;
  border: 1px solid #08a7e1;
}
*/

#popup8 .popup_con_txt{
  padding-bottom: 40px;
  font-size: 15px;
  color: #444;
  font-family: 'NotoSansM';
}

#popup8 .card_box1{
	padding: 15px 20px 15px 20px;
	width: 100%;	
	border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  flex-direction: column;

}
#popup8 .card_box1 div{
	font-size: 11px;
  color: #666;
  vertical-align: center;
  display: flex;
  align-items: center;
}

#popup8 .card_box1 div span:first-child {
  display: inline-block;
  color: #222;
  font-size: 17px;
  
}

#popup8 .card_box1 div span:nth-child(2) {
	background: url(../img/common/ico_airplane.png) no-repeat center right / 11px 11px;
  padding: 0 17px 0px 10px;
}

#popup8 .card_box1 div:nth-child(2) {
  padding-top: 10px;  
}

#popup8 .popup_con_txt .card_box1_1{
  padding-top: 35px;
  font-size: 15px;
  
  color: #222;

}


#popup9 .popup_con_txt{
  margin: 0 auto;
  padding-bottom: 25px;
}

#popup9 .smile_boximg ul{
  padding: 15px 0 10px 0;
}

#popup9 .smile_boximg ul::before{
  height: 15px;
}

#popup9 .smile_boximg ul::after{
  height: 15px;
}

#popup9 .smile_boximg ul li{
  background: url(../img/svg/emo_01.svg) no-repeat center / 22px 22px;
  margin-right: 2px;
  width: 22px;
  height: 22px;
  margin: 0 2px;
}
#popup9 .popup_con_txt{
  margin: 0 auto;
}

#popup9 .smile_boximg span:first-child{
  color: #444;
  font-size: 15px;
  background: url(../img/common/pathv_x3.png) no-repeat left / 12px 9px;
  background-position: 15px 8px;
  padding-left: 30px;
}

#popup9 .pay_exr{
  width: 100%;
  height: 50px;
  display: flex;  
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
#popup9 .pay_exr .pay_exr_btn{
  width: 100%;
  height: 50px;
  background:#FE6845;
  border-radius: 0 0 10px 10px;
  line-height: 50px;
  text-align: center;
}

#popup9 .pay_exr .pay_exr_pay{
  
  font-size: 16px;
  font-family: 'NotoSansR';
  color: #fff;
}


#popup10 .popup_content{
  padding: 15px 0 0 0;
}

#popup10 .pay_pay_bg{
	width: 100%;
	height: 130px;
	background-color: #000;
	padding: 15px 20px 15px 20px;
	font-family: 'NotoSansL';
	font-size: 12px;
	background: url(../img/common/photo_01.png) no-repeat center / 375px 130px;
}


#popup10 .pay_pay_bg .pay_bg_ai{
	padding: 5px 0 5px 25px;
	background: url(../img/common/ico_header-ai@3x.png) no-repeat left / 20px 18px;
	font-family: 'NotoSansM';
	font-size: 15px;
}

#popup10 .pay_pay_bg .pay_txt_v1{
	display: flex;
	align-items: center;
	font-family: 'Labdigital';
	font-size: 24px;
}

#popup10 .pay_pay_bg .pay_txt_v1 span:last-child{
	font-family: 'NotoSansL';
	padding-left: 5px;
	font-size: 12px;
}

#popup10 .pay_pay_bg li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4px 0;
	color: #fff;
}



#popup10 .grp_title_popup{
  justify-content:space-between;
  font-size: 15px;
}

#popup10 .pay_exr{
  width: 100%;
  height: 50px;
  display: flex;  
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
#popup10 .pay_exr .pay_exr_btn{
  width: 100%;
  height: 50px;
  background:#FE6845;
  border-radius: 0 0 10px 10px;
  line-height: 50px;
  text-align: center;
}

#popup10 .pay_exr .pay_exr_pay{
  
  font-size: 16px;
  font-family: 'NotoSansR';
  color: #fff;
}















/*크기에 따라서 화면구성*/

@media (max-width: 376px) {


}

@media (max-width: 321px) {

  #popup7 .popup_con_txt{
    font-size: 13px;
  }
  #popup7 .popup_con_txt ul li:nth-child(1){
    background-position: 7px -3px;
  }

}