/* -------------------------------------------------------------------------------
    Layer popup
 ------------------------------------------------------------------------------- */
 .layer_popup {
  z-index: 900;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layer_popup.alert {
  z-index: 1000;
}

.layer_popup .dimmed {
  z-index: 910;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-indent: -9999px;
  background: #000;
  -ms-filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.layer_popup .wrapper_popup {
  z-index: 920;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.layer_popup.full .wrapper_popup {
  position: relative;
  top: 0;
  height: 100%;
}

.layer_popup.alert .wrapper_popup {
  top: 50%;
  left: 40px;
  right: 40px;
  width: auto;
  height: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  border-radius: 10px;
}
.layer_popup.alert .wrapper_popup .popup_header {
  border-radius: 10px;
}

.layer_popup .wrapper_popup>div {
  width: 100%;
  background-color: #fff;
}

.layer_popup .wrapper_popup .popup_header {
  padding: 0 24px;
  height: 52px;
}

.layer_popup .wrapper_popup .popup_header .grp_title_popup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

}
.grp_title_popup h2{
  font-size: 17px;
  font-weight: 800;

}
.grp_title_popup .btn_close_popup{
  background: url(../img/common/ico_header-close@3x.png) no-repeat center /15px 15px;
  width: 15px;
  height: 15px;
  text-indent: -999em;
}

.layer_popup.full .wrapper_popup .popup_body {
  height: calc(100% - 52px);
}

.layer_popup.alert .wrapper_popup .popup_body {
  height: 100%;
  padding: 0;
  border-radius: 10px;
}

.layer_popup.full .wrapper_popup .popup_body .popup_content {
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

.layer_popup.full .wrapper_popup .popup_body .popup_content.fix_btn {
  height: calc(100% - 64px);
}

.layer_popup.alert .wrapper_popup .popup_body .popup_content {
  padding: 0px 24px;
  min-height: 50px;
  text-align: center;
}

.layer_popup .wrapper_popup .grp_button_bottom {
  width: 100%;
}

.layer_popup .popup_txt1 {
  padding: 0 23px 10px;
  color: #999;
  font-size: 12px;
}

.layer_popup .pay_way.type1 {
  padding: 8px 23px 10px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
}

.layer_popup .pay_way.type1 .airname{
  background-position: 0px 7px;
}

.layer_popup .popup_con2 {
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  width: 294px;
}

.layer_popup .pay_group {
  padding: 20px 23px;
  font-size: 13px;
}
.layer_popup .pay_group li {
  padding: 8px 0;
}

.layer_popup .pay_group .pay_group_s {
  width: 90px;
}

.layer_popup .pay_turn{
  font-size: 13px;
  font-weight: 800;
  padding-left: 13px;
  background: url(../img/common/path_x3.png) no-repeat left / 10px 10px;
  
}




/*좌석 이미지 클릭 코드*/
.layer_popup .seat_num{
  padding: 10px;
}

.layer_popup .seat_num li{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.layer_popup .seat_num li a{  
  width: 36px;
  height: 36px;
  text-align: center;
  clip-path: polygon(12% 0, 88% 0, 100% 14%, 100% 100%, 0 100%, 0 14%);
  background-color: #ff6600;  
  border-bottom: 5px solid #CE3802;
  opacity: 40%;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  line-height: 38px;
  letter-spacing: -0.6px;
  display: inline-block;
}

.layer_popup .seat_num li a.seat_active{ 
  opacity: 100%;
  color: #ff6600;
  line-height: 48px;
  font-size: 11px;
  background: url(../img/common/people_x3.png) no-repeat center / 25px 25px;
  background-position: 6px 5px;
  background-color: #ff6600;  
  transition: 0.2s all;
}
.layer_popup .seat_num li a.seat_active::after{
  border: 2px solid #ff6600;
}


.layer_popup .seat_num .hallway{
  width: 36px;
  border-bottom: 0;
  font-size: 13px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0;
  color: #111;
}

.layer_popup .pay_group{
  font-weight: 700;
}

.layer_popup .pay_group_s a{
  color: #08A7E1;
}

.layer_popup .seat_num .a1-1{position: relative;}
.layer_popup .seat_num .a1-1::before {
  position: absolute;
  top: -4px;
  left: -4px;
  content: "";
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #ff6600;
}


.layer_popup .pay_pay{
  background-color: #000;
}

/* 팝업 라인 나누기*/
.layer_popup .seat_num .line_b{
  padding-bottom: 10px;
  background: url(../img/common/line_b_x3.png) no-repeat bottom / 375px 3.8px;

}


/*ex_pop 팝업들*/
.ex_pop{
  padding: 50px;
  background-color: #eee;
  display: flex;  
  justify-content: space-around;
  align-items: center;
}

.layer_popup.alert .wrapper_popup{
}

.layer_popup.alert .pay_ex{
  width: 100%;
  height: 50px;
  display: flex;  
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
.layer_popup.alert .pay_ex .pay_ex_btn1 {
  width: 50%;
  height: 50px;
  background:#F2F2F2;
  border-radius: 0 0 0 10px;
  line-height: 50px;
}
.layer_popup.alert .pay_ex .pay_ex_go{
  
  font-size: 16px;
  font-family: 'NotoSansR';
  color: #999999;
}
.layer_popup.alert .pay_ex .pay_ex_turn{
  
  font-size: 16px;
  font-family: 'NotoSansR';
  color: #fff;
}
.layer_popup.alert .pay_ex .pay_ex_btn2 {
  width: 50%;
  height: 50px;
  background:#FE6845;
  border-radius: 0 0 10px 0;
  line-height: 50px;
}
.layer_popup.alert .pay_ex button {
  width: 100%;
  height: 100%;
}

.layer_popup.alert .grp_title_popup{
  justify-content: flex-end !important;
}

.layer_popup.alert .smile_boximg ul{
  padding: 0 0 10px 0;
}

.layer_popup.alert .smile_boximg ul::before{
  height: 18px;
}

.layer_popup.alert .smile_boximg ul::after{
  height: 18px;
}

.layer_popup.alert .smile_boximg ul li{
  background: url(../img/common/seat_smile.png) no-repeat center / 23px 23px;
  margin-right: 2px;
  width: 23px;
  height: 23px;
  margin: 0 3px;
}
.layer_popup.alert .popup_con_txt{
  display: flex;
  flex-direction: column;
  left: 50px;
  margin: 0 auto;
  width: 160px;
  padding-bottom: 10px;  
}
.layer_popup.alert .popup_con_txt span{
  font-size: 16px;
  text-align: left;
  padding: 0 0 10px 20px;
}

.layer_popup.alert .popup_con_txt span:first-child{
  color: #444;
  background: url(../img/common/pathv_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}
.layer_popup.alert .popup_con_txt span:last-child{
  background: url(../img/common/waring_x3.png) no-repeat left / 14px 12px;
  background-position: 0 3px;
}