/*사이트 이름*/
html, body{
	max-width:100%;
	overflow-x: hidden;
}

.main_bg{
	width: 100%;
	height: 100vh;
	background: url("https://cdn.ags-aws.com/air/comm/sms/Bg.png") no-repeat top / 350px;
	overflow: hidden;
	background-color: #fff;
}

.main-menu{
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.locals{
	background-color: #fff;
}

.rolling-txt{
	position: relative;
	height: 15px;
	top: 74px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	text-align: center;
	overflow: hidden;
	display: block;
	line-height: 15px;
}

.rolling-txt span{
	display: block;
	text-align: center;
	transform: translateY(-0px);
	animation: rollin-txt 10s infinite;
}

.banjjack{	
	position: relative;
	width: 350px;
	margin: 0 auto;
	left: -17px;
}

.banjjack .circle_blue{
	position: relative;
	width: 17px;
	height: 17px;
	top: 82px;
	left: 47px;
	background: url("https://cdn.ags-aws.com/air/comm/sms/circle_blue.gif") no-repeat left / 17px 17px;
}

.banjjack .digi_right1 {
    position: absolute;
    top: 290px;
    left: 145px;
    z-index: 15;
    display: flex;
    align-items: center;
}
.banjjack .digi_right1 .load_right_a {
    padding: 0 11px;
    background: url("https://cdn.ags-aws.com/air/comm/sms/circle_blue.gif") no-repeat center / 20px 20px;
    width: 20px;
    height: 20px;
}
.banjjack .digi_right1 .load_right_b {
    padding: 0 2px;
    color: #fff;
    font-size: 12px;
    font-family: 'Labdigital';
}
.banjjack .digi_right2 {
    position: absolute;
    top: 330px;
    left: 192px;
    z-index: 15;
    display: flex;
    align-items: center;
}
.banjjack .digi_right2 .load_right_a {
    padding: 0 11px;
    background: url("https://cdn.ags-aws.com/air/comm/sms/circle_blue.gif") no-repeat center / 20px 20px;
    width: 20px;
    height: 20px;
}
.banjjack .digi_right2 .load_right_b {
    padding: 0 2px;
    color: #fff;
    font-size: 12px;
    font-family: 'Labdigital';
}
.banjjack .digi_right3 {
    position: absolute;
	top: 385px;
    left: 155px;
    z-index: 15;
    display: flex;
    align-items: center;
}
.banjjack .digi_right3 .load_right_a {
    padding: 0 11px;
    background: url("https://cdn.ags-aws.com/air/comm/sms/circle_blue.gif") no-repeat center / 20px 20px;
    width: 20px;
    height: 20px;
}
.banjjack .digi_right3 .load_right_b {
    padding: 0 2px;
    color: #fff;
    font-size: 12px;
    font-family: 'Labdigital';
}


.select_txt{
	border-radius: 24px;
	border: 1px solid #ccc;
	display: flex;
	width: 130px;
	height: 26px;
	margin: 5px 0 10px;
}
.select_txt .select_come{
	width: 50%;
	height: 24px;
	background: #fff;
	text-align: center;
	border-radius: 24px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PretendardM';

}
.select_txt .select_come.active {
	background: #666;
}
.select_txt .select_come.active button{
	color: #fff;
}
.select_txt .select_back{
	width: 50%;
	height: 24px;
	background: #fff;
	text-align: center;
	border-radius: 24px;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'PretendardM';
}

.select_txt .select_back.active{
	background: #666;

}
.select_txt .select_back.active button{
	color: #fff;
}

.foreigners{
}

.foreigners .names{
	display: flex;
	align-items: center;
	font-size: 13px;
}

.foreigners .names label{
	padding-bottom: 10px;
	width: 70px;
	text-align: center;
	color: #222;
}

.foreigners .names input:nth-child(2) {
	display: inline-block;
	width: 180px;
	height: 44px;
	border-radius: 3px;
	white-space: nowrap;
	font-family: 'PretendardM';
	color: #666;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	-webkit-appearance: none;
	margin-bottom: 10px;
	margin-right: 15px;
	padding-left: 10px;
	font-size: 13px;
}

.foreigners .names_v1{
	width: 350px;
	font-size: 13px;
	margin-left: 80px;
}

.foreigners .names_v1 input{
	display: inline-block;
	width: 180px;
	height: 44px;
	border-radius: 3px;
	white-space: nowrap;
	font-family: 'PretendardM';
	color: #666;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	-webkit-appearance: none;
	margin-bottom: 10px;
	padding-left: 10px;
	font-size: 13px;
}

.foreigners .phone_v1{
	display: flex;
	padding: 10px 0;
	align-items: center;
	width: 350px;
	font-size: 13px;
}

.foreigners .phone_v1 label{
	margin-right: 10px;
	width: 70px;
	text-align: center;
	color: #222;
}

.foreigners .phone_v1 span {
	width: 80px;
	height: 44px;
	background-color: #fAfAfA;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	margin-right: 4px;
	padding-left: 10px;
}

.foreigners .phone_v1 input[type='text'] {
	width: 180px;
	height: 44px;
	border-radius: 3px;
	white-space: nowrap;
	font-family: 'PretendardM';
	color: #666;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	-webkit-appearance: none;
	padding-left: 10px;
	font-size: 13px;
}

.menu_text_fo{
	display: flex;
	justify-content: left;
	flex-direction: column;
	padding: 20px 0px;
}

.menu_text_fo div:nth-child(1){
	font-size: 16px;
	color: #222;
	letter-spacing: -0.3px;
}

@keyframes rollin-txt {
	0% {
		transform: translateY(-0px);
	}
	20% {
		transform: translateY(-0px);
	}
	30% {
		transform: translateY(-15px);
	}
	40% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-30px);
}
	70% {
		transform: translateY(-15px);
	}
	80% {
		transform: translateY(-15px);
	}
	90% {
		transform: translateY(0px);
}
	100% {
		transform: translateY(0px);
	}
}

.menu_text{
	display: flex;
	justify-content: left;
	flex-direction: column;
	padding: 5px 0px 5px;
}

.menu_text div:nth-child(1){
	font-size: 18px;
	color: #222;

}

.menu_text div:nth-child(2){
	padding-top: 10px;
	font-size: 11px;
	color: #666;
	line-height: 14px;
}

.footer-pop{
	position: absolute;
	background-color: #fff;
	width: 350px;
	top: 76%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	border-top: 2px solid #eee;
	z-index: 100;
	padding: 20px;
	margin-bottom: 120px;
}

.names{
	display: flex;
	padding: 10px 0 0px;
	align-items: center;
	margin-bottom: 10px;
}
.names.up{
	display: flex;
	padding: 0px 0 10px;
	align-items: center;
}

.names label{
	margin-right: 10px;
	width: 70px;
	text-align: center;
	color: #222;
}
.sun{
	border: 1px solid #ddd;
	border-style: dashed;
	width: 85%;
	margin: 0 auto;
}

input::placeholder {
	color: #cccccc;
	font-size: 13px;
}

.names .inputs.koreans input:nth-child(1) {
	display: inline-block;
	width: 70px;
	height: 35px;
	border-radius: 3px; 
	white-space: nowrap;
	font-family: 'PretendardM';
	color: #666;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	-webkit-appearance: none;
	margin-right: 15px;
	padding-left: 10px;
	font-size: 15px;
}
.names .inputs.koreans input:nth-child(2) {
	display: inline-block;
	width: 135px;
	height: 35px;
	border-radius: 3px;
	white-space: nowrap;
	font-family: 'PretendardM';
	color: #666;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	-webkit-appearance: none;
	padding-left: 10px;
	font-size: 15px;
}
.names .inputs.nicknames input:nth-child(1) {
	display: inline-block;
	width: 223px;
	height: 44px;
	border-radius: 3px;
	white-space: nowrap;
	font-family: 'PretendardM';
	color: #666;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	-webkit-appearance: none;
	padding-left: 10px;
	font-size: 15px;
}


.border_red{
	border-color: #EE3D42 !important;
}

input[type="radio"] {
	accent-color: auto;
	transform: scale(1.2);
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

.inputs input {
	padding: 8px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #eee !important;
	pointer-events: none;
	transition: background-color 0.3s ease;
}

/* 초기 상태: 감자 선택 */
#korean:checked ~ .koreans input {
	background-color: #fff !important;
	pointer-events: auto;
}

#nickname:checked ~ .nicknames input {
	background-color: #fff !important;
	pointer-events: auto;
}

/*휴대폰번호*/

.phone{
	display: flex;
	align-items: center;
	padding: 15px 0px 10px;
}

.phone label{
	margin-right: 10px;
	width: 70px;
	text-align: center;
	color: #222;
}

.phone span {
	width: 80px;
	height: 44px;
	background-color: #fAfAfA;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	margin-right: 4px;
	padding-left: 10px;
}

.phone input[type='text'] {
	margin-left: 4px;
	width: 150px;
	height: 44px;
	border-radius: 3px;
	white-space: nowrap;
	font-family: 'PretendardM';
	color: #666;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	-webkit-appearance: none;
	padding-left: 10px;
	font-size: 15px;
}

.buttons{
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 15px;
    z-index: 700;
	background-color: #ff5000;
}

.buttons button{
	font-family: 'PretendardM';
	font-size: 15px;
}

.buttons_fo{
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 15px;
    z-index: 700;
	background-color: #ff5000;
}

.buttons_fo button{
	font-family: 'PretendardM';
	font-size: 15px;
}

/*팝업*/
.popups {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 902;
}

.popup_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 330px;
	height: 320px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around
}

.popup_content.h450 {
	height: 450px;
}

.popup_content.h370 {
	height: 370px;
}
.popup_content.h340 {
	height: 340px;
}

.popup_content_txt {
	text-align: center;
	font-size: 18px;
	color: #222;
	font-family: 'PretendardM';
	line-height: 22px;

}

.popup_txt_fon1{
	color: #222;
	font-size: 18px;
	font-family: 'PretendardSB';
}

.popup_txt_fon2{
	color: #555;
	font-size: 14px;
}
.popup_txt_fon3{
	color: #aaa;
	font-size: 12px;
	margin-bottom: 10px;
}
.popup_txt_fon4{
	color: #555;
	font-size: 12px;
	margin-bottom: 10px;
}
.popup_btn_fst{
	display: flex;
}

.popup_btn_com {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	background-color: #000;
	width: 160px;
	height: 50px;
	border-radius: 50px;
	color: #fff;
	margin: 20px 5px;
}

.popup_btn_com button{
	font-family: 'PretendardM';
	font-size: 15px;
	width: 100%;
	height: 100%;
}

.popup_btn_com.gray{
	background-color: #EEEEEE;
	color: #000;
}

.popup_img img{
	width: 36px;
	height: 36px;
	margin-bottom: 15px;
}

/*test_pop*/
.test_pop{
	margin-top: 20px;
}

.test_pop button{
	padding:5px;
}
.oror{
	position: relative;
	left: 43px;
	top: -5px;
	color: #ccc;

}

@media (max-width: 500px) {
	.main_bg{
		overflow: hidden;
		overflow-y: auto;
	}
	
	.main-menu{
		padding: none;
	}
	.footer-pop{
		width: 100%;
		height: 400px;
	}
}

@media (max-width: 375px) {

	.footer-pop{
		width: 100%;
		top: 67%;
	}
	.names .inputs.koreans input:nth-child(1) {
		width: 60px;
	}
}

@media (max-width: 321px) {
	.banjjack .circle_blue {
		position: relative;
		top: 82px;
		left: 34px;
		background: url("https://cdn.ags-aws.com/air/comm/sms/circle_blue.gif") no-repeat left / 17px 17px;
	}
	.footer-pop{
		width: 315px;
		top: 59%;
	}
	.names input:nth-child(3){
		width: 120px;
	}
	.phone{
		width: 315px;
	}
	.phone input[type='text']{
		width: 120px;
	}
	.phone span {
		width: 55px;
	}
	.buttons-fo{
		width: 200px;
	}
	.menu_text_fo div:nth-child(1){
		font-size: 15px;
		letter-spacing: -0.5px;
	}

	.names .inputs.koreans input:nth-child(1) {
		display: inline-block;
		width: 50px;
		height: 44px;
		margin-right: 10px;
		padding-left: 5px;
	}

	.names .inputs.koreans input:nth-child(2) {
		width: 110px;
		height: 44px;
	}

	.names .inputs.nicknames input:nth-child(1) {
		width: 175px;
	}
}


