@charset "UTF-8";

/* header */
.hd-logo__link {
    background: url('../../resource/img/img_hd-logo.png') 0 0 no-repeat;
}

.hd-util__link-sell {
    background: url('../../resource/img/img_airplane-yellow_23x18.png') 0 center no-repeat;
}

/* footer */
.ft-logo {
    background: url('../../resource/img/img_ft-logo.png') 0 0 no-repeat;
}