@charset "UTF-8";
/* Lato WebFont */
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Nanum Barun Gothic WebFont */
@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothicLight.eot');
    src: url('../fonts/NanumBarunGothicLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothicLight.woff2') format('woff2'),
    url('../fonts/NanumBarunGothicLight.woff') format('woff'),
    url('../fonts/NanumBarunGothicLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothic.eot');
    src: url('../fonts/NanumBarunGothic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothic.woff2') format('woff2'),
    url('../fonts/NanumBarunGothic.woff') format('woff'),
    url('../fonts/NanumBarunGothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url('../fonts/NanumBarunGothicBold.eot');
    src: url('../fonts/NanumBarunGothicBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NanumBarunGothicBold.woff2') format('woff2'),
    url('../fonts/NanumBarunGothicBold.woff') format('woff'),
    url('../fonts/NanumBarunGothicBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, address,
del, em, img, strong, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas,
details, embed, figure, figcaption,
footer, header, hgroup, main, menu,
nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html {
    -webkit-text-size-adjust: none;
}

main, article, aside, details,
figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    font-size: 0;
    list-style: none;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 0;
}

input, textarea, select, td, th {
    vertical-align: middle;
}

img {
    vertical-align: top;
    font-size: 0;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    text-decoration: none;
    color: #000;
    vertical-align: top;
    font-size: 0;
}

em, address {
    font-style: normal;
}

fieldset {
    border: 0;
    vertical-align: top;
}

button {
    display: inline-block;
    font-size: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

select::-ms-expand {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

select {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    outline: none;
}

input[type=checkbox], input[type=radio], input[type=text], input[type=password], input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

input[type=text]::-ms-clear {
    display: none;
}

legend, .blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

body, input, select, textarea, button, label, a, li, th, td, h1, h2, h3, h4, h5, h6, p {
    font-size: 12px;
    font-family: 'Nanum Barun Gothic', Nanum Barun Gothic, 'Lato-Regular', sans-serif;
    font-weight: 400;
}

::-webkit-input-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

::-moz-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

:-ms-input-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

:-moz-placeholder {
    font-size: 12px !important;
    color: #999 !important;
}

:lang(ko) {
    font-family: 'Nanum Barun Gothic', Nanum Barun Gothic, 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(en) {
    font-family: 'Lato-Regular', sans-serif;
    font-weight: 400;
}

:lang(zh) {
}

:lang(ja) {
}

.kill {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* button */
.arrow {
    position: relative;
    display: block;
    width: 60px;
    height: 13px;
    margin: 0 auto;
    background: #d60035;
    color: #fff;
}

.arrow:after {
    content: '';
    position: absolute;
    top: 4px;
    right: 5px;
    display: block;
    width: 16px;
    height: 4px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.arrow.white:after {
    background-position: 0 0;
}

.arrow.black:after {
    background-position: 0 -10px;
}

.arrow.txt {
    display: inline-block;
    width: 63px;
    height: 23px;
    line-height: 23px;
    padding-left: 25px;
}

.arrow.txt:after {
    top: 10px;
    right: 15px;
}

.arrow2 {
    position: relative;
    display: block;
    width: 43px;
    height: 13px;
    margin: 0 auto;
    background: #000;
}

.arrow2:after {
    content: '';
    height: 4px;
    width: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 5px;
    margin: -4px 0 0 0;
    border: 1px solid #fff;
    border-width: 0 1px 1px 0;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
}

.bt-more {
    font-family: 'Lato-Regular';
    position: absolute;
    top: 35px;
    right: 15px;
    color: #000;
    font-size: 12px !important;
}

.bt-more:after {
    content: '';
    margin-left: 5px;
    display: inline-block;
    width: 25px;
    height: 5px;
    background: url('../../asset/images/icons.png') -5px -20px no-repeat;
    background-size: 375px 375px;
}

.bt-more2 {
    position: relative;
    width: 145px;
    height: 35px;
    line-height: 35px;
    background: #d60035;
    color: #fff;
    font-size: 12px;
}

.bt-more2:after {
    content: '';
    margin: 15px 0 0 10px;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 4px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.bts {
    text-align: center;
}

.bt-full {
    display: inline-block;
    width: 145px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.bt-full.red {
    background: #d60035;
}

.bt-full.black {
    background: #000;
}

.bt-full.gray {
    background: #666;
}

.bt-full-ico {
    text-align: center;
    display: inline-block;
    width: 145px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-family: 'Lato-Bold';
}

.bt-full-ico.red {
    background: #c50233;
}

.more a {
    position: relative;
    padding: 30px 0;
    display: block;
    text-align: center;
    color: #000;
    font-family: 'Lato-Bold';
    letter-spacing: 2px;
}

.more em {
    position: relative;
    display: inline-block;
    margin-top: 2px;
    width: 9px;
    height: 9px;
    vertical-align: top;
}

.more em:before, .more em:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
}

.more em:before {
    width: 9px;
    height: 1px;
    background: #000;
    margin: 0 0 0 -4px;
}

.more em:after {
    height: 9px;
    width: 1px;
    background: #000;
    margin: -4px 0 0 0;
}

/* paging */
.paging {
    margin: 25px auto 0 auto;
    font-size: 0;
    text-align: center;
}

.paging a {
    position: relative;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    font-family: 'Lato-Bold';
    min-width: 24px;
    height: 21px;
    line-height: 21px;
    text-align: center;
}

.paging a:hover {
    color: #c50233;
    text-decoration: underline;
}

.paging .paging-control:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    width: 12px;
    height: 13px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.paging .paging-control.prev, .paging .paging-control.next {
    text-indent: -9999px;
}

.paging .paging-control.prev:before {

    background-position: -192px -62px;
}

.paging .paging-control.next:before {
    background-position: -213px -62px;
}

.paging .paging-num {
    background: none;
}

.paging .paging-num.selected {
    color: #c50233;
    text-decoration: underline;
}

.paging .paging-num:hover {
    color: #c50233;
    text-decoration: underline;
}

.paging2 {
    position: relative;
    border-top: 2px solid #000;
    text-align: center;
    padding: 20px 0 0 0;
}

.paging2 a {
    padding: 10px 0;
}

.paging2 a:before, .paging2 a:after {
    content: '';
    vertical-align: top;
    display: inline-block;
    background: url('../../asset/images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.paging2 .list {
    position: relative;
    display: inline-block;
    line-height: 100%;
    font-size: 13px;
    font-family: 'Lato-Bold';
}

.paging2 .list:before {
    margin: 0px 5px 0 0;
    width: 12px;
    height: 12px;
    background-position: -163px -62px;
}

.paging2 .control {
}

.paging2 .control a {
    position: absolute;
    top: 20px;
    font-size: 13px;
    font-family: 'Lato-Bold';
    line-height: 100%;
}

.paging2 .prev {
    left: 0;
}

.paging2 .prev:before {
    width: 12px;
    height: 13px;
    background-position: -192px -62px;
    margin-right: 5px;
}

.paging2 .next {
    right: 0;
}

.paging2 .next:after {
    width: 12px;
    height: 13px;
    background-position: -213px -62px;
    margin-left: 5px;
}

/* table */

.tb-list table {
    width: 100%;
    border-top: 2px solid #404040;
    border-bottom: 2px solid #404040;
}

.tb-list tbody td {
    text-align: center;
    border-top: 1px solid #191919;
    padding: 10px 0;
}

.tb-list tbody td .new {
    display: inline-block;
    width: 10px;
    height: 11px;
    background: url('../../asset/images/icons.png') 0 -166px no-repeat;
    background-size: 375px 375px;
}

.tb-utils {
    margin: 25px 0 35px 0;
    overflow: hidden;
}

.tb-utils .tit {
    display: block;
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}

.tb-utils .col {
    margin-top: 30px;
    text-align: center;
}

.tb-utils .col1 .bt-full {
    position: relative;
    font-family: 'Lato-Regular';
}

.tb-utils .col1 .bt-full:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background: url('../../asset/images/icons.png') -48px -117px no-repeat;
    background-size: 375px 375px;
}

.tb-utils .col2 .select {
    border: 1px solid #000;
    margin: 0 0 10px 0;
}

.tb-utils .col3 {
    position: relative;
}

.tb-utils .col3 .input {
    margin-right: 35px;
}

.tb-utils .col3 button {
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.tb-utils .col3 button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    width: 14px;
    height: 14px;
    background: url('../../asset/images/icons.png') -24px -139px no-repeat;
    background-size: 375px 375px;
}

.tb-view {
    border-top: 2px solid #404040;
}

.tb-view table {
    width: 100%;
}

.tb-view thead th {
    position: relative;
    border-bottom: 1px solid #000;
    text-align: left;
    padding: 15px 0;
}

.tb-view thead th .cate {
    font-size: 11px;
    font-family: 'Lato-Light';
}

.tb-view thead th .tit {
    margin: 0 55px 5px 0;
}

.tb-view thead th .date {
    font-size: 11px;
    font-family: 'Lato-Regular';
}

.tb-view thead th .sns {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.tb-view thead th .sns li {
    display: inline-block;
    margin-left: 15px;
}

.tb-view thead th .sns a {
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-size: 375px 375px;
}

.tb-view thead th .sns a.f {
    background-position: -73px -61px;
}

.tb-view thead th .sns a.t {
    background-position: -101px -61px;
}

.tb-view tbody td {
    padding: 15px 0;
    line-height: 150%;
}

.tb-view tbody td .file {
    overflow: hidden;
    margin-bottom: 5px;
}

.tb-view tbody td .file a {
    position: relative;
    padding: 10px 0;
    display: inline-block;
    overflow: hidden;
}

.tb-view tbody td .file a:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../../asset/images/icons.png') -25px -166px no-repeat;
    background-size: 375px 375px;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px;
}

.tb-view tbody td .txts {
    line-height: 150%;
}

/* tab */
.tabs {
    margin: 0 auto;
    padding: 0 15px;
}

.tabs li {
    display: inline-block;
    vertical-align: top;
}

.tabs.t2 li {
    width: 50%;
}

.tabs.t3 li {
    width: 33.33%;
}

.tabs.t4 li {
    width: 25%;
}

.tabs.t5 li {
    width: 20%;
}

.tabs span {
    position: relative;
    z-index: 1;
}

.tabs a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    text-align: center;
    background: #e8e9eb;
    font-size: 12px;
    font-family: 'Lato-Light';
    letter-spacing: -1px;
    line-height: 100%;
}

.tabs a:before {
    content: '';
    width: 1px;
    height: 11px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
}

.tabs a.selected {
    color: #fff;
}

.tabs a.selected span {
    padding-right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c50233;
}

.tabs a.selected span:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6px;
    height: 11px;
    background: url('../../asset/images/icons.png') no-repeat;
    background-size: 375px 375px;
    background-position: 0 -142px;
}

.tabs li:first-child a:before {
    display: none;
}

/* select */
.select {
    position: relative;
    display: block;
    border-bottom: 1px solid #bbb;
}

.select.inline {
    display: inline-block;
}

.select:after {
    content: '';
    height: 6px;
    width: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -4px 0 0 0;
    border: 1px solid #000;
    border-width: 0 1px 1px 0;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%;
}

.select select {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    font-size: 12px;
    background: transparent;
}

.select.error {
    border-color: #c50233;
}

.select.error select {
    color: #c50233;
    font-weight: bold;
}

.select.error:after {
    background-position: -220px -27px;
}

.select.active {
    border-color: #000;
}

.select.active select {
    color: #000;
    font-weight: bold;
}

/* input */
.error-msg {
    font-size: 11px;
    line-height: 150%;
    display: block;
    color: #c50233;
    padding-left: 5px;
    margin-top: 5px !important;
    clear: both;
}

.pass-msg {
    font-size: 11px;
    display: block;
    padding-left: 5px;
    margin-top: 5px !important;
}

.input {
    position: relative;
    display: block;
    border-bottom: 1px solid #bbb;
}

.input.inline {
    display: inline-block;
}

.input input {
    width: 100%;
    height: 30px;
    text-indent: 5px;
    font-size: 12px;
}

.input.error {
    border-color: #c50233;
    font-weight: bold;
}

.input.error input {
    font-weight: bold;
    color: #c50233;
}

.input.pass {
    border-bottom: 2px solid #00b050;
}

.input.pass input {
    color: #000;
}

.input.active {
    border-color: #000;
    font-weight: bold;
}

.input.active input {
    font-weight: bold;
    color: #000;
}

.input-file {
    position: relative;
}

.input-file .input {
    margin-right: 65px !important;
}

.input-file button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    border: 1px solid #000;
}

.input-tips {
    font-weight: 300;
    font-size: 12px;
    margin-top: 15px;
    line-height: 150%;
}

/* select */
.textarea {
    position: relative;
    display: block;
    border: 1px solid #bbb;
    padding: 5px;
}

.textarea textarea {
    width: 100%;
    height: 50px;
    font-size: 12px;
}

/* checkbox */
.check {
    display: inline-block;
    margin: 5px;
}

.check input {
    opacity: 0;
    position: absolute;
}

.check input[type=checkbox] + label {
    position: relative;
    padding-left: 26px;
    color: #8a9093;
    font-size: 12px;
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px;
    font-family: 'Lato-Regular';
}

.check input[type=checkbox] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #9a9ea6;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.check input[type=checkbox]:checked + label {
    color: #000;
}

.check input[type=checkbox]:checked + label:before {
    border: 5px solid #c70e38;
}

/* radio */
.radio {
    display: inline-block;
    margin: 15px 0;
}

.radio input {
    opacity: 0;
    position: absolute;
}

.radio input[type=radio] + label {
    position: relative;
    padding-left: 26px;
    color: #222;
    font-size: 12px;
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px;
}

.radio input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bebebe;
    background: #fff;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.radio input[type=radio]:checked + label:before {
    border: 1px solid #c70e38;
    background: #c70e38;
}

.radio2 {
    display: inline-block;
    margin: 15px 0;
}

.radio2 input {
    opacity: 0;
    position: absolute;
}

.radio2 input[type=radio] + label {
    position: relative;
    padding-left: 26px;
    color: #8a9093;
    font-size: 14px;
    cursor: pointer;
    display: block;
    height: 16px;
}

.radio2 input[type=radio] + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 1px solid #555;
    width: 16px;
    height: 16px;
    line-height: 16px;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.radio2 input[type=radio]:checked + label {
    color: #fff;
}

.radio2 input[type=radio]:checked + label:before {
    border: 5px solid #c70e38;
}

.filter-check3 input {
    opacity: 0;
    position: absolute;
}

.filter-check3 input[type=checkbox] + label {
    cursor: pointer;
    position: relative;
    text-align: center;
    display: block;
    overflow: hidden;
    height: 65px;
    font-family: 'Lato-Regular';
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
}

.filter-check3 input[type=checkbox] + label em {
    display: block;
    margin-top: 45px;
    font-size: 10px;
    color: #6a6c6e;
    line-height: 100%;
    font-family: 'Lato-Regular';
}

.filter-check3 input[type=checkbox] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 65px;
}

.filter-check3 input[type=checkbox] + label:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    background: url('../../asset/images/icons3.png') no-repeat;
    background-size: 375px 375px;
}

.filter-check3 input[type=checkbox]:checked + label {
    cursor: pointer;
    font-family: 'Lato-Bold';
}

.filter-check3 input[type=checkbox]:checked + label em {
    color: #000;
    font-family: 'Lato-Bold';
}

.filter-check3.bf1 input[type=checkbox] + label:after {
    width: 25px;
    height: 31px;
    top: 8px;
    margin-left: -13px;
    background-position: -5px -104px;
}

.filter-check3.bf1 input[type=checkbox]:checked + label:after {
    background-position: -5px -147px;
}

.filter-check3.bf2 input[type=checkbox] + label:after {
    width: 38px;
    height: 28px;
    top: 10px;
    margin-left: -19px;
    background-position: -64px -105px;
}

.filter-check3.bf2 input[type=checkbox]:checked + label:after {
    background-position: -64px -148px;
}

.filter-check3.bf3 input[type=checkbox] + label:after {
    width: 37px;
    height: 30px;
    top: 8px;
    margin-left: -19px;
    background-position: -133px -104px;
}

.filter-check3.bf3 input[type=checkbox]:checked + label:after {
    background-position: -133px -147px;
}

.filter-check3.bf4 input[type=checkbox] + label:after {
    width: 23px;
    height: 31px;
    top: 8px;
    margin-left: -12px;
    background-position: -206px -104px;
}

.filter-check3.bf4 input[type=checkbox]:checked + label:after {
    background-position: -206px -147px;
}

.filter-check3.bf5 input[type=checkbox] + label:after {
    width: 28px;
    height: 33px;
    top: 7px;
    margin-left: -14px;
    background-position: -270px -103px;
}

.filter-check3.bf5 input[type=checkbox]:checked + label:after {
    background-position: -270px -146px;
}

.filter-check3.bf6 input[type=checkbox] + label:after {
    width: 34px;
    height: 35px;
    top: 6px;
    margin-left: -17px;
    background-position: 0 -196px;
}

.filter-check3.bf6 input[type=checkbox]:checked + label:after {
    background-position: 0 -239px;
}

.filter-check3.bf7 input[type=checkbox] + label:after {
    width: 39px;
    height: 27px;
    top: 9px;
    margin-left: -20px;
    background-position: -65px -200px;
}

.filter-check3.bf7 input[type=checkbox]:checked + label:after {
    background-position: -65px -243px;
}

.filter-check3.bf8 input[type=checkbox] + label:after {
    width: 30px;
    height: 30px;
    top: 8px;
    margin-left: -15px;
    background-position: -136px -198px;
}

.filter-check3.bf8 input[type=checkbox]:checked + label:after {
    background-position: -136px -241px;
}

.filter-check3.bf9 input[type=checkbox] + label:after {
    width: 32px;
    height: 32px;
    top: 7px;
    margin-left: -16px;
    background-position: -199px -197px;
}

.filter-check3.bf9 input[type=checkbox]:checked + label:after {
    background-position: -199px -240px;
}

.filter-check3.bf10 input[type=checkbox] + label:after {
    width: 46px;
    height: 25px;
    top: 10px;
    margin-left: -23px;
    background-position: -261px -200px;
}

.filter-check3.bf10 input[type=checkbox]:checked + label:after {
    background-position: -261px -243px;
}

.filter-check3.bf11 input[type=checkbox] + label:after {
    width: 22px;
    height: 37px;
    top: 4px;
    margin-left: -11px;
    background-position: -5px -287px;
}

.filter-check3.bf11 input[type=checkbox]:checked + label:after {
    background-position: -5px -330px;
}

.filter-check3.bf12 input[type=checkbox] + label:after {
    width: 27px;
    height: 26px;
    top: 9px;
    margin-left: -14px;
    background-position: -69px -293px;
}

.filter-check3.bf12 input[type=checkbox]:checked + label:after {
    background-position: -69px -336px;
}

.filter-check3.bf13 input[type=checkbox] + label:after {
    width: 39px;
    height: 32px;
    top: 7px;
    margin-left: -20px;
    background-position: -131px -289px;
}

.filter-check3.bf13 input[type=checkbox]:checked + label:after {
    background-position: -131px -332px;
}

.filter-check3.bf14 input[type=checkbox] + label:after {
    width: 32px;
    height: 28px;
    top: 9px;
    margin-left: -16px;
    background-position: -201px -291px;
}

.filter-check3.bf14 input[type=checkbox]:checked + label:after {
    background-position: -201px -334px;
}

.filter-check3.bf15 input[type=checkbox] + label:after {
    width: 24px;
    height: 30px;
    top: 8px;
    margin-left: -12px;
    background-position: -272px -291px;
}

.filter-check3.bf15 input[type=checkbox]:checked + label:after {
    background-position: -272px -334px;
}

.ico-spec {
    display: inline-block;
    margin: 0 5px 5px 0;
    text-indent: -9999px;
    height: 16px;
    background: url('../../asset/images/icons4.png') no-repeat;
    background-size: 83px 375px
}

.ico-spec.s1 {
    width: 15px;
    background-position: 0 0;
}

.ico-spec.s2 {
    width: 15px;
    background-position: 0 -30px;
}

.ico-spec.s3 {
    width: 15px;
    background-position: 0 -60px;
}

.ico-spec.s4 {
    width: 15px;
    background-position: 0 -89px;
}

.ico-spec.s5 {
    width: 15px;
    background-position: 0 -119px;
}

.ico-spec.s6 {
    width: 15px;
    background-position: 0 -149px;
}

.ico-spec.s7 {
    width: 15px;
    background-position: 0 -180px;
}

.ico-spec.s8 {
    width: 15px;
    background-position: 0 -209px;
}

.ico-spec.s9 {
    width: 15px;
    background-position: 0 -240px;
}

.ico-spec.s10 {
    width: 15px;
    background-position: 0 -270px;
}

.ico-spec.s11 {
    width: 16px;
    background-position: -29px 0;
}

.ico-spec.s12 {
    width: 16px;
    background-position: -29px -30px;
}

.ico-spec.s13 {
    width: 16px;
    background-position: -29px -60px;
}

.ico-spec.s14 {
    width: 18px;
    background-position: -29px -90px;
}

.ico-spec.s15 {
    width: 18px;
    background-position: -29px -120px;
}

.ico-spec.s16 {
    width: 18px;
    background-position: -29px -149px;
}

.ico-spec.s17 {
    width: 16px;
    background-position: -29px -180px;
}

.ico-spec.s18 {
    width: 16px;
    background-position: -29px -209px;
}

.ico-spec.s19 {
    width: 16px;
    background-position: -29px -240px;
}

.ico-spec.s20 {
    width: 16px;
    background-position: -29px -270px;
}

.ico-spec.s21 {
    width: 16px;
    background-position: -64px 0;
}

.ico-spec.s22 {
    width: 17px;
    background-position: -64px -30px;
}

.ico-spec.s23 {
    width: 16px;
    background-position: -64px -60px;
}

.ico-spec.s24 {
    width: 16px;
    background-position: -64px -90px;
}

.ico-spec.s25 {
    width: 16px;
    background-position: -64px -120px;
}

.ico-spec.s26 {
    width: 15px;
    background-position: -64px -151px;
}

.ico-spec.s27 {
    width: 18px;
    background-position: -64px -182px;
}

.ico-spec.s28 {
    width: 17px;
    background-position: -64px -211px;
}

.ico-spec.s29 {
    width: 15px;
    background-position: -64px -240px;
}

.ico-spec.s30 {
    width: 19px;
    background-position: -65px -271px;
}