.goods_detail_win table {
	border-collapse: collapse;
	font-size: 12px;
}

.goods_detail_win table tbody {
	margin: 0;
}

colgroup col:nth-child(1) {
	width: 240px;
}

.goods_detail_win table tr:nth-child(1) {		
	border-top: 1px solid #aaa; 
}
.goods_detail_win table tr:last-child {		
	border-bottom: 1px solid #aaa; 
}

.goods_detail_win table tr {		
	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #ddd; 
}

.goods_detail_win table tr th {	
	background-color: #f9f9f9;
	padding: 7px;
	border-right: 1px solid #e0e0e0;
	width: 120px !important;
	font-family: 'PretendardM';
	letter-spacing: -0.4px;
}

.goods_detail_win table tr th:last-child {
	border-bottom: unset;
}

.goods_detail_win table tr td {
	padding: 7px;
}