/* z-index */
.ags-summary { z-index: 500; &.active { z-index: 1500 } }
.page-dim { z-index: 1000 }

/* common */
.page-dim {
  transition: all 1s;
  position: fixed; left: 0; top: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.25);
}
.page-loading {
  display: block;
  position: relative;
  width: rem(80); height: rem(80);
  background-color: $mono10;
  border-radius: 50%;
  .ico {
    $size: 24;
    @include align-center;
    @include background($file: 'popup/ico_page-loading', $type: png, $width: rem($size), $height: rem($size));
    @include animation($delay: 0, $duration: 1s, $animation: anm_page-loading, $direction: forward, $fillmode: fowards);
    display: inline-block;
    width: rem($size); height: rem($size);
    animation-iteration-count: infinite;
  }
  .loading-message {
    display: inline-block;
    opacity: 1;
    position: absolute; top: 50%; left: 50%;
    -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
    margin-top: -100px; padding: 16px; width: 240px; border: 2px solid #ff4f24; background-color: #ff4f24; border-radius: 5px;
    font-size: 13px; line-height: 1.4em; font-weight: 600; text-align: center; color: #fff;
    box-shadow: 6px 6px 10px rgba(255,79,36,0.3);
  }
}
@include keyframe($animation_name: anm_page-loading){
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }
  70%, 100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
    -ms-transform: translate(-50%, -50%) rotate(-360deg);
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}


/* popup common layout */
.pop-area {
  overflow: auto;
  display: none;
  position: fixed; right: 0; bottom: 0; left: 0;
  &.active { display: block; }
}
.pop-wrap {
  ul.list-dot > li {
    @include font($size: 13, $color: $mono1, $weight: 400, $spacing: 0);
    position: relative;
    margin-bottom: rem(4); padding-left: rem($grid);
    &:before {
      content: "";
      position: absolute; left: 0; top: 7px;
      display: inline-block; width: 3px; height: 3px;
      background-color: $mono1; border-radius: 50%;
    }
    &:last-child { margin-bottom: 0; }
  }
}

/* data-type='modal' */

/* alert common style */
@mixin alert-style {
  .ico-wrap {
    padding-top: rem(30);
    [class*='ico_alert'] {
      $size: 48;
      overflow: hidden;
      position: relative;
      display: inline-block;
      width: rem($size); height: rem($size);
      background-color: $mono9; border-radius: 50%;
      text-indent: -999em;
      &:before {
        @include background($file: 'popup/ico_exclamation--w', $type: png, $width: rem(4), $height: rem(28));
        @include align-center;
        content: "";
        display: inline-block;
        width: rem(4); height: rem(28);
      }
    }
    [class*='--primary'] {
      background-color: $bg-primary;
    }
    & + .alert-title + .alert-text:last-of-type { padding-bottom: rem($grid * 2) }
  }
  .alert-title {
    @include font($size: 16, $color: $mono1, $weight: 600, $spacing: -0.03);
    padding-top: rem(30);
    &:last-child { padding-bottom: rem($grid * 2) }
  }
  .alert-text {
    @include font($size: 13, $color: $mono1, $weight: 400, $spacing: -0.03);
    padding-top: rem($grid * 2);
    line-height: rem(18);
  }
  .alert-text:first-child { padding-top: rem($grid * 3) }

}
/* data-type='alert' */
[data-type='alert'] {
  @include alert-style;
  top: 0;
  .pop-wrap {
    @include align-center;
    padding: rem(12); width: calc(327 / 375 * 100%);
    border-radius: rem(3);
    background-color: $mono10;
  }
  .pop-header { margin: rem(-12) rem(-12) 0; height: rem(53); }
  .pop-title {
    @include font($size: 16, $color: $mono1, $weight: 600, $spacing: 0);
    @include text-ellipsis();
    overflow: auto;
    position: relative;
    padding: 0 rem($grid * 2); width: 100%; height: rem(53);
    line-height: rem(52);
    text-align: center;
    border-bottom: 1px solid $mono8;
  }
  .pop-container { padding-bottom: rem(24); min-height: rem(80); text-align: center; }
  .pop-header + .pop-container { padding-left: rem(4); padding-right: rem(4) }
  .pop-footer {
    @include flex(space-between stretch flex-start nowrap);
    margin: 0 rem(-2); height: rem(50);
    [class^='btn_'] { margin: 0 rem(2) !important; }
    .btn_cancel {
      @include form($type: button, $size: 4, $role: cancel);
      width: auto; min-width: rem(90);
    }
    .btn_confirm {
      @include form($type: button, $size: 4, $role: submit);
      flex: 1 auto;
    }
  }
  ul.list-dot > li { text-align: left; line-height: rem(20) }
}
/*[data-type='message'] {
  $pop-header-area: 77;
  $pop-footer-area: 150;
  overflow: hidden;
  transition: 0.75s all; transition-delay: 0.25s;
  max-height: 0;
  border-radius: rem(12) rem(12) 0 0;
  bottom: -100vh;
  display: block;
  &.active { max-height: 100vh; bottom: 0; }
  .pop-wrap {
    transition: none;
    overflow: hidden;
    padding: rem($pop-header-area) 0 rem($pop-footer-area); max-height: inherit;
    background-color: $mono10;
  }
  .pop-header {
    z-index: 1;
    position: absolute; left: 0; top: 0; right: 0;
    padding-bottom: rem($grid * 3);
    background-color: $mono10;
  }
  .pop-title {
    z-index: 0;
    @include font($size: 16, $color: $mono1, $weight: 600, $spacing: 0);
    @include text-ellipsis();
    overflow: auto;
    position: relative;
    padding: 0 rem(52); width: 100%; height: rem(53);
    line-height: rem(52);
    text-align: center;
    border-bottom: 1px solid $mono8;
  }
  .btn_close {
    z-index: 1;
    @include background($file: 'popup/ico_pop-close', $type: 'png', $width: 14px, $height: 14px);
    position: absolute; left: 0; top: 0;
    width: rem(52); height: rem(52);
    background-position: 50% 50%; background-color: transparent;
    text-indent: -999em;
  }
  .pop-container {
    transition: none;
    z-index: 0;
    @include font($size: 13, $color: $mono1, $weight: 400, $spacing: 0);
    overflow: auto;
    margin: rem(-$pop-header-area) 0 rem(-$pop-footer-area); padding: rem($pop-header-area) rem($grid * 2) rem($pop-footer-area); width: 100%; max-height: inherit;
    .message-text > *:last-child { padding-bottom: 0; }
  }
  .pop-footer {
    z-index: 1;
    position: absolute; bottom: 0; right: 0; left: 0;
    padding: rem($grid * 3) rem($grid * 2); min-height: rem(105);
    background-color: $mono10;
    input[type='checkbox'] { @include form($size: 4, $role: normal, $type: checkbox) }
    .process-btn-wrap {
      @include flex(flex-start stretch flex-start nowrap);
      margin: 0 rem(-3); padding: rem($grid * 3) 0 0;
      [class^='btn_'] { margin: 0 rem(3) !important; }
      .btn_cancel {
        @include form($type: button, $size: 4, $role: cancel);
        width: auto; min-width: rem(90);
      }
      .btn_confirm {
        @include form($type: button, $size: 4, $role: submit);
        flex: 1 auto;
      }
    }
  }
  .row { padding-bottom: rem($grid * 2); line-height: rem(18); }
  ol li { list-style: decimal; list-style-position: inside; line-height: rem(18); }
}*/
[data-type='message'] {
  $pop-header-area: 82;
  $pop-footer-area: 150;
  overflow: hidden;
  transition: 0.75s all; transition-delay: 0.25s;
  max-height: 0;
  border-radius: rem(12) rem(12) 0 0;
  bottom: -100vh;
  display: block;
  &.active { max-height: 100vh; bottom: 0; }
  .pop-wrap {
    transition: none;
    overflow: hidden;
    padding: rem(($pop-header-area)) 0 rem($pop-footer-area); max-height: inherit;
    background-color: $mono10;
  }
  .pop-header {
    z-index: 1;
    position: absolute; left: 0; top: 0; right: 0;
    padding: rem(50) rem($grid * 2) rem($grid * 2); height: rem($pop-header-area);
    background-color: $mono10;
  }
  .pop-title {
    $font-size: 16;
    z-index: 0;
    @include font($size: $font-size, $color: $mono1, $weight: 600, $spacing: 0);
    @include text-ellipsis();
    overflow: auto;
    position: relative;
    padding: 0 rem((24 + $grid * 2)) 0 0; width: 100%;
    line-height: em(16, $font-size); text-align: left;
  }
  .btn_close {
    z-index: 1;
    @include background($file: 'popup/ico_pop-close', $type: 'png', $width: 20px, $height: 20px);
    overflow: hidden;
    position: absolute; right: rem(16); top: rem(16);
    width: rem(24); height: rem(24);
    background-position: 50% 50%; background-color: transparent;
    text-indent: -999em;
  }
  .pop-container {
    transition: none;
    z-index: 0;
    @include font($size: 13, $color: $mono1, $weight: 400, $spacing: 0);
    overflow: auto;
    margin: rem(-$pop-header-area) 0 rem(-$pop-footer-area); padding: rem($pop-header-area) rem($grid * 2) rem($pop-footer-area); width: 100%; max-height: inherit;
    .message-text > *:last-child { padding-bottom: 0; }
    .message-text.mg-b--min { margin-bottom: rem(-50) }
  }
  .pop-footer {
    z-index: 1;
    position: absolute; bottom: 0; right: 0; left: 0;
    padding: rem($grid * 3) rem($grid * 2); min-height: rem(105);
    background-color: $mono10;
    input[type='checkbox'] { @include form($size: 4, $role: normal, $type: checkbox) }
    .process-btn-wrap {
      @include flex(flex-start stretch flex-start nowrap);
      margin: 0 rem(-3); padding: rem($grid * 3) 0 0;
      [class^='btn_'] { margin: 0 rem(3) !important; }
      .btn_cancel {
        @include form($type: button, $size: 4, $role: cancel);
        width: auto; min-width: rem(90);
      }
      .btn_confirm {
        @include form($type: button, $size: 4, $role: submit);
        flex: 1 auto;
      }
      &:first-child { padding-top: 0; }
    }
  }
  .row { padding-bottom: rem($grid * 2); line-height: rem(18); }
  ol li { list-style: decimal; list-style-position: inside; line-height: rem(18); }
}

/* GNB 메뉴 팝업 */
.ags-header .gnb-wrap .gnb-2dp-wrap {
  transition: all $trs-duration;
  transition-delay: $trs-delay;
  opacity: 0; visibility: hidden;
  overflow: auto;
  position: fixed; left: calc(-375 / 375 * 100%); top: 0; bottom: 0;
  padding: rem(50) rem($grid * 4) rem($grid * 4) rem($grid * 4); width: 100%;
  background-color: $mono1;
  .btn_close { position: absolute; right: rem($grid * 2); top: rem($grid * 2) }
  .welcome-msg { @include font($size: 13, $color: $mono10, $weight: 600, $spacing: -0.03); line-height: rem(20) }
  li { float: none !important; margin: 0 !important; }
  &.active {
    opacity: 1; visibility: visible;
    position: fixed; left: 0; top: 0; right: 0; bottom: 0;
  }
  .btn_close {
    z-index: 1;
    @include background($file: 'popup/ico_pop-close--w', $type: 'png', $width: 14px, $height: 14px);
    overflow: hidden;
    position: absolute; right: rem(16); top: rem(14);
    width: rem(24); height: rem(24);
    background-position: 50% 50%; background-color: transparent;
    text-indent: -999em;
  }
  .depth1 { padding-top: rem(50); }
  .depth1 > li {
    $font-size: 22;
    @include font($size: $font-size, $color: $mono10, $weight: 800, $spacing: -0.03);
    line-height: em(50, $font-size);
    a {
      display: block;
      line-height: em(50, $font-size);
      color: inherit; text-decoration: none;
    }
    &.active a { color: $text-third }
    &.new a {
      padding-right: em(54, $font-size);
      &:after {
        content: "new";
        $font-size: 15;
        @include font($family: en, $size: $font-size, $color: $mono10, $weight: 500, $spacing: -0.03);
        display: inline-block;
        margin-left: rem($grid); padding: 0 em(8, $font-size); height: em(24, $font-size);
        line-height: em(24, $font-size);
        background-color: rgba(219,16,16,0.9);
        border: 1px solid #FF0000; border-radius: em(13, $font-size);
        vertical-align: middle; text-transform: uppercase;
      }
    }
  }
  .depth2 {
    padding-bottom: rem($grid * 2);
    & > li {
      $font-size: 16;
      @include font($size: $font-size, $color: $mono10, $weight: 600, $spacing: -0.03);
      a { display: block; padding-left: em(16, $font-size); line-height: em(36, $font-size); }
    }
  }
}

/* 합계 팝업 */
.ags-summary {
  overflow: hidden;
  position: fixed; bottom: 0; left: 0; right: 0;
  margin-top: rem(-$summary-height); padding: rem(6) 0 0; height: rem($summary-height);
  color: $mono10;
  .btn_drawer {
    z-index: 11;
    @include background($file: 'buy/btn_summary-drawer', $type: png, $width: rem(40), $height: rem(11));
    overflow: hidden;
    position: absolute; left: 50%; top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-indent: -999em;
    display: block;
    width: rem(40); height: rem(16);
    background-position: 50% 0;
    .ico {
      @include background($file: 'buy/ico_summary-drawer', $type: png, $width: rem(8), $height: rem(6));
      display: block;
      position: absolute; left: 50%; top: 0;
      -webkit-transform: translate(-50%, 0) rotate(0);
      -ms-transform: translate(-50%, 0) rotate(0);
      transform: translate(-50%, 0) rotate(0);
      transform-origin: 50% 50%;
      width: rem(16); height: rem(16);
      background-position: 50% 50%;
      transition: all 0.2s;
      transition-delay: 0.2s;
    }
  }
  .inner-wrap {
    overflow: auto;
    height: 100%; background-color: $mono1;
  }
  .total {
    width: 100%; height: rem(100);
    dl { display: table; table-layout: fixed; padding: 0 rem(10); width: 100%; height: rem(60); }
    dt, dd { display: table-cell; padding: 0 rem(6); white-space: nowrap; vertical-align: middle; }
    dt {
      @include font($size: 12, $color: inherit, $weight: 500, $spacing: -0.03);
      width: (130 / 343 * 100%);
      a { color: inherit; text-decoration: none; }
    }
    dt + dd:not(.count-bubble) {
      @include font($family: en, $size: 18, $color: $text-primary, $weight: 600, $spacing: -0.03);
      text-align: right;
    }
    dd.count-bubble .ico {
      $font-size: 15;
      @include font($family: en, $size: $font-size, $color: $mono10, $weight: 500, $spacing: 0);
      @include valign-middle();
      overflow: hidden;
      display: inline-block;
      margin-left: em(-26, $font-size); padding: 0 em(9, $font-size); height: em(24, $font-size);
      line-height: em(24, $font-size);
      background: rgba(219,16,16,0.9); border: 1px solid #FF0000; border-radius: em(12, $font-size);
    }
    dt + dd + dd { text-align: center; width: (103 / 343 * 100%); }
    .btn_pay-imm, .btn_resv-imm {
      @include form($size: 2, $role: normal, $type: button);
      margin: 0; width: auto;
      border-color: rgba(255,255,255,0.5); background-color: transparent; color: $mono10
    }
    .btn_resv-imm { width: 91px; }
  }
}
[data-type='drawer'] {
  transition: 0.75s bottom, 1s height;
  transition-delay: 0.25s;
  position: fixed; bottom: rem(-142); left: 0; right: 0;
  padding: rem(108) 0 rem(34) 0; height: 0;
  background-color: $mono10; border-radius: rem(16) rem(16) 0 0;
  .summary-title {
    @include font($size: 16, $color: $mono1, $weight: 800, $spacing: -0.03);
    position: absolute; left: rem($grid * 2); top: rem(50);
  }
  .inner-wrap { overflow: auto; padding-bottom: rem(50); width: 100%; height: 100%; }
  .title {
    @include font($size: 14, $color: $mono1, $weight: 800, $spacing: -0.03);
    display: inline-block;
  }
  .btn_drawer {
    @include background($file: 'popup/btn_ags-summary-close', $type: png, $width: rem(20), $height: rem(20));
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    overflow: hidden;
    position: absolute; right: rem(16); top: rem(16);
    display: inline-block;
    width: rem(24); height: rem(24);
    background-position: 50% 50%;
    text-indent: -999em;
    .ico { display: none; }
  }
}
[data-type='drawer'].active {
  display: block;
  top: auto; bottom: 0;
}

/* 이메일 SMS 주문서 받기 & 여권번호 등록하기 */
[data-type='message'] .dfs-email-wrap,
[data-type='message'] .passport-wrap {
  margin-right: rem(-$grid * 2);
  .passport-list + .notification-wrap,
  .dfs-info-list + .notification-wrap { padding: rem(10) rem($grid * 2) 0 0 }
}

.passenger-summary {
  padding-left: rem($grid * 2);
  .flight-num {
    display: inline-block;
    margin: 0 0 rem(12) rem(4);
    dt { @include sr-only }
    dd { @include tagging-route; width: auto; padding: 0 rem(4); }
    & + .table-wrap { border-top: 1px solid $mono1; }
  }
  .table-wrap {
    padding-bottom: rem($grid * 2);
  }
  .charge-sheet {
    @include table($style: type1, $mg-size: small);
    th, td { padding: rem($grid) 0; vertical-align: middle; }
    thead th, tbody th, tbody td, tfoot th, tfoot td { border-bottom: 0; }
    tbody td:last-of-type { text-align: right; }
    tbody th, tbody td { height: rem(30); }
    tbody th:last-child, tbody td:last-child { @include font($family: en, $size: 13, $color: $mono1, $weight: 400, $spacing: -0.03); padding-right: rem($grid * 2) }
    tbody th[scope='colgroup'] { text-align: left; }
    tbody tr + tr th[scope='colgroup'] { border-top: 1px solid $mono8 }
    tbody th[scope='row'] {
      @include font($size: 13, $color: $mono1, $weight: 800, $spacing: -0.03);
      width: rem(70); text-align: left;
    }
    a, a:active, a:visited { color: #66B1FF; }
  }
  .passenger-name {
    @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
    @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
    @include text-uppercase;
    margin: rem($grid * 2) 0 rem($grid); padding-left: rem(20);
  }
  .total-wrap {
    height: rem(44);
    border-top: 1px solid $mono1; border-bottom: 1px solid $mono8;
    dl { display: table; table-layout: fixed; width: 100%; height: 100%; }
    dt, dd { display: table-cell; vertical-align: middle; }
    dt { @include font($size: 12, $color: $mono1, $weight: 600, $spacing: -0.03); width: rem(50) }
    dd { @include font($family: en, $size: 13, $color: $text-primary, $weight: 500, $spacing: -0.03); padding-right: rem($grid * 2); text-align: right; }
    & + .title { margin-top: rem($grid * 10); }
  }
}
.dfs-product-detail {
  .inner-wrap { margin-top: rem(-58); }
  .info-area + .info-area { padding-top: rem(12) }
  .content-title {
    @include font($size: 14, $color: $mono1, $weight: 800, $spacing: -0.03);
    position: relative;
    padding: rem($grid * 2); height: rem(48);
    .btn_content-fold {
      overflow: hidden;
      position: absolute; top: 0; right: 0; left: 0; bottom: 0;
      display: block;
      text-indent: -999em;
      &:before {
        content: "";
        @include background($file: 'dfs/ico_foldable', $type: png, $width: rem(12), $height: auto);
        display: inline-block;
        position: absolute; right: rem($grid * 2); bottom: rem(12);
        width: rem(24); height: rem(24);
        background-position: 50% 50%;
        transition: all 0.5s; transform: rotate(0);
      }
      &.active:before { transform: rotate(180deg); }
    }
  }
  .product-info:first-of-type { padding-left: rem($grid * 2) }
  .product-info { @include clearfix; z-index: 0; position: relative; }
  .product-info dt { @include sr-only }
  .product-info dd {  }
  .product-info .product-tag + dd { float: left; margin-top: rem(2); padding-right: rem(8); }
  .product-info .product-tag + dd .sale,
  .product-info .product-tag + dd .new {
    $font-size: 9;
    @include font($family: en, $size: $font-size, $color: $mono10, $weight: 500, $spacing: -0.03);
    float: left;
    padding: 0 rem(5); height: em(16, $font-size);
    line-height: em(16, $font-size); text-transform: uppercase;
  }
  .product-info .product-tag + dd .sale { background-color: $bg-primary }
  .product-info .product-tag + dd .new { background-color: $mono1 }
  .product-info .brand + dd { $font-size: 16; float: left; font-size: rem($font-size); font-weight: 800; line-height: em(18, $font-size); vertical-align: top; color: $mono1 }
  .product-info .product-name + dd { $font-size: 15; float: left; padding-top: rem(12); width: 100%; font-size: rem($font-size); font-weight: 600; line-height: em(17, $font-size) }
  .product-info:first-of-type + .product-info { overflow: hidden; position: relative; padding: rem($grid * 2) 0 0 0; }
  .product-info .thumbnail { padding-top: 100% !important; height: 0 !important; }
  .product-info .thumbnail img { position: absolute; left: 0; top: 0; max-width: 100%; height: auto }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction { bottom: 20px }
  .swiper-pagination-bullet { background-color: $mono1 !important; opacity: 0.1; }
  .swiper-pagination-bullet-active { background-color: $mono1 !important; opacity: 1; }
  .product-info:first-of-type + .product-info + .product-info {
    display: table;
    padding-bottom: rem(16); width: 100%;
    background-color: #f8f8f8; border: solid $mono8; border-width: 1px 0;
    .price-compare {
      display: table-cell; padding-top: rem(6); width: 50%; text-align: center;
      dt {
        @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
        position: relative;
        overflow: visible;
        padding: rem(8) 0 0; width: auto; height: auto;
        clip: auto;
      }
    }
    .price-usd { @include font($family: en, $size: 20, $color: $mono3, $weight: 500, $spacing: -0.03); display: block; line-height: 25px; padding: rem(8) 0 0; }
    .price-usd:before { content: "$" }
    .price-krw {
      @include font($family: en, $size: 13, $color: $mono3, $weight: 400, $spacing: -0.03);
      display: inline-block; padding-top: rem(5);
      vertical-align: top; line-height: rem(17);
    }
    .sale {
      @include font($family: en, $size: 13, $color: $text-primary, $weight: 500, $spacing: -0.03);
      display: inline-block;
      padding: rem(5) 0 0 rem(5);
      vertical-align: top; line-height: rem(17);
      .ico {
        @include background($file: 'dfs/ico_sale', $type: png, $width: rem(7), $height: rem(9));
        overflow: hidden;
        display: inline-block;
        width: rem(7); height: rem(9);
        text-indent: -999em;
      }
    }
  }
  input[type='checkbox'] {
    @include form($size: 1, $role: normal, $type: radio);
    & + label {
      z-index: 2;
      overflow: hidden;
      display: block;
      position: absolute !important; right: rem(20); top: rem(20);
      width: rem(16); height: rem(16);
      text-indent: -999em; font-weight: 400;
      .ico { position: absolute; right: 0; top: 0; margin: 0 }
    }
  }
  .product-info2 {
    @include clearfix;
    $font-size: 13;
    margin-left: rem($grid * 2); padding: rem($grid * 2) rem($grid * 2) rem($grid * 2) 0;
    border-bottom: 1px solid $mono8;
    dt, dd { float: left; line-height: em(24, $font-size); }
    dt {
      @include font($size: $font-size, $color: $mono3, $weight: 600, $spacing: -0.03);
      width: rem(84);

    }
    dd { width: calc(100% - 84px); }
  }
  .product-notification {
    $font-size: 12;
    @include font($size: $font-size, $color: $mono1, $weight: 300, $spacing: -0.03);
    padding: rem($grid * 2);
    border-bottom: 1px solid $mono8;
    li {
      overflow: hidden;
      position: relative; padding-left: rem($grid);
      line-height: em(16, $font-size);
      &:before {
        content: "";
        position: absolute; left: 0; top: em(6, $font-size);
        display: inline-block;
        width: 2px; height: 2px;
        border-radius: 50%; background-color: $mono1;
      }
      & + li { margin-top: em(6, $font-size); }
    }
  }
  .product-info-details {
    @include foldable-content;
    table { width: 100%; border-top: 1px solid $mono8; }
    tbody th, tbody td {
      @include font($size: 13, $color: #666, $weight: 400, $spacing: -0.03);
      padding: rem(15) rem($grid); min-height: rem(48);
      border-bottom: 1px solid $mono8;
      line-height: rem(18)
    }
    tbody th { width: rem(64); font-weight: 600; text-align: left; }
    tbody th:first-child { padding-left: rem($grid * 2); }
    tbody td:last-child { padding-right: rem($grid * 2); }
  }
  .process-btn-wrap {
    @include flex(flex-start stretch flex-start nowrap);
    margin: 0 rem(-3); padding: rem($grid * 2) rem($grid * 2) 0;
    background-color: $mono10;
    [class^='btn_'] { margin: 0 rem(3) !important; }
    .btn_select {
      @include form($type: button, $size: 4, $role: submit);
      flex: 1 auto;
    }
  }
}
.dfs-select-summary, .dfs-refund {
  & > .inner-wrap { padding-bottom: rem(130) }
  .inner-wrap > .notification-wrap:first-child {
    padding: 0 rem($grid * 2);
    li { font-weight: 300; }
    .btn_confirm {
      @include form($size: 3, $role: primary3, $type: button);
      margin-top: rem(4); width: auto; font-size: rem(12)
    }
    & + .product-area { margin-top: rem(50); }
  }
  .product-area {
    &.disabled {
      .product-info .product-name + dd,
      .product-info .price-usd + dd,
      .passenger-name,
      .charge-sheet tbody th[scope='row'],
      .dfs-handler .ea + dd .resv-ea,
      .dfs-handler .ea + dd .resv-ea.active,
      .ind-total .ea,
      .ind-total .ea + dd,
      .ind-total .price-usd + dd,
      .ind-total .price-krw + dd { color: $mono4; }
      .ind-total .price-usd + dd,
      .ind-total .price-krw + dd { text-decoration: line-through }
      .passenger-name { @include background($file: 'common/ico_passenger--g', $type: png, $width: rem(12), $height: rem(12)); }
    }
  }
  .product-area + .product-area { padding-top: rem(80); }
  .product-area > .input-wrap {
    padding: 0 rem($grid * 2) rem(12);
    input[type='checkbox'] { @include form($size: 2, $role: normal, $type: checkbox) }
    label { font-weight: 600 !important; }
  }
  .selected-product {
    position: relative;
    padding-left: rem($grid * 2);
    border-top: 1px solid $mono1;
    .btn_more {
      position: absolute; right: rem(20); top: rem(20);
      &, &:active, &:visited {
        @include font($size: 13, $color: #66B1FF, $weight: 500, $spacing: -0.03);
      }
    }
  }
  .product-info {
    @include clearfix;
    z-index: 0;
    position: relative;
    padding: rem(20) rem(20) rem(20) rem(93);
    border-bottom: 1px solid $mono8;
    dt { @include sr-only }
    dd {  }
    .product-tag + dd { float: left; padding-right: rem(5); }
    .product-tag + dd .sale,
    .product-tag + dd .new {
      $font-size: 9;
      @include font($family: en, $size: $font-size, $color: $mono10, $weight: 500, $spacing: -0.03);
      float: left;
      padding: 0 rem(5); height: em(16, $font-size);
      line-height: em(16, $font-size); text-transform: uppercase;
    }
    .product-tag + dd .sale { background-color: $bg-primary }
    .product-tag + dd .new { background-color: $mono1 }
    .brand + dd { $font-size: 13; float: left; font-size: rem($font-size); line-height: em(16, $font-size); vertical-align: top; color: $mono3 }
    .product-name + dd { $font-size: 13; float: left; padding-top: rem($grid); width: 100%; height: rem(40); font-size: rem($font-size); font-weight: 600; line-height: em(16, $font-size) }
    .thumbnail + dd { overflow: hidden; position: absolute; left: 0; top: rem($grid * 2); width: rem(78); height: rem(78); border: 1px solid $mono8 }
    .thumbnail + dd img { max-width: 100%; height: auto }
    .price-usd,
    .price-krw { @include sr-only }
    .price-usd + dd,
    .price-krw + dd { @include font($family: en, $size: 14, $color: $mono10, $weight: 400, $spacing: -0.03); display: inline-block; padding-top: rem(13) }
    .price-usd + dd { color: $text-primary; font-weight: 500 }
    .price-usd + dd .digits:before { content: "$" }
    .price-krw + dd { padding-left: rem(7); color: $mono4 }
  }
  .dfs-resv-plan {
    padding: 0 0 0 rem($grid * 2)
  }
  .passenger-name {
    @include font($family: en, $size: 14, $color: $text-primary, $weight: 500, $spacing: -0.03);
    @include background($file: 'common/ico_passenger', $type: png, $width: rem(12), $height: rem(12));
    @include text-uppercase;
    position: relative;
    margin: rem($grid * 2) 0 0; padding-left: rem(20);
    &:after {
      @include tagging-route;
      position: absolute; right: rem($grid * 2); top: 0;
    }
    @at-root [data-page-id='buy__baggage'] .tab-panels .tab-panel:first-of-type .baggage-plan .passenger-name:after {
      content: "가는 편";
    }
    @at-root [data-page-id='buy__baggage'] .tab-panels .tab-panel:nth-of-type(2) .baggage-plan .passenger-name:after {
      content: "오는 편";
    }
  }
  .table-wrap {
  }
  .charge-sheet {
    @include table($style: type1, $mg-size: small);
    th, td { padding: rem($grid * 2) rem($grid * 2) rem($grid * 2) 0 !important; height: rem(47); border-bottom: 1px solid $mono8; vertical-align: middle; }
    tfoot th, tfoot td { background-color: transparent; }
    tbody td:last-of-type { text-align: center; }
    tfoot th {
      @include font($size: 13, $color: $mono1, $weight: 400, $spacing: -0.03);
      text-align: left;
    }
    tfoot td {
      color: $text-primary; font-weight: 600;
    }
    tbody th[scope='row'] {
      @include font($size: 13, $color: $mono1, $weight: 600, $spacing: -0.03);
      text-align: left;
    }
  }
  .dfs-handler {
    $size: 42;
    position: relative;
    margin-left: auto; width: rem(158);
    dl {
      width: 100%;
    }
    dt { @include sr-only }
    .ea + dd .resv-ea {
      @include font($size: 18, $color: $mono1, $weight: 800, $spacing: -0.03);
      overflow: hidden;
      display: block;
      margin: 0 auto; padding: 0; width: rem($size); height: rem($size);
      line-height: rem($size); text-align: center;
      &.active { color: $text-primary }
    }
    [class*='btn_'] {
      overflow: hidden;
      position: absolute; top: 0;
      display: inline-block;
      width: rem($size); height: rem($size);
      border: 1px solid $mono1; border-radius: 3px;
      background-position: 50% 50%;
      text-indent: -999em;
    }
    .btn_increase {
      @include background($file: 'buy/ico_baggage-increase', $type: png, $width: rem(12), $height: rem(12));
      right: 0;
      &[disabled='disabled'] {
        @include background($file: 'buy/ico_baggage-increase--w', $type: png, $width: rem(12), $height: rem(12));
        background-color: $mono8;
        border-color: $mono8;
      }
    }
    .btn_decrease {
      @include background($file: 'buy/ico_baggage-decrease', $type: png, $width: rem(12), $height: rem(2));
      left: 0;
      &[disabled='disabled'] {
        @include background($file: 'buy/ico_baggage-decrease--w', $type: png, $width: rem(12), $height: rem(2));
        background-color: $mono8;
        border-color: $mono8;
      }
    }
  }
  .ind-total {
    $font-size: 13;
    @include font($size: $font-size, $color: $mono1, $weight: 500, $spacing: -0.03);
    margin-top: -1px; padding: rem(16) rem(18); height: rem(50);
    text-align: right;
    background-color: #F8F8F8; border-top: 1px solid $mono1; border-bottom: 1px solid $mono8;
    &:after { content: ''; display: table; clear: both; }
    dt, dd { height: em(18, $font-size); line-height: em(18, $font-size); font-weight: 600; }
    dd { display: inline-block; }
    .ea, .ea + dd { float: left; }
    .ea + dd { color: $text-primary; }
    .ea:after { content: ":"; padding: 0 rem(2); }
    .price-usd, .price-krw {
      overflow: hidden;
      position: absolute;
      margin: 0; padding: 0; width: 0; height: 0;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
    .price-usd + dd { color: $text-primary; }
    .price-usd + dd .digits:before { content: "$"; }
    .price-krw + dd { color: $mono1; }
    .price-krw + dd:before { content: "/"; padding: 0 rem(3) 0 rem(2); }
    .price-krw + dd .digits:before { content: "₩"; }
  }
  .ags-summary.dfs__list {
    position: absolute;
    .inner-wrap {
      border-top: 1px solid $mono1;
      background-color: $mono10;
    }
    .total {
      width: 100%; height: rem(100);
      dl { display: table; table-layout: fixed; padding: 0 rem(10); width: 100%; height: rem(60); }
      dt, dd { display: table-cell; padding: 0 rem(6); white-space: nowrap; vertical-align: middle; }
      dt {
        @include font($size: 12, $color: $mono1, $weight: 600, $spacing: -0.03);
      }
      dt + dd:not(.count-bubble) {
        @include font($family: ko, $size: 13, $color: $text-primary, $weight: 800, $spacing: -0.03);
        text-align: right;
      }
      dt + dd + dd { text-align: center; width: auto; }
      .btn_pay-imm {
        @include form($size: 2, $role: submit, $type: button);
        margin: 0;
      }
    }
    &.active {
      .btn_drawer { display: block; }
      .inner-wrap { border-top-color: transparent; }
    }
  }
}

[data-page-id='popup'] {
  .list-wrap {
    padding: rem($grid * 2) 0 0 rem($grid * 2);
  }
  .list-style1 {
    li { border-bottom: 1px solid $mono8 }
    a {
      @include font($size: 14, $color: $mono1, $weight: 400, $spacing: -0.03);
      display: block; padding: rem($grid* 2) rem($grid * 2);
      text-decoration: none;
    }
  }
}