@font-face {
  font-family: 'Geogrotesque';
  font-weight: 100;
  font-style: italic;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_B_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_B_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_B_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_B_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_B_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 200;
  font-style: italic;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_C_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_C_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_C_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_C_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_C_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 300;
  font-style: italic;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_D_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_D_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_D_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_D_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_D_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 400;
  font-style: italic;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_3_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_3_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_3_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_3_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_3_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 500;
  font-style: italic;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_2_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_2_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_2_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_2_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_2_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 600;
  font-style: italic;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_8_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_8_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_8_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_8_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_8_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 700;
  font-style: italic;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_0_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_0_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_0_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_0_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_0_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 100;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_9_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_9_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_9_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_9_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_9_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 200;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_A_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_A_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_A_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_A_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_A_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 300;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_1_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_1_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_1_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_1_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_1_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 400;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_5_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_5_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_5_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_5_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_5_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 500;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_4_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_4_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_4_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_4_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_4_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 600;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_7_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_7_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_7_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_7_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_7_0.ttf") format("truetype");
}

@font-face {
  font-family: 'Geogrotesque';
  font-weight: 700;
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_6_0.eot");
  src: url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_6_0.eot?#iefix") format("embedded-opentype"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_6_0.woff2") format("woff2"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_6_0.woff") format("woff"), url("https://cdn.allwin.bid/static/fonts/geogrotesque/2F9EC7_6_0.ttf") format("truetype");
}

/* paragraph style variation */
.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }
.text-ellipsis { @include text-ellipsis($value: inline-block) }
.text-emphasis { color: $text-primary; font-style: normal }
.text-uppercase,
.customer-name { @include text-uppercase }

/* element style variation */
.sr-only { @include sr-only }
.float-left { float: left }
.float-right { float: right }
.align-center {
  -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
  position: absolute; top: 50%; left: 50%;
}

/* tabs */