/* color variation */
$mono1: #000;
$mono2: #333;
$mono3: #888;
$mono4: #aaa;
$mono5: #c8c8c8;
$mono6: #dcdcdc;
$mono7: #dfdfdf;
$mono8: #f0f0f0;
$mono9: #E4E4E4;
$mono10: #ffffff;
$text-primary: #FF4F24;
$text-third: #FEE700;
$border-primary: #FF4F24;
$bg-primary: #FF4F24;
$bg-secondary: #2A2167;
$bg-submit: #FEE700;
$border-radius: 3;
$font-root-size: 14;
$gnb-height: 53;
$buy__snb-height: 68;
$summary-height: 100;
$grid: 8;
$trs-duration: 0.5s;
$trs-delay: 0.2s;
$font-path: '../font';
$img-path: '../img';

$bg_bundle-type1: #7C756E;
$bg_bundle-type2: #8EB454;
$bg_bundle-type3: #D22C27;

/* style variation */
$font-common-family: NanumSquare, "Apple SD Gothic NEO", sans-serif;
$font-en-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
$border-common-radius: 3px;
