
.alpha{
position: relative;
}
.alpha .abc1, .abc2, .abc3{
  width: 100%;
}
.alpha .abc1 img, .abc2 img, .abc3 img{
  max-width: 100%;
  height: auto;
  display: block;
}
.abc1, .abc2, .abc3{
  position: relative;
}
.abc1 a{
  top: 39%;
  left: 25%;
  width: 50%;
  height: 20%;
  position: absolute;
}
.abc1 .img01{
	background: url(../image/pop_1.gif) no-repeat center / 210px 70px;
}

.abc2 a{
  top: 50%;
  right: 5%;
  width: 28%;
  height: 10%;
  position: absolute;
}
.abc2 .img02{
	background: url(../image/loading-4.gif) no-repeat center / 90px 27px;
}

.abc3 a{
  top: 44%;
  right: 35%;
  width: 28%;
  height: 15%;
  position: absolute;
}






.alpha .imggo{
  position: absolute;
 top: 0;
 left: 50%;
 height: 100%;
 width: 50%;
 background-color: #999;
 opacity: 0%;
}
.alpha .imgback{
  position: absolute;
 top: 0;
 right: 50%;
 height: 100%;
 width: 50%;
 background-color: rgb(252, 0, 0);
 opacity: 0%;
 
}




@media (max-width: 330px) {
  
}
