@charset "UTF-8";

.ags-container {
  position: relative;
  padding: 30px 50px;
  min-width: inherit;
}

[data-page-id='path'] .page-map thead th:nth-child(1){
  width: 180px;
}

[data-page-id='path'] .page-map thead th:nth-child(2){
  width: 180px;
}
[data-page-id='path'] .page-map thead th:nth-child(3){
  width: 180px;
}

#ags_popup .page-map thead th:nth-child(2){
  width: 200px;
}



@media (max-width: 800px) {
  .ags-container {
    padding: 5px;
  }
  [data-page-id='path'] .page-map{
    width: auto !important;
  }

  [data-page-id='path'] .page-map thead th:nth-child(1){
    width: 180px;
  }
  
  [data-page-id='path'] .page-map thead th:nth-child(2){
    width: 180px;
  }
  [data-page-id='path'] .page-map thead th:nth-child(3){
    width: 180px;
  }
  [data-page-id='path'] .page-map thead th:nth-child(4){
    width: 120px;
  }
  [data-page-id='path'] .page-map tbody td{
    padding: 2px !important;
    font-size: 14px !important;
  }
  [data-page-id="path"] .page-map thead th{
    padding: 2px !important;
  }
  [data-page-id='path'] .page-map thead th:nth-child(5){
    display: none;
  }
  [data-page-id='path'] .page-map tbody tr:nth-child(2) td:nth-child(4){
    display: none;
  }
  
}




@media (max-width: 420px) {
  .ags-container {
    padding: 5px;
  }
  [data-page-id='path'] .page-map{
    width: auto !important;
  }

  [data-page-id='path'] .page-map thead th:nth-child(1){
    width: 75px;
  }
  
  [data-page-id='path'] .page-map thead th:nth-child(2){
    width: 75px;
  }
  [data-page-id='path'] .page-map thead th:nth-child(3){
    width: 75px;
  }
  [data-page-id='path'] .page-map thead th:nth-child(4){
    width: 120px;
  }
  [data-page-id='path'] .page-map tbody td{
    padding: 2px !important;
    font-size: 13px !important;
  }
  [data-page-id="path"] .page-map thead th{
    padding: 2px !important;
  }
  [data-page-id='path'] .page-map thead th:nth-child(5){
    display: none;
  }
  [data-page-id='path'] .page-map tbody tr:nth-child(2) td:nth-child(4){
    display: none;
  }
  #ags_popup .page-map thead th:nth-child(2){
    width: 78px !important;
  }
  #ags_popup .page-map thead th:nth-child(3){
    width: 150px;
  }
  #ags_popup .page-map thead th:nth-child(4){
    display: none;
  }
}

.ags-footer {
  z-index: 0;
}
.ags-header {
  position: relative;
  min-width: inherit;
  height: 6.23077rem;
  border-bottom: 1px solid #f0f0f0;
}

[data-page-id='path'] .lnb-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 4.69231rem;
  border-bottom: 1px solid #f0f0f0;
  background-color: #F8F8F8;
  font-size: 12px;
}

[data-page-id='path'] .lnb-wrap .content-wrap {
  margin: 0 auto;
  padding: 0 1.23077rem;
  width: 1232px;
  height: 100%;
}

[data-page-id='path'] .lnb-wrap .content-wrap:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap .content-wrap:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap .page-name {
  float: left;
  padding-top: 1.76923rem;
  font-weight: 800;
}

[data-page-id='path'] .lnb-wrap .lnb {
  float: right;
  margin: 0 -1.53846rem;
  height: 100%;
}

[data-page-id='path'] .lnb-wrap .lnb:after {
  content: '';
  display: table;
  clear: both;
}

[data-page-id='path'] .lnb-wrap li {
  height: 100%;
  float: left;
  padding: 1.15385rem 1.23077rem 0;
}

[data-page-id='path'] .lnb-wrap li a {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.08em;
  font-family: 'PretendardM', "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.61538rem 0.30769rem;
  text-decoration: none;
}

[data-page-id='path'] .lnb-wrap li.active a {
  color: #000;
}

[data-page-id='path'] .lnb-wrap.ui-fixed, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom {
  position: fixed;
}

[data-page-id='path'] .lnb-wrap.ui-fixed li a, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom li a {
  color: #aaa;
}

[data-page-id='path'] .lnb-wrap.ui-fixed li.active a, [data-page-id='path'] .lnb-wrap.ui-fixed---bottom li.active a {
  color: #000;
}

[data-page-id='path'] .ags_content {
  padding-top: 7.69231rem;
}

[data-page-id='path'] .ags_content-title {
  font-size: 1.38462rem;
  font-weight: 800;
  color: #000;
  letter-spacing: -0.08em;
  font-family: 'PretendardM', "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  margin-bottom: 1.77778em;
}

[data-page-id='path'] .page-map {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  letter-spacing: -0.08em;
  font-family: 'PretendardM', "Apple SD Gothic NEO", "Apple Gothic", sans-serif;
  table-layout: fixed;
  width: 100%;
  border-top: 1px solid #000;
}

[data-page-id='path'] .page-map thead th {
  padding: 10px;
  min-height: 3.84615em;
  line-height: 1.38462em;
  font-weight: 800;
  text-align: left;
  border-bottom: 1px solid #000;
}

[data-page-id='path'] .page-map tbody td {
  padding: 1.23077em;
  min-height: 3.61538em;
  line-height: 1.15385em;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  font-family: 'PretendardM';
}

[data-page-id='path'] .page-map tbody tr td a {
  color: #156cdf;
}

[data-page-id='path'] .page-map a {
  color: inherit;
  letter-spacing: -0.03em;
}

.text-emphasis {
  color: #FF4F24;
  font-style: normal;
}

