@charset "UTF-8";
@import "https://allwinair.com/resource/css/air.ui.min.css";

.bid {
    position: relative;
    background: #aaaaaa;
    width: 2px;
    height: 100%;
    margin: 0 auto;
}

.bid:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #aaaaaa;
}

.bid .bid__handle {
    position: absolute;
    left: -4px;
    z-index: 2;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #f3b614;
    -ms-touch-action: none;
    touch-action: none;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.bid .bid__handle-ment {
    font-size: 14px;
    color: #f3b614;
    position: absolute;
    bottom: -5px;
    right: 20px;
}

.bid .bid__handle-ment:before {
    content: '';
    position: absolute;
    bottom: 10px;
    right: -40px;
    width: 21px;
    height: 17px;
    background: url("../../resource/img/bm/ico_flag.png") center center no-repeat;
}

.bid .bid__range {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    display: block;
    border: 0;
    background-position: 0 0;
    background: #ebaa2c;
}

.bid .bid__range:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: -4px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ebaa2c;
}

.bid .bid__range--min {
    bottom: 0;
}

.bid .bid__range--max {
    top: 0;
}

.bid .bid__value {
    position: absolute;
    right: 15px;
    color: #000;
}

.bid .bid__value em {
    font-size: 14px;
    color: #000;
}

.bid .bid__value.bid__value-max {
    top: -15px;
}

.bid .bid__value.bid__value-min {
    bottom: -5px;
}

.main .bm-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.bm-header {
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.bm-header .inner {
    position: relative;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}

.bm-header .inner .logo {
    position: absolute;
    top: 42px;
    left: 0;
    width: 208px;
    height: 20px;
    background: url("../../resource/img/bm/logo.png") center center no-repeat;
    font-size: 0;
}

.bm-header .inner .menus {
    position: absolute;
    top: 34px;
    right: 0;
    height: 36px;
    line-height: 36px;
}

.bm-header .inner .menus .menu {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin-right: 18px;
}

.bm-header .inner .menus .menu li {
    display: inline-block;
    vertical-align: top;
    padding: 0 18px;
}

.bm-header .inner .menus .menu li.m1 a {
    width: 29px;
    background: url("../../resource/img/bm/img_menu1.png") center center no-repeat;
}

.bm-header .inner .menus .menu li.m2 a {
    width: 29px;
    background: url("../../resource/img/bm/img_menu2.png") center center no-repeat;
}

.bm-header .inner .menus .menu li.m3 a {
    width: 108px;
    background: url("../../resource/img/bm/img_menu3.png") center center no-repeat;
}

.bm-header .inner .menus .menu a {
    display: block;
    height: 36px;
}

.bm-header .inner .menus .b2b {
    width: 138px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #aaa;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    vertical-align: top;
    font-family: 'Geogrotesque-SemiBold';
}

.bm-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #bec1d3;
}

.bm-srching {
    height: 680px;
    overflow: hidden;
}

.bm-srching .inner {
    position: relative;
    width: 1200px;
    margin: 140px auto 0 auto;
}

.bm-srching .type-tabs {
    position: absolute;
    top: 0;
    left: 0;
}

.bm-srching .type-tabs li {
    margin-bottom: 5px;
}

.bm-srching .type-tabs li.ticker a {
    background: url("../../resource/img/bm/tab1_off.png") center center no-repeat;
}

.bm-srching .type-tabs li.ticker a.is-actived {
    background: url("../../resource/img/bm/tab1_on.png") center center no-repeat;
}

.bm-srching .type-tabs li.hotel a {
    background: url("../../resource/img/bm/tab2_off.png") center center no-repeat;
}

.bm-srching .type-tabs li.hotel a.is-actived {
    background: url("../../resource/img/bm/tab2_on.png") center center no-repeat;
}

.bm-srching .type-tabs a {
    display: block;
    width: 60px;
    height: 75px;
    font-size: 0;
}

.bm-srching .bm-srch-form {
    margin: 0 0 0 110px;
}

.bm-srching .srch-tabs {
    position: relative;
    font-size: 0;
}

.bm-srching .srch-tabs:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
}

.bm-srching .srch-tabs li {
    display: inline-block;
}

.bm-srching .srch-tabs a {
    font-size: 17px;
    color: #000;
    background: rgba(255, 255, 255, 0.45);
    display: block;
    width: 176px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.bm-srching .srch-tabs a.is-actived {
    position: relative;
    z-index: 2;
    background: #f1b30e;
    color: #fff;
    border-bottom: 1px solid #f1b30e;
}

.bm-srching .trip-types {
    margin: 30px 0;
}

.bm-srching .trip-types li {
    display: inline-block;
    height: 20px;
    margin-right: 30px;
}

.bm-srching .trip-types .radio {
    display: inline-block;
}

.bm-srching .trip-types .radio input {
    opacity: 0;
    position: absolute;
}

.bm-srching .trip-types .radio input + label {
    position: relative;
    padding-left: 26px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    display: block;
    height: 20px;
    line-height: 20px;
    font-weight: 400;
}

.bm-srching .trip-types .radio input + label:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    background: #dcd5d5;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    line-height: 20px;
    box-sizing: border-box;
}

.bm-srching .trip-types .radio input:checked + label:before {
    background: #f1b30e;
}

.bm-srching .form-box {
    position: relative;
    font-size: 0;
}

.bm-srching .form-box .tip {
    position: absolute;
    top: -25px;
    right: 0;
    font-size: 13px;
}

.bm-srching .form-box .bm-inputs {
    position: relative;
    display: inline-block;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    padding: 15px 0;
    background: #fff;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.bm-srching .form-box .bm-inputs.type1 {
    width: 490px;
    height: 83px;
}

.bm-srching .form-box .bm-inputs.type2 {
    margin-left: 3px;
    width: 303px;
    height: 83px;
}

.bm-srching .form-box .bm-inputs.type3 {
    margin-left: 3px;
    width: 290px;
    height: 83px;
}

.bm-srching .form-box .bm-inputs.type4 {
    width: 550px;
    height: 83px;
}

.bm-srching .form-box .bm-inputs.type5 {
    position: absolute;
    top: 0;
    right: 0;
    width: 530px;
    height: 268px;
}

.bm-srching .form-box .bm-inputs.type5 .input-item {
    padding: 0 40px;
}

.bm-srching .form-box .bm-inputs.type5 .input-item .tit {
    margin-top: 15px;
}

.bm-srching .form-box .bm-inputs .plane {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33px;
    height: 37px;
    margin-top: -19px;
    margin-left: -37px;
    background: url("../../resource/img/bm/ico_plane1.png") center center no-repeat;
}

.bm-srching .form-box .bm-inputs .input-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    box-sizing: border-box;
}

.bm-srching .form-box .bm-inputs .input-item.city {
    width: 50%;
}

.bm-srching .form-box .bm-inputs .input-item.city .text .t2 {
    margin-left: 5px;
}

.bm-srching .form-box .bm-inputs .input-item .tit {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.bm-srching .form-box .bm-inputs .input-item .text .t1 {
    font-family: 'Geogrotesque-Bold';
    font-size: 24px;
    line-height: 100%;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -1.5px;
}

.bm-srching .form-box .bm-inputs .input-item .text .t2 {
    font-size: 20px;
    line-height: 120%;
    display: inline-block;
    vertical-align: top;
}

.bm-srching .form-box .bm-inputs .input-item .text .t3 {
    font-size: 22px;
    line-height: 120%;
    display: inline-block;
    vertical-align: top;
}

.bm-srching .form-box .bm-inputs .input-item .text .ico {
    font-size: 22px;
    line-height: 100%;
    display: inline-block;
    vertical-align: top;
}

.bm-srching .form-box .total-price {
    position: absolute;
    bottom: 20px;
    left: 40px;
    font-size: 38px;
    font-family: 'Geogrotesque-Bold';
}

.bm-srching .form-box .total-price:after {
    content: '원';
    font-size: 20px;
    position: relative;
    top: -2px;
}

.bm-srching .form-box .bidding_outer {
    position: absolute;
    top: 30px;
    right: 80px;
    height: 215px;
}

.bm-srching .bts {
    text-align: right;
}

.bm-srching .bt-srch {
    width: 214px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    background: #f3b614;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
}

.bm-tits {
    text-align: center;
    padding-top: 40px;
}

.bm-tits .t1 {
    font-size: 30px;
    font-family: 'Geogrotesque-Bold';
    display: block;
    margin: 0 auto 20px auto;
    width: 48px;
    padding-bottom: 5px;
}

.bm-tits .t1.yellow {
    color: #f3b614;
    border-bottom: 4px solid #f3b614;
}

.bm-tits .t1.blue {
    color: #1373e9;
    border-bottom: 4px solid #1373e9;
}

.bm-tits .t1.red {
    color: #e80732;
    border-bottom: 4px solid #e80732;
}

.bm-tits .t3 {
    margin-top: 5px;
    font-size: 15px;
}

.additional-service {
    padding-bottom: 115px;
    margin-top: 55px;
    overflow: hidden;
}

.additional-service .service-list {
    text-align: center;
    font-size: 0;
}

.additional-service .service-list li {
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.additional-service .service-list li:hover {
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.additional-service .service-list a {
    display: block;
}

.bm-prds {
    position: relative;
    background: #f1f5f5;
    height: 714px;
}

.bm-prds:before {
    content: '';
    width: 1px;
    height: 100%;
    background: #dce0e0;
    position: absolute;
    top: 0;
    left: 50%;
}

.bm-prds .inner {
    width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.bm-prds .go {
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.bm-prds .go .fav span {
    color: #1373e9;
}

.bm-prds .go .fav span:before {
    background: url("../../resource/img/bm/ico_heart-blue.png") center center no-repeat;
}

.bm-prds .go .ea em {
    background: #1373e9;
}

.bm-prds .hot {
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.bm-prds .hot .prd-slider {
    margin-left: 30px;
}

.bm-prds .hot .fav span {
    color: #e80732;
}

.bm-prds .hot .fav span:before {
    background: url("../../resource/img/bm/ico_heart-red.png") center center no-repeat;
}

.bm-prds .hot .ea em {
    background: #e80732;
}

.bm-prds .prd-slider {
    position: relative;
    width: 570px;
    font-size: 0;
    margin-top: 24px;
}

.bm-prds .prd-slider:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -1px;
    width: 1px;
    height: 393px;
    background: #dfe5e9;
    z-index: 1;
}

.bm-prds .prd-slider .item {
    position: relative;
    display: inline-block;
    width: 285px;
    height: 408px;
    box-sizing: border-box;
}

.bm-prds .prd-slider .item .item-inner {
    margin-top: 15px;
    height: 393px;
    background: #fff;
    border: 1px solid #dfe5e9;
    border-left: 0;
    box-sizing: border-box;
}

.bm-prds .prd-slider .item .airline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 63px;
}

.bm-prds .prd-slider .item .airline .tail {
    display: inline-block;
    width: 50px;
    height: 63px;
    margin-left: 25px;
}

.bm-prds .prd-slider .item .airline .name {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 18px;
    line-height: 100%;
}

.bm-prds .prd-slider .item .fav {
    font-size: 16px;
    line-height: 100%;
    margin: 74px 0 0 17px;
}

.bm-prds .prd-slider .item .fav span {
    position: relative;
    padding-left: 18px;
    line-height: 100%;
}

.bm-prds .prd-slider .item .fav span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 12px;
    margin-top: -5px;
}

.bm-prds .prd-slider .item .info {
    margin: 20px 0 0 18px;
}

.bm-prds .prd-slider .item .info .code {
    font-size: 28px;
    font-family: 'Geogrotesque-Bold';
}

.bm-prds .prd-slider .item .info .city {
    margin-left: 8px;
    font-size: 20px;
}

.bm-prds .prd-slider .item .info li {
    line-height: 130%;
    font-size: 16px;
}

.bm-prds .prd-slider .item .ea {
    position: absolute;
    bottom: 75px;
    left: 20px;
    font-size: 18px;
    line-height: 100%;
}

.bm-prds .prd-slider .item .ea em {
    padding: 0 5px;
    color: #fff;
    margin-left: 3px;
}

.bm-prds .prd-slider .item .times {
    position: absolute;
    bottom: 5px;
    left: 23px;
    font-size: 13px;
    color: #fff;
    z-index: 1;
}

.bm-prds .prd-slider .item .times strong {
    display: block;
    font-size: 20px;
    color: #e80732;
    font-family: 'Geogrotesque-SemiBold';
}

.bm-prds .prd-slider .item .bt1 {
    width: 284px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 58px;
    line-height: 58px;
    background: #1373e9;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.bm-prds .prd-slider .item .bt2 {
    width: 284px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 58px;
    line-height: 58px;
    background: #000000;
    font-size: 18px;
    color: #fff;
    text-align: right;
    padding-right: 23px;
}

.bm-prds .prd-slider .awa-slide__controls-direction {
    display: none;
}

.bm-prds .prd-slider .awa-slide__pager {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bm-prds .prd-slider .awa-slide__pager .awa-slide__pager-item {
    display: inline-block;
    margin-left: 1px;
}

.bm-prds .prd-slider .awa-slide__pager .awa-slide__pager-item .awa-slide__pager-link {
    display: block;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-family: 'Geogrotesque-Medium';
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
}

.bm-prds .prd-slider .awa-slide__pager .awa-slide__pager-item .awa-slide_pager-link--active {
    border: 1px solid black;
    color: black;
}

.bm-footer {
    text-align: center;
    padding: 30px 0;
}

.bm-footer .logo {
    display: block;
    width: 88px;
    height: 19px;
    font-size: 0;
    margin: 0 auto 15px auto;
    background: url("../../resource/img/bm/logo2.png") center center no-repeat;
}

.bm-footer .txt {
    font-size: 0;
}

.bm-footer .txt span {
    position: relative;
    color: #666;
    font-size: 12px;
    display: inline-block;
    padding: 0 8px;
}

.bm-footer .txt span:first-child:before {
    display: none;
}

.bm-footer .txt span:last-child:before {
    content: '';
    width: 1px;
    height: 10px;
    background: #bababa;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
}

.bm-footer .copyright {
    margin-top: 15px;
    color: #666;
    font-size: 12px;
    font-family: 'Geogrotesque-Medium';
}

/*# sourceMappingURL=bm.ui.css.map */
